/* CSS Reset ----------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: 400; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.borderCheck, div, span, p, a, section, h1, h2, h3, header, footer, img, nav, ul, iframe {
  border: 0px solid red; }

body, p, span, button, h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  color: #555; }

em {
  font-style: italic; }

strong {
  font-weight: 500; }

h1 {
  /* story text, project title */
  font-size: 20px;
  font-weight: 300; }

h2 {
  /* project title subtext */
  font-size: 20px;
  line-height: 1.5em; }

h3 {
  /* project section description title */
  font-size: 18px; }

p, span {
  font-size: 16px;
  line-height: 1.75em;
  font-weight: 300; }

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v16-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans-v16-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v16-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v16-latin-300.woff") format("woff"), url("../fonts/open-sans-v16-latin-300.ttf") format("truetype"), url("../fonts/open-sans-v16-latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v16-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v16-latin-regular.woff") format("woff"), url("../fonts/open-sans-v16-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v16-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/open-sans-v16-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("../fonts/open-sans-v16-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v16-latin-300italic.woff2") format("woff2"), url("../fonts/open-sans-v16-latin-300italic.woff") format("woff"), url("../fonts/open-sans-v16-latin-300italic.ttf") format("truetype"), url("../fonts/open-sans-v16-latin-300italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v16-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/open-sans-v16-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v16-latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v16-latin-italic.woff") format("woff"), url("../fonts/open-sans-v16-latin-italic.ttf") format("truetype"), url("../fonts/open-sans-v16-latin-italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/open-sans-v16-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("../fonts/open-sans-v16-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v16-latin-600italic.woff2") format("woff2"), url("../fonts/open-sans-v16-latin-600italic.woff") format("woff"), url("../fonts/open-sans-v16-latin-600italic.ttf") format("truetype"), url("../fonts/open-sans-v16-latin-600italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v16-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v16-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v16-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v16-latin-700.woff") format("woff"), url("../fonts/open-sans-v16-latin-700.ttf") format("truetype"), url("../fonts/open-sans-v16-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v16-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/open-sans-v16-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v16-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v16-latin-600.woff") format("woff"), url("../fonts/open-sans-v16-latin-600.ttf") format("truetype"), url("../fonts/open-sans-v16-latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans-v16-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/open-sans-v16-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v16-latin-700italic.woff2") format("woff2"), url("../fonts/open-sans-v16-latin-700italic.woff") format("woff"), url("../fonts/open-sans-v16-latin-700italic.ttf") format("truetype"), url("../fonts/open-sans-v16-latin-700italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/open-sans-v16-latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("../fonts/open-sans-v16-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v16-latin-800italic.woff2") format("woff2"), url("../fonts/open-sans-v16-latin-800italic.woff") format("woff"), url("../fonts/open-sans-v16-latin-800italic.ttf") format("truetype"), url("../fonts/open-sans-v16-latin-800italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v16-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/open-sans-v16-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v16-latin-800.woff2") format("woff2"), url("../fonts/open-sans-v16-latin-800.woff") format("woff"), url("../fonts/open-sans-v16-latin-800.ttf") format("truetype"), url("../fonts/open-sans-v16-latin-800.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

object {
  width: 100%; }

.noSelect, .btnBox .btn span {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.dropShadow, .floatingNav, .photos .photo img {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05); }

.insideShadow, .homeSection .bottom .addPrjBox .addPrj a .addPrjImg {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05) inset; }

.btnBox {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 24px;
  justify-content: flex-start;
  width: 100%; }
  .btnBox .btn {
    height: 40px;
    min-width: 200px;
    border-radius: 24px;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 24px; }
    .btnBox .btn:last-of-type {
      margin-right: 0px; }
    .btnBox .btn a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .btnBox .btn span {
      padding: 0 40px;
      font-weight: 400; }
    .btnBox .btn:hover {
      background-color: #f7f7f7; }

@media (max-width: 600px) {
  .btnBox .btn {
    width: 100%; } }

#mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 3;
  padding: 24px;
  display: none;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end; }
  #mobileMenu #closeMobileMenuBtn {
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background-color: blue; }
    #mobileMenu #closeMobileMenuBtn img {
      width: 24px;
      height: 24px;
      margin-bottom: 24px; }
  #mobileMenu .linkBox {
    width: 100%;
    height: 100%;
    border: 1px solid red; }

.showMobileMenu {
  display: flex; }

#siteBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  padding: 0 24px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  transition: 0.2s;
  z-index: 2;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between; }
  nav #navLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row; }
    nav #navLeft #name {
      font-weight: 600;
      font-size: 16px;
      line-height: 1em;
      margin-right: 16px; }
    nav #navLeft #title {
      font-weight: 300;
      font-size: 1em; }
  nav #navRight {
    display: flex;
    flex-flow: row; }
    nav #navRight #mobileMenuBtn {
      display: none;
      cursor: pointer;
      height: 40px;
      width: 40px;
      justify-content: flex-end;
      align-items: center;
      z-index: 4; }
      nav #navRight #mobileMenuBtn img {
        width: 20px;
        height: 20px; }
    nav #navRight #navMenu {
      display: flex;
      flex-flow: row; }
      nav #navRight #navMenu a {
        margin-right: 16px; }
        nav #navRight #navMenu a .navMenuItem {
          width: 40px;
          height: 40px;
          padding: 16px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s; }
          nav #navRight #navMenu a .navMenuItem img {
            width: 20px;
            height: 20px; }
          nav #navRight #navMenu a .navMenuItem:hover {
            transform: scale(1.1);
            transition: 0.2s; }
          nav #navRight #navMenu a .navMenuItem span {
            display: none; }
        nav #navRight #navMenu a:last-of-type {
          margin-right: 0px; }

.showMobileNavMenu {
  display: flex !important; }

.floatingNav {
  transition: 0.2s; }

@media (max-width: 600px) {
  nav #navRight #mobileMenuBtn {
    display: flex; }
  nav #navRight #navMenu {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    nav #navRight #navMenu a {
      width: 100%;
      max-width: 300px;
      margin-bottom: 32px;
      margin-right: 0;
      display: flex;
      justify-content: center; }
      nav #navRight #navMenu a .navMenuItem {
        width: 40px;
        height: 40px;
        padding: 16px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s; }
        nav #navRight #navMenu a .navMenuItem img {
          width: 24px;
          height: 24px;
          margin-right: 12px; }
        nav #navRight #navMenu a .navMenuItem span {
          display: flex;
          font-size: 24px; }
        nav #navRight #navMenu a .navMenuItem:hover {
          transform: scale(1);
          transition: 0.2s; }
      nav #navRight #navMenu a:last-of-type {
        margin-right: 0px;
        margin-bottom: 0px; } }

.contentBox {
  position: absolute;
  top: 56px;
  left: 0;
  height: calc(100% - 56px);
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .contentBox .content {
    position: relative;
    padding: 140px 24px;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    -webkit-overflow-scrolling: touch; }
    .contentBox .content .constrainBox {
      width: 100%;
      max-width: 960px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
  @media (max-width: 600px) {
    .contentBox .content {
      padding: 40px 24px; } }

.homeSection {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column; }
  .homeSection:last-of-type {
    margin-bottom: 0; }
  .homeSection .top {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 24px; }
    .homeSection .top:last-of-type {
      margin-bottom: 0; }
    .homeSection .top .img {
      width: 180px;
      height: 180px;
      min-height: 180px;
      min-width: 180px;
      border-radius: 50%;
      background-color: #666;
      margin-right: 40px;
      border: 2px solid #f7f7f7; }
    .homeSection .top #jasperImg {
      background-image: url("../media/images/jasperImg.png");
      background-size: 105%;
      background-position: 50% 50%;
      background-color: #deecf9; }
    .homeSection .top #msftImg {
      background-image: url("../media/images/msftImg.png");
      background-size: 105%;
      background-position: 50% 50%;
      background-color: #0078d4; }
    .homeSection .top #consultingImg {
      background-image: url("../media/images/tmbConsulting.png");
      background-position: -100% 0%;
      background-size: 150%; }
    .homeSection .top #interactionImg {
      background-image: url("../media/images/tmbZwerpy1.gif");
      background-position: 50% 50%;
      background-size: 200%; }
    .homeSection .top #otherDesignImg {
      background-image: url("../media/images/tmbHydratile.jpg");
      background-size: 200%;
      background-position: 50% 50%; }
    .homeSection .top #photoVideoImg {
      background-image: url("../media/images/tmbNature.jpg");
      background-size: 100%;
      background-position: 90% 10%; }
    .homeSection .top #contactImg {
      background-image: url("../media/images/contactImg.png");
      background-size: 105%;
      background-position: 50% 50%;
      background-color: #999; }
    .homeSection .top .titleDscBtn {
      display: flex;
      flex-flow: column;
      width: 100%; }
      .homeSection .top .titleDscBtn .title {
        font-size: 24px;
        font-weight: 400; }
      .homeSection .top .titleDscBtn .dsc {
        width: 100%;
        font-size: 18px; }
        .homeSection .top .titleDscBtn .dsc a {
          text-decoration: underline; }
      .homeSection .top .titleDscBtn .btnBox .btn {
        width: auto; }
  .homeSection .bottom {
    width: 100%;
    display: flex;
    flex-flow: row; }
    .homeSection .bottom .dividerLine {
      min-height: 120px;
      width: 1px;
      margin-left: 90px;
      margin-right: 128px;
      border: 1px dashed rgba(0, 0, 0, 0.2); }
    .homeSection .bottom .addPrjBox {
      width: 100%;
      margin: 40px 0 80px 0;
      display: flex;
      flex-flow: column;
      flex-wrap: wrap;
      justify-content: center; }
      .homeSection .bottom .addPrjBox .addPrj {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-bottom: 64px; }
        .homeSection .bottom .addPrjBox .addPrj:last-of-type {
          margin-bottom: 0; }
        .homeSection .bottom .addPrjBox .addPrj a {
          display: flex;
          justify-content: flex-start;
          flex-flow: row;
          align-items: center;
          width: 100%;
          text-align: center; }
          .homeSection .bottom .addPrjBox .addPrj a .addPrjImg {
            width: 120px;
            min-width: 120px;
            height: 120px;
            min-height: 120px;
            border-radius: 50%;
            border: 1px solid #e8e8e8;
            margin-right: 16px; }
          .homeSection .bottom .addPrjBox .addPrj a #jasperBotImg {
            background-image: url("../media/images/tmbKaran.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #zwerpyImg {
            background-image: url("../media/images/tmbZwerpy1.gif");
            background-position: 50% 50%;
            background-size: 200%; }
          .homeSection .bottom .addPrjBox .addPrj a #spacexImg {
            background-image: url("../media/images/tmbSpaceX1.gif");
            background-size: 200%;
            background-position: 53% 18%; }
          .homeSection .bottom .addPrjBox .addPrj a #karanImg {
            background-image: url("../media/images/tmbKaran.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #atrioImg {
            background-image: url("../media/images/tmbAtrio.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #circlesImg {
            background-image: url("../media/images/tmbCircles.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #imgurImg {
            background-image: url("../media/images/tmbImgur.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #hydratileImg {
            background-image: url("../media/images/tmbHydratile.jpg");
            background-size: 200%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #zeniiImg {
            background-image: url("../media/images/tmbZennII.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #waveBarImg {
            background-image: url("../media/images/tmbWavebar.jpg");
            background-size: 250%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #kenkyoImg {
            background-image: url("../media/images/tmbKenkyo.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #seigaihaImg {
            background-image: url("../media/images/tmbSeigaiha.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #lpkImg {
            background-image: url("../media/images/tmbLPK.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #londonCommerceCentreImg {
            background-image: url("../media/images/tmbLCC.jpg");
            background-size: 250%;
            background-position: 91% 6%; }
          .homeSection .bottom .addPrjBox .addPrj a #peopleImg {
            background-image: url("../media/images/tmbPeople.jpg");
            background-size: 300%;
            background-position: 40% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #architectureImg {
            background-image: url("../media/images/tmbArchitecture.jpg");
            background-size: 100%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #natureImg {
            background-image: url("../media/images/tmbNature.jpg");
            background-size: 100%;
            background-position: 90% 10%; }
          .homeSection .bottom .addPrjBox .addPrj a #thingsImg {
            background-image: url("../media/images/tmbThings.jpg");
            background-size: 100%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #raynatypeImg {
            background-image: url("../media/images/tmbRaynatype.png");
            background-size: 100%;
            background-position: 40% 30%; }
          .homeSection .bottom .addPrjBox .addPrj a #pinnacleImg {
            background-image: url("../media/images/tmbPinnacle.png");
            background-size: 100%;
            background-position: 60% 10%; }
          .homeSection .bottom .addPrjBox .addPrj a #michellesImg {
            background-image: url("../media/images/tmbMichelles.png");
            background-size: 100%;
            background-position: 100% 31%; }
          .homeSection .bottom .addPrjBox .addPrj a #pierogImg {
            background-image: url("../media/images/tmbPierog.jpg");
            background-size: 230%;
            background-position: 90% 10%; }
          .homeSection .bottom .addPrjBox .addPrj a .addPrjNameDsc {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: flex-start; }
            .homeSection .bottom .addPrjBox .addPrj a .addPrjNameDsc .addPrjName {
              margin-top: 4px;
              font-weight: 400;
              font-size: 20px; }
            .homeSection .bottom .addPrjBox .addPrj a .addPrjNameDsc .addPrjDsc {
              font-style: italic; }
    .homeSection .bottom .hideAddPrjBox {
      display: none; }

@media (max-width: 600px) {
  .homeSection .top {
    flex-flow: column; }
    .homeSection .top .img {
      margin-right: 0px;
      margin-bottom: 24px; }
    .homeSection .top .titleDscBtn {
      align-items: center;
      width: 100%; }
      .homeSection .top .titleDscBtn .title {
        text-align: center;
        max-width: 300px; }
      .homeSection .top .titleDscBtn .dsc {
        text-align: center;
        font-size: 1.15em;
        padding: 0px 48px; }
      .homeSection .top .titleDscBtn .btnBox {
        justify-content: center; }
        .homeSection .top .titleDscBtn .btnBox .btn:hover {
          background-color: #fff; }
  .homeSection .bottom {
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    .homeSection .bottom .dividerLine {
      min-height: 120px;
      width: 1px;
      margin-left: 128px;
      margin-right: 128px;
      border: 1px dashed rgba(0, 0, 0, 0.2);
      order: 2; }
    .homeSection .bottom .addPrjBox {
      width: 100%;
      justify-content: center;
      align-items: center; }
      .homeSection .bottom .addPrjBox .addPrj {
        max-width: 400px;
        order: 1; }
    .homeSection .bottom .addPrjBox {
      width: 100%;
      justify-content: center;
      align-items: center; }
      .homeSection .bottom .addPrjBox .addPrj {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%; }
        .homeSection .bottom .addPrjBox .addPrj:last-of-type {
          margin-bottom: 0; }
        .homeSection .bottom .addPrjBox .addPrj a {
          display: flex;
          justify-content: flex-start;
          flex-flow: column;
          align-items: center;
          width: 100%;
          text-align: center; }
          .homeSection .bottom .addPrjBox .addPrj a .addPrjImg {
            margin-right: 0; }
          .homeSection .bottom .addPrjBox .addPrj a .addPrjNameDsc {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-start; }
            .homeSection .bottom .addPrjBox .addPrj a .addPrjNameDsc .addPrjDsc {
              font-style: italic; } }

.prjContent .prjIntro {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 120px;
  width: 100%; }
  .prjContent .prjIntro .prjIntroTxt {
    max-width: 680px; }
    .prjContent .prjIntro .prjIntroTxt .prjIntroTitle {
      font-size: 42px;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 8px; }
    .prjContent .prjIntro .prjIntroTxt .prjIntroDsc {
      font-size: 24px;
      max-width: 680px; }
      .prjContent .prjIntro .prjIntroTxt .prjIntroDsc a {
        font-weight: 600;
        text-decoration: underline; }
  .prjContent .prjIntro .prjHeroImg {
    width: 100%;
    height: auto;
    margin-top: 40px; }
  .prjContent .prjIntro .btnBox .btn {
    margin-right: 24px; }

@media (max-width: 600px) {
  .prjContent .prjIntro {
    margin-bottom: 64px; }
    .prjContent .prjIntro .btnBox .btn {
      margin-bottom: 24px;
      margin-right: 0; } }

.prjContent .prjSection {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 120px;
  width: 100%; }
  .prjContent .prjSection:last-of-type {
    margin-bottom: 0px; }
  .prjContent .prjSection .prjSectionTxt {
    max-width: 680px;
    margin-bottom: 40px; }
    .prjContent .prjSection .prjSectionTxt .prjSectionTitle {
      font-size: 24px;
      font-weight: 600; }
    .prjContent .prjSection .prjSectionTxt .prjSectionBody {
      font-size: 20px;
      width: 100%;
      max-width: 680px; }
      .prjContent .prjSection .prjSectionTxt .prjSectionBody a {
        font-weight: 600;
        text-decoration: underline; }
  .prjContent .prjSection .prjImgCaption {
    width: 100%;
    margin-bottom: 80px; }
    .prjContent .prjSection .prjImgCaption img {
      width: 100%;
      height: auto;
      margin-bottom: 40px; }
      .prjContent .prjSection .prjImgCaption img:last-of-type {
        margin-bottom: 0; }
    .prjContent .prjSection .prjImgCaption .caption {
      display: none;
      margin-top: 4px; }
      .prjContent .prjSection .prjImgCaption .caption .title {
        font-size: 16px;
        font-weight: 600; }
      .prjContent .prjSection .prjImgCaption .caption .description {
        font-size: 14px;
        font-weight: 300; }
  .prjContent .prjSection .btnBox .btn {
    margin-right: 0px;
    margin-bottom: 24px; }

@media (max-width: 600px) {
  .prjContent .prjSection {
    margin-bottom: 80px; }
    .prjContent .prjSection .btnBox .btn {
      width: 100%;
      margin-bottom: 24px; } }

.prjFooterBtnBox {
  width: 100%;
  margin-top: 128px;
  justify-content: center; }

@media (max-width: 600px) {
  .prjFooterBtnBox {
    width: 100%;
    margin-top: 128px;
    justify-content: center; }
    .prjFooterBtnBox .btn {
      margin-right: 0px;
      margin-bottom: 24px;
      width: auto; } }

#aboutIllustration {
  width: 180px;
  height: auto;
  margin-bottom: 64px; }

.photos {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .photos .photo {
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
    height: auto; }
    .photos .photo img {
      display: block;
      margin-bottom: 8px;
      width: 100%;
      height: auto; }
    .photos .photo p {
      display: none;
      line-height: 1.25em; }
  .photos .verticalPhoto img {
    max-width: 640px; }

@media (max-width: 600px) {
  .photos .photo {
    margin-bottom: 16px; }
    .photos .photo img {
      margin-bottom: 0px; }
  .photos .verticalPhoto img {
    max-width: 640px; } }

#egmImg {
  background-image: url("../media/images/egmImg.jpg"); }

.aboutContent {
  min-height: calc(100vh - 120px); }

footer {
  width: 100%;
  padding: 40px 24px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }
  footer .lists {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%; }
    footer .lists #aboutMe {
      width: 100%;
      max-width: 640px;
      display: flex;
      flex-flow: row;
      margin-right: 64px; }
      footer .lists #aboutMe img {
        width: 90px;
        height: 90px;
        margin-right: 24px; }
      footer .lists #aboutMe .titleDsc span {
        font-weight: 400;
        font-size: 18px; }
      footer .lists #aboutMe .titleDsc p {
        font-weight: 300;
        line-height: 28px; }
    footer .lists ul {
      margin-right: 48px; }
      footer .lists ul span {
        font-weight: 400;
        font-size: 18px; }
      footer .lists ul li {
        font-weight: 300;
        line-height: 24px; }
      footer .lists ul:last-of-type {
        margin-right: 0px; }
    footer .lists #aboutMeList {
      max-width: 400px; }
    footer .lists img {
      width: 140px;
      height: 140px;
      margin-right: 32px; }
  footer #copyright {
    margin-top: 40px; }

@media (max-width: 600px) {
  footer {
    margin-top: 40px;
    padding: 24px;
    flex-flow: column; }
    footer .lists {
      flex-flow: column;
      margin-bottom: 140px; }
      footer .lists span {
        margin-bottom: 16px; }
      footer .lists ul {
        margin-bottom: 24px;
        margin-right: 0; } }
