/* CSS Reset ----------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: 400; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.borderCheck, div, span, p, a, section, h1, h2, h3, header, footer, img, nav, ul, iframe {
  border: 0px solid red; }

body, p, span, button, h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  color: #555; }

em {
  font-style: italic; }

strong {
  font-weight: 500; }

h1 {
  /* story text, project title */
  font-size: 20px;
  font-weight: 300; }

h2 {
  /* project title subtext */
  font-size: 20px;
  line-height: 1.5em; }

h3 {
  /* project section description title */
  font-size: 18px; }

p, span {
  font-size: 16px;
  line-height: 1.75em;
  font-weight: 300; }

.noSelect, .btn span {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.dropShadow, .floatingNav, .photos .photo img {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05); }

.insideShadow, .homeSection .bottom .addPrjBox .addPrj a .addPrjImg {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05) inset; }

.btn {
  height: 40px;
  border-radius: 24px;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 16px;
  width: 280px; }
  .btn a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .btn span {
    padding: 0 40px;
    font-weight: 400; }
  .btn:hover {
    background-color: #f7f7f7; }

#mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 3;
  padding: 24px;
  display: none;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end; }
  #mobileMenu #closeMobileMenuBtn {
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background-color: blue; }
    #mobileMenu #closeMobileMenuBtn img {
      width: 24px;
      height: 24px;
      margin-bottom: 24px; }
  #mobileMenu .linkBox {
    width: 100%;
    height: 100%;
    border: 1px solid red; }

.showMobileMenu {
  display: flex; }

#siteBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  padding: 0 24px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  transition: 0.2s;
  z-index: 2;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between; }
  nav #navLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row; }
    nav #navLeft #name {
      font-weight: 400;
      font-size: 1.25em;
      line-height: 1em;
      margin-right: 16px; }
    nav #navLeft #title {
      font-weight: 300;
      font-size: 1em; }
  nav #navRight {
    display: flex;
    flex-flow: row; }
    nav #navRight #mobileMenuBtn {
      display: none;
      cursor: pointer;
      height: 40px;
      width: 40px;
      justify-content: flex-end;
      align-items: center; }
      nav #navRight #mobileMenuBtn img {
        width: 100%;
        height: 100%;
        max-width: 20px;
        max-height: 20px; }
    nav #navRight #navMenu {
      display: flex;
      flex-flow: row; }
      nav #navRight #navMenu a {
        margin-right: 16px; }
        nav #navRight #navMenu a .navMenuItem {
          width: 40px;
          height: 40px;
          padding: 16px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s; }
          nav #navRight #navMenu a .navMenuItem img {
            width: 20px;
            height: 20px; }
          nav #navRight #navMenu a .navMenuItem:hover {
            transform: scale(1.1);
            transition: 0.2s; }
          nav #navRight #navMenu a .navMenuItem span {
            display: none; }
        nav #navRight #navMenu a:last-of-type {
          margin-right: 0px; }

.showMobileNavMenu {
  display: flex !important; }

.floatingNav {
  transition: 0.2s; }

@media (max-width: 600px) {
  nav #navRight #mobileMenuBtn {
    display: flex; }
  nav #navRight #navMenu {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.98);
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    nav #navRight #navMenu a {
      width: 100%;
      max-width: 300px;
      margin-bottom: 48px;
      display: flex;
      justify-content: center; }
      nav #navRight #navMenu a .navMenuItem {
        width: 40px;
        height: 40px;
        padding: 16px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s; }
        nav #navRight #navMenu a .navMenuItem img {
          width: 40px;
          height: 40px;
          margin-right: 20px; }
        nav #navRight #navMenu a .navMenuItem span {
          display: flex;
          font-size: 2em; }
        nav #navRight #navMenu a .navMenuItem:hover {
          transform: scale(1);
          transition: 0.2s; }
      nav #navRight #navMenu a:last-of-type {
        margin-right: 0px; } }

.contentBox {
  position: absolute;
  top: 56px;
  left: 0;
  height: calc(100% - 56px);
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .contentBox .content {
    position: relative;
    padding: 140px 24px;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    -webkit-overflow-scrolling: touch; }
    .contentBox .content .constrainBox {
      width: 100%;
      max-width: 960px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
  @media (max-width: 600px) {
    .contentBox .content {
      padding: 40px 24px; } }

.homeSection {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  overflow-y: scroll; }
  .homeSection:last-of-type {
    margin-bottom: 0; }
  .homeSection .top {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 24px; }
    .homeSection .top:last-of-type {
      margin-bottom: 0; }
    .homeSection .top .img {
      width: 180px;
      height: 180px;
      min-height: 180px;
      min-width: 180px;
      border-radius: 50%;
      background-color: #666;
      margin-right: 40px;
      border: 2px solid #f7f7f7; }
    .homeSection .top #jasperImg {
      background-image: url("../media/thumbnails/jasperImg.png");
      background-size: 105%;
      background-position: 50% 50%;
      background-color: #e8e8e8; }
    .homeSection .top #msftImg {
      background-image: url("../media/thumbnails/msftImg.png");
      background-size: 105%;
      background-position: 50% 50%;
      background-color: #333; }
    .homeSection .top #consultingImg {
      background-image: url("../media/thumbnails/tmbConsulting.png");
      background-position: -100% 0%;
      background-size: 200%; }
    .homeSection .top #interactionImg {
      background-image: url("../media/thumbnails/tmbZwerpy1.gif");
      background-position: 50% 50%;
      background-size: 200%; }
    .homeSection .top #otherDesignImg {
      background-image: url("../media/thumbnails/tmbHydratile.jpg");
      background-size: 200%;
      background-position: 50% 50%; }
    .homeSection .top #photoVideoImg {
      background-image: url("../media/thumbnails/tmbNature.jpg");
      background-size: 100%;
      background-position: 90% 10%; }
    .homeSection .top #contactImg {
      background-image: url("../media/thumbnails/contactImg.png");
      background-size: 105%;
      background-position: 50% 50%;
      background-color: #e8e8e8; }
    .homeSection .top .dscBtn {
      display: flex;
      flex-flow: column; }
      .homeSection .top .dscBtn .dsc {
        display: inline;
        width: 100%;
        font-size: 20px; }
  .homeSection .bottom {
    width: 100%;
    display: flex;
    flex-flow: row; }
    .homeSection .bottom .dividerLine {
      min-height: 120px;
      width: 1px;
      margin-left: 90px;
      margin-right: 128px;
      border: 1px dashed rgba(0, 0, 0, 0.2); }
    .homeSection .bottom .addPrjBox {
      width: 100%;
      display: flex;
      flex-flow: column;
      flex-wrap: wrap;
      justify-content: center; }
      .homeSection .bottom .addPrjBox .addPrj {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-bottom: 28px; }
        .homeSection .bottom .addPrjBox .addPrj:last-of-type {
          margin-bottom: 0; }
        .homeSection .bottom .addPrjBox .addPrj a {
          display: flex;
          justify-content: flex-start;
          flex-flow: row;
          align-items: center;
          width: 100%;
          text-align: center; }
          .homeSection .bottom .addPrjBox .addPrj a .addPrjImg {
            width: 80px;
            min-width: 80px;
            height: 80px;
            min-height: 80px;
            border-radius: 50%;
            border: 1px solid #e8e8e8;
            margin-right: 16px; }
          .homeSection .bottom .addPrjBox .addPrj a #jasperBotImg {
            background-image: url("../media/thumbnails/tmbKaran.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #zwerpyImg {
            background-image: url("../media/thumbnails/tmbZwerpy1.gif");
            background-position: 50% 50%;
            background-size: 200%; }
          .homeSection .bottom .addPrjBox .addPrj a #spacexImg {
            background-image: url("../media/thumbnails/tmbSpaceX1.gif");
            background-size: 200%;
            background-position: 53% 18%; }
          .homeSection .bottom .addPrjBox .addPrj a #karanImg {
            background-image: url("../media/thumbnails/tmbKaran.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #atrioImg {
            background-image: url("../media/thumbnails/tmbAtrio.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #circlesImg {
            background-image: url("../media/thumbnails/tmbCircles.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #imgurImg {
            background-image: url("../media/thumbnails/tmbImgur.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #hydratileImg {
            background-image: url("../media/thumbnails/tmbHydratile.jpg");
            background-size: 200%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #zeniiImg {
            background-image: url("../media/thumbnails/tmbZennII.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #waveBarImg {
            background-image: url("../media/thumbnails/tmbWavebar.jpg");
            background-size: 250%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #kenkyoImg {
            background-image: url("../media/thumbnails/tmbKenkyo.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #seigaihaImg {
            background-image: url("../media/thumbnails/tmbSeigaiha.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #lpkImg {
            background-image: url("../media/thumbnails/tmbLPK.jpg");
            background-size: 300%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #londonCommerceCentreImg {
            background-image: url("../media/thumbnails/tmbLCC.jpg");
            background-size: 250%;
            background-position: 91% 6%; }
          .homeSection .bottom .addPrjBox .addPrj a #peopleImg {
            background-image: url("../media/thumbnails/tmbPeople.jpg");
            background-size: 300%;
            background-position: 40% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #architectureImg {
            background-image: url("../media/thumbnails/tmbArchitecture.jpg");
            background-size: 100%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #natureImg {
            background-image: url("../media/thumbnails/tmbNature.jpg");
            background-size: 100%;
            background-position: 90% 10%; }
          .homeSection .bottom .addPrjBox .addPrj a #thingsImg {
            background-image: url("../media/thumbnails/tmbThings.jpg");
            background-size: 100%;
            background-position: 50% 50%; }
          .homeSection .bottom .addPrjBox .addPrj a #raynatypeImg {
            background-image: url("../media/thumbnails/tmbRaynatype.png");
            background-size: 100%;
            background-position: 40% 30%; }
          .homeSection .bottom .addPrjBox .addPrj a #pinnacleImg {
            background-image: url("../media/thumbnails/tmbPinnacle.png");
            background-size: 100%;
            background-position: 60% 10%; }
          .homeSection .bottom .addPrjBox .addPrj a #michellesImg {
            background-image: url("../media/thumbnails/tmbMichelles.png");
            background-size: 100%;
            background-position: 100% 31%; }
          .homeSection .bottom .addPrjBox .addPrj a #pierogImg {
            background-image: url("../media/thumbnails/tmbPierog.jpg");
            background-size: 230%;
            background-position: 90% 10%; }
          .homeSection .bottom .addPrjBox .addPrj a .addPrjName {
            margin-top: 4px;
            width: 100%;
            font-weight: 400;
            text-align: left; }
    .homeSection .bottom .hideAddPrjBox {
      display: none; }

@media (max-width: 600px) {
  .homeSection .top {
    flex-flow: column; }
    .homeSection .top .img {
      margin-right: 0px;
      margin-bottom: 16px; }
    .homeSection .top .dscBtn {
      align-items: center; }
      .homeSection .top .dscBtn .dsc {
        text-align: center;
        font-size: 1.15em;
        padding: 0px 48px; }
      .homeSection .top .dscBtn .btn:hover {
        background-color: #fff; }
  .homeSection .bottom {
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    .homeSection .bottom .dividerLine {
      order: 2; }
    .homeSection .bottom .addPrjBox .addPrj {
      order: 1; } }

.prjIntro {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 140px;
  width: 100%; }
  .prjIntro .prjIntroTxt {
    max-width: 680px;
    margin-bottom: 24px; }
    .prjIntro .prjIntroTxt .prjIntroTitle {
      font-size: 40px;
      font-weight: 600; }
    .prjIntro .prjIntroTxt .prjIntroDsc {
      font-size: 24px;
      margin-bottom: 24px;
      max-width: 680px; }
    .prjIntro .prjIntroTxt .btn {
      margin-top: 24px; }
      .prjIntro .prjIntroTxt .btn a {
        width: 100%;
        height: 100%; }
  .prjIntro .prjHeroImg {
    width: 100%;
    height: auto; }

.prjSection {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 96px;
  width: 100%; }
  .prjSection .prjSectionTxt {
    max-width: 680px;
    margin-bottom: 16px; }
    .prjSection .prjSectionTxt .prjSectionTitle {
      font-size: 24px;
      font-weight: 600; }
    .prjSection .prjSectionTxt .prjSectionBody {
      font-size: 20px;
      margin-bottom: 16px;
      width: 100%;
      max-width: 680px; }
  .prjSection .prjImgCaption {
    width: 100%; }
    .prjSection .prjImgCaption img {
      width: 100%;
      height: auto; }
    .prjSection .prjImgCaption .caption {
      margin-top: 8px;
      font-size: 14px; }

.prjContent {
  display: flex;
  flex-flow: column; }

.photos {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .photos .photo {
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
    height: auto; }
    .photos .photo img {
      display: block;
      margin-bottom: 8px;
      width: 100%;
      height: auto; }
    .photos .photo p {
      display: none;
      line-height: 1.25em; }
  .photos .verticalPhoto img {
    max-width: 640px; }

@media (max-width: 600px) {
  .photos .photo {
    margin-bottom: 16px; }
    .photos .photo img {
      margin-bottom: 0px; }
  .photos .verticalPhoto img {
    max-width: 640px; } }

#aboutSection {
  display: flex;
  flex-flow: row;
  min-height: calc(100% - 56px);
  margin-bottom: 80px; }
  #aboutSection #aboutTmb img {
    width: 180px;
    height: 180px;
    margin-right: 40px; }
  #aboutSection span {
    font-size: 1.25em; }

@media (max-width: 600px) {
  #aboutSection {
    flex-flow: column;
    align-items: center; }
    #aboutSection #aboutTmb img {
      margin-right: 0px;
      margin-bottom: 24px; } }

footer {
  width: 100%;
  height: 64px;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7; }
  footer span {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300; }

@media (max-width: 600px) {
  footer {
    margin-top: 40px; } }
