/* CSS Reset --------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited {
  text-decoration: none;
  color: inherit; }

/* BORDER BOX RESET --------------------- */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* DEBUG --------------------- */
.borderCheck, div, span, p, a, section, h1, h2, h3, header, footer, nav, ul {
  border: 0px solid red; }

/* GLOBAL ------------------------------- */
.flexboxCenter, nav, #footer, nav #navContainer, #footer #navContainer, #intro, #work, #work #prjContainer, #add #addPrjContainer .addPrjType a .addPrj, #about, #about #aboutContainer #linkContainer, .projectPageContainer .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

body, p, span, button {
  font-family: 'Open Sans', sans-serif;
  color: #555555;
  font-weight: 300; }

button:focus, input[type="button"]:focus {
  outline: none; }

p, span {
  line-height: 1.4em; }

h1 {
  font-size: 2em;
  font-weight: 300; }

h2 {
  font-size: 1.2em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

ul {
  line-height: 1.5em; }

section {
  padding: 40px;
  border-bottom: 1px dotted #999999;
  min-height: 30vh; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #555555;
  color: #555555;
  height: 32px;
  padding: 0 16px;
  margin-right: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 0.9em;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .btn:hover {
    background-color: #555555;
    color: #FFFFFF;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer; }
  .btn i {
    margin-right: 8px; }

hr {
  width: 100%;
  border: 1px dotted #CCCCCC;
  margin: 32px 0; }

@media (max-width: 959px) {
  hr {
    display: none; } }
/* NAV --------------------- */
nav, #footer {
  width: 100%;
  height: 48px;
  background-color: #333333;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }
  nav #navContainer, #footer #navContainer {
    -ms-flex-flow: row;
        flex-flow: row; }
    nav #navContainer img, #footer #navContainer img {
      width: 24px;
      height: 24px;
      margin-right: 16px; }
    nav #navContainer span, #footer #navContainer span {
      color: #FFFFFF;
      font-size: 0.9em; }
    nav #navContainer span:nth-child(3), #footer #navContainer span:nth-child(3) {
      font-style: italic; }

/* INTRO --------------------- */
#intro {
  -ms-flex-flow: row;
      flex-flow: row; }
  #intro #introContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: column;
        flex-flow: column;
    width: 100%;
    max-width: 560px;
    text-align: center; }
    #intro #introContainer p {
      margin-top: 16px;
      margin-bottom: 24px; }

.dotted {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) 1px, transparent 1px, transparent 100%);
  background-size: 12px 12px;
  background-color: #999; }

/* WORK --------------------- */
#work {
  -ms-flex-flow: column;
      flex-flow: column; }
  #work #prjContainer {
    -ms-flex-flow: column;
        flex-flow: column;
    margin-top: 40px; }
    #work #prjContainer .prj {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row;
          flex-flow: row;
      max-width: 1024px; }
      #work #prjContainer .prj > a .prjLink {
        border: 1px solid blue;
        z-index: 3; }
      #work #prjContainer .prj .prjImg {
        width: 144px;
        height: 144px;
        border-radius: 100%;
        opacity: 0.3;
        z-index: 2;
        background-repeat: no-repeat;
        background-size: cover; }
      #work #prjContainer .prj .prjInfo {
        width: 100%;
        max-width: 560px;
        margin-left: 32px; }
        #work #prjContainer .prj .prjInfo .prjTitle {
          z-index: 1; }
        #work #prjContainer .prj .prjInfo .prjDsc {
          margin-top: 4px; }
        #work #prjContainer .prj .prjInfo .prjBtnContainer {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-flow: row;
              flex-flow: row;
          margin-top: 16px; }
      #work #prjContainer .prj:nth-child(2) {
        margin: 48px 0; }

#imgCircles {
  background-image: url("../media/imgCircles.jpg");
  background-size: auto 200px;
  background-position: 50% 20%;
  border: 1px solid #999999; }

#imgHermanMiller {
  background-image: url("../media/imgHydratile.jpg");
  background-size: auto 108px;
  background-position: 84% 48%; }

#imgHydratile {
  background-image: url("../media/imgHydratile.jpg");
  background-size: auto 108px;
  background-position: 84% 48%;
  background-repeat: no-repeat; }

#imgKenkyo {
  background-image: url("../media/imgKenkyo.jpg");
  background-size: auto 108px;
  background-position: 76% 20%; }

#imgLPK {
  background-image: url("../media/imgLPK.jpg");
  background-size: auto 108px;
  background-position: 92% 20%;
  border: 1px solid #999999; }

#imgPeople {
  background-image: url("../media/imgPeople.jpg");
  background-size: auto 144px;
  background-position: 10% 0%; }

#imgPierog {
  background-image: url("../media/imgPierog.jpg");
  background-size: auto 200px;
  background-position: 75% 35%; }

#imgPlaces {
  background-image: url("../media/imgPlaces.jpg");
  background-size: auto 200px;
  background-position: 50% 50%; }

#imgSeigaiha {
  background-image: url("../media/imgSeigaiha.jpg");
  background-size: auto 200px;
  background-position: 50% 20%; }

#imgSpaceX {
  background-image: url("../media/imgSpaceX.jpg");
  background-size: auto 200px;
  background-position: 50% 20%; }

#imgThings {
  background-image: url("../media/imgThings.jpg");
  background-size: auto 200px;
  background-position: 50% 20%; }

#imgWavebar {
  background-image: url("../media/imgWavebar.jpg");
  background-size: auto 108px;
  background-position: 50% 20%; }

#imgZennII {
  background-image: url("../media/imgZennII.jpg");
  background-size: auto 108px;
  background-position: 50% 50%;
  border: 1px solid #999999; }

@media (max-width: 959px) {
  #work {
    width: 100%;
    padding: 0; }
    #work h1 {
      display: none;
      text-align: center; }
    #work #prjContainer {
      width: 100%;
      margin-top: 0; }
      #work #prjContainer .prj {
        position: relative;
        min-width: 100%; }
        #work #prjContainer .prj > a {
          position: relative;
          display: inline;
          z-index: 2;
          width: 100%;
          height: 64px; }
          #work #prjContainer .prj > a .prjImg {
            border-radius: 0;
            width: 100%;
            height: 64px;
            opacity: 0.3; }
        #work #prjContainer .prj .prjInfo {
          position: absolute;
          top: 0;
          left: 0;
          margin-left: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 100%;
          width: 100%;
          max-width: none; }
          #work #prjContainer .prj .prjInfo .prjTitle {
            text-align: center;
            z-index: 2; }
            #work #prjContainer .prj .prjInfo .prjTitle strong {
              font-weight: 300;
              font-size: 2em; }
          #work #prjContainer .prj .prjInfo .prjDsc {
            display: none; }
          #work #prjContainer .prj .prjInfo .prjBtnContainer {
            display: none; } }
/* ADDTIONAL WORK--------------------- */
#seeAllBtn {
  margin-top: 72px;
  min-width: 300px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  #seeAllBtn:hover {
    background-color: #555555;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer; }
    #seeAllBtn:hover p {
      color: #FFFFFF; }

#add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: column;
      flex-flow: column; }
  #add #addPrjContainer {
    width: 100%;
    max-width: 1024px;
    min-height: 500px;
    padding: 0 32px;
    margin-top: 88px; }
    #add #addPrjContainer em {
      text-align: center; }
    #add #addPrjContainer .addPrjType {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 24px; }
      #add #addPrjContainer .addPrjType a {
        position: relative;
        display: inline-block;
        min-width: 144px;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
        #add #addPrjContainer .addPrjType a .addPrj {
          -ms-flex-flow: column;
              flex-flow: column;
          max-width: 172px;
          width: 100%;
          height: 100%; }
          #add #addPrjContainer .addPrjType a .addPrj .addPrjImg {
            width: 108px;
            height: 108px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover; }
          #add #addPrjContainer .addPrjType a .addPrj .addPrjTitle {
            margin-top: 8px;
            text-align: center; }
        #add #addPrjContainer .addPrjType a:hover .addPrjTitle {
          -webkit-transition: 0.2s;
          transition: 0.2s; }

@media (max-width: 959px) {
  #add {
    width: 100%;
    padding: 0; }
    #add #addPrjContainer {
      width: 100%;
      padding: 0; }
      #add #addPrjContainer .addPrjType {
        -ms-flex-flow: column;
            flex-flow: column;
        width: 100%;
        margin-bottom: 32px; }
        #add #addPrjContainer .addPrjType a {
          width: 100%; }
          #add #addPrjContainer .addPrjType a .addPrj {
            width: 100%;
            max-width: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -webkit-box-pack: flex;
                -ms-flex-pack: flex;
                    justify-content: flex; }
            #add #addPrjContainer .addPrjType a .addPrj .addPrjImg {
              border-radius: 0;
              width: 100%;
              height: 64px;
              opacity: 0.3; }
            #add #addPrjContainer .addPrjType a .addPrj .addPrjTitle {
              position: absolute;
              font-size: 2em;
              margin-top: 0px; } }
/* ABOUT ------------------------------- */
#about #aboutContainer {
  max-width: 1024px; }
  #about #aboutContainer h1 {
    text-align: center;
    margin-bottom: 24px; }
  #about #aboutContainer #aboutImgDsc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: row;
        flex-flow: row;
    width: 100%;
    margin-bottom: 48px; }
    #about #aboutContainer #aboutImgDsc #aboutImg {
      width: 144px;
      height: 144px;
      background-image: url("../media/selfIllustration.png");
      background-size: cover;
      margin-right: 24px; }
    #about #aboutContainer #aboutImgDsc #aboutDsc {
      max-width: 560px;
      text-align: left; }
  #about #aboutContainer #aboutLists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
        flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 96px; }
    #about #aboutContainer #aboutLists ul {
      margin: 0 24px; }
  #about #aboutContainer p {
    margin-bottom: 16px;
    text-align: center; }
  #about #aboutContainer #linkContainer a i {
    margin: 0 16px; }
  #about #aboutContainer #linkContainer a:hover {
    color: #333333; }

@media (max-width: 959px) {
  #about #aboutContainer #aboutImgDsc {
    -ms-flex-flow: column;
        flex-flow: column;
    margin-bottom: 24px; }
    #about #aboutContainer #aboutImgDsc #aboutImg {
      margin-right: 0;
      margin-bottom: 24px; }
    #about #aboutContainer #aboutImgDsc #aboutDsc {
      text-align: center;
      margin-bottom: 0; }
  #about #aboutContainer #aboutLists {
    -ms-flex-flow: column;
        flex-flow: column;
    margin-bottom: 24px; }
    #about #aboutContainer #aboutLists ul {
      text-align: center;
      margin: 0 0 24px 0; }
  #about #aboutContainer p {
    margin-bottom: 16px; } }
/* PROJECT PAGE ------------------------------- */
.projectPageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .projectPageContainer .contentContainer {
    -ms-flex-flow: column;
        flex-flow: column;
    max-width: 792px;
    width: 100%;
    text-align: center;
    margin-bottom: 64px; }
    .projectPageContainer .contentContainer .contentCaption {
      text-align: center;
      width: 100%;
      max-width: 560px;
      margin-top: 8px; }
  .projectPageContainer .intro {
    max-width: 560px; }

.prjPhotos img {
  margin-bottom: 4px; }

@media (max-width: 959px) {
  .projectPageContainer {
    padding: 0 16px; }
    .projectPageContainer h1 {
      margin: 20px 0; }

  .prjPhotos img {
    margin-bottom: 0px; } }
.prjExitBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #555555;
  text-align: center;
  line-height: 40px;
  color: #F2F2F2;
  opacity: 0.5;
  -webkit-transition: 300ms linear;
  transition: 300ms linear; }

.prjExitBtn:hover {
  opacity: 0.8; }
