/* CSS Reset --------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
	font-weight: 400;
}

/* BORDER BOX RESET --------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/open-sans-v13-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'),
       url('../fonts/open-sans-v13-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url('../fonts/open-sans-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-v13-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'),
       url('../fonts/open-sans-v13-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v13-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v13-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v13-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v13-latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/* DEBUG --------------------- */
.borderCheck {
	border: 0px solid red;
}

div, span, p, a, section, h1, h2, h3, header, footer, img, nav, ul {
	@extend .borderCheck;	
}


/* NAMING --------------------- */
// prj = project
// addPrj = additional project
// btn = button
// tmb = thumbnail
// img = image
// dsc = description
// box = container
// txt = text


/* GLOBAL ------------------------------- */
$prjTmb: 180px;
$addPrjTmb: 104px;
$selfImgSize: 144px;
$txtMaxWidth: 400px;
$navHeight: 72px;
$desktopWidth: 1280px;
$mobileWidth: 800px; //400px
$lineHeight: 1.25em;
$prjExitBtnHeight: 40px;
$contactBtnSize: 40px;
$transition: 0.2s;
$darkestGrey: #333333;
$darkGrey: #555555;
$midGrey: #999999;
$lightGrey: #F2F2F2;
$white: #FFFFFF;
$logoSize: 32px;


body, p, span, button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	max-width: 100vw;
	color: $darkGrey;
}

p, span, ul {
	line-height: 1.6em;
}

h1 {
	font-size: 2em;
	font-weight: 300;
}

h2 {
	font-size: 1.2em;
	font-weight: 500;
	line-height: 1.2em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

hr {
	width: 100%;
	border: 0;
	background-color: #fff;
	border-top: 1px dashed $midGrey;
	margin: 40px 0;
}

section {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 96px 32px;
	border-bottom: 1px dotted $midGrey;
}

.dotted {
	// padding: 2.25em 1.6875em;
	padding: 2.25em 1.6875em;
	background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
	background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
	background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
	background-image: repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
	-webkit-background-size: 16px 16px;
	-moz-background-size: 16px 16px;
	background-size: 16px 16px;
}

.sectionDivider {
	width: 100%;
	height: 8px;
	display: none;
}

.centerBox {
	display: flex;
	flex-flow: column;
	align-items: center;
	max-width: $desktopWidth;
	width: 100%;
}

.flexboxCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	@extend .flexboxCenter;
	flex-flow: row;
	background-color: $white;
	border: 1px solid $darkGrey;
	color: $darkGrey;
	height: 40px;
	padding: 0 16px;
	border-radius: 40px;
	cursor: pointer;
	transition: $transition;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;

	span {
		color: $darkGrey;
		font-weight: 400;
		font-size: 0.8em;
		transition: $transition;
	}

	&:hover {
		background-color: $darkGrey;
		border: 1px solid $white;
		color: $white;
		transition: $transition;

		span {
			color: $white;
			transition: $transition;
		}
	}
}

.touchBtn {
	@extend .flexboxCenter;
	flex-flow: row;
	background-color: $white;
	border: 1px solid $darkGrey;
	color: $darkGrey;
	height: 40px;
	padding: 0 16px;
	border-radius: 40px;
	cursor: pointer;
	transition: $transition;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;

	span {
		color: $darkGrey;
		font-weight: 400;
		font-size: 0.8em;
		transition: $transition;
	}

	&:hover, &:active, &:focus {
		transform: none;
		background-color: $white;
		border: 1px solid $darkGrey;
		color: $darkGrey;

		span {
			color: $darkGrey;
		}
	}
}

@media (max-width: $mobileWidth) {

	section {
		padding: 32px 32px;
	}
}


/* NAV --------------------- */

nav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: $navHeight;
	background-color: rgba(255,255,255,0.5);
	color: $darkGrey;

	a {
		display: flex;
		justify-content: center;
		align-items: center;

		#logo {
			margin-right: 16px;
         	transition: transform $transition ease-in-out;
            -webkit-transition: -webkit-transform $transition ease-in-out;
		}

		&:hover img {
       		transform: rotate(180deg);
		   	-webkit-transform: rotate(180deg);
		}

		#headerNameDsc {
			display: flex;
			flex-flow: row;
			justify-content: center;
			align-items: center;

			h2 {
				font-weight: 300;
				line-height: 2em;
				font-size: 1em;
				margin-bottom: 0;
			}
		}
	}
}


.borderBottom {
	border-bottom: 1px solid $midGrey;
}


@media (max-width: $mobileWidth) {
	nav {
		height: 128px;

		a {

			img {
			}

			#headerNameDsc {

				h2 {
					font-size: 0.8em;
				}
			}
		}
	}
}


/* WORK --------------------- */

#work {

	#prjBox {
		display: flex;
		flex-flow: row;
		align-items: flex-start;
		justify-content: center;
		width: 100%;

		& > a:nth-child(3) {
			margin: 0 24px;
		}

		a {
			max-width: 320px;

			.prj {
				display: flex;
				flex-flow: column;
				align-items: center;
				justify-content: center;

				.prjTmb {
					min-width: $prjTmb;
					width: $prjTmb;
					height: $prjTmb;
					border-radius: 50%;
					transition: $transition;
					background-color: $midGrey;
					background-size: $prjTmb;
					background-repeat: no-repeat;
					margin-bottom: 16px;
				}

				#tmbCloudleaf {
					background-image: url('../media/cloudLeafLogo.png');
					background-position: 50% 50%;
				}

				.prjDsc {
					display: flex;
					flex-flow: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					width: 100%;

					h2 {
						text-align: center;
						margin-bottom: 8px;
						transition: $transition;

					}
				}
			}

			&:hover {
				h2 {
					font-weight: 600;
					transition: $transition;
				}
			}

		}

		hr {
			display: none;
		}
	}


	@media (max-width: $mobileWidth) {

		$prjTmb: 80px;

		#prjBox {
			flex-flow: column;

			& > a:nth-child(3) {
				margin: 0;
			}

			a {
				margin: 0;
				max-width: none;

				.prj {
					display: flex;
					flex-flow: row;
					align-items: center;
					justify-content: center;

					.prjTmb {
						min-width: $prjTmb;
						width: $prjTmb;
						height: $prjTmb;
						border-radius: 50%;
						transition: $transition;
						background-color: $midGrey;
						background-size: $prjTmb;
						background-repeat: no-repeat;
						margin-right: 16px;
						margin-bottom: 0px;
					}

					#tmbCloudleaf {
						background-image: url('../media/cloudLeafLogo.png');
						background-position: 50% 50%;
					}

					.prjDsc {
						display: flex;
						flex-flow: column;
						justify-content: flex-start;
						align-items: flex-start;
						text-align: left;
						width: 100%;

						h2 {
							text-align: left;
							margin-bottom: 8px;
						}

						p {
							line-height: 1.4em;
						}
					}
				}
			}

			hr {
				display: flex;
				margin: 24px 0;
			}
		}
	}


	#addPrjBtn {
		width: 100%;
		max-width: 500px;
		margin-top: 48px;

		.seeMoreWork {
			display: flex;
			flex-flow: row;
			justify-content: center;
			align-items: center;
		}

		.seeLessWork {
			display: flex;
			flex-flow: row;
			justify-content: center;
			align-items: center;
			display: none;
		}

		span {
			display: inline;
		}

		i {
			margin-right: 8px;
		}
	}

	@media (max-width: $mobileWidth) {

		#addPrjBtn {
			margin-bottom: 16px;
		}
	}

	#addPrjBox {

		display: none;
		min-height: 300px;
		margin-top: 80px;

		h2 {
			text-align: center;
			font-weight: 300;
			margin-bottom: 40px;
		}

		hr {
			margin-top: 24px;
		}

		.addPrjTypeBox {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;

			a {
				margin: 0 4px 24px 0;

				.addPrj {
					display: flex;
					flex-flow: column;
					justify-content: flex-start;
					align-items: center;
					min-width: 144px;
					transition: $transition;

					#tmbArchitecture {
						background-image: url('../media/tmbArchitecture.jpg');
						background-size: 100%;
						background-position: 50% 50%;
					}

					#tmbCircles {
						background-image: url('../media/imgCircles.jpg');
						background-size: 300%;
						background-position: 50% 50%;
						border: 1px solid $midGrey;
					}

					#tmbHydratile {
						background-image: url('../media/imgHydratile.jpg');
						background-size: 300%;
						background-position: 50% 50%;
					}

					#tmbKenkyo {
						background-image: url('../media/imgKenkyo.jpg');
						background-size: 300%;
						background-position: 50% 50%;
					}

					#tmbLPK {
						background-image: url('../media/imgLPK.jpg');
						background-size: 300%;
						background-position: 50% 50%;
						border: 1px solid $midGrey;
					}

					#tmbMichelles {
						background-image: url('../media/tmbMichelles.png');
						background-size: 100%;
						background-position: 100% 31%;
					}

					#tmbNature {
						background-image: url('../media/tmbNature.jpg');
						background-size: 100%;
						background-position: 90% 10%;
					}

					#tmbPeople {
						background-image: url('../media/imgPeople.jpg');
						background-size: 300%;
						background-position: 40% 50%;
					}

	 				#tmbPierog{
						background-image: url('../media/imgPierog.jpg');
						background-size: 230%;
						background-position: 90% 10%;
					}

	 				#tmbPinnacle{
						background-image: url('../media/tmbPinnacle.png');
						background-size: 100%;
						background-position: 60% 10%;
					}

	 				#tmbRaynatype{
						background-image: url('../media/tmbRaynatype.png');
						background-size: 100%;
						background-position: 40% 30%;
					}

					#tmbSeigaiha {
						background-image: url('../media/imgSeigaiha.jpg');
						background-size: 300%;
						background-position: 50% 50%;
					}

					#tmbSpaceX {
						background-image: url('../media/imgSpacex.jpg');
						background-size: 300%;
						background-position: 50% 50%;
					}

					#tmbTexture {
						background-image: url('../media/imgTexture.jpg');
						background-size: 100%;
						background-position: 20% 20%;
					}

					#tmbThings {
						background-image: url('../media/tmbThings.jpg');
						background-size: 100%;
						background-position: 50% 50%;
					}

					#tmbWavebar {
						background-image: url('../media/imgWavebar.jpg');
						background-size: 300%;
						background-position: 50% 50%;
					}

					#tmbZennII {
						background-image: url('../media/imgZennII.jpg');
						background-size: 300%;
						background-position: 50% 50%;
						border: 1px solid $midGrey;
					}

					.addPrjTmb {
						width: $addPrjTmb;
						height: $addPrjTmb;
						background-color: $darkGrey;
						border-radius: 50%;
						margin-bottom: 8px;
						background-repeat: no-repeat;
						transition: $transition;
					}

					.addPrjDsc {
						text-align: center;
						line-height: 1.5em;
						transition: $transition;
						font-weight: 400;
					}

					&:hover {
						.addPrjTmb {
							transition: $transition;
						}

						.addPrjDsc {
							font-weight: 600;
							transition: $transition;
						}
					}
				}
			}
		}
	}

	@media (max-width: $mobileWidth) {

		$addPrjTmb: 88px;

		#addPrjBox {
			margin-top: 48px;

			.addPrjTypeBox {
				justify-content: center;

				a {
					margin: 0 4px 40px 0;

					.addPrj {


						.addPrjTmb {
							width: $addPrjTmb;
							height: $addPrjTmb;
						}
					}
				}
			}
		}
	}
}


/* ABOUT --------------------- */

#about {

	#aboutContent {
		width: 100%;
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: flex-start;

		h2 {
			margin-bottom: 8px;
		}

		#selfTxt {
			display: flex;
			flex-flow: row;
			justify-content: center;
			margin-right: 24px;

			.selfIllustration {
				display: flex;
				width: $selfImgSize;
				height: $selfImgSize;
				min-width: $selfImgSize;
				min-height: $selfImgSize;
				margin-right: 16px;
				background-repeat: no-repeat;
				background-size: $selfImgSize $selfImgSize;
			}

			#selfIllustrationDefault {
				background-image: url('../media/selfIllustration2.png');
			}

			#selfIllustrationHover {
				display: none;
				background-image: url('../media/selfIllustration3.png');
			}

			span {
				max-width: $txtMaxWidth;
				min-width: 128px;
			}
		}

		hr {
			display: none;
		}

		.list {
			min-width: 128px;
		}

		#listBox {
			display: flex;
			flex-flow: row;
			justify-content: center;
			align-items: flex-start;

			& > :nth-child(2) {
				margin: 0 24px;
			}
		}
	}
}

@media (max-width: $mobileWidth) {

	#about {
		#aboutContent {
			flex-flow: column;
			align-items: center;
			justify-content: center;

			h2 {

			}

			#selfTxt {
				display: flex;
				flex-flow: column;
				align-items: center;
				width: 100%;
				margin-right: 0;

				.selfIllustration {
					margin-right: 0px;
					margin-bottom: 16px;
				}
			
				#selfIllustrationDefault {
				}

				#selfIllustrationHover {

				}

				span {
					text-align: center;
				}
			}

			hr {
				display: inline-block;
			}

			#listBox {
				display: flex;
				flex-flow: column;

				.list {
					width: 100%;
					text-align: center;
					margin-bottom: 32px;

					a {
						font-weight: 600;

					}
				}

				& > :nth-child(2) {
					margin-left: 0px;
					margin-right: 0px;

				}
			}
		}
	}
}

/* CONTACT --------------------- */

#contact {

	#contactBox {
		@extend .flexboxCenter;

		a {
			margin: 0 8px;

			.btn {
				width: $contactBtnSize;
				height: $contactBtnSize;
				font-size: 0.8em;

				i {
					font-size: 1.7em;
				}
			}
		}
	}

	#thanksTxt {
		margin-top: 24px;
		font-size: 0.8em;
		text-align: center;
	}
}


/* PROJECT --------------------- */

.prjIntro {
	// background-repeat: no-repeat;
	border-bottom: none;

	.centerBox {
		width: 100%;

		.intro {
			width: 100%;
			max-width: $desktopWidth;
			display: flex;
			flex-flow: row;

			.dsc {
				background-color: rgba(255, 255, 255, 0.8);
				padding: 16px;
				display: flex;
				flex-flow: column;

				h1 {
					text-align: left;
					font-size: 4em;
					margin-bottom: 8px;
					margin-right: 16px;
				}

				p {
					max-width: 480px;
				}
			}
		}
	}
}

#hydratileIntro {
	background-image: url('../work/hydratile/media/HYT_Intro.jpg');
	background-size: 100%;
	background-position: 50% 10%;
}


@media (max-width: $mobileWidth) {

	.prjIntro {
		.centerBox {
			.intro {
				.dsc {
					text-align: center;
					flex-flow: column;

					h1 {
						font-size: 3em;
						text-align: center;
						margin-right: 0px;
					}
				}
			}
		}
	}

	#hydratileIntro {
		background-size: 120%;
	}
}


.prjContent {

	.centerBox {
 		width: 100%;

		.content {
			width: 100%;
			max-width: 100%;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items: center;

			img {
				display: flex;
				max-width: calc(100% - 500px);
				min-width: 480px;
				// width: 100%;
				height: auto;
			}

			.dsc {
				display: flex;
				flex-flow: column;
				max-width: 400px;

				h2 {
					margin-bottom: 4px;
				}
			}
		}

		hr {
			width: 100%;
			margin: 64px 0;
		}

		& > .content:nth-child(4n+1) {

			img {
				order: 2;
			}

			.dsc {
				order: 1;
				margin-right: 32px;
			}
		}

		& > .content:nth-child(4n+3) {

			img {
				order: 1;
			}

			.dsc {
				order: 2;
				margin-left: 32px;
			}
		}

		.photoContent {
			width: 100%;
			display: flex;
			flex-flow: row;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;


			h2 {
				margin: 24px 0;
			}			

			hr {
				display: flex;
				margin: 24px 0;
			}

			img {
				display: flex;
				width: 100%;
				max-width: 200px;
				height: auto;
				margin: 8px 8px 8px 8px;
			}

			.verticalImg {
				max-height: 200px;
				width: auto;
			}


			.lightbox {
				/** Default lightbox to hidden */
				display: none;

				/** Position and style */
				position: fixed;
				z-index: 999;
				width: 100%;
				height: 100%;
				text-align: center;
				top: 0;
				left: 0;
				background: rgba(0,0,0,0.8);
			}

			.lightbox img {
				/** Pad the lightbox image */
				max-width: 90%;
				max-height: 80%;
				margin-top: 2%;
			}

			.lightbox:target {
				/** Remove default browser outline */
				outline: none;

				/** Unhide lightbox **/
				display: block;
			}

			.thumbnail {
			 	max-width: 40%;
			}


		}

		.videoContent {
			display: absolute;
			width: 100%;
			height: 100%;

			.video-container {
				position:relative;
				padding-bottom:56.25%;
				padding-top:30px;
				height:0;
				overflow:hidden;
			}

			.video-container iframe, .video-container object, .video-container embed {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
			}
		}
	}
}

@media (max-width: $mobileWidth) {

	.prjContent {

		.centerBox { 

			.content {
				flex-flow: column;

				img {
					max-width: none;
					width: 100%;
					min-width: 0px;
					margin-bottom: 16px;
					order: 1
				}

				.dsc {
					max-width: 100%;
					width: 100%;
					text-align: center;
					order: 2;
					margin-left: 0px;
					margin-right: 0px;

					h2 {
						margin-bottom: 4px;
					}
				}
			}

			hr {
				margin: 48px 0;
			}

			& > .content:nth-child(4n+1) {

				img {
					order: 1;
				}

				.dsc {
					order: 2;
					margin-right: 0px;
				}
			}

			& > .content:nth-child(4n+3) {

				img {
					order: 1;
				}

				.dsc {
					order: 2;
					margin-left: 0px;
				}
			}

			.photoContent {

				width: 100%;
				display: flex;
				flex-flow: column;
				justify-content: center;
				flex-wrap: wrap;
				align-items: center;

				img {
					display: flex;
					width: 100%;
					max-width: 100%;
					// max-height: 400px;
					width: auto;
					margin: 0px 0px 16px 0px;
				}


				.verticalImg {
					max-height: none;
					width: auto;
				}

			}
		}
	}
}

#spacer {
	width: 100%;
	height: $prjExitBtnHeight;
}


.prjExitBtn {
	position: fixed;
	bottom: 0; left: 0; right: 0;
	color: $white;
	height: $prjExitBtnHeight;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		#prjExitBtnBg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $darkestGrey;
			opacity: 0.3;
			z-index: 2;
            -webkit-transition: $transition linear;
	        -moz-transition: $transition linear;
	        -o-transition: $transition linear;
	        -ms-transition: $transition linear;
			transition: $transition linear;
		}

		#prjExitBtnTxt {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 3;
		}
	}

	&:hover {

		a {
			#prjExitBtnBg {
				opacity: 0.8;
	            -webkit-transition: $transition linear;
		        -moz-transition: $transition linear;
		        -o-transition: $transition linear;
		        -ms-transition: $transition linear;
				transition: $transition linear;
			}
		}
	}
}