body {
  padding: 0;
  margin: 0; }

#site_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  height: 225px;
  border: 1px solid #999; }

#bigCircle {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7); }

.circleContainer {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 100%; }

.smallCircle {
  position: absolute;
  left: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #66CC33;
  margin: auto;
  -webkit-animation: move 1s ease-in-out infinite alternate;
  animation: move 1s ease-in-out infinite alternate; }

@-webkit-keyframes move {
  0% {
    opacity: 0.3;
    margin-top: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0.3;
    margin-top: -webkit-calc(100% - 15px);
    margin-top: calc(100% - 15px); } }

@keyframes move {
  0% {
    opacity: 0.3;
    margin-top: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0.3;
    margin-top: -webkit-calc(100% - 15px);
    margin-top: calc(100% - 15px); } }
#oneContainer {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

#twoContainer {
  -webkit-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  transform: rotate(22.5deg); }

#threeContainer {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#fourContainer {
  -webkit-transform: rotate(67.5deg);
  -ms-transform: rotate(67.5deg);
  transform: rotate(67.5deg); }

#fiveContainer {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

#sixContainer {
  -webkit-transform: rotate(112.5deg);
  -ms-transform: rotate(112.5deg);
  transform: rotate(112.5deg); }

#sevenContainer {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

#eightContainer {
  -webkit-transform: rotate(157.5deg);
  -ms-transform: rotate(157.5deg);
  transform: rotate(157.5deg); }

#one {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

#two {
  -webkit-animation-delay: 125ms;
  animation-delay: 125ms; }

#three {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms; }

#four {
  -webkit-animation-delay: 375ms;
  animation-delay: 375ms; }

#five {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms; }

#six {
  -webkit-animation-delay: 625ms;
  animation-delay: 625ms; }

#seven {
  -webkit-animation-delay: 750ms;
  animation-delay: 750ms; }

#eight {
  -webkit-animation-delay: 875ms;
  animation-delay: 875ms; }
