/* CSS RESET -------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\000037}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000328}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000332}}
body {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000335}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000338}}
blockquote, q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000341}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000346}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ------------------------------------ */
/* GLOBAL ----------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000353}}
body {
  overflow-x: hidden;
  font-family: arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000359}}
a, a:visited, a:active {
  text-decoration: none;
  color: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000365}}
#site {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000372}}
.section {
  width: 100%;
  margin-bottom: 50px; }

/* END GLOBAL ------------------------- */
/* NAVBAR ----------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000383}}
#nav_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000392}}
nav {
  height: 100%;
  color: #555;
  z-index: 5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000398}}
  nav ul {
    background-color: #FFF;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003108}}
    nav ul li {
      display: inline-block;
      height: 40px;
      margin-left: 20px;
      margin-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003116}}
    nav ul a {
      -webkit-transition: all 150ms ease-out;
      -moz-transition: all 150ms ease-out;
      -o-transition: all 150ms ease-out;
      transition: all 150ms ease-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003124}}
    nav ul a:hover {
      color: #66CC33; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003131}}
#logo {
  display: inline-block;
  z-index: 5;
  height: 40px;
  width: 40px;
  vertical-align: bottom; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003139}}
  #logo img {
    padding-top: 5px;
    height: 30px;
    width: 30px; }

/* END NAVBAR ---------------------------- */
/* HOME / BANNER ------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003149}}
#home {
  height: 800px;
  background-color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003155}}
#home_txt {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-width: 1000px;
  display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003164}}
  #home_txt p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    line-height: 1.25em;
    color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003174}}
  #home_txt span {
    color: #999;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003181}}
.home_img {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 800px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003190}}
#home_jasper_img {
  background-image: url("../media/starvedrock.jpg");
  background-position: 50% 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003196}}
#home_chicago_img {
  background-image: url("../media/chicagoskyline.jpg");
  background-position: 50% 25%; }

/* END HOME / BANNER --------------------- */
/* WORK ---------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003204}}
#work {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003209}}
#tmb_container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 1000px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003221}}
.tmb {
  width: 300px;
  height: 300px;
  border: 2px solid #F3F3F3;
  margin: 2px 1px 2px 1px;
  display: inline-block;
  position: relative;
  text-align: center;
  background-color: #000;
  color: #FFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003234}}
.tmb_ttl {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  display: table; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003244}}
.tmb_ttl p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003252}}
.tmb_dsc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 15px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003261}}
.tmb_img {
  width: 300px;
  height: 300px;
  background-size: cover; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003268}}
#tmb_img_ALX {
  background-image: url("../work/projects/alex/tmb_alex.jpg");
  background-position: 95% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003274}}
#tmb_img_ATR {
  background-image: url("../work/projects/atrio/tmb_atrio.jpg");
  background-position: 95% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003280}}
#tmb_img_HYT {
  background-image: url("../work/projects/hydratile/tmb_ht_high.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003286}}
#tmb_img_GPH {
  background-image: url("../work/projects/graphics/tmb_graphics.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003292}}
#tmb_img_HMI {
  background-image: url("../work/projects/hmi/tmb_hmi.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003298}}
#tmb_img_JSR {
  background-image: url("../work/projects/jasper/tmb_jasper.jpg");
  background-position: 50% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003304}}
#tmb_img_KRN {
  background-image: url("../work/projects/karan/tmb_karan.jpg");
  background-position: 70% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003310}}
#tmb_img_KKY {
  background-image: url("../work/projects/kenkyo/tmb_kenkyo.jpg");
  background-position: 70% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003316}}
#tmb_img_LCC {
  background-image: url("../work/projects/lcc/tmb_lcc.jpg");
  background-position: 100% 10%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003322}}
#tmb_img_LPK {
  background-image: url("../work/projects/lpk/tmb_lpk.jpg");
  background-position: 100% 10%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003328}}
#tmb_img_NST {
  background-image: url("../work/projects/neatseat/tmb_neatseat.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003334}}
#tmb_img_PLC {
  background-image: url("../work/projects/places/tmb_places_300x700.jpg");
  background-position: 65% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003340}}
#tmb_img_PPL {
  background-image: url("../work/projects/people/tmb_people_300x700.jpg");
  background-position: 20% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003346}}
#tmb_img_SGH {
  background-image: url("../work/projects/seigaiha/tmb_seigaiha.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003352}}
#tmb_img_TNG {
  background-image: url("../work/projects/things/tmb_things_300x7004.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003358}}
#tmb_img_TTT {
  background-image: url("../work/projects/2013/tmb_2013_300x700.jpg");
  background-position: left center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003364}}
#tmb_img_WVB {
  background-image: url("../work/projects/wavebar/tmb_wavebar.jpg");
  background-position: 65% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003370}}
#tmb_img_ZNN {
  background-image: url("../work/projects/zennii/tmb_zennii.jpg");
  background-position: 65% 50%; }

/* END WORK ------------------------------ */
