/* CSS RESET -------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\000037}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000328}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000332}}
body {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000335}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000338}}
blockquote, q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000341}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000346}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ------------------------------------ */
/* GLOBAL ----------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000360}}
body {
  font-family: 'Lato', arial, sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000369}}
a, a:visited, a:active {
  text-decoration: none;
  color: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000375}}
#site {
  position: absolute;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000385}}
.header_txt {
  font-size: 3em;
  line-height: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000391}}
.bold_txt {
  font-weight: bold;
  line-height: 1.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\0000397}}
.italic_txt {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003102}}
i {
  color: #fcfcfc; }

@media (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003109}}
  .header_txt {
    font-size: 2em; } }
/* END GLOBAL ------------------------- */
/* NAVBAR ----------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003120}}
#nav_container {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #DEDEDE;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003130}}
nav a:hover,
nav .current {
  color: #66CC33; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003136}}
nav {
  height: 100%;
  color: #555;
  z-index: 5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003142}}
  nav ul {
    background-color: #FFF;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003152}}
    nav ul li {
      display: inline-block;
      height: 40px;
      margin-left: 60px;
      margin-right: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003160}}
    nav ul a {
      -webkit-transition: all 150ms ease-out;
      -moz-transition: all 150ms ease-out;
      -o-transition: all 150ms ease-out;
      transition: all 150ms ease-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003168}}
    nav ul a:hover {
      color: #66CC33; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003176}}
#logo {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  z-index: 5;
  height: 40px;
  width: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003185}}
  #logo img {
    padding-top: 5px;
    height: 30px;
    width: 30px; }

/* END NAVBAR ---------------------------- */
/* HOME ------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003195}}
#home {
  position: relative;
  height: 400px;
  background-color: #333333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003202}}
#home_txt {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-width: 800px;
  display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003211}}
  #home_txt p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    line-height: 1.25em;
    color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003221}}
  #home_txt span {
    color: #999;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003228}}
.home_img {
  background-size: cover;
  width: 100%;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003235}}
#home_jasper_img {
  background-image: url("../media/starvedrock.jpg");
  background-position: 50% 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003241}}
#home_chicago_img {
  background-image: url("../media/chicagoskyline.jpg");
  background-position: 50% 25%; }

@media (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003249}}
  #home_txt p {
    font-size: 2em; } }
/* END HOME / BANNER --------------------- */
/* WORK ---------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003258}}
#work {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fcfcfc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003266}}
#tmb_container {
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 800px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003278}}
.tmb {
  width: 315px;
  height: 315px;
  border-radius: 3px;
  margin: 2px 1px 2px 1px;
  display: inline-block;
  position: relative;
  top: 40px;
  text-align: center;
  color: #333333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003292}}
.tmb_ttl {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 315px;
  height: 315px;
  display: table; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003302}}
.tmb_ttl p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003310}}
.tmb_dsc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 15px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003319}}
.tmb_img {
  width: 315px;
  height: 315px;
  border-radius: 3px;
  background-size: cover; }

@media (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003329}}
  .tmb {
    height: 100px;
    width: 100%;
    border-radius: 0px;
    max-width: 800px;
    display: block;
    margin-bottom: 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003339}}
  .tmb_ttl {
    height: 100px;
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003349}}
  .tmb_ttl p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    line-height: 100px;
    margin: 0 auto;
    left: 0;
    right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003371}}
  .tmb_img {
    height: 100px;
    width: 100%;
    max-width: 800px;
    display: block;
    margin: auto;
    margin-bottom: 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003381}}
  #work {
    padding-top: 0px;
    padding-bottom: 0px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003388}}
#tmb_img_ALX {
  background-image: url("../work/alex/tmb_alex.jpg");
  background-position: 95% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003393}}
#tmb_img_ATR {
  background-image: url("../work/atrio/tmb_atrio.jpg");
  background-position: 95% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003398}}
#tmb_img_HYT {
  background-image: url("../work/hydratile/tmb_ht_high.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003403}}
#tmb_img_GPH {
  background-image: url("../work/graphics/tmb_graphics.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003408}}
#tmb_img_HMI {
  background-image: url("../work/hmi/tmb_hmi.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003413}}
#tmb_img_JSR {
  background-image: url("../work/jasper/tmb_jasper.jpg");
  background-position: 50% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003418}}
#tmb_img_KRN {
  background-image: url("../work/karan/tmb_karan.jpg");
  background-position: 70% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003423}}
#tmb_img_KKY {
  background-image: url("../work/kenkyo/tmb_kenkyo.jpg");
  background-position: 70% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003428}}
#tmb_img_LCC {
  background-image: url("../work/lcc/tmb_LCC.jpg");
  background-position: 100% 10%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003433}}
#tmb_img_LPK {
  background-image: url("../work/lpk/tmb_lpk.jpg");
  background-position: 100% 10%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003438}}
#tmb_img_NST {
  background-image: url("../work/neatseat/tmb_neatseat.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003443}}
#tmb_img_PLC {
  background-image: url("../work/places/tmb_places_300x700.jpg");
  background-position: 65% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003448}}
#tmb_img_PPL {
  background-image: url("../work/people/tmb_people_300x700.jpg");
  background-position: 20% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003453}}
#tmb_img_SGH {
  background-image: url("../work/seigaiha/tmb_seigaiha.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003458}}
#tmb_img_TNG {
  background-image: url("../work/things/tmb_things_300x7004.jpg");
  background-position: center center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003463}}
#tmb_img_TTT {
  background-image: url("../work/2013/tmb_2013_300x700.jpg");
  background-position: left center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003468}}
#tmb_img_WVB {
  background-image: url("../work/wavebar/tmb_wavebar.jpg");
  background-position: 65% 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003473}}
#tmb_img_ZNN {
  background-image: url("../work/zennii/tmb_zennii.jpg");
  background-position: 65% 50%; }

/* END WORK ------------------------------ */
/* PROJECT ------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003481}}
.project_container {
  position: relative;
  top: 30px;
  text-align: center;
  width: 100%;
  font-weight: 300;
  background-color: #fcfcfc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003491}}
.project_container img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: calc(100% - 20px);
  display: block;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003503}}
.project_caption {
  width: 80%;
  max-width: 700px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 10px;
  line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003515}}
.project_caption a {
  color: #66cc33; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003520}}
#project_workbutton {
  color: #66cc33; }

/* END PROJECT --------------------------- */
/* ABOUT --------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003530}}
#about {
  position: relative;
  width: 100%;
  background-color: #333333;
  color: #FFF;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  line-height: 1.5em;
  font-size: 1em;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003544}}
#about img {
  height: 200px;
  width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003550}}
.about_subsection {
  background-color: #333333;
  color: #fcfcfc;
  border-radius: 3px;
  max-width: 800px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  margin-top: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003562}}
.threedots {
  width: 300px;
  height: 10px;
  display: inline-block;
  margin: 60px 0 80px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003570}}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fcfcfc;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003581}}
.about_skillscontainer {
  display: inline-block;
  width: 175px;
  height: 175px;
  margin: 5px 2.5px 5px 2.5px;
  padding: 20px;
  border-radius: 3px;
  vertical-align: top;
  line-height: 1.5em;
  background-color: #fcfcfc;
  color: #333333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003595}}
.about_skillscontainer i {
  font-size: 2em;
  color: #333333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003601}}
#about_skills a {
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out; }

@media (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003613}}
  .about_skillscontainer {
    width: 80%;
    height: 140px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003620}}
#about_resources {
  max-width: 700px;
  width: 100%;
  background-color: #fcfcfc;
  color: #333333;
  text-align: center;
  padding: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003630}}
#about_resources a {
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003640}}
#about_resources a:hover {
  color: #66cc33; }

@media (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003648}}
  #about_resources {
    width: 200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003653}}
  #about_resources a {
    display: block;
    line-height: 2em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003660}}
#about_contact i {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  line-height: 2em;
  margin: 10px 10px 10px 10px;
  background-color: #fcfcfc;
  color: #333333;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003676}}
#about_contact i:hover {
  color: #66cc33; }

@media (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003684}}
  .header_txt {
    font-size: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003689}}
  .threedots {
    width: 200px;
    height: 10px;
    display: inline-block;
    margin: 30px 0 40px 0; } }
/* END ABOUT ----------------------------- */
/* FOOTER -------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jasper\/jasperreyes\.github\.io\/portfolio\/portfolio_5\.0\/scss\/style\.scss}line{font-family:\00003701}}
#footer {
  line-height: 40px;
  height: 40px;
  text-align: center;
  background-color: #fcfcfc; }

/* END FOOTER ---------------------------- */
/* EASTER EGG ---------------------------- */
/* END EASTER EGG ------------------------ */
