/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  End CSS Reset------------------------------------------*/


/*Global----------------------------------*/

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1em;
	overflow-x:hidden;
	background-color: #333;
}

#container {
	background-color: red;
}

a, a:visited{
	text-decoration: none;
}

.largetext {
	font-size:3em;
	text-align:center;
}


.descriptiontext {
	text-align: center;
	line-height: 2em;
}

.page {
	width:100%;
	min-height: 800px;
}

/*Splashpage----------------------------------*/
#splashpage {
	background-color: #66cc33;
	text-align: center;
}

#silhouette {
	margin:0 auto;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}

#silhouette img {
	padding-bottom:30px;
	line-height: 800px;
}


/*Work----------------------------------*/

#work {
	width:100%;
	height:100vh;
	background-color: blue;
	white-space: nowrap;
	float:left;
	clear:none;
	text-align: center;
	color:#FFF;
}

.worktitledescription {
	max-height:100px;
	background-color: none;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.workcover {
	width:33.3%;
	height:100%;
	position:relative;
	white-space: nowrap;
	float:left;
	clear:none;
}

.hidden {
	visibility:hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;



}

.visible {
	visibility: visible;
}

#webcover {
	background-color: #222;
}

#webmenu {
	position:absolute;
	width:66.6%;
	height:100%;
	float:right;
	background-color:#66cc33;
	z-index: 2;
	visibility: hidden;
}

/*Analog----------------------------------*/
#analogcover {
	background-color: #444;
}

/*Photo----------------------------------*/
#photocover {
	background-color: #666;
}



/*About----------------------------------*/
#about {
	background-color: #333;
	display:inline-block;
	color:#FFFFFF;
}

#interests {
	max-height:1000px;
	float:right;
	width:49%;
	height:100%;
	background-color: none;
	line-height: 1.5em;
	font-size:1.5em;
	padding-top:30px;
	padding-bottom:30px;
	vertical-align: middle;
}