/* CSS RESET -------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END CSS RESET -------------------- */

#site_container
{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#rocket_container
{
    height: 70%;
    width: 100px;
}

        #rocket_full_container
        {
            position: absolute;
            margin: auto;
            height: 744px;
            width: 31px;
            left: 0; right: 0;
            border: 4px solid green;
        }

                #rocket_full
                {
                    position: absolute;
                    margin: auto;
                    left: 0; right: 0;
                }

                        #rocket_full img
                        {
                            position: absolute;
                            margin: auto;
                            left: 0; right: 0;
                        }

                #rocket_fire
                {
                    position: absolute;
                    margin: auto;
                    left: 0; right: 0; top: 400px;
                }

                        #rocket_fire img
                        {
                            position: absolute;
                            margin: auto;
                            left: 0; right: 0;
                        }

        #rocket_split_container
        {
            position: absolute;
            margin: auto;
            height: 744px;
            width: 31px;
            left: 0; right: 0;
        }

                #stage2_container
                {
                    position: relative;
                    margin: auto;
                    left: 0; right: 0;
                    width: 29px;
                    height: 160px;
                }

                        #stage2_rocket
                        {
                            position: relative;
                            margin: auto;
                            width: 29px;
                            height: 139px;
                        }

                        #stage2_fire
                        {
                            position: relative;
                            margin: auto;
                            width: 17px;
                            height: 21px;
                        }

                #stage1_container
                {
                    position: relative;
                    margin: auto;
                    margin-top: -57px;
                    left: 0; right: 0;
                    width: 32px;
                    height: 641px;
                }

                        #stage1_rocket
                        {
                            position: relative;
                            margin: auto;
                            width: 32px;
                            height: 303px;
                        }

                        #stage1_fire
                        {
                            position: relative;
                            margin: auto;
                            width: 29px;
                            height: 338px;
                        }

.stage1_rotate
{
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function:ease-in-sine;
    -webkit-animation-name:headbob;
    -webkit-animation-direction:normal;
    -webkit-animation-duration:5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform-origin:50% 100%;

    -moz-animation-iteration-count:1;
    -moz-animation-timing-function:ease-in-sine;
    -moz-animation-name:headbob;
    -moz-animation-direction:normal;
    -moz-animation-duration:5s;
    -moz-animation-fill-mode: forwards;
    -moz-transform-origin:50% 100%;
}

@-webkit-keyframes headbob { 
from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(-30deg) } 
}

@-moz-keyframes headbob { 
from { -moz-transform:rotate(0deg) } 
to { -moz-transform:rotate(-30deg) } 
}



