$borderCheck: 0px;

/* CSS Reset ----------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
	font-weight: 400;
}

/* BORDER BOX RESET ------------------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* DEBUG ------------------------------------------ */
.borderCheck {
	border: $borderCheck solid red;
}

div, span, p, a, section, h1, h2, h3, header, footer, img, nav, ul, iframe {
	@extend .borderCheck;	
}

/* NAMING ----------------------------------------- */
// prj = project
// addPrj = additional project
// btn = button
// tmb = thumbnail
// img = image
// dsc = description
// box = container
// txt = text


/* GLOBAL VARIABLES ------------------------------- */
$desktopWidth: 1200px;
$mobileWidth: 800px;
$transition: 0.2s;
$boxShadow: 0px 4px 8px rgba(0,0,0,0.1);

$grey1: #333333; // dark grey
$grey2: #999999; // mid grey
$grey3: #f7f7f7; // light grey
$white: #ffffff;

$prjImg: 148px;

$navHeight: 180px;


body, p, span, button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	max-width: 100vw;
	color: $grey1;
}

em {
	font-style: italic;
} 

strong {
	font-weight: bold;
}

span {
	font-size: 14px;
}

.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dotted {
	padding: 2.25em 1.6875em;
	background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.15), rgba(0,0,0,.3) 1px, transparent 1px, transparent 100%);
	background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.15), rgba(0,0,0,.3) 1px, transparent 1px, transparent 100%);
	background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.15), rgba(0,0,0,.3) 1px, transparent 1px, transparent 100%);
	background-image: repeating-radial-gradient(center center, rgba(0,0,0,.15), rgba(0,0,0,.3) 1px, transparent 1px, transparent 100%);
	-webkit-background-size: 8px 8px;
	-moz-background-size: 8px 8px;
	background-size: 8px 8px;
}

#siteBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-color: $white;
	margin-top: 64px;

	nav {
		width: 100%;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		box-shadow: $boxShadow;
		height: 48px;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;

		#navLeft {
			display: flex;
			flex-flow: row;
			align-items: center;
			justify-content: center;
			background-color: $white;
			height: 100%;
			margin-left: 24px;

			&:hover > img {
				transform: rotate(180deg);
				transition: 300ms;
			}

			img {
				width: 24px;
				height: 24px;
				transition: 300ms;
				cursor: pointer;
				margin-right: 12px;
			}

			span {
				font-weight: 600;
			}
		}

		#navRight {
			display: flex;
			flex-flow: row;
			align-items: center;
			background-color: $white;
			margin-right: 24px;

			a {
				margin: 0px 8px;
				transition: 300ms;

				&:hover {

					img {
						transform: scale(1.1);
						transition: 300ms;
					}
				}

				.linkBtn {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					background-color: $white;

					img {
						transition: 300ms;
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}

	.sectionDivider {
		width: 800px;
		background-color: rgba(0,0,0,0.1);
		height: 1px;
		padding-top: 0;
		padding-bottom: 0;
	}

	section {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		width: 100%;
		padding: 0px 0;

		.storyTxt {
			font-size: 1.5em;
			line-height: 1.5em;
			text-align: left;
			padding: 64px;
			max-width: 800px;
		}

		.showHideBtn {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 300px;
			height: 40px;
			border-radius: 24px;
			background-color: $white;
			border: 1px solid $grey1;
			cursor: pointer;
			margin-bottom: 108px;
			transition: 300ms;
			padding: 16px 32px;
			margin: 0 32px 96px 32px;

			span {
				font-size: .8em;
				font-weight: 500;
				text-align: center;
			}

			&:hover {
				background-color: $grey1;
				transition: 300ms;

				span {
					color: $white;
				}
			}
		}

		.sectionContent {
			padding: 0 64px 64px 64px;
			width: 100%;
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			// margin-bottom: -48px;
			// max-width: 1400px;

			.prjBox {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: row;
				border-radius: 4px;
				margin: 0 24px 48px 24px;
				transition: 300ms;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: column;
					width: 100%;
					height: 100%;
					padding: 24px;
				}

				&:hover {
				    -webkit-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.2);
				    -moz-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.2);
				    box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.2);
					//box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
					transition: 300ms;
				}

				.prjImg {
					background-color: $grey2;
					width: $prjImg;
					height: $prjImg;
					border-radius: 50%;
					background-repeat: no-repeat;
					border: 1px solid $grey3;
				}

				.prjDsc {
					line-height: 1.5em;
					text-align: center;
					margin-top: 16px;
					font-weight: 600;
				}
			}
		}
	}


	#introSection {

	}

	#workSection {

		.prjBox {
			display: flex;
			flex-flow: row;
			width: 800px;

			.prjImg {
				height: 148px;
				width: 148px;
				border-radius: 0%;
				border: none;
			}

			.prjDsc {

			}
		}
	}

	#contactSection {
		#contactBox {
			display: flex;
			flex-flow: row;
			margin-bottom: 128px;

			a {
				margin: 0px 8px;
				transition: 300ms;

				&:hover {

					img {
						transform: scale(1.1);
						transition: 300ms;
					}
				}

				.linkBtn {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 48px;
					height: 48px;
					background-color: $white;
					border-radius: 50%;
					border: 1px solid $grey1;

					img {
						transition: 300ms;
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}


	footer {
		width: 100%;
		padding: 32px 32px;
		display: flex;
		flex-flow: row;
		justify-content: center;
		@extend .dotted;

		#footerContent {
			display: flex;
			flex-flow: row;
			align-items: center;
			padding: 16px;
			background-color: $white;
			border-radius: 32px;
		}
	}
}


// MOBILE
/*


@media (max-width: $mobileWidth) {

#siteBox {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-color: $white;

	nav {
		width: 100%;
		// height: 200px;
		padding: 32px 32px;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		// @extend .dotted;


		#navLeft {
			display: flex;
			flex-flow: row;
			align-items: center;
			background-color: $white;
			padding: 16px;
			border-radius: 32px;

			&:hover > img {
				transform: rotate(180deg);
				transition: 300ms;
			}

			img {
				width: 32px;
				height: 32px;
				transition: 300ms;
				cursor: pointer;
				margin-right: 16px;
			}
		}

		#navRight {
			display: flex;
			flex-flow: row;
			align-items: center;
			background-color: $white;
			border-radius: 32px;

			a {
				margin: 0px 8px;
				transition: 300ms;

				&:hover {

					img {
						transform: scale(1.1);
						transition: 300ms;
					}
				}

				.linkBtn {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 48px;
					height: 48px;
					background-color: $white;
					border-radius: 50%;

					img {
						transition: 300ms;
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}

	.sectionDivider {
		width: 80vw;
		height: 24px;
		padding-top: 0;
		padding-bottom: 0;
		margin: 40px auto 64px auto;
		border-radius: 50%;
		// @extend .dotted;
	}

	section {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		width: 100%;
		padding: 8px 0;

		.storyTxt {
			font-size: 1.5em;
			line-height: 2em;
			text-align: center;
			padding: 64px;
			max-width: 800px;
		}

		.showHideBtn {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 300px;
			height: 40px;
			border-radius: 24px;
			background-color: $white;
			border: 1px solid $grey1;
			cursor: pointer;
			margin-bottom: 108px;
			transition: 300ms;
			padding: 16px 32px;
			margin: 0 32px 96px 32px;

			span {
				font-size: .8em;
				font-weight: 500;
				text-align: center;
			}

			&:hover {
				background-color: $grey1;
				transition: 300ms;

				span {
					color: $white;
				}
			}
		}

		.sectionContent {
			padding: 0 64px 64px 64px;
			width: 100%;
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			margin-bottom: -48px;
			max-width: 1400px;

			.prjBox {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: column;
				border-radius: 4px;
				margin: 0 24px 48px 24px;
				transition: 300ms;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: column;
					width: 100%;
					height: 100%;
					padding: 24px;
				}


				&:hover {
				    -webkit-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.2);
				    -moz-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.2);
				    box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.2);
					//box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
					transition: 300ms;
				}

				.prjImg {
					background-color: $grey2;
					width: $prjImg;
					height: $prjImg;
					border-radius: 50%;
					background-repeat: no-repeat;
					border: 1px solid $grey3;
				}



				.prjDsc {
					line-height: 1.5em;
					text-align: center;
					margin-top: 16px;
					font-weight: 600;
				}
			}
		}
	}


	#introSection {

	}

	#professionalSection {

		.prjBox {
			width: 400px;

			.prjImg {
				height: auto;
				width: 180px;
				border-radius: 0%;
				border: none;
			}
		}
	}

	#contactSection {
		#contactBox {
			display: flex;
			flex-flow: row;
			margin-bottom: 128px;

			a {
				margin: 0px 8px;
				transition: 300ms;

				&:hover {

					img {
						transform: scale(1.1);
						transition: 300ms;
					}
				}

				.linkBtn {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 48px;
					height: 48px;
					background-color: $white;
					border-radius: 50%;
					border: 1px solid $grey1;

					img {
						transition: 300ms;
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}


	footer {
		width: 100%;
		padding: 32px 32px;
		display: flex;
		flex-flow: row;
		justify-content: center;
		@extend .dotted;

		#footerContent {
			display: flex;
			flex-flow: row;
			align-items: center;
			padding: 16px;
			background-color: $white;
			border-radius: 32px;
		}
	}
}








*/










#tmbJasperBot {
	background-image: url('../media/thumbnails/tmbKaran.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbArchitecture {
	background-image: url('../media/thumbnails/tmbArchitecture.jpg');
	background-size: 100%;
	background-position: 50% 50%;
}

#tmbAtrio {
	background-image: url('../media/thumbnails/tmbAtrio.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbCircles {
	background-image: url('../media/thumbnails/tmbCircles.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbHydratile {
	background-image: url('../media/thumbnails/tmbHydratile.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbImgur {
	background-image: url('../media/thumbnails/tmbImgur.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbKaran {
	background-image: url('../media/thumbnails/tmbKaran.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbKenkyo {
	background-image: url('../media/thumbnails/tmbKenkyo.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbLCC {
	background-image: url('../media/thumbnails/tmbLCC.jpg');
	background-size: 250%;
	background-position: 91% 6%;
}

#tmbLPK {
	background-image: url('../media/thumbnails/tmbLPK.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbMichelles {
	background-image: url('../media/thumbnails/tmbMichelles.png');
	background-size: 100%;
	background-position: 100% 31%;
}

#tmbNature {
	background-image: url('../media/thumbnails/tmbNature.jpg');
	background-size: 100%;
	background-position: 90% 10%;
}

#tmbPeople {
	background-image: url('../media/thumbnails/tmbPeople.jpg');
	background-size: 300%;
	background-position: 40% 50%;
}

#tmbPierog {
	background-image: url('../media/thumbnails/tmbPierog.jpg');
	background-size: 230%;
	background-position: 90% 10%;
}

#tmbPinnacle {
	background-image: url('../media/thumbnails/tmbPinnacle.png');
	background-size: 100%;
	background-position: 60% 10%;
}

#tmbRaynatype {
	background-image: url('../media/thumbnails/tmbRaynatype.png');
	background-size: 100%;
	background-position: 40% 30%;
}

#tmbSeigaiha {
	background-image: url('../media/thumbnails/tmbSeigaiha.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbSpaceX {
	background-image: url('../media/thumbnails/tmbSpaceX1.gif');
	background-size: 200%;
	background-position: 53% 18%;
}

#tmbTexture {
	background-image: url('../media/thumbnails/tmbTexture.jpg');
	background-size: 100%;
	background-position: 20% 20%;
}

#tmbThings {
	background-image: url('../media/thumbnails/tmbThings.jpg');
	background-size: 100%;
	background-position: 50% 50%;
}

#tmbWavebar {
	background-image: url('../media/thumbnails/tmbWavebar.jpg');
	background-size: 250%;
	background-position: 50% 50%;
}

#tmbZennII {
	background-image: url('../media/thumbnails/tmbZennII.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbZwerpy {
	background-image: url('../media/thumbnails/tmbZwerpy1.gif');
	background-position: 50% 50%;
	background-size: 200%;
}
