/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  End CSS Reset------------------------------------------*/

body {
	position:absolute;
	display:block;
	background-color:none;
	width:100vw;
	height:100vh;
	overflow:hidden;
}

p {
	font-style:none;
	text-decoration: none;
	color:#FFF;
	font-size: 1em;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight:bold;
	line-height: 1.5em;

}

a, a:visited {
	text-decoration: none;
	font-style: none;
	color:#888;
}

a:hover {
	color:#FFF;
}

.normalblacktext {
	text-decoration: none;
	color:#111;
	font-size: 1.75em;
	font-family: 'Helvetica', 'Arial', sans-serif;
}
.normalwhitetext {
	text-decoration: none;
	color:#FFF;
	font-size: 1.75em;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.button {
	width:200px;
	height:70px;
	text-align:center;
	border-radius:10px;
	margin:0 auto;
	background-color:#444;
}


.button:hover {
	cursor:pointer;
	opacity:0.8;
}

.buttontext {
	text-decoration:none;
	line-height:70px;
}

.border {
	border: 0px solid #000;
}


/*IntroPage-----------------------------*/

#intropage {
	width:100vw;
	height:100vh;
	background-color: black;
	position:relative;
}

#intropagecontent {
	height:200px;
	width:600px;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: none;
}


/*StartPage-----------------------------*/

#startpage {
	width:100vw;
	height:100vh;
	background-color: black;
	position:relative;
}

#startpagecontent {
	height:200px;
	width:600px;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: none;
}

/*WinPage-----------------------------*/

#winpage {
	width:100vw;
	height:100vh;
	background-color: white;
	position:relative;
	visibility: hidden;
	background-image:url('./Images/leafsmall.png');
	background-repeat:repeat;
}

#winpagecontent {
	height:50%;
	width:30%;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color:none;
}
/*Game--------------------------------*/

#startoverbutton {
	float:left;
	margin-left:20px;
	margin-top:20px;
}

#level1	{
	position:fixed;
	width:100vw;
	height:100vh;
}

#level2 {
	display:block;
	position:absolute;
	border-radius: 100%;
	width:800px;
	height:800px;
	display:auto;
	margin: auto;
	position:absolute;
}

#level3 {
	width:60%;
	height:60%;
	position:absolute;
	border-radius: 100%;
	display:auto;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

#level4 {
	width:60%;
	height:60%;
	position:absolute;
	border-radius: 100%;
	display:auto;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

#level5 {
	width:60%;
	height:60%;
	position:absolute;
	border-radius: 100%;
	display:auto;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

#level6 {
	width:60%;
	height:60%;
	position:absolute;
	border-radius: 100%;
	display:auto;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

#karan {
	width:30%;
	height:30%;
	position:absolute;
	border-radius: 100%;
	display:auto;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

#karanphoto img {
	width:100%;
}

#leaf {
	position:absolute;
	border-radius: 100%;
	text-align:center;
	display:auto;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	visibility: hidden;
}

#leaf:hover {
	cursor:pointer;
}