/* CSS RESET ----------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0; 
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET ----------------------------- */



/* Z-INDEX ----------------------------- */

// nav 5

/* END Z-INDEX ----------------------------- */



/* UNIVERSALS / EXTENDS ----------------------------- */
body {
	// font-family: 'Helvetica', 'Verdana', sans-serif;
	font-family: 'Open Sans', 'Helvetica', 'Verdana', sans-serif;
	color: #FFF;
	font-weight: 200;
}

strong { font-weight: bold; }

* {
	box-sizing: border-box;
}

$red: #CC3A2B;

$green: #429321;

.topBottomPadding {
	padding-top: 50px;
	padding-bottom: 50px;
}

.responsiveWidthPadding {
	width: 100%;
	max-width: 1024px;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.border {
	border: 0px;
	border: 1px solid #FFF;
}

section {
	min-height: 200px;
	width: 100%;
	@extend .border;
}

.sectionContent {
	@extend .border;
	@extend .responsiveWidthPadding;
	@extend .topBottomPadding;
	width: 100%;
}

.hover {
	color: $red;
}

.titleText {
	font-size: 2.5em;
	font-weight: bold;
	line-height: 1.2em;
}

.taglineText {
	font-size: 1.5em;
	font-style: italic;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.currentPage {
	color: $red;
	font-weight: 400;
}

$navHeight: 120px;

.pageHeader {
	// background-image: url('../media/bg_table.jpg');
	// background-size: cover;
	background-color: #222;
}

.pageHeaderText {
	margin-top: 120px;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

/* END EXTENDS ----------------------------- */

#siteContainer {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	@extend .border;
}

/* NAVBAR --------------------------------- */
nav {
	position: fixed;
	width: 100%;
	height: $navHeight;
	z-index: 5;
	@extend .border;
	@extend .noselect;
	// border-bottom: 1px solid #FFF;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav::after {
  content: "";
  background-color: #000;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#logoContainer {
	position: relative;
	padding-left: 30px;
	height: 100%;
	@extend .border;

	display: inline-flex;
	align-items: center;
}

#logo {
	height: 100%;
	width: auto;
	@extend .border;
	padding-top: 10px;
	padding-bottom: 10px;
}

#logoRed {
	height: 100%;
	width: auto;
	@extend .border;
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

#navLinks {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	margin-right: 30px;
	@extend .border;

	display: flex;
	flex-flow: row nowrap;
}

#navLinks ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#navLinks ul li {
	margin-left: 20px;
	cursor: pointer;
	list-style-type: none;
	text-decoration: none;
	color: #FFF;
}

#navLinks a {
	list-style-type: none;
	text-decoration: none;
	color: #FFF;
	transition: 100ms;
}

#navLinks a:hover {
	color: $red;
	transition: 100ms;

}

#navMenu a {
	list-style-type: none;
	text-decoration: none;
	color: #FFF;
}

#navMenu a:hover {
	color: $red;
}

#navMenuButton {
	display: none;
	margin-right: 30px;
	width: 40px;
	height: 40px;
	border: 1px solid #FFF;
	border-radius: 3px;
	text-align: center;
	line-height: $navHeight;
	cursor: pointer;
	color: #FFF;
}

#navMenuButton i {
	display: block;
	line-height: 40px;
}

#navMenuButton:hover {
	border-color: $red;
	color: $red;
}

#navMenu {
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	z-index: 5;
	font-size: 0.8em;
}

#navMenu::after {
  content: "";
  background-color: #000;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#navMenu li {
	font-size: 1.5em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #999; 
}

.menuInvisible {
	display: none;
}

/* END NAVBAR --------------------------------- */

/* LANDING PAGE --------------------------------- */

#landingPage {
	// background-image: url('../media/bg_table2.jpg');
	// background-size: cover;
	background-color: #222;
}

#largeTextContainer {
	font-size: 3em;
	font-weight: bold;
	line-height: 1.2em;
	width: 100%;
	text-align: center;
	@extend .border;
	@extend .topBottomPadding;
}

#imageContainer {
	@extend .border;
	@extend .responsiveWidthPadding;
	margin: auto;
	width: 100%;
	max-width: 600px;
	margin-top: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.productImage img {
	max-width: 130px;
	width: 100%;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	@extend .border;
}

#srirachaImage {
	height: 100%;
	z-index: 2;
}

#chiligarlicImage {
	height: 70%;
}

#sambaloelekImage {
	height: 70%;
}

/* END LANDING PAGE --------------------------------- */



/* PRODUCT PAGE --------------------------------- */

.productPage {
	display: flex;
}

.productSection {
	display: flex;
	align-items: center;
	justify-content: center;
}

.productImage2 {
	@extend .border;
	max-height: 600px;
	max-width: 120px;
}

.productCopy {
	margin-left: 30px;
	max-width: 500px;
	line-height: 1.5em;

	@extend .border;
	flex: 4;
}

#srirachaPage {
	// background-image: url('../media/bg_bottlerack2.jpg');
	// background-size: cover;
	background-color: #333;
	min-height: 80vh;
}

#chiligarlicPage {
	// background-image: url('../media/bg_bottlerack2.jpg');
	// background-size: cover;
	background-color: #888;
	min-height: 80vh;
}

#sambaloelekPage {
	// background-image: url('../media/bg_bottlerack2.jpg');
	// background-size: cover;
	background-color: #555;
	min-height: 80vh;
}

/* END SRIRACHA PAGE ----------------------------- */


/* INFORMATION PAGE ----------------------------- */

#storyPage {
	// background-image: url('../media/bg_bottlerack2.jpg');
	// background-size: cover;
	background-color: #444;
}

.informationCopy {
	width: 100%;
	@extend .responsiveWidthPadding;
	@extend .border;
	line-height: 1.5em;

	flex: 4;
}

#FAQPage {
	// background-image: url('../media/bg_bottlerack2.jpg');
	// background-size: cover;
	background-color: #888;
}
/* END INFORMATION PAGE ----------------------------- */

/* CULTURE PAGE ----------------------------- */
#fanPage {
	background-color: #111;
}

#booksPage {
	background-color: #333;
}

#documentaryPage {
	background-color: #555;
}
/* END CULTURE PAGE ----------------------------- */


#connectPage {
	min-height: 70vh;
	background-color: #555;
}

#dish1Page {
	min-height: 300px;
	background-color: #000;
}

#dish2Page {
	min-height: 300px;
	background-color: #777;
}


#letter1Page {
	min-height: 300px;
	background-color: #000;
}

#letter2Page {
	min-height: 300px;
	background-color: #777;
}



/* SITEMAP ----------------------------- */
#sitemap {
	position: relative;
	background-color: #999;
	@extend .topBottomPadding;
	@extend .border;
	width: 100%;
	font-size: 0.9em;
	text-align: center;
}

#sitemapContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	@extend .border;
	max-width: 1000px;
	margin: auto;
}

.sitemapItem {
	@extend .border;
	flex: 1;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.2em;
}

.sitemapItem a {
	list-style-type: none;
	text-decoration: none;
	color: #FFF;
	transition: 100ms;
}

.sitemapItem a:hover {
	color: $red;
	transition: 100ms;
}
/* END SITEMAP ----------------------------- */



/* FOOTER ----------------------------- */
footer {
	position: relative;
	width: 100%;
	background-color: #000;
	opacity: 0.3;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;	
	font-size: 0.8em;
}

footer .sectionContent {
	@extend .border;
}
/* END FOOTER ----------------------------- */



/* MEDIA QUERIES ----------------------------- */
@media (max-width: 800px) {

	nav {
		height: 80px;
	}

	.pageHeaderText {
		margin-top: 80px;
	}
	.productSection {
		display: flex;
		flex-flow: column nowrap;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.productCopy {
		margin-left: 0px;
		margin-top: 20px;
		max-width: 500px;
		line-height: 1.2em;
	}

	#largeTextContainer {
		font-size: 1.2em;
	}

	#sitemapContainer {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}

	.sitemapItem {
		margin-bottom: 20px;		
	}

	.productImage2 {
		max-height: 300px;
		margin-bottom: 30px;
	}

	#srirachaImage {
		margin-left: 0px;
		margin-right: 0px;
	}

	#navLinks {
		display: none;
	}
	
	#navMenuButton {
		display: inline;
	}
}

/* END MEDIA QUERIES ----------------------------- */
