/* CSS RESET ----------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END CSS RESET ----------------------------- */
/* UNIVERSALS / EXTENDS ----------------------------- */
body {
  font-family: 'Open Sans', 'Helvetica', 'Verdana', sans-serif;
  color: #FFF;
  font-weight: 200; }

strong {
  font-weight: bold; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.topBottomPadding, .sectionContent, .sitemap {
  padding-top: 50px;
  padding-bottom: 50px; }

.responsiveWidthPadding, .sectionContent, #imageContainer {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px; }

.flexboxCenter, .productSection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.border, section, .sectionContent, .copyContainer, .navLogo, #logo, #logoRed, #siteContainer, nav, #logoContainer, #navLinks, #imageContainer, .productImage img, .productImage2, .sitemap, .sitemapContainer, .sitemapItem, footer .sectionContent {
  border: 0px; }

section {
  width: 100%; }

.hover {
  color: #cc3a2b; }

.noselect, nav, .sitemap {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.pageHeaderText {
  margin-top: 120px;
  font-size: 3em;
  font-weight: bold;
  text-align: center; }

.titleText {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em; }

.taglineText {
  font-size: 1.25em;
  font-style: italic; }

.copyText {
  font-size: 0.8em;
  line-height: 1.5em; }

.copyContainer {
  margin-left: 30px;
  max-width: 500px;
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.currentPage {
  color: #cc3a2b;
  font-weight: 400; }

.redBackground, #srirachaPage, #sambaloelekPage {
  background-image: -webkit-radial-gradient(70% 70%, #9c2d21 50%, #571913 100%);
  background-image: radial-gradient(70% 70%, #9c2d21 50%, #571913 100%); }

.greenBackground, #chiligarlicPage {
  background-image: -webkit-radial-gradient(70% 70%, #2d731b 50%, #18410e 100%);
  background-image: radial-gradient(70% 70%, #2d731b 50%, #18410e 100%); }

.pageShadow, #srirachaPage, #chiligarlicPage, #sambaloelekPage {
  -webkit-box-shadow: 0px 10px 54px -21px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 54px -21px rgba(0, 0, 0, 0.75); }

.navLogo, #logo, #logoRed {
  height: 120px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px; }

#siteContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

/* END EXTENDS ----------------------------- */
/* NAVBAR --------------------------------- */
nav {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

nav::after {
  content: "";
  background-color: #000;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

#logoContainer {
  position: relative;
  padding-left: 30px;
  height: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

#logoRed {
  display: none; }

#navLinks {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }

#navLinks ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

#navLinks ul li {
  margin-left: 20px;
  cursor: pointer; }

#navLinks a {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: 100ms;
  transition: 100ms; }

#navLinks a:hover {
  color: #cc3a2b;
  -webkit-transition: 100ms;
  transition: 100ms; }

#navMenu a {
  list-style-type: none;
  text-decoration: none;
  color: #FFF; }

#navMenu a:hover {
  color: #cc3a2b; }

#navMenuButton {
  display: none;
  position: absolute;
  right: 30px;
  top: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid #FFF;
  border-radius: 3px;
  text-align: center;
  line-height: 120px;
  cursor: pointer;
  color: #FFF; }

#navMenuButton i {
  display: block;
  line-height: 40px; }

#navMenuButton:hover {
  border-color: #cc3a2b;
  color: #cc3a2b; }

#navMenu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 5;
  font-size: 0.8em; }

#navMenu::after {
  content: "";
  background-color: #000;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

#navMenu li {
  font-size: 1.5em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #999; }

.menuInvisible {
  display: none; }

/* END NAVBAR --------------------------------- */
/* HOME PAGE --------------------------------- */
#homepage {
  background-image: url("../media/bg_table2.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

#homepageSitemap {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

#imageContainer {
  margin: auto;
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.productImage img {
  max-width: 130px;
  width: 100%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px; }

#srirachaImage {
  height: 100%;
  z-index: 2; }

#chiligarlicImage {
  height: 70%; }

#sambaloelekImage {
  height: 70%; }

/* END HOME PAGE --------------------------------- */
/* PRODUCTS PAGE --------------------------------- */
#productsSitemap {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

#productsPageHeader {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

.productImage2 {
  max-height: 600px;
  max-width: 120px; }

#srirachaPage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh; }

#chiligarlicPage {
  min-height: 60vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#sambaloelekPage {
  min-height: 60vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* END PRODUCTS PAGE ----------------------------- */
/* CULTURE PAGE ----------------------------- */
#culturePageHeader {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

#cultureSitemap {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

/* END CULTURE PAGE ----------------------------- */
/* RECIPE PAGE ----------------------------- */
#recipesPageHeader {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

#recipesSitemap {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

/* END RECIPE PAGE ----------------------------- */
/* LETTERS PAGE ----------------------------- */
#lettersPageHeader {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

#lettersSitemap {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

/* END LETTERS PAGE ----------------------------- */
/* INFORMATION PAGE ----------------------------- */
#informationPageHeader {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

#informationSitemap {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

/* END INFORMATION PAGE ----------------------------- */
/* CONNECT PAGE ----------------------------- */
#connectPageHeader {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

#connectSitemap {
  background-image: url("../media/img_peppers.jpg");
  -webkit-background-size: cover;
  background-size: cover; }

/* END INFORMATION PAGE ----------------------------- */
/* SITEMAP ----------------------------- */
.sitemap {
  position: relative;
  background-color: #999;
  width: 100%;
  font-size: 0.9em;
  text-align: center; }

.sitemapContainer {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sitemapItem {
  font-size: 0.8em;
  line-height: 4em;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.4em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.sitemapItem a {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: 100ms;
  transition: 100ms; }

.sitemapItem a:hover {
  color: #cc3a2b;
  -webkit-transition: 100ms;
  transition: 100ms; }

/* END SITEMAP ----------------------------- */
/* FOOTER ----------------------------- */
footer {
  position: relative;
  width: 100%;
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 0.6em; }

/* END FOOTER ----------------------------- */
/* MEDIA QUERIES ----------------------------- */
@media (max-width: 800px) {
  nav {
    height: 80px; }

  #logo {
    height: 80px; }

  #logoRed {
    height: 80px; }

  .pageHeaderText {
    margin-top: 80px;
    font-size: 2em; }

  .flexboxCenter, .productSection {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

  .copyContainer {
    margin-left: 0px; }

  .productCopy {
    margin-left: 0px;
    margin-top: 20px;
    max-width: 500px;
    line-height: 1.2em; }

  #largeTextContainer {
    font-size: 1.2em; }

  .sitemapContainer {
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  .sitemapItem {
    margin-bottom: 20px;
    max-width: 300px; }

  .productImage2 {
    max-height: 300px;
    margin-bottom: 30px; }

  #srirachaImage {
    margin-left: 0px;
    margin-right: 0px; }

  #navLinks {
    display: none; }

  #navMenuButton {
    display: inline; } }
/* END MEDIA QUERIES ----------------------------- */
