<html>
	<head>
		<title>Title</title>
		<link href="FloatTest.css" rel="stylesheet" type="html/css" />
	</head>
	<body>
		<header>
			<div id="logo"><a href="#spacer">Logo Here</a></div>
			<nav>
				<ul>
					<li><a href="#green" />about</a></li>
					<li><a href="#red" />contact</a></li>
					<li><a href="#blue" />work</a></li>
				</ul>
			</nav>
		</header>
		<div id="spacer"></div>
		<div id="container">
			<div class="contentpages" id="green"></div>
			<div class="contentpages" id="red"></div>
				<div id"="threecontainer"></div>
					<div id="l]
			<div class="contentpages" id="blue"></div>
			<div class="contentpages" id="yellow"></div>
		</div>
		<footer></footer>
	</body>
</html>