/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END CSS RESET-------------------*/

/*UNIVERSAL-----------------------*/
body
{
	overflow-x:hidden;
/*	font-family:arial, sans-serif;*/
	font-family: 'Lato', 'arial', sans-serif;

}

a, a:visited, a:active
{
	text-decoration: none;
	color:#333;
	transition:300;
}

#site_container
{
	width:100%;
	height:100%;
	position: absolute;
	overflow-x:hidden;
	overflow-y:auto;
	background-color: none;
	-webkit-overflow-scrolling:touch;
}

.headertext
{
	font-size: 1em;
	font-weight:300;
}

.aboutcontenttext
{
	font-size:.5em;
	line-height:1.25em;
	padding-left:30px;
	padding-right:30px;
	max-width:800px;
	margin:auto;
}

.boldtext
{
	font-weight:500;
}

/* NAVBAR---------------------------------*/

/* LANDING---------------------------------*/
#landing_page
{
	width:100%;
	height:100%;
	background-color: #FFF;
	position:absolute;
	top:0; left:0;
}

#landing_container
{
	position:absolute;
	margin:auto;
	top:0; bottom:0; left:0; right:0;
	text-align: center;
	width:60%;
	height:100px;
	font-size:2em;
	font-weight:300;
	color:#222;
}

#jasper_button
{
	transition:300;
	color:#777;
}

#jasper_button:hover
{
	color:#66cc33;
}

#chicago_button
{
	transition:300;
	color:#777;
}

#chicago_button:hover
{
	color:#66cc33;
}

#landing_navbar
{
	width:100%;
	height:60px;
	background-color: #FFF;
	color:#333;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	border-bottom:1px solid #999;
}

#landing_navbar_container
{
	background-color:#FFF;
	margin:auto;
	line-height: 60px;
	text-align: center;
}

#landing_navbar_container ul li
{
	display:inline-block;
	padding-left:30px;
	padding-right:30px;
}

#landing_navbar_container ul li div
{
	transition:300;	
}

#landing_navbar_container ul li div:hover
{
	color:#66cc33;
}

#landing_navbar_container img
{
	position:absolute;
	top:0; bottom:0; left:0; right:0;
	margin:auto;
	height:38px;
	width:38px;
}

/* WORK---------------------------------*/
#work_page
{
	width:100%;
	height:100%;
	background-color: #FFF;
	position:absolute;
	top:0; left:0;
}

#work_container
{
	position:absolute;
	margin:auto;
	top:0; bottom:0; left:0; right:0;
	text-align: center;
	width:100%;
	height:100%;
	line-height: 100px;
	font-size:2em;
	font-weight:300;
	color:#FFF;
}

.work_thumbnail
{
	width:100%;
	height:300px;
	background-color: #777;
	margin-top:1px;
	margin-bottom:1px;
	position:relative;
	transition:300;
}

.work_thumbnail:hover
{
	opacity:0.7;
	transition-delay:0.3s;
}

.work_thumbnail_title
{
	width:70%;
	height:300px;
	position:absolute;
	margin:auto;
	top:0; bottom:0; left:0; right:0;
	text-align: center;
	line-height: 100px;
	background-color: none;
}

.work_thumbnail_title_text
{
	font-size:3em;
	font-weight:100;
	line-height: 300px;
}

.work_thumbnail_description_text
{
	font-size:0.5em;
	font-style: italic;
	position: absolute;
	margin: 0 auto;
	left:0; right:0;
	bottom:0;
}

#work_thumbnail_topspacer
{
	width:100%;
	height:60px;
	top:0;
}

#work_thumbnail_hydratile
{
	background-image:url('Hydratile.jpg');
	background-size:cover;
 	background-position: center center;
 	color:#222;
}

#work_navbar
{
	width:100%;
	height:60px;
	background-color: red;
	color:#333;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	border-bottom:1px solid #999;
	z-index: 5;
}

#work_navbar_container
{
	background-color:#FFF;
	margin:auto;
	line-height: 60px;
	text-align: center;
}

#work_navbar_container ul li
{
	display:inline-block;
	padding-left:30px;
	padding-right:30px;
}

#work_navbar_container ul li div
{
	transition:300;	
}

#work_navbar_container ul li div:hover
{
	color:#66cc33;
}

#work_navbar_container img
{
	position:absolute;
	top:0; bottom:0; left:0; right:0;
	margin:auto;
	height:38px;
	width:38px;
}

#work_workbutton
{
	color:#66cc33;
}

/* ABOUT---------------------------------*/
#about_page
{
	width:100%;
	height:100%;
	background-color: #FFF;
	position:absolute;
	top:0; left:0;
}

#about_container
{
	position:absolute;
	margin:auto;
	text-align: center;
	width:100%;
	height:100px;
	font-size:2em;
	font-weight:300;
	color:#555;
}

.about_thumbnail
{
	width:100%;
	background-color: #FFF;
	border-bottom:1px solid #999;
	position:relative;
	transition:300;
	padding-top:30px;
	padding-bottom:30px;
	line-height:1.5em;
}

#about_thumbnail_topspacer
{
	width:100%;
	height:60px;
	top:0;
}

#about_navbar
{
	width:100%;
	height:60px;
	background-color: #FFF;
	color:#333;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	border-bottom:1px solid #999;
	z-index: 5;
}

#about_navbar_container
{
	background-color:#FFF;
	margin:auto;
	line-height: 60px;
	text-align: center;
}

#about_navbar_container ul li
{
	display:inline-block;
	padding-left:30px;
	padding-right:30px;
}

#about_navbar_container ul li div
{
	transition:300;	
}

#about_navbar_container ul li div:hover
{
	color:#66cc33;
}

#about_navbar_container img
{
	position:absolute;
	top:0; bottom:0; left:0; right:0;
	margin:auto;
	height:38px;
	width:38px;
}

#about_aboutbutton
{
	color:#66cc33;
}

.aboutcontenttext a 
{
	padding-left:20px;
	padding-right:20px;
	transition:300;
}

.aboutcontenttext a:hover
{
	color:#66cc33;
}