$borderCheck: 0px;

/* CSS Reset ----------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
	font-weight: 400;
}

// BORDER BOX RESET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// DEBUG ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.borderCheck {
	border: $borderCheck solid red;
}

div, span, p, a, section, h1, h2, h3, header, footer, img, nav, ul, iframe {
	@extend .borderCheck;	
}


// COLORS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$link: #2D9CDB;
$grey0: #000;
$grey1: #333;
$grey2: #666;
$grey3: #999;
$grey4: #CCC;
$grey5: #EDEDED;
$grey6: #FAFAFA;
$coolGrey1: #F1F4F5;


// BREAKPOINTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$wideDesktop: 800px;
$narrowDesktop: 640px;


// DROPSHADOWS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$dropShadow1: 0px 4px 4px rgba(0,0,0,0.1);
$dropShadow2: 0px 20px 50px rbga(34,43,55,0.1);

// TIMINGS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$transition1: 0.2s;



// FONT STYLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

h1 {
	font-size: 48px;
	line-height: 150%;
}

h2 {
	font-size: 34px;
	line-height: 150%;
}

h3 {
	font-size: 22px;
	line-height: 150%;
}

h4 {
	font-size: 18px;
	line-height: 150%;
}

p, span {
	font-size: 16px;
	line-height: 150%;
}

a {
	font-weight: 400;
	line-height: 150%;
}

a:link, a:visited, {
    color: $link;
}

a:hover, a:active {
    color: red;
}

.subtext {
	font-size: 12px;
	line-height: 150%;
}

strong {
	font-weight: 600;
}


// GLOBAL COMPONENTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 54px;
	background-color: #fff;
	border-bottom: 1px solid $grey5;
	z-index: 10;
	padding: 0 24px;
	display: flex;
	justify-content: space between;
	align-items: center;
	color: $grey1;

	#navLeft {
		span {


		}
	}

	#navRight {

	}
}



.btnBox {
	width: 100%;
	max-width: $wideDesktop;
	display: flex;
	flex-flow: row;
	// align-items: center;
	justify-content: center;
	margin-top: 120px;

	a {
		transition: 0.3s;
	}

	.btn {
		height: 48px;
		max-width: 320px;
		min-width: 200px;
		border-radius: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: $dropShadow1;
		transition: $transition1;
		margin: 0 12px;
		cursor: pointer;

		span {
			font-size: 16px;
			user-select: none;
			color: $grey1;
		}

		&:hover {
			transition: $transition1;
			box-shadow: none;
		}
	}

	.btnPrimary {
		background-color: $grey1;

		span {
			color: #fff;
			font-weight: 400px;
		}
	}

	.btnSecondary {
		background-color: $grey6;

		span {
			color: $grey2;
			font-weight: 300px;
		}
	}
}

.siteBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

footer {
	width: 100%;
	min-height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		color: $grey2;
		font-weight: 100;
	}
}

// HOME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.homeBox {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;

	.homeSection {
		width: 100%;
		padding: 120px 24px;
		display: flex;
		flex-flow: column;
		align-items: center;

		.sectionContent {
			width: 100%;
			max-width: $wideDesktop;
			align-items: center;
			justify-content: center;
		}
	}

	#introSection {
		width: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		// background-image: url('../media/dotGrid.png');
		// background-repeat: repeat;

		.sectionContent {
			display: flex;
			flex-flow: column;
			justify-content: space-between;

			h1 {
				font-weight: 100;
				line-height: 150%;
				color: $grey1;
				margin-bottom: 40px;
			}

			h3 {
				line-height: 150%;
				font-weight: 100;
				color: $grey2;
			}
		}
	}

	#workSection {
		background-color: $grey6;
		display: flex;
		flex-flow: column;
		align-items: center;

		h3 {
			font-weight: 100;
			color: $grey2;
			width: 100%;
			text-align: center;
			margin-bottom: 64px;
		}

		.sectionContent {
			width: 100%;
			display: flex;
			flex-flow: column;

			.mainPrj {
				width: 100%;
				max-width: $wideDesktop;
				display: flex;
				flex-flow: row;
				justify-content: space-between;
				margin-bottom: 64px;
				// background-color: #fff;
				// box-shadow: $dropShadow1;
				// border-radius: 24px;
				// transition: $transition1;
				// cursor: pointer;

				&:hover {
					transition: $transition1;
					box-shadow: none;
				}

				&:last-of-type {
					margin-bottom: 0px;
				}

				.mainPrjInfo {
					display: flex;
					flex-flow: column;
					justify-content: center;
					margin-right: 40px;
					// padding: 24px;

					.subtext {
						color: $grey3;
						margin-bottom: 8px;
					}

					h4 {
						color: $grey1;
						margin-bottom: 8px;
						font-weight: 600;
					}

					p {
						color: $grey2;
						margin-bottom: 16px;
					}

					a {
						color: $link;
					}
				}

				.mainPrjImg {
					min-width: 320px;
					min-height: 200px;
					width: 320px;
					height: 200px;
					background-color: $grey5;
					// border-radius: 0 24px 24px 0;
					box-shadow: $dropShadow1;
				}
			}
		}

		.btn {
			background-color: #fff;
		}
	}

	#aboutSection {

		h3 {
			font-weight: 100;
			color: $grey2;
			width: 100%;
			text-align: center;
			margin-bottom: 64px;
		}

		.sectionContent {
			width: 100%;
			display: flex;
			flex-flow: row;
			align-items: flex-start;
			justify-content: space-between;			

			#selfImg {
				min-width: 200px;
				min-height: 200px;
				width: 200px;
				height: 200px;
				border-radius: 50%;
				background-color: $grey5;
				margin-bottom: 64px;
				background-image: url('../media/selfIllustration.gif');
				background-size: 200px 200px;
				box-shadow: $dropShadow1;
			}

			p {
				width: 100%;
				max-width: 320px;
				color: $grey2;
				margin: 0 16px 64px 16px;
			}

			#listBox {
				width: 100%;
				max-width: 200px;
				display: flex;
				flex-flow: column;
				justify-content: space-between;

				ul {
					color: $grey2;
					line-height: 150%;
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0px;
					}

					strong {
						font-weight: 100;
						font-size: 14px;
						color: $grey3;
					}
				}
			}
		}
	}
}




// PROJECT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.prjBox {
	max-width: $wideDesktop;
	width: 100%;
	padding: 0 24px;
	display: flex;
	flex-flow: column;
	align-items: center;

	.prjTitleBox {
		max-width: $narrowDesktop;
		width: 100%;
		margin-top: 140px;
		margin-bottom: 40px;

		h1 {
			margin-bottom: 8px;
			line-height: 140%;
			font-weight: 600;
			color: $grey1;
		}

		p.subtext {
			margin-bottom: 16px;
			color: $grey3;
		}

		h3 {
			margin-bottom: 20px;
			line-height: 15 0%;
			font-weight: 100;
			color: $grey2;
		}
	}

	.prjTitleImgBox {
		display: flex;
		flex-flow: column;
		margin-bottom: 80px;
		width: 100%;

		.prjTitleImg {
			width: 100%;
			max-width: $wideDesktop;
			min-height: 540px;
			background-color: $grey4;
			margin-bottom: 8px;
		}

		span.subtext {
			color: $grey3;
		}
	}

	.prjSection {
		max-width: $narrowDesktop;
		width: 100%;

		.prjSectionNameDsc {
			margin-bottom: 20px;

			h2 {
				line-height: 150%;
				color: $grey1;
			}

			p.body {
				font-weight: 400;
				line-height: 150%;
				color: $grey2;
			}
		}

		.btnBox {
			margin-bottom: 40px;
		}

		.prjSectionImgBox {
			display: flex;
			flex-flow: column;
			width: 100%;
			max-width: $narrowDesktop;

			.prjSectionImg {
				width: 100%;
				max-width: $narrowDesktop;
				min-height: 300px;
				background-color: $grey4;
				margin-bottom: 8px;
			}

			span.subtext {
				color: $grey3;
			}
		}
	}

	.divider {
		width: 100%;
		display: flex;
		flex-flow: row;
		justify-content: center;
		margin: 64px 0;		

		.dot {
			width: 4px;
			height: 4px;
			margin: 0 8px;
			border-radius: 2px;
			background-color: $grey4;
		}
	}
}

