/* CSS Reset --------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited {
  text-decoration: none;
  color: inherit; }

/* Border Box Reset --------------------- */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* DEBUG --------------------- */
.borderCheck, div, span, p, section, h1, h2, h3, header, footer, nav, #sectionMainPrj #mainPrjContainer .prjLink {
  border: 0px solid red; }

/* GLOBAL ------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1em; }

.flexboxCenter, .btn, #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjBtnContainer .mainPrjBtn, header, footer, header #headerContent, section, #sectionAbout #aboutContainer, #sectionMainPrj #mainPrjContainer .mainPrj, #sectionAddPrj, #sectionAddPrj #addPrjContainer, #sectionAddPrj #addPrjContainer #addPrjWeb, #sectionAddPrj #addPrjContainer #addPrj3D, #sectionAddPrj #addPrjContainer #addPrjPhoto, #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj, #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj .addPrjImg, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj .addPrjImg, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj .addPrjImg, .projectPageContainer .contentContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.displayNav {
  top: 0px;
  -webkit-transition: 0.3s;
          transition: 0.3s; }

.btn, #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjBtnContainer .mainPrjBtn {
  font-weight: 400;
  height: 40px;
  border-radius: 0px;
  color: #FFFFFF;
  background-color: #999999;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s;
          transition: 0.2s; }
  .btn:hover, #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjBtnContainer .mainPrjBtn:hover {
    background-color: #333333;
    color: #FFFFFF;
    -webkit-transition: 0.2s;
            transition: 0.2s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

strong {
  font-weight: 400; }

em {
  font-style: italic; }

h1 {
  font-size: 3em;
  font-weight: 100; }

h2 {
  font-size: 1em; }

hr {
  margin: 32px 0;
  max-width: 1024px; }

header, footer {
  width: 100%;
  height: 48px;
  background-color: #333333;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  font-size: 0.8em; }

header {
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row; }
  header #headerContent {
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row; }
    header #headerContent img {
      width: 24px;
      height: 24px;
      margin-right: 16px; }

section {
  padding: 64px; }
  section h1 {
    margin-bottom: 40px;
    line-height: 1em; }

/* HOMEPAGE ------------------------------- */
#sectionAbout {
  padding: 64px;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #FFFFFF;
  border-bottom: 1px dotted #999999;
  background-color: #FFFFFF; }
  #sectionAbout #aboutContainer {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    max-width: 1024px; }
    #sectionAbout #aboutContainer img {
      height: 200px;
      margin-right: 32px; }
    #sectionAbout #aboutContainer .aboutDsc {
      padding: 24px;
      margin-left: 32px;
      max-width: 500px;
      background-color: #ffffff; }
      #sectionAbout #aboutContainer .aboutDsc a {
        font-weight: bold; }
      #sectionAbout #aboutContainer .aboutDsc #iconContainer {
        width: 100%;
        margin-top: 16px; }
        #sectionAbout #aboutContainer .aboutDsc #iconContainer i {
          width: 40px;
          margin-right: 16px;
          -webkit-transition: 0.2s;
                  transition: 0.2s;
          color: #999999; }
          #sectionAbout #aboutContainer .aboutDsc #iconContainer i:hover {
            color: #333333;
            -webkit-transition: 0.2s;
                    transition: 0.2s;
            -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                    transform: scale(1.1); }

#sectionMainPrj {
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #FFFFFF;
  border-bottom: 1px dotted #333333; }
  #sectionMainPrj #mainPrjContainer {
    max-width: 1024px; }
    #sectionMainPrj #mainPrjContainer .mainPrj {
      -webkit-flex-flow: row;
          -ms-flex-flow: row;
              flex-flow: row; }
      #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjImg {
        min-width: 144px;
        min-height: 144px;
        border-radius: 100%;
        background-size: 100%;
        margin-right: 24px; }
      #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjBtnContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-flex-flow: row;
            -ms-flex-flow: row;
                flex-flow: row;
        margin-top: 24px; }
        #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjBtnContainer .mainPrjBtn {
          padding: 0 16px;
          margin-right: 8px; }

@media (max-width: 961px) {
  section {
    padding: 0; }

  #sectionMainPrj h1 {
    display: none; }
  #sectionMainPrj #mainPrjContainer {
    max-width: 100vw; }
    #sectionMainPrj #mainPrjContainer hr {
      display: none; }
    #sectionMainPrj #mainPrjContainer .mainPrj {
      display: block;
      position: relative;
      width: 100vw;
      height: 96px;
      margin-bottom: 4px;
      border: 1px solid green; }
      #sectionMainPrj #mainPrjContainer .mainPrj .prjLink {
        display: block;
        z-index: 4; }
        #sectionMainPrj #mainPrjContainer .mainPrj .prjLink .mainPrjImg {
          position: relative;
          width: 100%;
          height: 96px;
          min-height: 96px;
          border-radius: 0%;
          margin-right: 0px;
          opacity: 0.5;
          z-index: 4; }
        #sectionMainPrj #mainPrjContainer .mainPrj .prjLink #imgLPK {
          background-image: url("../media/imgLPK.jpg");
          background-size: cover;
          background-position: 92% 20%;
          border: 1px solid #999999; }
      #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjInfo {
        position: absolute;
        margin: 0 auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
        #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjInfo .mainPrjTitle {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 100%;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjInfo .mainPrjTitle strong {
            font-size: 3em;
            font-weight: 300; }
        #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjInfo .mainPrjDsc {
          display: none; }
        #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjInfo .mainPrjBtnContainer {
          display: none; }
          #sectionMainPrj #mainPrjContainer .mainPrj .mainPrjInfo .mainPrjBtnContainer .mainPrjBtn {
            display: none; } }
#sectionAddPrj {
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #FFFFFF;
  color: #333333; }
  #sectionAddPrj #addPrjContainer {
    display: block;
    text-align: center;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    max-width: 1024px;
    width: 100%; }
    #sectionAddPrj #addPrjContainer #addPrjWeb, #sectionAddPrj #addPrjContainer #addPrj3D, #sectionAddPrj #addPrjContainer #addPrjPhoto {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-flow: row;
          -ms-flex-flow: row;
              flex-flow: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-top: 8px;
      max-width: 1024px; }
      #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj {
        margin: 16px 0px;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column;
        width: 136px;
        -webkit-transition: 0.2s;
                transition: 0.2s; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj .addPrjImg, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj .addPrjImg, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj .addPrjImg {
          width: 108px;
          height: 108px;
          border-radius: 50%;
          background-color: #999999;
          margin-bottom: 8px;
          -webkit-transition: 0.2s;
                  transition: 0.2s;
          background-repeat: no-repeat; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgCircles, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgCircles, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgCircles {
          background-image: url("../media/imgCircles.jpg");
          background-size: auto 200px;
          background-position: 50% 20%;
          border: 1px solid #999999; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgHermanMiller, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgHermanMiller, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgHermanMiller {
          background-image: url("../media/imgHydratile.jpg");
          background-size: auto 108px;
          background-position: 84% 48%; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgHydratile, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgHydratile, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgHydratile {
          background-image: url("../media/imgHydratile.jpg");
          background-size: auto 108px;
          background-position: 84% 48%; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgKenkyo, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgKenkyo, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgKenkyo {
          background-image: url("../media/imgKenkyo.jpg");
          background-size: auto 108px;
          background-position: 76% 20%; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgLPK, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgLPK, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgLPK {
          background-image: url("../media/imgLPK.jpg");
          background-size: auto 108px;
          background-position: 92% 20%;
          border: 1px solid #999999; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgPeople, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgPeople, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgPeople {
          background-image: url("../media/imgPeople.jpg");
          background-size: auto 144px;
          background-position: 10% 0%; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgPierog, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgPierog, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgPierog {
          background-image: url("../media/imgPierog.jpg");
          background-size: auto 200px;
          background-position: 75% 35%; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgPlaces, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgPlaces, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgPlaces {
          background-image: url("../media/imgPlaces.jpg");
          background-size: auto 200px;
          background-position: 50% 50%; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgSeigaiha, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgSeigaiha, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgSeigaiha {
          background-image: url("../media/imgSeigaiha.jpg");
          background-size: auto 200px;
          background-position: 50% 20%; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgSpaceX, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgSpaceX, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgSpaceX {
          background-image: url("../media/imgSpaceX.jpg");
          background-size: auto 200px;
          background-position: 50% 20%; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgThings, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgThings, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgThings {
          background-image: url("../media/imgThings.jpg");
          background-size: auto 200px;
          background-position: 50% 20%; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgWavebar, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgWavebar, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgWavebar {
          background-image: url("../media/imgWavebar.jpg");
          background-size: auto 108px;
          background-position: 50% 20%; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgZennII, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgZennII, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgZennII {
          background-image: url("../media/imgZennII.jpg");
          background-size: auto 108px;
          background-position: 50% 50%;
          border: 1px solid #999999; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj .addPrjTitle, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj .addPrjTitle, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj .addPrjTitle {
          text-align: center;
          font-weight: 400;
          font-size: 0.8em; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj:hover > .addPrjImg, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj:hover > .addPrjImg, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj:hover > .addPrjImg {
          -webkit-transition: 0.2s;
                  transition: 0.2s;
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1); }

@media (max-width: 961px) {
  section {
    padding: 0; }
    section h1 {
      display: none; }

  #sectionAddPrj {
    max-width: 100vw;
    display: block;
    position: relative;
    margin-bottom: 4px; }
    #sectionAddPrj h1 {
      display: none; }
    #sectionAddPrj #addPrjContainer {
      margin: 0px 0px;
      max-width: 100vw; }
      #sectionAddPrj #addPrjContainer hr {
        display: none; }
      #sectionAddPrj #addPrjContainer strong {
        display: none; }
      #sectionAddPrj #addPrjContainer #addPrjWeb, #sectionAddPrj #addPrjContainer #addPrj3D, #sectionAddPrj #addPrjContainer #addPrjPhoto {
        display: block;
        margin: 0; }
        #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj {
          display: block;
          width: 100vw;
          position: relative;
          margin: 0px 0px; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj:hover > .addPrjImg, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj:hover > .addPrjImg, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj:hover > .addPrjImg {
            -webkit-transform: none;
                -ms-transform: none;
                    transform: none; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj .addPrjImg, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj .addPrjImg, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj .addPrjImg {
            position: relative;
            width: 100%;
            height: 144px;
            border-radius: 0%;
            margin-right: 0px;
            z-index: 4;
            opacity: 0.3; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgCircles, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgCircles, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgCircles {
            background-image: url("../media/imgCircles.jpg");
            background-size: cover;
            background-position: 50% 20%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgHermanMiller, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgHermanMiller, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgHermanMiller {
            background-image: url("../media/imgHydratile.jpg");
            background-size: cover;
            background-position: 84% 48%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgHydratile, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgHydratile, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgHydratile {
            background-image: url("../media/imgHydratile.jpg");
            background-size: cover;
            background-position: 84% 48%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgKenkyo, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgKenkyo, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgKenkyo {
            background-image: url("../media/imgKenkyo.jpg");
            background-size: cover;
            background-position: 76% 20%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgLPK, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgLPK, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgLPK {
            background-image: url("../media/imgLPK.jpg");
            background-size: cover;
            background-position: 92% 20%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgPeople, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgPeople, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgPeople {
            background-image: url("../media/imgPeople.jpg");
            background-size: cover;
            background-position: 10% 0%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgPierog, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgPierog, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgPierog {
            background-image: url("../media/imgPierog.jpg");
            background-size: cover;
            background-position: 75% 35%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgPlaces, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgPlaces, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgPlaces {
            background-image: url("../media/imgPlaces.jpg");
            background-size: cover;
            background-position: 50% 50%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgSeigaiha, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgSeigaiha, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgSeigaiha {
            background-image: url("../media/imgSeigaiha.jpg");
            background-size: cover;
            background-position: 50% 20%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgSpaceX, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgSpaceX, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgSpaceX {
            background-image: url("../media/imgSpaceX.jpg");
            background-size: cover;
            background-position: 50% 20%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgThings, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgThings, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgThings {
            background-image: url("../media/imgThings.jpg");
            background-size: cover;
            background-position: 50% 20%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgWavebar, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgWavebar, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgWavebar {
            background-image: url("../media/imgWavebar.jpg");
            background-size: cover;
            background-position: 50% 20%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj #imgZennII, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj #imgZennII, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj #imgZennII {
            background-image: url("../media/imgZennII.jpg");
            background-size: cover;
            background-position: 50% 50%; }
          #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj .addPrjTitle, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj .addPrjTitle, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj .addPrjTitle {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center; }
            #sectionAddPrj #addPrjContainer #addPrjWeb .addPrj .addPrjTitle strong, #sectionAddPrj #addPrjContainer #addPrj3D .addPrj .addPrjTitle strong, #sectionAddPrj #addPrjContainer #addPrjPhoto .addPrj .addPrjTitle strong {
              z-index: 4;
              font-size: 3em;
              font-weight: 300; } }
/* PROJECT PAGE ------------------------------- */
.projectPageContainer {
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .projectPageContainer h1 {
    margin: 40px 0px; }
  .projectPageContainer .intro {
    font-size: 1.5em;
    line-height: 1.5em; }
  .projectPageContainer .contentContainer {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    max-width: 792px;
    width: 100%;
    text-align: center;
    margin-bottom: 72px; }
    .projectPageContainer .contentContainer .contentCaption {
      text-align: center;
      width: 100%;
      margin: 0 32px; }
      .projectPageContainer .contentContainer .contentCaption p {
        margin-top: 16px; }
    .projectPageContainer .contentContainer img {
      width: 100%;
      height: auto;
      margin-bottom: 16px; }
  .projectPageContainer a {
    font-weight: bold; }

.prjExitBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #333333;
  text-align: center;
  line-height: 40px;
  color: #F2F2F2;
  opacity: 0.25;
  -webkit-transition: 300ms linear;
  transition: 300ms linear; }

.prjExitBtn:hover {
  opacity: 0.5; }

/*# sourceMappingURL=style.css.map */