/* CSS Reset --------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}


/* Border Box Reset --------------------- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* DEBUG --------------------- */

.borderCheck {
	border: 0px solid red;
}

div, span, p, section, h1, h2, h3, header, footer, nav {
	@extend .borderCheck;	
}


/* GLOBAL ------------------------------- */

$tmbSize: 144px;
$additionalTmbSize: 96px;
$desktopWidth: 1024px;
$mobileWidth: 1147px;
$lineHeight: 1.25em;
$darkGrey: #333333;
$midGrey: #999999;
$lightGrey: #F2F2F2;
$transition: 0.2s;
$logoSize: 32px;

body {
	font-family: 'Open Sans', sans-serif;
	color: $darkGrey;
	font-weight: 300;
	line-height: 1.5em;
	font-size: 1em;
}

.flexboxCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.displayNav {
	top: 0px;
	transition: 0.3s;
}

.btn {
	@extend .flexboxCenter;
	font-weight: 400;
	height: 40px;
	// border: 2px solid;
	border-radius: 0px;
	color: #FFFFFF;
	background-color: $midGrey;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 

	&:hover {
		background-color: $darkGrey;
		color: #FFFFFF;
		transition: $transition;
	}
}

strong {
	font-weight: 400;
}

em {
	font-style: italic;
}

// section text
h1 {
	font-size: 3em;
	font-weight: 100;
}

// main project title
h2 {
	font-size: 1em;
}

h3 {

}

hr {
	margin: 32px 0;
	max-width: $desktopWidth;
}

header, footer {
	@extend .flexboxCenter;
	width: 100%;
	height: 48px;
	background-color: $darkGrey;
	color: #FFFFFF;
	transition: 0.3s;
	font-size: 0.75em;
}

header {
	font-size: 1em;
	flex-flow: row;

	#headerContent {
		@extend .flexboxCenter;
		flex-flow: row;

		img {
			width: $logoSize;
			height: $logoSize;
			margin-right: 16px;
		}

	}
}

section {
	padding: 64px;
	@extend .flexboxCenter;

	h1 {
		margin-bottom: 40px;
		line-height: 1em;
	}
}





@media (max-width: $mobileWidth) {

	hr {
		display: none;
	}

	header {
		height: 48px;
		font-size: 0.8em;
	}

	section {
		padding: 0px;
		text-align: center;

	}

	h1 {
		font-size: 3em;
	}
}


/* HOMEPAGE ------------------------------- */

#sectionWork {
	flex-flow: column;
	background-color: #FFFFFF;

	.sectionHeader {

	}

	#mainPrjContainer {
		max-width: $desktopWidth;

		.mainPrj {
			@extend .flexboxCenter;
			flex-flow: row;

			.mainPrjImg {
				min-width: $tmbSize;
				min-height: $tmbSize;
				border-radius: 100%;
				background-image: url('../work/hydratile/media/tmb_hydratile.jpg');
				background-size:  100%;
				margin-right: 24px;

				.mainPrjTitleMbl {
					display: none;
				}
			}

			.mainPrjTitle {

			}

			.mainPrjDsc {

			}

			.mainPrjBtnContainer {
				display: flex;
				align-items: flex-start;
				flex-flow: row;
				margin-top: 24px;

				.mainPrjBtn {
					@extend .btn;
					padding: 0 16px;
					margin-right: 8px;
				}
			}
		}
	}
}



@media (max-width: $mobileWidth) {

	#sectionWork {

		.sectionHeader {
			// display: none;
		}

		#mainPrjContainer {
			width: 100%;
			max-width: 100%;

			a {
				width: 100%;
				height: 100%;
			}

			.mainPrj {
				width: 100%;

				.mainPrjImg {

					display: flex;
					justify-content: center;
					align-items: center;

					min-width: 100%;
					height: 128px;
					border-radius: 0%;
					background-image: url('../work/hydratile/media/tmb_hydratile.jpg');
					background-size:  50%;
					background-position: 50% 50%;
					margin-right: 0;
					margin-bottom: 8px;


					.mainPrjTitleMbl {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						width: 100%;
						z-index: 3;
						font-size: 3em;
						font-weight: 400;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none; 

					}
				}

				.mainPrjInfo {
					display: none;

	 				.mainPrjTitle {
						display: none;
					}

					.mainPrjDsc {
						display: none;
					}

					.mainPrjBtnContainer {
						display: none;
					}
				}
			}
		}
	}
}

#sectionAdditionalProjects {

	display: none;

	@extend .flexboxCenter;
	flex-flow: column;
	background-color: $lightGrey;
	color: $darkGrey;

	#additionalProjectsContainer {
		text-align: center;
		flex-flow: column;	

		#additionalProjectsWeb, #additionalProjects3D, #additionalProjectsPhoto {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: row;
			flex-wrap: wrap;
			margin-top: 8px;
			max-width: $desktopWidth;

			.projectContainer {
				margin: 16px 0px;
				@extend .flexboxCenter;
				flex-flow: column;
				width: 144px;
				transition: $transition;

				.projectTmb {
					width: $additionalTmbSize;
					height: $additionalTmbSize;
					border-radius: 100%;
					background-color: $midGrey;
					margin-bottom: 8px;
				}

				.projectDsc {
					text-align: center;

					strong {
						font-size: 1em;
					}
				}
			}
		}
	}
}

#sectionAbout {
	padding: 64px;
	flex-flow: column;
	background-color: #FFFFFF;

	#aboutContainer {
		@extend .flexboxCenter;
		align-items: flex-start;
		flex-wrap: wrap;
		flex-flow: row;
		max-width: $desktopWidth;

		img {
			height: 400px;
			margin-right: 32px;
		}

		.aboutDsc {
			padding: 24px;
			margin-left: 32px;
			max-width: 400px;
			background-color: $lightGrey;

			a {
				font-weight: bold;
			}

			#iconContainer {
				width: 100%;
				margin-top: 16px;

				i {
					width: 40px;
					margin-right: 16px;

					&:hover {
						color: $midGrey;
						transition: $transition;
					}
				}
			}
		}
	}
}


/* PROJECT PAGE ------------------------------- */

.projectPageContainer {
	flex-flow: column;
	justify-content: flex-start;

	h1 {
		margin: 40px 0px;
	}

	.intro {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.contentContainer {
		@extend .flexboxCenter;
		flex-flow: column;
		max-width: 792px;
		width: 100%;
		text-align: left;
		margin-bottom: 72px;

		.contentCaption {
			text-align: center;
			width: 100%;
			margin: 0 32px;

			p {
				margin-top: 16px;
			}
		}

		img {
			width: 100%;
			height: auto;
			margin-bottom: 16px;
		}
	}
}


@media (max-width: $mobileWidth) {
	.projectPageContainer {
		padding: 16px;

		.intro {
			text-align: center;
		}
	}
}

.projectExitButton {
	position: fixed;
	bottom: 0; left: 0; right: 0;
	margin: 0 auto;
	background-color: $darkGrey;
	text-align: center;
	line-height: 40px;
	color: #FFFFFF;
	opacity: 0.4;
	transition: $transition;

	&:hover  {
		opacity: 0.8;
	}
}


// @media (max-width: 800px) {
// 	header {
// 		height: 40px;
// 		font-size: 0.8em;
// 	}

// 	section {
// 		padding: 0px;
// 	}

// 	h1 {
// 		font-size: 1.4em;
// 	}

// 	#sectionWork {

// 		#mainProjectsContainer {
// 			display: inline-block;

// 			.mainProject {
// 				display: inline-block;

// 				.mainProjectLeft {
// 					position: absolute;
// 					margin-right: 0px;
// 					width: 100%;

// 					.mainProjectTmb {
// 						width: 100%;
// 						height: 60px;
// 						border-radius: 0%;
// 						background-image: url('../work/hydratile/media/tmb_hydratile.jpg');
// 						background-repeat: no-repeat;
// 						background-size: 100% 100%;
// 						z-index: 0;
// 					}
// 				}

// 				.mainProjectRight {

// 					z-index: 4;

// 					.mainProjectDsc {
// 						display: none;
// 					}

// 					.mainProjectBtnContainer {
// 						display: none;

// 						.mainProjectBtn {
// 							padding: 0 16px;
// 							margin-right: 8px;
// 						}
// 					}
// 				}
// 			}
// 		}
//     }
// }














