/* CSS Reset --------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}


/* Border Box Reset --------------------- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* DEBUG --------------------- */

.borderCheck {
	border: 1px solid red;
}

div, span, p, section, h1, h2, h3, header, footer, nav {
	@extend .borderCheck;	
}


/* GLOBAL ------------------------------- */

$tmbSize: 144px;
$addImgSize: 108px;
$desktopWidth: 1024px;
$mobileWidth: 961px;
$lineHeight: 1.25em;
$darkGrey: #333333;
$midGrey: #999999;
$lightGrey: #F2F2F2;
$green: #66CC33;
$transition: 0.2s;
$logoSize: 24px;

body {
	font-family: 'Open Sans', sans-serif;
	color: $darkGrey;
	font-weight: 300;
	line-height: 1.5em;
	font-size: 1em;
}

.flexboxCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.displayNav {
	top: 0px;
	transition: 0.3s;
}

.btn {
	@extend .flexboxCenter;
	font-weight: 400;
	height: 40px;
	border-radius: 0px;
	color: #FFFFFF;
	background-color: $midGrey;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	transition: $transition;

	&:hover {
		background-color: $darkGrey;
		color: #FFFFFF;
		transition: $transition;
		transform: scale(1.1);
	}
}

strong {
	font-weight: 400;
}

em {
	font-style: italic;
}

// section text
h1 {
	font-size: 3em;
	font-weight: 100;
}

// main project title
h2 {
	font-size: 1em;
}

h3 {

}

hr {
	margin: 32px 0;
	max-width: $desktopWidth;
}

header, footer {
	@extend .flexboxCenter;
	width: 100%;
	height: 48px;
	background-color: $darkGrey;
	color: #FFFFFF;
	transition: 0.3s;
	font-size: 0.8em;
}

header {
	flex-flow: row;

	#headerContent {
		@extend .flexboxCenter;
		flex-flow: row;

		img {
			width: $logoSize;
			height: $logoSize;
			margin-right: 16px;
		}

	}
}

section {
	padding: 64px;
	@extend .flexboxCenter;

	h1 {
		margin-bottom: 40px;
		line-height: 1em;
	}
}


/* HOMEPAGE ------------------------------- */

#sectionAbout {
	padding: 64px;
	flex-flow: column;
	background-color: #FFFFFF;
	border-bottom: 1px dotted $midGrey;
	background-color: #FFFFFF;

	#aboutContainer {
		@extend .flexboxCenter;
		align-items: flex-start;
		flex-wrap: wrap;
		flex-flow: row;
		max-width: $desktopWidth;

		img {
			height: 200px;
			margin-right: 32px;
		}

		.aboutDsc {
			padding: 24px;
			margin-left: 32px;
			max-width: 500px;
			background-color: #ffffff;

			a {
				font-weight: bold;
			}

			#iconContainer {
				width: 100%;
				margin-top: 16px;

				i {
					width: 40px;
					margin-right: 16px;
					transition: $transition;
					color: $midGrey;

					&:hover {
						color: $darkGrey;
						transition: $transition;
						transform: scale(1.1);
					}
				}
			}
		}
	}
}



@media (max-width: $mobileWidth)
{
	#sectionAbout {
		padding: 8px;


		#aboutContainer {
			display: flex;
			flex-wrap: wrap;
			flex-flow: column;
			align-items: center;

			img {
				margin-right: 0px;
				margin-bottom: 8px;
			}

			.aboutDsc {
				text-align: center;
				padding: 0px;
				margin-left: 0px;
				max-width: 500px;

				a {


				}

				#iconContainer {
					display: flex;
					justify-content: space-around;

					i {
						margin-right: 0px;

						&:hover {
							color: $midGrey;
							transition: none;
							transform: none;
						}
					}
				}
			}
		}
	}
}


#sectionMainPrj {
	flex-flow: column;
	background-color: #FFFFFF;
	border-bottom: 1px dotted $darkGrey;

	.sectionHeader {

	}

	#mainPrjContainer {
		max-width: $desktopWidth;


		.prjLink {
			@extend .borderCheck;
		}


		.mainPrj {
			@extend .flexboxCenter;
			flex-flow: row;

			.mainPrjImg {
				min-width: $tmbSize;
				min-height: $tmbSize;
				border-radius: 100%;
				background-size: 100%;
				margin-right: 24px;
			}


			#imgLPK {
				background-image: url('../media/imgLPK.jpg');
				background-size: cover;
				background-position: 92% 20%;
				border: 1px solid $midGrey;
			}

			.mainPrjTitle {

			}

			.mainPrjDsc {

			}

			.mainPrjBtnContainer {
				display: flex;
				align-items: flex-start;
				flex-flow: row;
				margin-top: 24px;

				.mainPrjBtn {
					@extend .btn;
					padding: 0 16px;
					margin-right: 8px;
				}
			}
		}
	}
}


@media (max-width: $mobileWidth)
{

	section {
		padding: 0;
	}

	#sectionMainPrj {

		border-bottom: 0px;

		h1 {
			display: none;
		}

		#mainPrjContainer {
			max-width: 100vw;

			hr {
				display: none;
			}

			.mainPrj {
				display: block;
				position: relative;
				width: 100vw;
				height: 96px;
				margin-bottom: 0px;

				.prjLink {
					display: block;
					z-index: 4;

					.mainPrjImg {
						position: relative;
						width: 100%;
						height: 96px;
						min-height: 96px;
						border-radius: 0%;
						margin-right: 0px;
						opacity: 0.2;
					}

					#imgLPK {
						background-image: url('../media/imgLPK.jpg');
						background-size: cover;
						background-position: 92% 20%;
						border: 0px;
					}

				}

				.mainPrjInfo {
					position: absolute;
					margin: 0 auto;
					top: 0; right: 0; bottom: 0; left: 0;

					.mainPrjTitle {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none; 						

						strong {
							font-size: 2.5em;
							font-weight: 300;
							z-index: 2;

						}
					}

					.mainPrjDsc {
						display: none;
					}

					.mainPrjBtnContainer {
						display: none;

						.mainPrjBtn {
							display: none;
						}
					}	
				}
			}	
		}
	}
}

#sectionAddPrj {

	@extend .flexboxCenter;
	flex-flow: column;
	background-color: #FFFFFF;
	color: $darkGrey;

	#addPrjContainer {
		@extend .flexboxCenter;
		display: block;
		text-align: center;
		flex-flow: column;
		max-width: $desktopWidth;
		width: 100%;

		.addPrjSubContainer {
			@extend .flexboxCenter;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row;
			flex-wrap: wrap;
			margin-top: 8px;
			max-width: $desktopWidth;

			.addPrj {
				margin: 16px 0px;
				@extend .flexboxCenter;
				flex-flow: column;
				width: 136px;
				transition: $transition;

				.addPrjImg {
					@extend .flexboxCenter;
					width: $addImgSize;
					height: $addImgSize;
					border-radius: 50%;
					background-color: $midGrey;
					margin-bottom: 8px;
					transition: $transition;
					background-repeat: no-repeat;
				}

				.addPrjTitle {

					strong {
						text-align: center;
						font-weight: 400;
						font-size: 0.8em;
					}
				}

				&:hover > .addPrjImg {
					transition: $transition;
					transform: scale(1.1);
				}

				#imgCircles {
					background-image: url('../media/imgCircles.jpg');
					background-size: auto 200px;
					background-position: 50% 20%;
					border: 1px solid $midGrey;
				}

				#imgHermanMiller {
					background-image: url('../media/imgHydratile.jpg');
					background-size: auto 108px;
					background-position: 84% 48%;
				}

				#imgHydratile {
					background-image: url('../media/imgHydratile.jpg');
					background-size: auto 108px;
					background-position: 84% 48%;
				}

				#imgKenkyo {
					background-image: url('../media/imgKenkyo.jpg');
					background-size: auto 108px;
					background-position: 76% 20%;
				}

				#imgLPK {
					background-image: url('../media/imgLPK.jpg');
					background-size: auto 108px;
					background-position: 92% 20%;
					border: 1px solid $midGrey;
				}

				#imgPeople {
					background-image: url('../media/imgPeople.jpg');
					background-size: auto 144px;
					background-position: 10% 0%;
				}

				#imgPierog {
					background-image: url('../media/imgPierog.jpg');
					background-size: auto 200px;
					background-position: 75% 35%;
				}

				#imgPlaces {
					background-image: url('../media/imgPlaces.jpg');
					background-size: auto 200px;
					background-position: 50% 50%;
				}

				#imgSeigaiha {
					background-image: url('../media/imgSeigaiha.jpg');
					background-size: auto 200px;
					background-position: 50% 20%;
				}

				#imgSpaceX {
					background-image: url('../media/imgSpaceX.jpg');
					background-size: auto 200px;
					background-position: 50% 20%;
				}

				#imgThings {
					background-image: url('../media/imgThings.jpg');
					background-size: auto 200px;
					background-position: 50% 20%;
				}

				#imgWavebar {
					background-image: url('../media/imgWavebar.jpg');
					background-size: auto 108px;
					background-position: 50% 20%;
				}

				#imgZennII {
					background-image: url('../media/imgZennII.jpg');
					background-size: auto 108px;
					background-position: 50% 50%;
					border: 1px solid $midGrey;
				}
			}
		}
	}
}


@media (max-width: $mobileWidth)
{
	section {
		padding: 0;

		h1 {
			display: none;
		}
	}

	#sectionAddPrj {
		max-width: 100vw;
		display: block;
		position: relative;
		margin-bottom: 4px;

		h1 {
			display: none;
		}

		#addPrjContainer {
			margin: 0px 0px;
			max-width: 100vw;

			hr {
				display: none;
			}

			.addPrjSubheader {
				display: none;
			}

			.addPrjSubContainer 
			{
				display: block;
				position: relative;
				margin: 0;
				
				.addPrj {
					display: block;
					width: 100vw;
					position: relative;
					margin: 0px 0px;

					&:hover > .addPrjImg {
						transform: none;
					}

					.addPrjImg {
						position: relative;
						width: 100%;
						height: 96px;
						border-radius: 0%;
						margin: 0px;
						opacity: 0.2;
						border: 0px;
					}

					.addPrjTitle {
						position: absolute;
						width: 100vw;
						height: 96px;
						margin: 0 auto;
						top: 0; right: 0; bottom: 0; left: 0;
						display: flex;
						justify-content: center;
						align-items: center;

						strong {
							font-size: 2.5em;
							font-weight: 300;
							z-index: 2;
						}
					}

					#imgCircles {
						background-image: url('../media/imgCircles.jpg');
						background-size: cover;
						background-position: 50% 20%;
					}

					#imgHermanMiller {
						background-image: url('../media/imgHydratile.jpg');
						background-size: cover;
						background-position: 84% 48%;
					}

					#imgHydratile {
						background-image: url('../media/imgHydratile.jpg');
						background-size: cover;
						background-position: 84% 48%;
					}

					#imgKenkyo {
						background-image: url('../media/imgKenkyo.jpg');
						background-size: cover;
						background-position: 76% 20%;
					}

					#imgLPK {
						background-image: url('../media/imgLPK.jpg');
						background-size: cover;
						background-position: 92% 20%;
					}

					#imgPeople {
						background-image: url('../media/imgPeople.jpg');
						background-size: cover;
						background-position: 10% 0%;
					}

					#imgPierog {
						background-image: url('../media/imgPierog.jpg');
						background-size: cover;
						background-position: 75% 35%;
					}

					#imgPlaces {
						background-image: url('../media/imgPlaces.jpg');
						background-size: cover;
						background-position: 50% 50%;
					}

					#imgSeigaiha {
						background-image: url('../media/imgSeigaiha.jpg');
						background-size: cover;
						background-position: 50% 20%;
					}

					#imgSpaceX {
						background-image: url('../media/imgSpaceX.jpg');
						background-size: cover;
						background-position: 50% 20%;
					}

					#imgThings {
						background-image: url('../media/imgThings.jpg');
						background-size: cover;
						background-position: 50% 20%;
					}

					#imgWavebar {
						background-image: url('../media/imgWavebar.jpg');
						background-size: cover;
						background-position: 50% 20%;
					}

					#imgZennII {
						background-image: url('../media/imgZennII.jpg');
						background-size: cover;
						background-position: 50% 50%;
					}
				}
			}
		}
	}
}




/* PROJECT PAGE ------------------------------- */

.projectPageContainer {
	flex-flow: column;
	justify-content: flex-start;

	h1 {
		margin: 40px 0px;
	}

	.intro {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.contentContainer {
		@extend .flexboxCenter;
		flex-flow: column;
		max-width: 792px;
		width: 100%;
		text-align: center;
		margin-bottom: 72px;

		.contentCaption {
			text-align: center;
			width: 100%;
			margin: 0 32px;

			p {
				margin-top: 16px;
			}
		}

		img {
			width: 100%;
			height: auto;
			margin-bottom: 16px;
		}
	}

	a {
		font-weight: bold;
	}
}


.prjExitBtn
{
	position: fixed;
	bottom: 0; left: 0; right: 0;
	margin: 0 auto;
	background-color: $darkGrey;
	text-align: center;
	line-height: 40px;
	color: $lightGrey;
	opacity: 0.25;
	-webkit-transition: 300ms linear;
	-moz-transition: 300ms linear;
	-o-transition: 300ms linear;
	-ms-transition: 300ms linear;
	transition: 300ms linear;
}

.prjExitBtn:hover
{
	opacity: 0.5;
}







