.borderCheck, #siteContainer #alenContainer, #siteContainer #alenContainer #faceContainer, #siteContainer #alenContainer #faceContainer #face, #siteContainer #alenContainer #faceContainer #earContainer, #siteContainer #alenContainer #bodyImg, #siteContainer #alenContainer #eyebrowContainer, #siteContainer #alenContainer #eyeContainer, #siteContainer #alenContainer #eyeContainer .eye, #siteContainer #alenContainer #eyeContainer .eye .eyeWhite, #siteContainer #alenContainer #eyeContainer .eye .iris, #siteContainer #alenContainer #eyeContainer .eye .pupil, #siteContainer #alenContainer #eyeContainer .eye .pupil .highlight, #siteContainer #alenContainer #noseContainer, #siteContainer #alenContainer #noseContainer #nose, #siteContainer #alenContainer #mouthContainer, #siteContainer #alenContainer #mouthContainer #mouth, #siteContainer #controlContainer, #siteContainer #controlContainer .txtContainer, #siteContainer #controlContainer .txtContainer span, #siteContainer #controlContainer .txtContainer #emotionsPanel, #siteContainer #controlContainer #baseAnimationsContainer, #siteContainer #controlContainer .btnContainer {
  border: 0px solid red; }

/* CSS Reset ------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  user-select: none; }

*, *:before, *:after {
  box-sizing: inherit; }

#siteContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Lucida Console", Monaco, monospace;
  /* FACIAL FEATURE PROPORTION / POSITION / STYLING ----------------------------- */ }
  #siteContainer #alenContainer {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    order: 1; }
    #siteContainer #alenContainer #faceContainer {
      width: 500px;
      height: 400px;
      margin: 0 auto; }
      #siteContainer #alenContainer #faceContainer #face {
        width: 100%;
        max-width: 500px;
        height: 400px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        border-radius: 50%;
        background-color: #ccccff;
        position: absolute; }
      #siteContainer #alenContainer #faceContainer #earContainer {
        width: 500px;
        height: 62.5px solid transparent;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        position: absolute;
        margin-top: 133.333333333px; }
        #siteContainer #alenContainer #faceContainer #earContainer .ear {
          width: 0;
          height: 0; }
        #siteContainer #alenContainer #faceContainer #earContainer #earL {
          border-bottom: 62.5px solid #ccccff;
          border-right: 62.5px solid transparent;
          margin-left: -27.7777777778px; }
        #siteContainer #alenContainer #faceContainer #earContainer #earR {
          border-bottom: 62.5px solid #ccccff;
          border-left: 62.5px solid transparent;
          margin-right: -27.7777777778px; }
    #siteContainer #alenContainer #bodyImg {
      height: 200px;
      margin-top: -40px; }
    #siteContainer #alenContainer #eyebrowContainer {
      width: 500px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      position: absolute;
      margin-top: 100px; }
      #siteContainer #alenContainer #eyebrowContainer .eyebrow {
        width: 125px;
        height: 7.8125px;
        background-color: #9999cc;
        transition: 0.5s; }
      #siteContainer #alenContainer #eyebrowContainer #eyebrowL {
        margin-left: 62.5px; }
      #siteContainer #alenContainer #eyebrowContainer #eyebrowR {
        margin-right: 62.5px; }
      #siteContainer #alenContainer #eyebrowContainer .eyebrowTiltCCW {
        transform: rotate(-10deg); }
      #siteContainer #alenContainer #eyebrowContainer .eyebrowTiltCW {
        transform: rotate(10deg); }
      #siteContainer #alenContainer #eyebrowContainer .eyebrowRaiseTiltCCW {
        transform: translateY(-22.3214285714px) rotate(-10deg); }
      #siteContainer #alenContainer #eyebrowContainer .eyebrowRaiseTiltCW {
        transform: translateY(-22.3214285714px) rotate(10deg); }
      #siteContainer #alenContainer #eyebrowContainer .eyebrowLowerTiltCCW {
        transform: translateY(22.3214285714px) rotate(-10deg); }
      #siteContainer #alenContainer #eyebrowContainer .eyebrowLowerTiltCW {
        transform: translateY(22.3214285714px) rotate(10deg); }
      #siteContainer #alenContainer #eyebrowContainer .eyebrowRaise {
        transform: translateY(-22.3214285714px); }
      #siteContainer #alenContainer #eyebrowContainer .eyebrowLower {
        transform: translateY(22.3214285714px); }
    #siteContainer #alenContainer #eyeContainer {
      width: 500px;
      height: 125px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      margin-top: 114.285714286px; }
      #siteContainer #alenContainer #eyeContainer .mask-1 {
        -webkit-clip-path: ellipse(50% 50% at 50% 50%);
        clip-path: ellipse(50% 50% at 50% 50%);
        -webkit-clip-path: url("#clip-shape");
        clip-path: url("#clip-shape"); }
      #siteContainer #alenContainer #eyeContainer .eye {
        width: 125px;
        height: 89.2857142857px;
        border-radius: 50%;
        position: relative;
        transition: 0.5s;
        -moz-clip: ellipse(50% 50% at 50% 50%);
        -webkit-clip-path: ellipse(50% 50% at 50% 50%);
        clip-path: ellipse(50% 50% at 50% 50%); }
        #siteContainer #alenContainer #eyeContainer .eye svg {
          border: 2px solid blue;
          background-color: yellow; }
        #siteContainer #alenContainer #eyeContainer .eye .eyeWhite {
          width: 125px;
          height: 100%;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          -moz-clip-path: ellipse(50% 50% at 50% 50%);
          -webkit-clip-path: ellipse(50% 50% at 50% 50%);
          clip-path: ellipse(50% 50% at 50% 50%);
          transform-origin: 50% 50%; }
        #siteContainer #alenContainer #eyeContainer .eye .redEye {
          background-color: #ffe9ec; }
        #siteContainer #alenContainer #eyeContainer .eye .iris {
          width: 62.5px;
          height: 62.5px;
          border-radius: 50%;
          background-color: #42C0FB;
          transition: 0.5s;
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }
        #siteContainer #alenContainer #eyeContainer .eye .pupil {
          width: 31.25px;
          height: 31.25px;
          border-radius: 50%;
          background-color: #000;
          transition: 0.5s;
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }
          #siteContainer #alenContainer #eyeContainer .eye .pupil .highlight {
            width: 6.25px;
            height: 6.25px;
            border-radius: 50%;
            background-color: #fff;
            top: 15.625px;
            left: 41.6666666667px; }
        #siteContainer #alenContainer #eyeContainer .eye .pupilExpand {
          transform: scale(1.2); }
        #siteContainer #alenContainer #eyeContainer .eye .pupilContract {
          transform: scale(0.6); }
        #siteContainer #alenContainer #eyeContainer .eye .irisUp {
          bottom: 17.8571428571px; }
        #siteContainer #alenContainer #eyeContainer .eye .pupilUp {
          bottom: 34.7222222222px; }
        #siteContainer #alenContainer #eyeContainer .eye .irisDown {
          top: 17.8571428571px; }
        #siteContainer #alenContainer #eyeContainer .eye .pupilDown {
          top: 34.7222222222px; }
        #siteContainer #alenContainer #eyeContainer .eye .irisLeft {
          right: 41.6666666667px; }
        #siteContainer #alenContainer #eyeContainer .eye .pupilLeft {
          right: 62.5px; }
        #siteContainer #alenContainer #eyeContainer .eye .irisRight {
          left: 41.6666666667px; }
        #siteContainer #alenContainer #eyeContainer .eye .pupilRight {
          left: 62.5px; }
        #siteContainer #alenContainer #eyeContainer .eye .irisUpLeft {
          bottom: 10.4166666667px;
          right: 31.25px; }
        #siteContainer #alenContainer #eyeContainer .eye .pupilUpLeft {
          bottom: 31.25px;
          right: 46.875px; }
        #siteContainer #alenContainer #eyeContainer .eye .irisUpRight {
          bottom: 10.4166666667px;
          left: 31.25px; }
        #siteContainer #alenContainer #eyeContainer .eye .pupilUpRight {
          bottom: 31.25px;
          left: 46.875px; }
        #siteContainer #alenContainer #eyeContainer .eye .irisDownLeft {
          top: 10.4166666667px;
          right: 31.25px; }
        #siteContainer #alenContainer #eyeContainer .eye .pupilDownLeft {
          top: 31.25px;
          right: 46.875px; }
        #siteContainer #alenContainer #eyeContainer .eye .irisDownRight {
          top: 10.4166666667px;
          left: 31.25px; }
        #siteContainer #alenContainer #eyeContainer .eye .pupilDownRight {
          top: 31.25px;
          left: 46.875px; }
      #siteContainer #alenContainer #eyeContainer #eyeL {
        margin-left: 62.5px; }
      #siteContainer #alenContainer #eyeContainer #eyeR {
        margin-right: 62.5px; }
      #siteContainer #alenContainer #eyeContainer .eyeTiltCCW {
        transform: rotate(-10deg); }
      #siteContainer #alenContainer #eyeContainer .eyeTiltCW {
        transform: rotate(10deg); }
      #siteContainer #alenContainer #eyeContainer .eyeRaise {
        transform: translateY(-22.3214285714px); }
      #siteContainer #alenContainer #eyeContainer .eyeLower {
        transform: translateY(22.3214285714px); }
      #siteContainer #alenContainer #eyeContainer .eyeRaiseTiltCW {
        transform: translateY(-22.3214285714px) rotate(10deg); }
      #siteContainer #alenContainer #eyeContainer .eyeRaiseTiltCCW {
        transform: translateY(-22.3214285714px) rotate(-10deg); }
      #siteContainer #alenContainer #eyeContainer .eyeLowerTiltCW {
        transform: translateY(22.3214285714px) rotate(10deg); }
      #siteContainer #alenContainer #eyeContainer .eyeLowerTiltCCW {
        transform: translateY(22.3214285714px) rotate(-10deg); }
      #siteContainer #alenContainer #eyeContainer .eyeSizeOpen {
        height: 125px; }
      #siteContainer #alenContainer #eyeContainer .eyeSizeSquint1 {
        -moz-clip-path: ellipse(50% 40% at 50% 50%);
        -webkit-clip-path: ellipse(50% 40% at 50% 50%);
        clip-path: ellipse(50% 40% at 50% 50%); }
      #siteContainer #alenContainer #eyeContainer .eyeSizeSquint2 {
        -moz-clip: ellipse(50% 30% at 50% 50%);
        -webkit-clip-path: ellipse(50% 30% at 50% 50%);
        clip-path: ellipse(50% 30% at 50% 50%); }
      #siteContainer #alenContainer #eyeContainer .eyeSizeSquint3 {
        -moz-clip: ellipse(50% 20% at 50% 50%);
        -webkit-clip-path: ellipse(50% 20% at 50% 50%);
        clip-path: ellipse(50% 20% at 50% 50%); }
      #siteContainer #alenContainer #eyeContainer .eyeSizeSquint4 {
        -moz-clip: ellipse(50% 10% at 50% 50%);
        -webkit-clip-path: ellipse(50% 10% at 50% 50%);
        clip-path: ellipse(50% 10% at 50% 50%); }
      #siteContainer #alenContainer #eyeContainer .eyeSizeClose {
        -moz-clip: ellipse(50% 0% at 50% 50%);
        -webkit-clip-path: ellipse(50% 0% at 50% 50%);
        clip-path: ellipse(50% 0% at 50% 50%); }
    #siteContainer #alenContainer #noseContainer {
      width: 500px;
      position: absolute;
      margin-top: 200px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #siteContainer #alenContainer #noseContainer #nose {
        width: 62.5px;
        height: 41.6666666667px;
        background-color: #9999cc;
        border-radius: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform-origin: 50% 50%;
        transition: 0.5s; }
        #siteContainer #alenContainer #noseContainer #nose .nostril {
          width: 10.4166666667px;
          height: 10.4166666667px;
          background-color: #666699;
          transition: 0.5s;
          border-radius: 50%; }
      #siteContainer #alenContainer #noseContainer .nostrilFlare {
        transform: scale(1.5); }
      #siteContainer #alenContainer #noseContainer .noseSquint {
        transform: scale(0.9) translateY(-10.4166666667px); }
    #siteContainer #alenContainer #mouthContainer {
      width: 500px;
      position: absolute;
      margin-top: 307.692307692px;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
      #siteContainer #alenContainer #mouthContainer #mouth {
        background-color: #666699;
        transform-origin: 50% 50%;
        transition: 0.5s; }
      #siteContainer #alenContainer #mouthContainer .mouthDefault {
        width: 125px;
        height: 12.5px;
        border-radius: 50%; }
      #siteContainer #alenContainer #mouthContainer .mouthHappy {
        border-radius: 0;
        border-bottom-left-radius: 46.875px;
        border-bottom-right-radius: 46.875px;
        border-top-left-radius: 12.0192307692px;
        border-top-right-radius: 12.0192307692px;
        height: 33.3333333333px;
        width: 166.666666667px; }
      #siteContainer #alenContainer #mouthContainer .mouthUnhappy {
        border-radius: 0;
        border-bottom-right-radius: 46.875px;
        border-bottom-left-radius: 46.875px;
        border-top-left-radius: 46.875px;
        border-top-right-radius: 46.875px;
        height: 33.3333333333px;
        width: 125px; }
      #siteContainer #alenContainer #mouthContainer .mouthJoy {
        border-radius: 0;
        border-bottom-left-radius: 62.5px;
        border-bottom-right-radius: 62.5px;
        border-top-left-radius: 13.0208333333px;
        border-top-right-radius: 13.0208333333px;
        height: 66.6666666667px;
        width: 142.857142857px; }
      #siteContainer #alenContainer #mouthContainer .mouthSurprise {
        border-radius: 0;
        border-bottom-left-radius: 46.875px;
        border-bottom-right-radius: 46.875px;
        border-top-left-radius: 46.875px;
        border-top-right-radius: 46.875px;
        height: 66.6666666667px;
        width: 125px; }
      #siteContainer #alenContainer #mouthContainer .mouthSad {
        border-radius: 0;
        border-top-left-radius: 46.875px;
        border-top-right-radius: 46.875px;
        border-bottom-left-radius: 12.0192307692px;
        border-bottom-right-radius: 12.0192307692px;
        height: 33.3333333333px;
        width: 125px; }
      #siteContainer #alenContainer #mouthContainer .mouthStiff {
        border-radius: 0;
        border-bottom-right-radius: 3.90625px;
        border-bottom-left-radius: 3.90625px;
        border-top-left-radius: 3.90625px;
        border-top-right-radius: 3.90625px;
        height: 12.5px;
        width: 125px; }
  #siteContainer #controlContainer {
    height: 30%;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    order: 2;
    background-color: #333; }
    #siteContainer #controlContainer .txtContainer {
      text-align: center;
      padding: 24px; }
      #siteContainer #controlContainer .txtContainer span {
        font-weight: 100;
        line-height: 1.5em;
        color: #fff;
        font-size: 1em; }
      #siteContainer #controlContainer .txtContainer #emotionsPanel {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        line-height: 5em;
        display: none; }
        #siteContainer #controlContainer .txtContainer #emotionsPanel .speechBtn {
          transition: 0.5s;
          margin: 0 16px; }
        #siteContainer #controlContainer .txtContainer #emotionsPanel .active {
          color: red; }
        #siteContainer #controlContainer .txtContainer #emotionsPanel #navBtnContainer {
          display: flex;
          flex-flow: row; }
      #siteContainer #controlContainer .txtContainer .UIcontent {
        display: none; }
      #siteContainer #controlContainer .txtContainer .btn {
        height: 48px;
        padding: 0 20px;
        border: 2px solid #fff;
        background-color: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #fff; }
        #siteContainer #controlContainer .txtContainer .btn:hover {
          background-color: #fff; }
          #siteContainer #controlContainer .txtContainer .btn:hover span {
            color: #333; }
      #siteContainer #controlContainer .txtContainer .speechBtn {
        font-size: 1.4em;
        color: #fff;
        cursor: pointer;
        margin-top: 64px; }
        #siteContainer #controlContainer .txtContainer .speechBtn:hover {
          color: red; }
      #siteContainer #controlContainer .txtContainer #micBtn {
        margin-top: 32px; }
    #siteContainer #controlContainer #baseAnimationsContainer {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: flex-start;
      padding: 0 16px;
      height: 100%;
      width: 80%; }
    #siteContainer #controlContainer h1 {
      position: absolute;
      font-size: 1.5em;
      font-family: sans-serif;
      margin: 24px 0;
      color: #555; }
    #siteContainer #controlContainer .btnContainer {
      margin: 80px 8px; }
      #siteContainer #controlContainer .btnContainer h2 {
        text-align: center;
        color: #555;
        font-size: 0.8em;
        font-family: sans-serif;
        font-weight: 600; }
      #siteContainer #controlContainer .btnContainer .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        margin: 8px 0px;
        padding: 4px 4px;
        background-color: #999;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
        transition: 0.5s;
        line-height: 1em;
        min-width: 100px;
        max-width: 160px; }
        #siteContainer #controlContainer .btnContainer .btn:hover {
          background-color: #777; }
        #siteContainer #controlContainer .btnContainer .btn span {
          font-family: sans-serif;
          font-size: 0.9em;
          color: #fff;
          text-align: center;
          margin: 0 4px; }
      #siteContainer #controlContainer .btnContainer .activeBtn {
        background-color: red; }
      #siteContainer #controlContainer .btnContainer .resetBtn {
        border: 1px solid #777;
        background-color: #fff; }
        #siteContainer #controlContainer .btnContainer .resetBtn span {
          color: #777; }
        #siteContainer #controlContainer .btnContainer .resetBtn:hover {
          color: #fff; }
          #siteContainer #controlContainer .btnContainer .resetBtn:hover span {
            color: #fff; }
