.borderCheck {
	border: 0px solid red;
}

/* CSS Reset ------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Border Box Reset -----------------------
html {
	box-sizing: border-box;
	user-select: none;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#siteContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	font-family: 'Source Code Pro', monospace;

	/* FACIAL FEATURE PROPORTION / POSITION / STYLING ----------------------------- */
	$skinColor1: #ccccff;
	$skinColor2: #9999cc;
	$skinColor3: #666699;
	$botColor1: #999;
	$botColor2: #777;
	$botColor3: #555;
	$irisColor: #42C0FB;
	$whiteEye: #fff;
	$redEye: #ffe9ec;
	$pupilColor: #000;
	$highlightColor: #fff;
	
	$faceWidth: 500px;
	$faceHeight: $faceWidth / 1.25;

	$earHeight: $faceWidth/8 solid transparent;
	$earWidth: $faceWidth/8 solid $skinColor1;
	$earMarginTop: $faceHeight / 3;
	$earMargin: -$faceWidth/18;

	$eyeContainerMarginTop: $faceHeight / 3.5;
	$eyeWidth: $faceWidth / 4;
	$eyeHeight: $eyeWidth / 1.4;
	$eyeClipPath: ellipse(50% 50% at 50% 50%);
	$eyeVerticalMovement: ($eyeHeight / 4);
	$eyeTilt: 10deg;
	$irisDiameter: $eyeWidth / 2;
	$pupilDiameter: $irisDiameter / 2;

	$highlightDiameter: $pupilDiameter / 5;
	$highlightPositionTop: $eyeWidth / 8;
	$highlightPositionLeft: $eyeWidth / 3;

	$eyebrowWidth: $eyeWidth / 1;
	$eyebrowHeight: $eyebrowWidth / 16;
	$eyebrowMargin: $faceWidth / 8;
	$eyebrowMarginTop: $faceHeight / 4;
	$eyebrowMarginBottom: $eyeHeight / 4;
	$eyebrowTilt: 10deg;
	$eyebrowRaise: -($eyeHeight / 4);
	$eyebrowLower: $eyeHeight / 4;

	$noseHeight: $faceWidth / 12;
	$noseWidth: $noseHeight * 1.5;
	$nostrilDiameter: $noseHeight / 4;

	$mouthHeight: $faceWidth / 32;
	$mouthWidth: $faceWidth / 4;
	$mouthContainerMarginTop: $faceHeight / 1.3;

	// PAGE SETUP ----------------------------- 
	$transitionSpeed: 0.5s;
	$controlContainerHeight: 50%;
	$resultContainerHeight: 50%;
	$btnBackgroundColor: #fff;
	$btnTxtColor: #999;
	$linkColor: cyan;

	#alienContainer {
		width: 100%;
		height: $resultContainerHeight;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		@extend .borderCheck;

		#faceContainer {
			width: $faceWidth;
			height: $faceHeight;
			@extend .borderCheck;
			margin: 0 auto;

			#face {
				width: 100%;
				max-width: $faceWidth;
				height: $faceHeight;
				display: flex;
				flex-flow: column;
				justify-content: flex-start;
				border-radius: 50%;
				background-color: $skinColor1;
				position: absolute;
				@extend .borderCheck;
			}

			#earContainer {
				@extend .borderCheck;
				width: $faceWidth;
				height: $earHeight;
				display: flex;
				flex-flow: row;
				justify-content: space-between;
				position: absolute;
				margin-top: $earMarginTop;

				.ear {
					width: 0;
					height: 0;
				}

				#earL {
					border-bottom: $earWidth;
					border-right: $earHeight;
					margin-left: $earMargin;
				}

				#earR {
					border-bottom: $earWidth;
					border-left: $earHeight;
					margin-right: $earMargin;
				}
			}
		}

		#bodyImg {
			height: 120px;
			margin-top: -20px;
			@extend .borderCheck;
		}

		#eyebrowContainer {
			@extend .borderCheck;
			width: $faceWidth;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			position: absolute;
			margin-top: $eyebrowMarginTop;

			.eyebrow {
				width: $eyebrowWidth;
				height: $eyebrowHeight;
				background-color: $skinColor2;
				transition: $transitionSpeed;
			}

			#eyebrowL {
				margin-left: $eyebrowMargin;
			}

			#eyebrowR {
				margin-right: $eyebrowMargin;
			}

			.eyebrowTiltCCW {
				transform: rotate(-($eyebrowTilt));
			}

			.eyebrowTiltCW {
				transform: rotate($eyebrowTilt);
			}

			.eyebrowRaiseTiltCCW {
				transform: translateY($eyebrowRaise) rotate(-($eyebrowTilt));
			}

			.eyebrowRaiseTiltCW {
				transform: translateY($eyebrowRaise) rotate($eyebrowTilt);
			}

			.eyebrowLowerTiltCCW {
				transform: translateY($eyebrowLower) rotate(-($eyebrowTilt));
			}

			.eyebrowLowerTiltCW {
				transform: translateY($eyebrowLower) rotate($eyebrowTilt);
			}

			.eyebrowRaise {
				transform: translateY($eyebrowRaise);
			}

			.eyebrowLower {
				transform: translateY($eyebrowLower);
			}
		}

		#eyeContainer {
			width: $faceWidth;
			height: $eyeWidth;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items: center;
			position: absolute;
			margin-top: $eyeContainerMarginTop;
			@extend .borderCheck;

			.eye {
				width: $eyeWidth;
				height: $eyeHeight;
				border-radius: 50%;
				position: relative;
				transition: $transitionSpeed;
  				-moz-clip: $eyeClipPath; 
  				-webkit-clip-path: $eyeClipPath;
				clip-path: $eyeClipPath;
				@extend .borderCheck;

				svg {
					border: 2px solid blue;
					background-color: yellow;
				}

				.eyeWhite {
					width: $eyeWidth;
					height: 100%;
					border-radius: 50%;
					background-color: $whiteEye;
					position: absolute;
					transform-origin: 50% 50%;
					-moz-clip-path: $eyeClipPath;
  					-webkit-clip-path: $eyeClipPath; 
					clip-path: $eyeClipPath;
					@extend .borderCheck;
				}

				.iris {
					width: $irisDiameter;
					height: $irisDiameter;
					border-radius: 50%;
					background-color: $irisColor;
					transition: $transitionSpeed;
					position: absolute;
					margin: auto;
					top: 0; right: 0; bottom: 0; left: 0;
					@extend .borderCheck;
				}

				.pupil {
					width: $pupilDiameter;
					height: $pupilDiameter;
					border-radius: 50%;
					background-color: $pupilColor;
					transition: $transitionSpeed;
					position: absolute;
					margin: auto;
					top: 0; right: 0; bottom: 0; left: 0;
					@extend .borderCheck;

					.highlight {
						width: $highlightDiameter;
						height: $highlightDiameter;
						border-radius: 50%;
						background-color: $highlightColor;
						top: $highlightPositionTop;
						left: $highlightPositionLeft;
						@extend .borderCheck;
					}
				}

				.pupilExpand {
					transform: scale(1.2);
				}

				.pupilContract {
					transform: scale(0.6);
				}

				// EYE DIRECTIONAL CLASSES
				.irisUp {
					bottom: $irisDiameter / 3.5;
				}

				.pupilUp {
					bottom: $pupilDiameter / 0.9;
				}

				.irisDown {
					top: $irisDiameter / 3.5;
				}

				.pupilDown {
					top: $pupilDiameter / 0.9;
				}

				.irisLeft {
					right: $irisDiameter / 1.5;
				}

				.pupilLeft {
					right: $pupilDiameter * 2;
				}

				.irisRight {
					left: $irisDiameter / 1.5;
				}

				.pupilRight {
					left: $pupilDiameter * 2;
				}

				.irisUpLeft {
					bottom: $irisDiameter / 6;
					right: $irisDiameter / 2;
				}

				.pupilUpLeft {
					bottom: $pupilDiameter / 1;
					right: $pupilDiameter * 1.5;
				}

				.irisUpRight {
					bottom: $irisDiameter / 6;
					left: $irisDiameter / 2;
				}

				.pupilUpRight {
					bottom: $pupilDiameter / 1;
					left: $pupilDiameter * 1.5;
				}

				.irisDownLeft {
					top: $irisDiameter / 6;
					right: $irisDiameter / 2;
				}

				.pupilDownLeft {
					top: $pupilDiameter / 1;
					right: $pupilDiameter * 1.5;
				}

				.irisDownRight {
					top: $irisDiameter / 6;
					left: $irisDiameter / 2;			
				}

				.pupilDownRight {
					top: $pupilDiameter / 1;
					left: $pupilDiameter * 1.5;
				}
			}

			#eyeL {
				margin-left: $faceWidth / 8;
			}

			#eyeR {
				margin-right: $faceWidth / 8;
			}

			.eyeTiltCCW {
				transform: rotate(-($eyeTilt));
			}

			.eyeTiltCW {
				transform: rotate($eyeTilt);
			}

			.eyeRaise {
				transform: translateY(-$eyeVerticalMovement);
			}

			.eyeLower {
				transform: translateY($eyeVerticalMovement);
			}

			.eyeRaiseTiltCW {
				transform: translateY(-$eyeVerticalMovement) rotate($eyeTilt);
			}

			.eyeRaiseTiltCCW {
				transform: translateY(-$eyeVerticalMovement) rotate(-$eyeTilt);
			}

			.eyeLowerTiltCW {
				transform: translateY($eyeVerticalMovement) rotate($eyeTilt);
			}

			.eyeLowerTiltCCW {
				transform: translateY($eyeVerticalMovement) rotate(-$eyeTilt);
			}

			.eyeSizeOpen {
				height: $eyeWidth;
			}

			.eyeSizeSquint1 {
				-moz-clip-path: ellipse(50% 40% at 50% 50%);				
				-webkit-clip-path: ellipse(50% 40% at 50% 50%);
				clip-path: ellipse(50% 40% at 50% 50%);
			}

			.eyeSizeSquint2 {
				-moz-clip: ellipse(50% 30% at 50% 50%);				
				-webkit-clip-path: ellipse(50% 30% at 50% 50%);		
				clip-path: ellipse(50% 30% at 50% 50%);
			}

			.eyeSizeSquint3 {
				-moz-clip: ellipse(50% 20% at 50% 50%);				
				-webkit-clip-path: ellipse(50% 20% at 50% 50%);		
				clip-path: ellipse(50% 20% at 50% 50%);
			}

			.eyeSizeSquint4 {
				-moz-clip: ellipse(50% 10% at 50% 50%);				
				-webkit-clip-path: ellipse(50% 10% at 50% 50%);		
				clip-path: ellipse(50% 10% at 50% 50%);
			}

			.eyeSizeClose {
				-moz-clip: ellipse(50% 0% at 50% 50%);
				-webkit-clip-path: ellipse(50% 0% at 50% 50%);
				clip-path: ellipse(50% 0% at 50% 50%);
			}
		}

		#noseContainer {
			width: $faceWidth;
			position: absolute;
			margin-top: ($faceHeight/2);
			display: flex;
			justify-content: center;
			align-items: center;
			@extend .borderCheck;

			#nose {
				width: $noseWidth;
				height: $noseHeight;
				background-color: $skinColor2;
				border-radius: 50%;
				display: flex;
				justify-content: space-around;
				align-items: center;
				transform-origin: 50% 50%;
				transition: $transitionSpeed;
				@extend .borderCheck;

				.nostril {
					width: $nostrilDiameter;
					height: $nostrilDiameter;
					background-color: $skinColor3;
					transition: $transitionSpeed;
					border-radius: 50%;
				}
			}

			.nostrilFlare {
				transform: scale(1.5);
			}

			.noseSquint {
				transform: scale(0.9) translateY(-($noseHeight/4));
			}
		}

		#mouthContainer {
			width: $faceWidth;
			position: absolute;
			margin-top: $mouthContainerMarginTop;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			@extend .borderCheck;

			#mouth {
				background-color: $skinColor3;
				transform-origin: 50% 50%;
				transition: $transitionSpeed;
				@extend .borderCheck;
			}

			.mouthDefault {
				width: $faceWidth / 4;
				height: $faceHeight / 32;
				border-radius: 50%;
			}

			.mouthHappy {
				border-radius: 0;
				border-bottom-left-radius: $mouthHeight * 3;
				border-bottom-right-radius: $mouthHeight * 3;
				border-top-left-radius: $mouthHeight / 1.3;
				border-top-right-radius: $mouthHeight / 1.3;
				height: $faceHeight / 12;
				width: $faceWidth / 3;
			}

			.mouthUnhappy {
				border-radius: 0;
				border-bottom-right-radius: $mouthHeight * 3;
				border-bottom-left-radius: $mouthHeight * 3;
				border-top-left-radius: $mouthHeight * 3;
				border-top-right-radius: $mouthHeight * 3;
				height: $faceHeight / 12;
				width: $faceWidth / 4;
			}

			.mouthJoy {
				border-radius: 0;
				border-bottom-left-radius: $mouthHeight * 4;
				border-bottom-right-radius: $mouthHeight * 4;
				border-top-left-radius: $mouthHeight / 1.2;
				border-top-right-radius: $mouthHeight / 1.2;
				height: $faceHeight / 6;
				width: $faceWidth / 3.5;
			}

			.mouthSurprise {
				border-radius: 0;
				border-bottom-left-radius: $mouthHeight * 3;
				border-bottom-right-radius: $mouthHeight * 3;
				border-top-left-radius: $mouthHeight * 3;
				border-top-right-radius: $mouthHeight * 3;
				height: $faceHeight / 6;
				width: $faceWidth / 4;
			}

			.mouthSad {
				border-radius: 0;
				border-top-left-radius: $mouthHeight * 3;
				border-top-right-radius: $mouthHeight * 3;
				border-bottom-left-radius: $mouthHeight / 1.3;
				border-bottom-right-radius: $mouthHeight / 1.3;
				height: $faceHeight / 12;
				width: $faceWidth / 4;
			}

			.mouthStiff {
				border-radius: 0;
				border-bottom-right-radius: $mouthHeight / 4;
				border-bottom-left-radius: $mouthHeight / 4;
				border-top-left-radius: $mouthHeight / 4;
				border-top-right-radius: $mouthHeight / 4;
				height: $faceHeight / 32;
				width: $faceWidth / 4;
			}
		}
	}






	#UIContainer {
		height: $controlContainerHeight;
		width: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		background-color: #333;
		text-align: center;
		@extend .borderCheck;

		a, a:link, a:visited, a:active {
			color: $linkColor;
			text-decoration: none;
			@extend .borderCheck;
		}

		.UIcontent {
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			max-width: 800px;
			padding: 0 24px;
			@extend .borderCheck;
			display: none;

			h1 {
				font-size: 2.2em;
				font-weight: 600;
				color: #fff;
				line-height: 1.4em;
			}

			.speechBtns {
				width: 100%;
				display: flex;
				justify-content: center;
				flex-flow: row;
				flex-wrap: wrap;
				@extend .borderCheck;
			}

			.speechBtn {
				margin: 8px;
				text-align: center;
				transition: $transitionSpeed;
				border: 1px solid #fff;
				border-radius: 32px;
				padding: 16px;
				@extend .borderCheck;

				&:hover {
					transition: $transitionSpeed;
					color: red;
					cursor: pointer;
				}

				span {
					color: #fff;
					font-weight: 300;
					font-size: 1.4em;
				}
			}

			.speechBtnSmall {

				span {
					font-size: 1em;
				}
			}

			.touchBtn {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				height: 48px;
				padding: 0 20px;
				border-radius: 24px;
				background-color: #fff;
				color: #111;
				font-size: 1em;

				&:hover {
					background-color: #fff;
					color: red;

					span {
						color: #333;
					}
				}
			}

			#personalInfo {
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				margin-top: 40px;
				@extend .borderCheck;
			}

			#navBtnContainer {
				position: absolute;
				bottom: 40px;
				display: flex;
				flex-flow: row;
				@extend .borderCheck;
			}

			span {
				font-weight: 100;
				line-height: 1.5em;
				text-align: center;
				color: #fff;
				font-size: 1em;
				@extend .borderCheck;
			}

			.active {
				color: red;
			}

			#micBtn {
				margin-top: 32px;
			}
			
			.btnContainer {
				margin: 80px 8px;
				@extend .borderCheck;
			}
		}

		#emotionsPanel {
			h1 {
				margin-bottom: 24px;
			}
		}

		#microphonePg {

			.imgDsc {
				display: flex;
				flex-flow: row;
				align-items: center;
				margin: 64px 0;
				@extend .borderCheck;

				span {
					max-width: 400px;
					margin-right: 32px;
					@extend .borderCheck;
				}

				img {
					width: 400px;
				}

				.micImg {
					width: 300px;
					height: 200px;
					background-color: #fff;
					@extend .borderCheck;
				}
			}

			#noMic {
				font-size: 0.8em;
				margin-top: 64px;
				max-width: 400px;
				@extend .borderCheck;
			}
		}

		#greetingsPg, #touchOnly, #noLuck, #about  {

			display: flex;
			justify-content: center;
			align-items: center;

			h1 {
				margin-bottom: 24px;
			}

			.touchBtn {
				margin-top: 48px;
				width: 400px;
			}
		}

		#baseAnimationsContainer {
			display: flex;
			flex-flow: row;
			justify-content: center;
			align-items: flex-start;
			padding: 0 16px;
			height: 100%;
			width: 80%;
			@extend .borderCheck;
		}
	}
}










