/* CSS Reset --------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Border Box Reset --------------------- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* GLOBAL ------------------------------- */
$transitionSpeed: 0.2s;
$navHeight: 48px;
$navColor: #333;
$navTextColor: #fff;
$tmbSize: 300px;
$borderRad: 0px;
$linkColor: #66cc33;
$tmbSpacing: 2px;

.flexBoxCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.desktopWidth {
	width: 100%;
	max-width: 1260px;
}

.borderCheck {
	border: 0px solid red;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a, a:visited {
	text-decoration: none;
	font-style: none;
	color: $navTextColor;
}

section {
	width: 100%;
	padding: 48px;
	@extend .flexBoxCenter;
	flex-flow: column;
	min-height: 500px;
	@extend .borderCheck;
}


strong {
	font-weight: bold;
}

em {
	font-style: italic;
	font-weight: 300;
}

h1
{
	font-size: 3em;
	line-height: 1em;
	font-weight: 200;
	text-align: center;
	margin-bottom: 48px;
}


/* NAVBAR ------------------------------ */

header {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: $navHeight;
	background-color: $navColor;
	z-index: 8;
	border-bottom: 1px solid #333;
	@extend .flexBoxCenter;

	nav {
	 	font-size: 0.8em;
		display: flex;
		justify-content: space-between;
		@extend .desktopWidth;

		.navLeft {
			margin-left: 24px;
			@extend .flexBoxCenter;

			img {
				width: 24px;
				height: 24px;
				margin-right: 16px;
			}

			span {
				color: $navTextColor;

				strong {
					font-weight: bold;
				}

				em {
					font-style: italic;
					font-weight: 300;
				}
			}
		}

		.navRight {
			margin-right: 24px;
			@extend .flexBoxCenter;

			a {
				color: #navTextColor;
				margin-left: 16px;
				transition: $transitionSpeed;

				&:hover {
					transform: scale(1.1);
					transition: $transitionSpeed;
				}
			}
		}
	}
}


/* WORK */

#sectionWork {
	width: 100%;
	margin-top: $navHeight;
	@extend .flexBoxCenter;
	@extend .borderCheck;
}

#tmbContainer {
	@extend .desktopWidth;
	@extend .borderCheck;
	margin: auto;
	text-align: center;

	.tmb {
		position: relative;
		display: inline-block;
		width: $tmbSize;
		height: $tmbSize;
		border-radius: $borderRad;
		margin: $tmbSpacing $tmbSpacing;

		&:hover {
		  cursor: pointer;
		}  
	}

	.tmbBack {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: $borderRad;
		background-color: #777;
		// background-image: url('http://swirlon.net/wp-content/uploads/2014/11/checkerboard-pattern.png');
		background-repeat: repeat;
		background-size: 75px 75px;
		background-position: 50% 50%;
		transition: $transitionSpeed;
		z-index: 2;
	}

	.tmbFront {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: $borderRad;
		@extend .flexBoxCenter;
		transition: $transitionSpeed;
		z-index: 4;

		#dot {
		  width: 75px;
		  height: 75px;
		  border-radius: $borderRad;
		  background-color: #000;
		  border: 3px solid #fff;
		}
	}
	  
	.tmbName {
		@extend .flexBoxCenter;
		text-align: center;
		z-index: 4;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: $borderRad;
		background-color: #222;
		color: #fff;
		opacity: 0;
		transition: $transitionSpeed;
	}

	.tmb:hover > .tmbBack {
		background-size: 100px 100px;
	}

	.tmb:hover > .tmbFront {
		transform: scale(0.75);
	}

	.tmb:hover > .tmbName {
		opacity: 0.9;
	}
}


/* ABOUT ------------------------ */

#sectionAbout {
	background-color: #f2f2f2;
}

#aboutContainer {
	display: flex;
	justify-content: center;
	flex-flow: row;
	@extend .desktopWidth;
	font-size: 0.9em;
	line-height: 1.5em;
}

#selfIllustration {
	margin-right: 48px;
	height: 400px;
	@extend .borderCheck;
}

#aboutTextContainer {
	@extend .borderCheck;
	width: 50%;
	line-height: 1.75em;

	a {
		color: #555;
		font-weight: bold;
		color: $linkColor;
	}		

	#note {
		@extend .borderCheck;
		margin-bottom: 48px;
	}

	#skills {
		@extend .borderCheck;	
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		width: 100%;

		ul {
			@extend .borderCheck;
			justify-content: space-between;
		}
	}
}

footer {
	width: 100%;
	height: $navHeight;
	// background-color: $navColor;
	color: #555;
	@extend .flexBoxCenter;

	nav {
		width: 100%;
	 	font-size: 0.8em;
		display: flex;
		justify-content: flex-end;
		@extend .desktopWidth;
		@extend .borderCheck;
	}
}

// PROJECT 
.project_container
{
	position: absolute;
	top: 40px;
	width: 100%;
	text-align: center;
	font-weight: 300;

	img
	{
		width: 792px;
		height: auto;
		max-width: 90%;
		// max-height: 10%;
		display: block;
		margin: auto;
		margin-bottom: 15px;
		margin-top: 15px;
	}
}

.project_caption
{
	width: 80%;
	max-width: 700px;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	margin-top: 10px;
	line-height: 1.5em;

	a
	{
		color: #66cc33;
	}
}

#project_workbutton
{
	color: #66cc33;
}



.project_exitbutton
{
	@extend .flexBoxCenter;
	position: fixed;
	bottom: 0; left: 0; right: 0;
	margin: 0 auto;
	background-color: #000;
	text-align: center;
	height: $navHeight;
	// line-height: 40px;
	color: #fff;
	opacity: 0.25;
	transition: $transitionSpeed linear;
}

.project_exitbutton:hover
{
	opacity: 0.5;
}

.button
{
	display:inline-block;
	width: 150px;
	height: 50px;
	margin-left:10px;
	margin-right:10px;
	line-height:50px;
	border-radius: $borderRad;
	background-color: #333;
	font-weight:bold;
	-webkit-transition: background-color 150ms linear;
	-moz-transition: background-color 150ms linear;
	-o-transition: background-color 150ms linear;
	-ms-transition: background-color 150ms linear;
	transition: background-color 150ms linear;
}

.button, .button:hover
{
	color:#FFF;
}

.button:hover
{
	background-color: #66cc33;
}

