/* CSS RESET ------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.noSelect, nav #navLeft, nav #navRight span, #siteBox h1, #siteBox .touchBtn, #siteBox .touchBtn span, #siteBox .speechBtn, #alienBox #faceBodyBgBox img, #interfaceBox #controlsPg #controlBox .controlBtnBox .arrowBtn, .logoLink a {
  webkit-user-select: none;
  /* Chrome all / Safari all */
  moz-user-select: none;
  /* Firefox all */
  ms-user-select: none;
  /* IE 10+ */
  user-select: none; }

.flexboxCenter, #siteBox, #siteBox .section, #siteBox .touchBtn, #alienBox #faceBodyBgBox, #interfaceBox #greetingsPg, #interfaceBox #setupPg, #interfaceBox #setupPg #imgDsc, #interfaceBox #setupPg #setupBtnBox, #interfaceBox #emotionsPg, #interfaceBox #controlsPg #controlBox .controlTypeName, #interfaceBox #controlsPg #controlBox .controlTypeName .name, #interfaceBox #controlsPg #controlBox .controlBtnBox .arrowBtn, #interfaceBox #aboutPg, .logoLink a {
  display: flex;
  justify-content: center;
  align-items: center; }

html {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: #ffffff; }

#fullContentBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow-y: none; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 0 32px;
  background-color: #33334c;
  color: #ffffff;
  transition: 0.1s;
  z-index: 2; }
  nav #navLeft {
    cursor: pointer;
    transition: 0.1s;
    font-size: 1.5em; }
    nav #navLeft:hover {
      transform: scale(1.1); }
  nav #navRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.1s; }
    nav #navRight span:nth-child(2) {
      margin: 0 16px; }
    nav #navRight span {
      cursor: pointer;
      transition: 0.1s;
      font-size: 0.8em;
      padding: 8px 16px;
      border-radius: 24px;
      border: 2px solid #ffffff; }
      nav #navRight span:hover {
        transition: 0.1s; }
  nav .navSelected {
    background-color: #ffffff;
    color: #55557f; }
    nav .navSelected span {
      font-weight: 600; }
      nav .navSelected span:hover {
        color: #55557f; }

#siteBox {
  width: 100%;
  height: 100%;
  flex-flow: column; }
  #siteBox .section {
    flex-flow: column;
    width: 100%;
    text-align: center;
    color: #ffffff; }
  #siteBox span {
    line-height: 2em; }
  #siteBox .touchBtn {
    font-size: 1em;
    font-weight: 600;
    background-color: #ffffff;
    color: #55557f;
    height: 48px;
    border-radius: 24px;
    padding: 0 24px;
    max-width: 640px;
    cursor: pointer; }
    #siteBox .touchBtn:hover {
      background-color: #9999cc;
      color: #ffffff; }
    #siteBox .touchBtn:active {
      background-color: #9999cc;
      color: #ffffff; }
  #siteBox .speechBtn {
    color: #ffffff;
    font-size: 1em;
    font-weight: 300;
    padding: 16px 16px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 40px;
    transition: 0.1s; }
    #siteBox .speechBtn:hover {
      transform: scale(1.1);
      transition: 0.1s; }
  #siteBox .activeSpeechBtn {
    background-color: #666699;
    transform: scale(1.1); }
  #siteBox .linkBtn {
    font-size: 0.9em;
    font-weight: 100;
    text-decoration: underline;
    color: #ccccff; }
    #siteBox .linkBtn:hover {
      color: #9999cc; }

#alienBox {
  height: 50%;
  background-color: #ffffff; }
  #alienBox #faceBodyBgBox {
    width: 100%;
    height: 100%;
    flex-flow: column; }
    #alienBox #faceBodyBgBox #faceBox {
      width: 400px;
      height: 320px;
      margin: 0 auto; }
      #alienBox #faceBodyBgBox #faceBox #face {
        max-width: 100%;
        width: 400px;
        height: 320px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        border-radius: 50%;
        background-color: #ccccff;
        position: absolute; }
      #alienBox #faceBodyBgBox #faceBox #earBox {
        width: 400px;
        height: 50px solid transparent;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        position: absolute;
        margin-top: 106.666666667px; }
        #alienBox #faceBodyBgBox #faceBox #earBox .ear {
          width: 0;
          height: 0; }
        #alienBox #faceBodyBgBox #faceBox #earBox #earL {
          border-bottom: 50px solid #ccccff;
          border-right: 50px solid transparent;
          margin-left: -22.2222222222px; }
        #alienBox #faceBodyBgBox #faceBox #earBox #earR {
          border-bottom: 50px solid #ccccff;
          border-left: 50px solid transparent;
          margin-right: -22.2222222222px; }
      #alienBox #faceBodyBgBox #faceBox #eyebrowBox {
        width: 400px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        position: absolute;
        margin-top: 80px; }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrow {
          width: 100px;
          height: 6.25px;
          background-color: #9999cc;
          transition: 0.3s; }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox #eyebrowL {
          margin-left: 50px; }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox #eyebrowR {
          margin-right: 50px; }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowTiltCCW {
          transform: rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowTiltCW {
          transform: rotate(10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowRaiseTiltCCW {
          transform: translateY(-17.8571428571px) rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowRaiseTiltCW {
          transform: translateY(-17.8571428571px) rotate(10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowLowerTiltCCW {
          transform: translateY(17.8571428571px) rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowLowerTiltCW {
          transform: translateY(17.8571428571px) rotate(10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowRaise {
          transform: translateY(-17.8571428571px); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowLower {
          transform: translateY(17.8571428571px); }
      #alienBox #faceBodyBgBox #faceBox #eyeBox {
        width: 400px;
        height: 100px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        margin-top: 91.4285714286px; }
        #alienBox #faceBodyBgBox #faceBox #eyeBox #eyeL {
          margin-left: 50px; }
        #alienBox #faceBodyBgBox #faceBox #eyeBox #eyeR {
          margin-right: 50px; }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eye {
          width: 100px;
          height: 71.4285714286px;
          border-radius: 50%;
          position: relative;
          transition: 0.3s;
          -moz-clip: ellipse(50% 50% at 50% 50%);
          -webkit-clip-path: ellipse(50% 50% at 50% 50%);
          clip-path: ellipse(50% 50% at 50% 50%); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye svg {
            border: 2px solid blue;
            background-color: yellow; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .eyeWhite {
            width: 100px;
            height: 100%;
            border-radius: 50%;
            background-color: #ffffff;
            position: absolute;
            transform-origin: 50% 50%;
            -moz-clip-path: ellipse(50% 50% at 50% 50%);
            -webkit-clip-path: ellipse(50% 50% at 50% 50%);
            clip-path: ellipse(50% 50% at 50% 50%); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .iris {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #42C0FB;
            transition: 0.3s;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupil {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #000;
            transition: 0.3s;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupil .highlight {
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: #ffffff;
              top: 12.5px;
              left: 33.3333333333px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilExpand {
            transform: scale(1.2); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilContract {
            transform: scale(0.6); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisUp {
            bottom: 14.2857142857px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilUp {
            bottom: 27.7777777778px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisDown {
            top: 14.2857142857px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilDown {
            top: 27.7777777778px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisLeft {
            right: 33.3333333333px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilLeft {
            right: 50px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisRight {
            left: 33.3333333333px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilRight {
            left: 50px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisUpLeft {
            bottom: 8.3333333333px;
            right: 25px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilUpLeft {
            bottom: 25px;
            right: 37.5px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisUpRight {
            bottom: 8.3333333333px;
            left: 25px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilUpRight {
            bottom: 25px;
            left: 37.5px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisDownLeft {
            top: 8.3333333333px;
            right: 25px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilDownLeft {
            top: 25px;
            right: 37.5px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisDownRight {
            top: 8.3333333333px;
            left: 25px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilDownRight {
            top: 25px;
            left: 37.5px; }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeTiltCCW {
          transform: rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeTiltCW {
          transform: rotate(10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeRaise {
          transform: translateY(-17.8571428571px); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeLower {
          transform: translateY(17.8571428571px); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeRaiseTiltCW {
          transform: translateY(-17.8571428571px) rotate(10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeRaiseTiltCCW {
          transform: translateY(-17.8571428571px) rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeLowerTiltCW {
          transform: translateY(17.8571428571px) rotate(10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeLowerTiltCCW {
          transform: translateY(17.8571428571px) rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeOpen {
          height: 100px; }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint1 {
          -moz-clip-path: ellipse(50% 40% at 50% 50%);
          -webkit-clip-path: ellipse(50% 40% at 50% 50%);
          clip-path: ellipse(50% 40% at 50% 50%); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint2 {
          -moz-clip: ellipse(50% 30% at 50% 50%);
          -webkit-clip-path: ellipse(50% 30% at 50% 50%);
          clip-path: ellipse(50% 30% at 50% 50%); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint3 {
          -moz-clip: ellipse(50% 20% at 50% 50%);
          -webkit-clip-path: ellipse(50% 20% at 50% 50%);
          clip-path: ellipse(50% 20% at 50% 50%); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint4 {
          -moz-clip: ellipse(50% 10% at 50% 50%);
          -webkit-clip-path: ellipse(50% 10% at 50% 50%);
          clip-path: ellipse(50% 10% at 50% 50%); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeClose {
          -moz-clip: ellipse(50% 0% at 50% 50%);
          -webkit-clip-path: ellipse(50% 0% at 50% 50%);
          clip-path: ellipse(50% 0% at 50% 50%); }
      #alienBox #faceBodyBgBox #faceBox #noseBox {
        width: 400px;
        position: absolute;
        margin-top: 160px;
        display: flex;
        justify-content: center;
        align-items: center; }
        #alienBox #faceBodyBgBox #faceBox #noseBox #nose {
          width: 50px;
          height: 33.3333333333px;
          background-color: #9999cc;
          border-radius: 50%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          transform-origin: 50% 50%;
          transition: 0.3s; }
          #alienBox #faceBodyBgBox #faceBox #noseBox #nose .nostril {
            width: 8.3333333333px;
            height: 8.3333333333px;
            background-color: #666699;
            transition: 0.3s;
            border-radius: 50%; }
        #alienBox #faceBodyBgBox #faceBox #noseBox .nostrilFlare {
          transform: scale(1.5); }
        #alienBox #faceBodyBgBox #faceBox #noseBox .noseSquint {
          transform: scale(0.9) translateY(-8.3333333333px); }
      #alienBox #faceBodyBgBox #faceBox #mouthBox {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 400px;
        margin-top: 246.153846154px;
        position: absolute; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox #mouth {
          background-color: #666699;
          transform-origin: 50% 50%;
          transition: 0.3s; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthDefault {
          width: 100px;
          height: 10px;
          border-radius: 50%; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthHappy {
          border-radius: 0;
          border-bottom-left-radius: 37.5px;
          border-bottom-right-radius: 37.5px;
          border-top-left-radius: 9.6153846154px;
          border-top-right-radius: 9.6153846154px;
          height: 26.6666666667px;
          width: 133.333333333px; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthUnhappy {
          border-radius: 0;
          border-bottom-right-radius: 37.5px;
          border-bottom-left-radius: 37.5px;
          border-top-left-radius: 37.5px;
          border-top-right-radius: 37.5px;
          height: 26.6666666667px;
          width: 100px; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthJoy {
          border-radius: 0;
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 50px;
          border-top-left-radius: 10.4166666667px;
          border-top-right-radius: 10.4166666667px;
          height: 53.3333333333px;
          width: 114.285714286px; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthSurprise {
          border-radius: 0;
          border-bottom-left-radius: 37.5px;
          border-bottom-right-radius: 37.5px;
          border-top-left-radius: 37.5px;
          border-top-right-radius: 37.5px;
          height: 53.3333333333px;
          width: 100px; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthSad {
          border-radius: 0;
          border-top-left-radius: 37.5px;
          border-top-right-radius: 37.5px;
          border-bottom-left-radius: 9.6153846154px;
          border-bottom-right-radius: 9.6153846154px;
          height: 26.6666666667px;
          width: 100px; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthStiff {
          border-radius: 0;
          border-bottom-right-radius: 3.125px;
          border-bottom-left-radius: 3.125px;
          border-top-left-radius: 3.125px;
          border-top-right-radius: 3.125px;
          height: 10px;
          width: 100px; }
    #alienBox #faceBodyBgBox img {
      height: 120px;
      margin-top: -20px; }
    #alienBox #faceBodyBgBox #mobileMsg {
      display: none; }
    @media (max-width: 640px) {
      #alienBox #faceBodyBgBox img {
        height: 64px;
        margin-top: -12px; }
      #alienBox #faceBodyBgBox #mobileMsg {
        display: inline-block;
        margin-top: 32px;
        padding: 0 32px; }
        #alienBox #faceBodyBgBox #mobileMsg span {
          font-size: 1em;
          color: #fff;
          text-align: center; } }

#interfaceBox {
  height: 50%;
  background-color: #33334c; }
  #interfaceBox .pg {
    width: 100%;
    max-width: 1024px;
    padding: 0 24px; }
    #interfaceBox .pg h1 {
      text-align: center;
      font-size: 3em;
      font-weight: 300;
      margin-bottom: 40px; }
    #interfaceBox .pg span {
      font-size: 1.1em;
      max-width: 640px; }
  #interfaceBox #greetingsPg {
    flex-flow: column; }
    #interfaceBox #greetingsPg span {
      margin-bottom: 40px;
      max-width: 640px;
      padding: 0 32px; }
    #interfaceBox #greetingsPg #greetingsBtnBox {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center; }
    #interfaceBox #greetingsPg .linkBtn {
      margin-left: 16px; }
  #interfaceBox #setupPg {
    flex-flow: column; }
    #interfaceBox #setupPg #imgDsc {
      flex-flow: row;
      margin-bottom: 32px; }
      #interfaceBox #setupPg #imgDsc img {
        width: 300px;
        height: 150px;
        border: 4px solid #ccccff; }
      #interfaceBox #setupPg #imgDsc span {
        max-width: 300px;
        margin-left: 24px;
        text-align: left; }
    #interfaceBox #setupPg #setupBtnBox {
      flex-flow: row;
      margin-bottom: 32px; }
      #interfaceBox #setupPg #setupBtnBox #setupBtn {
        margin-left: 16px; }
    #interfaceBox #setupPg #disclaimer {
      font-size: 0.7em;
      margin-bottom: 32px; }
  #interfaceBox #emotionsPg {
    flex-flow: column; }
    #interfaceBox #emotionsPg #emotionsBtnBox {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 640px;
      width: 100%; }
      #interfaceBox #emotionsPg #emotionsBtnBox .speechBtn {
        margin: 8px 8px; }
  #interfaceBox #controlsPg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column; }
    #interfaceBox #controlsPg h1 {
      margin-bottom: 16px; }
    #interfaceBox #controlsPg .carouselBox {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row;
      margin-bottom: 32px;
      transition: 0.1s; }
      #interfaceBox #controlsPg .carouselBox .carouselDot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #666699;
        margin: 0 4px;
        cursor: pointer; }
      #interfaceBox #controlsPg .carouselBox .activeDot {
        width: 12px;
        height: 12px;
        background-color: #ccccff; }
    #interfaceBox #controlsPg #controlBox {
      display: flex;
      justify-content: center;
      flex-flow: column;
      width: 100%; }
      #interfaceBox #controlsPg #controlBox .controlTypeName {
        width: 100%;
        height: 100%;
        color: #fff;
        margin-bottom: 16px; }
        #interfaceBox #controlsPg #controlBox .controlTypeName .name {
          flex-flow: row;
          flex-wrap: wrap;
          height: 100%;
          font-size: 1.3em;
          font-style: italic;
          font-weight: 100;
          color: #fff; }
      #interfaceBox #controlsPg #controlBox .controlBtnBox {
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        min-height: 196px;
        padding: 0 24px; }
        #interfaceBox #controlsPg #controlBox .controlBtnBox .arrowBtn {
          justify-content: space-between;
          padding: 0 8px;
          height: 32px;
          background-color: #fff;
          color: #444466;
          border-radius: 20px;
          font-size: 0.8em;
          transition: 0.1s;
          cursor: pointer; }
          #interfaceBox #controlsPg #controlBox .controlBtnBox .arrowBtn:hover {
            transform: scale(1.1);
            transition: 0.1s; }
        #interfaceBox #controlsPg #controlBox .controlBtnBox #leftArrow {
          justify-content: flex-start; }
          #interfaceBox #controlsPg #controlBox .controlBtnBox #leftArrow img {
            transform: rotate(-90deg) translateY(-2px);
            margin-right: 4px; }
        #interfaceBox #controlsPg #controlBox .controlBtnBox #rightArrow img {
          transform: rotate(90deg) translateY(-2px);
          margin-left: 4px; }
        #interfaceBox #controlsPg #controlBox .controlBtnBox .btnBox {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          max-width: 640px;
          width: 100%;
          height: 100%; }
          #interfaceBox #controlsPg #controlBox .controlBtnBox .btnBox .speechBtn {
            margin: 8px 8px; }
  #interfaceBox #aboutPg {
    flex-flow: column; }

@media (max-width: 640px) {
  nav {
    display: none; }
    nav #navLeft {
      display: none; }
    nav #navRight {
      display: none; }
  #alienBox {
    height: 100%;
    background-color: #33334c; }
    #alienBox #faceBodyBgBox #faceBox {
      display: none; }
    #alienBox #faceBodyBgBox #bodyImg {
      display: none; }
  #interfaceBox {
    display: none;
    height: 0; }
    #interfaceBox #greetingsPg {
      display: none; }
      #interfaceBox #greetingsPg h1 {
        display: none; }
      #interfaceBox #greetingsPg span {
        display: none; }
      #interfaceBox #greetingsPg .linkBtn {
        display: none; }
      #interfaceBox #greetingsPg .touchBtn {
        display: none; }
      #interfaceBox #greetingsPg #greetingsBtn {
        display: none; } }

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 32px;
  width: 100%; }
  .logoLink a {
    color: #fff; }
    .logoLink a img {
      width: 24px;
      height: 24px;
      transition: 0.1s;
      margin-right: 8px;
      transition: 500ms; }
    .logoLink a span {
      font-size: 0.8em; }
  .logoLink:hover > a > img {
    transform: rotate(180deg);
    transition: 500ms; }

.borderCheck, *, div, span, p {
  border: 0px solid red; }
