/* CSS RESET ------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.noSelect, nav #navLeft, nav #navRight span, #siteBox .logoLink a, #siteBox h1, #siteBox .touchBtn, #siteBox .touchBtn span, #siteBox .speechBtn, #alienBox #faceBodyBgBox img, #interfaceBox #controlsPg #controlBox .controlBtnBox .arrowBtn {
  webkit-user-select: none;
  /* Chrome all / Safari all */
  moz-user-select: none;
  /* Firefox all */
  ms-user-select: none;
  /* IE 10+ */
  user-select: none; }

.flexboxCenter, #siteBox, #siteBox .logoLink a, #siteBox .section, #siteBox .touchBtn, #alienBox #faceBodyBgBox, #interfaceBox #greetingsPg, #interfaceBox #setupPg, #interfaceBox #setupPg #imgDsc, #interfaceBox #setupPg #setupBtnBox, #interfaceBox #emotionsPg, #interfaceBox #controlsPg #controlBox .controlTypeName, #interfaceBox #controlsPg #controlBox .controlTypeName .name, #interfaceBox #controlsPg #controlBox .controlBtnBox .arrowBtn, #interfaceBox #aboutPg {
  display: flex;
  justify-content: center;
  align-items: center; }

html {
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: #ffffff; }

#fullContentBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 0 32px;
  background-color: #33334c;
  color: #ffffff;
  transition: 0.1s;
  z-index: 2; }
  nav #navLeft {
    cursor: pointer;
    transition: 0.1s; }
    nav #navLeft:hover {
      transform: scale(1.1); }
  nav #navRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.1s; }
    nav #navRight span:nth-child(2) {
      margin: 0 16px; }
    nav #navRight span {
      cursor: pointer;
      transition: 0.1s;
      font-size: 0.8em;
      padding: 8px 16px;
      border-radius: 24px;
      border: 2px solid #ffffff; }
      nav #navRight span:hover {
        transition: 0.1s; }
  nav .navSelected {
    background-color: #ffffff;
    color: #55557f; }
    nav .navSelected span {
      font-weight: 600; }
      nav .navSelected span:hover {
        color: #55557f; }

#siteBox {
  width: 100%;
  height: 100%;
  flex-flow: column;
  overflow-y: hidden; }
  @media (max-width: 600px) {
    #siteBox #siteBox {
      overflow-y: scroll;
      height: none; } }
  #siteBox .logoLink {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 16px; }
    #siteBox .logoLink a {
      color: #fff; }
      #siteBox .logoLink a img {
        width: 24px;
        height: 24px;
        transition: 0.1s;
        margin-right: 8px; }
      #siteBox .logoLink a span {
        font-size: 0.8em; }
    #siteBox .logoLink:hover > a > img {
      transform: rotate(180deg);
      transition: 0.1s; }
  #siteBox .section {
    flex-flow: column;
    width: 100%;
    height: 50%;
    text-align: center;
    color: #ffffff; }
  #siteBox span {
    line-height: 2em; }
  #siteBox .touchBtn {
    font-size: 1em;
    font-weight: 600;
    background-color: #ffffff;
    color: #55557f;
    height: 48px;
    border-radius: 24px;
    padding: 0 24px;
    max-width: 640px;
    cursor: pointer; }
    #siteBox .touchBtn:hover {
      background-color: #9999cc;
      color: #ffffff; }
    #siteBox .touchBtn:active {
      background-color: #9999cc;
      color: #ffffff; }
  #siteBox .speechBtn {
    color: #ffffff;
    font-size: 1em;
    font-weight: 300;
    padding: 16px 16px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 40px;
    transition: 0.1s; }
    #siteBox .speechBtn:hover {
      transform: scale(1.1);
      transition: 0.1s; }
  #siteBox .activeSpeechBtn {
    background-color: #666699;
    transform: scale(1.1); }
  #siteBox .linkBtn {
    font-size: 0.9em;
    font-weight: 100;
    text-decoration: underline;
    color: #ccccff; }
    #siteBox .linkBtn:hover {
      color: #9999cc; }

@media (max-width: 600px) {
  nav {
    height: 40px;
    padding: 8px; } }

#alienBox {
  background-color: #ffffff; }
  @media (max-width: 600px) {
    #alienBox #alienBox {
      height: 200px; } }
  #alienBox #faceBodyBgBox {
    width: 100%;
    height: 100%;
    flex-flow: column; }
    @media (max-width: 600px) {
      #alienBox #faceBodyBgBox #faceBodyBgBox {
        height: 200px; } }
    #alienBox #faceBodyBgBox #faceBox {
      width: 300px;
      height: 240px;
      margin: 0 auto; }
      #alienBox #faceBodyBgBox #faceBox #face {
        width: 100%;
        max-width: 300px;
        height: 240px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        border-radius: 50%;
        background-color: #ccccff;
        position: absolute; }
      #alienBox #faceBodyBgBox #faceBox #earBox {
        width: 300px;
        height: 37.5px solid transparent;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        position: absolute;
        margin-top: 80px; }
        #alienBox #faceBodyBgBox #faceBox #earBox .ear {
          width: 0;
          height: 0; }
        #alienBox #faceBodyBgBox #faceBox #earBox #earL {
          border-bottom: 37.5px solid #ccccff;
          border-right: 37.5px solid transparent;
          margin-left: -16.6666666667px; }
        #alienBox #faceBodyBgBox #faceBox #earBox #earR {
          border-bottom: 37.5px solid #ccccff;
          border-left: 37.5px solid transparent;
          margin-right: -16.6666666667px; }
    #alienBox #faceBodyBgBox #eyebrowBox {
      width: 300px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      position: absolute;
      margin-top: 60px; }
      #alienBox #faceBodyBgBox #eyebrowBox .eyebrow {
        width: 75px;
        height: 4.6875px;
        background-color: #9999cc;
        transition: 0.3s; }
      #alienBox #faceBodyBgBox #eyebrowBox #eyebrowL {
        margin-left: 37.5px; }
      #alienBox #faceBodyBgBox #eyebrowBox #eyebrowR {
        margin-right: 37.5px; }
      #alienBox #faceBodyBgBox #eyebrowBox .eyebrowTiltCCW {
        transform: rotate(-10deg); }
      #alienBox #faceBodyBgBox #eyebrowBox .eyebrowTiltCW {
        transform: rotate(10deg); }
      #alienBox #faceBodyBgBox #eyebrowBox .eyebrowRaiseTiltCCW {
        transform: translateY(-13.3928571429px) rotate(-10deg); }
      #alienBox #faceBodyBgBox #eyebrowBox .eyebrowRaiseTiltCW {
        transform: translateY(-13.3928571429px) rotate(10deg); }
      #alienBox #faceBodyBgBox #eyebrowBox .eyebrowLowerTiltCCW {
        transform: translateY(13.3928571429px) rotate(-10deg); }
      #alienBox #faceBodyBgBox #eyebrowBox .eyebrowLowerTiltCW {
        transform: translateY(13.3928571429px) rotate(10deg); }
      #alienBox #faceBodyBgBox #eyebrowBox .eyebrowRaise {
        transform: translateY(-13.3928571429px); }
      #alienBox #faceBodyBgBox #eyebrowBox .eyebrowLower {
        transform: translateY(13.3928571429px); }
    #alienBox #faceBodyBgBox #eyeBox {
      width: 300px;
      height: 75px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      margin-top: 68.5714285714px; }
      #alienBox #faceBodyBgBox #eyeBox #eyeL {
        margin-left: 37.5px; }
      #alienBox #faceBodyBgBox #eyeBox #eyeR {
        margin-right: 37.5px; }
      #alienBox #faceBodyBgBox #eyeBox .eye {
        width: 75px;
        height: 53.5714285714px;
        border-radius: 50%;
        position: relative;
        transition: 0.3s;
        -moz-clip: ellipse(50% 50% at 50% 50%);
        -webkit-clip-path: ellipse(50% 50% at 50% 50%);
        clip-path: ellipse(50% 50% at 50% 50%); }
        #alienBox #faceBodyBgBox #eyeBox .eye svg {
          border: 2px solid blue;
          background-color: yellow; }
        #alienBox #faceBodyBgBox #eyeBox .eye .eyeWhite {
          width: 75px;
          height: 100%;
          border-radius: 50%;
          background-color: #ffffff;
          position: absolute;
          transform-origin: 50% 50%;
          -moz-clip-path: ellipse(50% 50% at 50% 50%);
          -webkit-clip-path: ellipse(50% 50% at 50% 50%);
          clip-path: ellipse(50% 50% at 50% 50%); }
        #alienBox #faceBodyBgBox #eyeBox .eye .iris {
          width: 37.5px;
          height: 37.5px;
          border-radius: 50%;
          background-color: #42C0FB;
          transition: 0.3s;
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }
        #alienBox #faceBodyBgBox #eyeBox .eye .pupil {
          width: 18.75px;
          height: 18.75px;
          border-radius: 50%;
          background-color: #000;
          transition: 0.3s;
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }
          #alienBox #faceBodyBgBox #eyeBox .eye .pupil .highlight {
            width: 3.75px;
            height: 3.75px;
            border-radius: 50%;
            background-color: #ffffff;
            top: 9.375px;
            left: 25px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .pupilExpand {
          transform: scale(1.2); }
        #alienBox #faceBodyBgBox #eyeBox .eye .pupilContract {
          transform: scale(0.6); }
        #alienBox #faceBodyBgBox #eyeBox .eye .irisUp {
          bottom: 10.7142857143px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .pupilUp {
          bottom: 20.8333333333px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .irisDown {
          top: 10.7142857143px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .pupilDown {
          top: 20.8333333333px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .irisLeft {
          right: 25px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .pupilLeft {
          right: 37.5px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .irisRight {
          left: 25px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .pupilRight {
          left: 37.5px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .irisUpLeft {
          bottom: 6.25px;
          right: 18.75px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .pupilUpLeft {
          bottom: 18.75px;
          right: 28.125px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .irisUpRight {
          bottom: 6.25px;
          left: 18.75px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .pupilUpRight {
          bottom: 18.75px;
          left: 28.125px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .irisDownLeft {
          top: 6.25px;
          right: 18.75px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .pupilDownLeft {
          top: 18.75px;
          right: 28.125px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .irisDownRight {
          top: 6.25px;
          left: 18.75px; }
        #alienBox #faceBodyBgBox #eyeBox .eye .pupilDownRight {
          top: 18.75px;
          left: 28.125px; }
      #alienBox #faceBodyBgBox #eyeBox .eyeTiltCCW {
        transform: rotate(-10deg); }
      #alienBox #faceBodyBgBox #eyeBox .eyeTiltCW {
        transform: rotate(10deg); }
      #alienBox #faceBodyBgBox #eyeBox .eyeRaise {
        transform: translateY(-13.3928571429px); }
      #alienBox #faceBodyBgBox #eyeBox .eyeLower {
        transform: translateY(13.3928571429px); }
      #alienBox #faceBodyBgBox #eyeBox .eyeRaiseTiltCW {
        transform: translateY(-13.3928571429px) rotate(10deg); }
      #alienBox #faceBodyBgBox #eyeBox .eyeRaiseTiltCCW {
        transform: translateY(-13.3928571429px) rotate(-10deg); }
      #alienBox #faceBodyBgBox #eyeBox .eyeLowerTiltCW {
        transform: translateY(13.3928571429px) rotate(10deg); }
      #alienBox #faceBodyBgBox #eyeBox .eyeLowerTiltCCW {
        transform: translateY(13.3928571429px) rotate(-10deg); }
      #alienBox #faceBodyBgBox #eyeBox .eyeSizeOpen {
        height: 75px; }
      #alienBox #faceBodyBgBox #eyeBox .eyeSizeSquint1 {
        -moz-clip-path: ellipse(50% 40% at 50% 50%);
        -webkit-clip-path: ellipse(50% 40% at 50% 50%);
        clip-path: ellipse(50% 40% at 50% 50%); }
      #alienBox #faceBodyBgBox #eyeBox .eyeSizeSquint2 {
        -moz-clip: ellipse(50% 30% at 50% 50%);
        -webkit-clip-path: ellipse(50% 30% at 50% 50%);
        clip-path: ellipse(50% 30% at 50% 50%); }
      #alienBox #faceBodyBgBox #eyeBox .eyeSizeSquint3 {
        -moz-clip: ellipse(50% 20% at 50% 50%);
        -webkit-clip-path: ellipse(50% 20% at 50% 50%);
        clip-path: ellipse(50% 20% at 50% 50%); }
      #alienBox #faceBodyBgBox #eyeBox .eyeSizeSquint4 {
        -moz-clip: ellipse(50% 10% at 50% 50%);
        -webkit-clip-path: ellipse(50% 10% at 50% 50%);
        clip-path: ellipse(50% 10% at 50% 50%); }
      #alienBox #faceBodyBgBox #eyeBox .eyeSizeClose {
        -moz-clip: ellipse(50% 0% at 50% 50%);
        -webkit-clip-path: ellipse(50% 0% at 50% 50%);
        clip-path: ellipse(50% 0% at 50% 50%); }
    #alienBox #faceBodyBgBox #noseBox {
      width: 300px;
      position: absolute;
      margin-top: 120px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #alienBox #faceBodyBgBox #noseBox #nose {
        width: 37.5px;
        height: 25px;
        background-color: #9999cc;
        border-radius: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform-origin: 50% 50%;
        transition: 0.3s; }
        #alienBox #faceBodyBgBox #noseBox #nose .nostril {
          width: 6.25px;
          height: 6.25px;
          background-color: #666699;
          transition: 0.3s;
          border-radius: 50%; }
      #alienBox #faceBodyBgBox #noseBox .nostrilFlare {
        transform: scale(1.5); }
      #alienBox #faceBodyBgBox #noseBox .noseSquint {
        transform: scale(0.9) translateY(-6.25px); }
    #alienBox #faceBodyBgBox #mouthBox {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 300px;
      margin-top: 184.615384615px;
      position: absolute; }
      #alienBox #faceBodyBgBox #mouthBox #mouth {
        background-color: #666699;
        transform-origin: 50% 50%;
        transition: 0.3s; }
      #alienBox #faceBodyBgBox #mouthBox .mouthDefault {
        width: 75px;
        height: 7.5px;
        border-radius: 50%; }
      #alienBox #faceBodyBgBox #mouthBox .mouthHappy {
        border-radius: 0;
        border-bottom-left-radius: 28.125px;
        border-bottom-right-radius: 28.125px;
        border-top-left-radius: 7.2115384615px;
        border-top-right-radius: 7.2115384615px;
        height: 20px;
        width: 100px; }
      #alienBox #faceBodyBgBox #mouthBox .mouthUnhappy {
        border-radius: 0;
        border-bottom-right-radius: 28.125px;
        border-bottom-left-radius: 28.125px;
        border-top-left-radius: 28.125px;
        border-top-right-radius: 28.125px;
        height: 20px;
        width: 75px; }
      #alienBox #faceBodyBgBox #mouthBox .mouthJoy {
        border-radius: 0;
        border-bottom-left-radius: 37.5px;
        border-bottom-right-radius: 37.5px;
        border-top-left-radius: 7.8125px;
        border-top-right-radius: 7.8125px;
        height: 40px;
        width: 85.7142857143px; }
      #alienBox #faceBodyBgBox #mouthBox .mouthSurprise {
        border-radius: 0;
        border-bottom-left-radius: 28.125px;
        border-bottom-right-radius: 28.125px;
        border-top-left-radius: 28.125px;
        border-top-right-radius: 28.125px;
        height: 40px;
        width: 75px; }
      #alienBox #faceBodyBgBox #mouthBox .mouthSad {
        border-radius: 0;
        border-top-left-radius: 28.125px;
        border-top-right-radius: 28.125px;
        border-bottom-left-radius: 7.2115384615px;
        border-bottom-right-radius: 7.2115384615px;
        height: 20px;
        width: 75px; }
      #alienBox #faceBodyBgBox #mouthBox .mouthStiff {
        border-radius: 0;
        border-bottom-right-radius: 2.34375px;
        border-bottom-left-radius: 2.34375px;
        border-top-left-radius: 2.34375px;
        border-top-right-radius: 2.34375px;
        height: 7.5px;
        width: 75px; }
    #alienBox #faceBodyBgBox img {
      height: 120px;
      margin-top: -20px; }
    @media (max-width: 600px) {
      #alienBox #faceBodyBgBox img {
        height: 80px; } }

#interfaceBox {
  background-color: #33334c; }
  @media (max-width: 600px) {
    #interfaceBox #interfaceBox {
      height: 200px; } }
  #interfaceBox .pg {
    width: 100%;
    max-width: 1024px; }
    #interfaceBox .pg h1 {
      text-align: center;
      font-size: 3em;
      font-weight: 100;
      margin-bottom: 40px; }
    #interfaceBox .pg span {
      font-size: 1em;
      max-width: 640px; }
  @media (max-width: 600px) {
    #interfaceBox .pg > h1 {
      font-size: 1.4em; } }
  #interfaceBox #greetingsPg {
    flex-flow: column; }
    #interfaceBox #greetingsPg span {
      margin-bottom: 40px; }
    #interfaceBox #greetingsPg .linkBtn {
      margin-top: 24px; }
  #interfaceBox #setupPg {
    flex-flow: column; }
    #interfaceBox #setupPg #imgDsc {
      flex-flow: row;
      margin-bottom: 32px; }
      #interfaceBox #setupPg #imgDsc img {
        width: 300px;
        height: 150px;
        border: 4px solid #ccccff; }
      #interfaceBox #setupPg #imgDsc span {
        max-width: 300px;
        margin-left: 24px;
        text-align: left; }
    #interfaceBox #setupPg #setupBtnBox {
      flex-flow: row;
      margin-bottom: 32px; }
      #interfaceBox #setupPg #setupBtnBox #setupBtn {
        margin-left: 16px; }
    #interfaceBox #setupPg #disclaimer {
      font-size: 0.7em; }
  #interfaceBox #emotionsPg {
    flex-flow: column; }
    #interfaceBox #emotionsPg #emotionsBtnBox {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 640px;
      width: 100%; }
      #interfaceBox #emotionsPg #emotionsBtnBox .speechBtn {
        margin: 8px 8px; }
  #interfaceBox #controlsPg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column; }
    #interfaceBox #controlsPg h1 {
      margin-bottom: 16px; }
    #interfaceBox #controlsPg .carouselBox {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row;
      margin-bottom: 32px;
      transition: 0.1s; }
      #interfaceBox #controlsPg .carouselBox .carouselDot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #666699;
        margin: 0 4px;
        cursor: pointer; }
      #interfaceBox #controlsPg .carouselBox .activeDot {
        width: 12px;
        height: 12px;
        background-color: #ccccff; }
    #interfaceBox #controlsPg #controlBox {
      display: flex;
      justify-content: center;
      flex-flow: column;
      width: 100%; }
      #interfaceBox #controlsPg #controlBox .controlTypeName {
        width: 100%;
        height: 100%;
        color: #fff;
        margin-bottom: 16px; }
        #interfaceBox #controlsPg #controlBox .controlTypeName .name {
          flex-flow: row;
          flex-wrap: wrap;
          height: 100%;
          font-size: 1.3em;
          font-style: italic;
          font-weight: 100;
          color: #fff; }
      #interfaceBox #controlsPg #controlBox .controlBtnBox {
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        min-height: 196px;
        padding: 0 24px; }
        #interfaceBox #controlsPg #controlBox .controlBtnBox .arrowBtn {
          justify-content: space-between;
          padding: 0 8px;
          height: 32px;
          background-color: #fff;
          color: #444466;
          border-radius: 20px;
          font-size: 0.8em;
          transition: 0.1s;
          cursor: pointer; }
          #interfaceBox #controlsPg #controlBox .controlBtnBox .arrowBtn:hover {
            transform: scale(1.1);
            transition: 0.1s; }
        #interfaceBox #controlsPg #controlBox .controlBtnBox #leftArrow {
          justify-content: flex-start; }
          #interfaceBox #controlsPg #controlBox .controlBtnBox #leftArrow img {
            transform: rotate(-90deg) translateY(-2px);
            margin-right: 4px; }
        #interfaceBox #controlsPg #controlBox .controlBtnBox #rightArrow img {
          transform: rotate(90deg) translateY(-2px);
          margin-left: 4px; }
        #interfaceBox #controlsPg #controlBox .controlBtnBox .btnBox {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          max-width: 640px;
          width: 100%;
          height: 100%; }
          #interfaceBox #controlsPg #controlBox .controlBtnBox .btnBox .speechBtn {
            margin: 8px 8px; }
  #interfaceBox #aboutPg {
    flex-flow: column; }

@media (max-width: 600px) {
  .pg {
    padding: 32px; } }

.borderCheck, *, div, span, p {
  border: 1px solid red; }
