#launchButton {
  margin: 40px auto 0 auto;
  position: relative; }

#launchMessageButton_container {
  position: absolute;
  margin: auto;
  width: 90%;
  max-width: 400px;
  height: 100%;
  max-height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 500ms;
  transition: 500ms; }

#launchMessage {
  position: relative;
  width: 100%; }

#launchMessage p {
  line-height: 1.25em;
  color: #FFF;
  text-align: center;
  font-size: 1em; }

#launchStar_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.launchTwinkle, #launchStar1, #launchStar4, #launchStar7, #launchStar10, #launchStar13, #launchStar16, #launchStar19, #launchStar22, #launchStar25, #launchStar28 {
  -webkit-animation: launchTwinkle 5s infinite alternate;
  animation: launchTwinkle 5s infinite alternate; }

@-webkit-keyframes launchTwinkle {
  0% {
    opacity: 1; }

  25% {
    opacity: 1; }

  50% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1); }

  75% {
    opacity: 1; }

  100% {
    opacity: 1; } }

@keyframes launchTwinkle {
  0% {
    opacity: 1; }

  25% {
    opacity: 1; }

  50% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1); }

  75% {
    opacity: 1; }

  100% {
    opacity: 1; } }
#launchStar1 {
  top: 5%;
  left: 10%;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

#launchStar2 {
  top: 30%;
  left: 15%; }

#launchStar3 {
  top: 10%;
  left: 20%; }

#launchStar4 {
  top: 40%;
  left: 25%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

#launchStar5 {
  top: 35%;
  left: 95%; }

#launchStar6 {
  top: 20%;
  left: 35%; }

#launchStar7 {
  top: 5%;
  left: 40%;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s; }

#launchStar8 {
  top: 25%;
  left: 45%; }

#launchStar9 {
  top: 30%;
  left: 90%; }

#launchStar10 {
  top: 50%;
  left: 55%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

#launchStar11 {
  top: 10%;
  left: 60%; }

#launchStar12 {
  top: 45%;
  left: 65%; }

#launchStar13 {
  top: 40%;
  left: 70%;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s; }

#launchStar14 {
  top: 5%;
  left: 75%; }

#launchStar15 {
  top: 15%;
  left: 80%; }

#launchStar16 {
  top: 95%;
  left: 85%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

#launchStar17 {
  top: 75%;
  left: 90%; }

#launchStar18 {
  top: 80%;
  left: 17%; }

#launchStar19 {
  top: 55%;
  left: 5%;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s; }

#launchStar20 {
  top: 60%;
  left: 10%; }

#launchStar21 {
  top: 70%;
  left: 20%; }

#launchStar22 {
  top: 55%;
  left: 30%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

#launchStar23 {
  top: 90%;
  left: 40%; }

#launchStar24 {
  top: 80%;
  left: 50%; }

#launchStar25 {
  top: 50%;
  left: 60%;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

#launchStar26 {
  top: 95%;
  left: 70%; }

#launchStar27 {
  top: 80%;
  left: 80%; }

#launchStar28 {
  top: 65%;
  left: 90%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

#launchStar29 {
  top: 90%;
  left: 95%; }

#launchStar30 {
  top: 70%;
  left: 5%; }
