// #mars_container
// {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

/* MARS GROUND ------------------ */
#M_Ground
{
  position: absolute;
  bottom: 0px; left: 0;
  width: 100%;
  height: 200px;
  opacity: 0;

  animation: MLanding 5s ease-out;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes MLanding
{
  0% { opacity: 1; bottom: -200px; }
  100% { opacity: 1; bottom: 0px; }
}

#M_Mountains
{
  position: absolute;
  bottom: 60%; left: 0;
  width: 100%;
  height: 150px;
  opacity: 0.7;
  font-smoothing: antialiased;
}

#M_Foreground
{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  font-smoothing: antialiased;
}
/* END MARS GROUND ------------------ */


/* MARS SKY --------------------------- */
#M_Sky
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFCC99;

  animation: MSkyChange 6s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes MSkyChange
{
  0% { background-color: #cc6633; }
  25% { background-color: #cc6633; }
  100% { background-color: #ffcc99; }
}


#M_Orbiter
{
  position:  absolute;
  top: 5%; left: -110px;
  width: 80px;
  height: auto;
  opacity: 0.7;

  animation: MOrbiterMove 40s linear infinite;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes MOrbiterMove
{ 
  0% { margin-left: 150%; }
  100% { margin-left: -50%; }
}

#M_Clouds
{
  position: absolute;
  top: 15%;
  width: 250px;
  height: auto;
  opacity: 0;

  animation: MCloudsMove 60s linear infinite;
  animation-delay: 0s;
}

#M_CloudsB
{
  position: absolute;
  top: 20%;
  width: 300px;
  height: auto;
  opacity: 0;

  animation: MCloudsMove 40s linear infinite;
  animation-delay: 0s;
}

@keyframes MCloudsMove
{
  0% { opacity: 0; margin-left: -50%; }
  10% { opacity: 0.8; }
  100%  { opacity: 0.8; margin-left: 150%; }
}

/* END MARS SKY --------------------------- */


/* DRAGON 2 ---------------------------------- */

#D2_Descent_Container
{
  position: absolute;
  top: 0;
  left: 0; right: 0;
  margin: auto;
  height: 100%;
  width: 30%;
  max-width: 100px;
}

#D2_Container
{
  position: absolute;
  bottom: 190px;
  width: 100%;
  height: auto;

  animation: dragon2moveY 14s ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes dragon2moveY
{
  0% { bottom: 130%; }
  // 50% { bottom: 50%; }
  100% { bottom: 190px; }
}

#D2
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: auto;
}

#D2_F1_Container
{
  position: absolute;
  top: 76px; left: -18px;
  width: 100%;
  height: 100%;
  opacity: 0.8;

  animation: D2FireFade 3s;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}

        #D2_F1_Container img
        {
          position: absolute;
          top: 5px; left: 0px;
          width: 140px;
          height: auto;
        }

        #D2_F1_L
        {
          animation: D2FireFlicker .4s infinite;
          animation-fill-mode: forwards;
          animation-delay: .4s;
        }

        #D2_F1_M
        {
          animation: D2FireFlicker .4s infinite;
          animation-fill-mode: forwards;
          animation-delay: .2s;
        }

        #D2_F1_S
        {
          animation: D2FireFlicker .2s infinite;
          animation-fill-mode: forwards;
        }


#D2_F2_Container
{
  position: absolute;
  top: 76px; left: -18px;
  width: 100%;
  height: 100%;
  opacity: 0.8;

  animation: D2FireFade 3s;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}

        #D2_F2_Container img
        {
          position: absolute;
          top: 5px; left: 0px;
          width: 140px;
          height: auto;
        }

        #D2_F2_L
        {
          animation: D2FireFlicker .4s infinite;
          animation-fill-mode: forwards;
          animation-delay: .4s;
        }

        #D2_F2_M
        {
          animation: D2FireFlicker .4s infinite;
          animation-fill-mode: forwards;
          animation-delay: .2s;
        }

        #D2_F2_S
        {
          animation: D2FireFlicker .2s infinite;
          animation-fill-mode: forwards;
        }

#D2_F3_Container
{
  position: absolute;
  top: 76px; left: -18px;
  width: 100%;
  height: 100%;
  opacity: 1;

  animation: D2FireFade 3s;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}

        #D2_F3_Container img
        {
          position: absolute;
          top: 5px; left: 0px;
          width: 140px;
          height: auto;
        }

        #D2_F3_L
        {
          animation: D2FireFlicker .4s infinite;
          animation-fill-mode: forwards;
          animation-delay: .4s;
        }

        #D2_F3_M
        {
          animation: D2FireFlicker .4s infinite;
          animation-fill-mode: forwards;
          animation-delay: .2s;
        }

        #D2_F3_S
        {
          animation: D2FireFlicker .2s infinite;
          animation-fill-mode: forwards;
        }


@keyframes D2FireFade
{
  0% { opacity: 1; }
  100% { opacity: 0; }
}


@keyframes D2FireFlicker
{
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}




#D2_shadow
{
  position: absolute;
  margin: auto;
  left: 0; right: 0;
  bottom: 15px;
  width: 100%;
  max-width: 120px;
  height: 40px;
  border-radius: 100%;
  background-color: #333;
  box-shadow: 0px 0px 40px rgba(34,34,34,0.6);

  animation: D2Shadow 14s ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes D2Shadow
{
  0% { opacity: 0; transform: scale(2); }
  50% { transform: scale(1.3); }
  100% { opacity: 0.7; transform: scale(0.9); }
}

/* END DRAGON 2 ---------------------------------- */



/* LANDING PAD AND LIGHTS --------------------------- */

#M_LandingPad
{
  position: absolute;
  margin: auto;
  bottom: 30px;
  left: 0; right: 0;
  width: 90%;
  max-width: 400px;
  height: auto;
}

#M_LandingPad img
{
  max-width: 100%;
}

.M_LightRed
{
  position: absolute;
  border-radius: 100%;
  border: 10px;

  animation: BlinkRed 2s infinite ;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

#M_LightRed1
{
  @extend .M_LightRed;
  bottom: 33px; left: 20px;
  height: 5px; width: 7px;
}

#M_LightRed2
{
  @extend .M_LightRed;
  top: 8px; right: 90px;
  height: 3px; width: 7px;
}

@keyframes BlinkRed
{
  0% { background-color: #FC1501; }
  50% { background-color: transparent; }
  100% { background-color: #FC1501; }
}

.M_LightGreen
{
  position: absolute;
  border-radius: 100%;
  border: 10px;

  animation: BlinkGreen 2s infinite ;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#M_LightGreen1
{
  @extend .M_LightGreen;
  bottom: 33px; right: 20px;
  height: 5px; width: 7px;
}

#M_LightGreen2
{
  @extend .M_LightGreen;
  top: 8px; left: 90px;
  height: 3px; width: 7px;
}

@keyframes BlinkGreen
{
  0% { background-color: #7CFC00; }
  50% { background-color: transparent; }
  100% { background-color: #7CFC00; }
}


#M_SmokeLeft
{
  position: absolute;
  top: -22px; left: 150px;
  height: auto;
  width: 150px;
  transform: scaleX(-1);
  transform-origin: 0% 50%;
  filter: FlipH;
  opacity: 0;
  z-index: 5;

  animation: MLandingSmokeLeft 8s;
  animation-fill-mode: forwards;
  animation-delay: 11s;
}

@keyframes MLandingSmokeLeft
{
  0% { opacity: 0; transform: scaleX(-0.1) scaleY(0.1); }
  50% { opacity: 1; transform: scaleX(-1) scaleY(1) rotate(-10deg); }
  100% { opacity: 0; transform: scaleX(-1) scaleY(1) rotate(-10deg); }
}

#M_SmokeRight
{
  position: absolute;
  top: -22px; right: 0px;
  height: auto;
  width: 150px;
  transform: rotate(-10deg);
  transform-origin: 0% 50%;
  opacity: 0;

  animation: MLandingSmokeRight 8s;
  animation-fill-mode: forwards;
  animation-delay: 11s;
}

@keyframes MLandingSmokeRight
{
  0% { opacity: 0; transform: scaleX(0.1) scaleY(0.1); }
  50% { opacity: 1; transform: scaleX(1) scaleY(1) rotate(-10deg); }
  100% { opacity: 0; transform: scaleX(1) scaleY(1) rotate(-10deg); }
}

/* END LANDING PAD AND LIGHTS --------------------------- */


/* MARS COLONY ------------------------------------- */
#M_Dome
{
  position: absolute;
  top: 15px; right: 23%;
  width: 100px;
  height: auto;
}

#M_Dome2
{
  position: absolute;
  top: 30px; left: 6%;
  width: 100px;
  height: auto;
}

#M_Cone
{
  position: absolute;
  top: -25px; left: 17%;
  width: 56px;
  height: auto;
}

#M_Solar
{
  position: absolute;
  top: 38px; left: 24%;
  width: 80px;
  height: auto;
  transition: 300;
}

#M_Tubes
{
  position: absolute;
  top: 30px; right: 1%;
  width: 150px;
  height: auto;
  transition: 300;

}

@media (max-width: 800px)
{

  #M_Dome
  {
    transform: scale(0.7);
  }

  #M_Dome2
  {
    transform: scale(0.7);
  }

  #M_Cone
  {
    transform: scale(0.5);    
  }

  #M_Solar
  {
    transform: scale(0.7);
  }

  #M_Tubes
  {
    transform: scale(0.5);
  }
}


/* END MARS COLONY ------------------------------------- */

