/* MARS ------------------------------- */
#mars {
  position: absolute;
  top: 10%;
  right: 20%;
  height: 20px;
  width: auto;
  cursor: pointer; }

@-webkit-keyframes marsPulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(2);
    transform: scale(2); }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes marsPulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(2);
    transform: scale(2); }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.marsHuge {
  -webkit-transform: scale(200);
  -ms-transform: scale(200);
  transform: scale(200);
  -webkit-transition: 20s;
  transition: 20s; }

/* END MARS ------------------------------- */
/* MARS SKY --------------------------------- */
#mars_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#marsGround {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 150px;
  opacity: 1;
  -webkit-animation: marsLanding 5s ease-out;
  animation: marsLanding 5s ease-out;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#marsSky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFCC99;
  -webkit-animation: marsSkyChange 6s;
  animation: marsSkyChange 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

#marsMountains {
  position: absolute;
  bottom: 60%;
  left: 0;
  width: 100%;
  height: 100px;
  opacity: 0.7;
  font-smoothing: antialiased; }

#marsForeground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-smoothing: antialiased; }

#dragon2_descent_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 30%;
  max-width: 100px;
  border: 1px solid red; }

#dragon2_container {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: auto;
  -webkit-animation: dragon2moveY 14s ease-out;
  animation: dragon2moveY 14s ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes dragon2moveY {
  0% {
    bottom: 110%; }

  50% {
    bottom: 50%; }

  100% {
    bottom: 50px; } }

@keyframes dragon2moveY {
  0% {
    bottom: 110%; }

  50% {
    bottom: 50%; }

  100% {
    bottom: 50px; } }
#dragon2_fire3_container {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid green;
  z-index: 1;
  -webkit-animation: dragon2firefadeOut 3s;
  animation: dragon2firefadeOut 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

#dragon2_fire3_container img {
  position: absolute;
  top: -20px;
  left: 70px;
  width: 70px;
  height: auto; }

#dragon2_fire3_large {
  -webkit-animation: dragon2fireFlicker .4s infinite;
  animation: dragon2fireFlicker .4s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

#dragon2_fire3_med {
  -webkit-animation: dragon2fireFlicker .4s infinite;
  animation: dragon2fireFlicker .4s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

#dragon2_fire3_small {
  -webkit-animation: dragon2fireFlicker .2s infinite;
  animation: dragon2fireFlicker .2s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#dragon2 {
  width: 100%;
  height: auto;
  z-index: 3; }

#dragon2_fire1_container {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: dragon2firefadeOut 3s;
  animation: dragon2firefadeOut 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

#dragon2_fire1_container img {
  position: absolute;
  top: 0;
  left: -6px;
  width: 160px;
  height: auto; }

#dragon2_fire1_large {
  -webkit-animation: dragon2fireFlicker .4s infinite;
  animation: dragon2fireFlicker .4s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

#dragon2_fire1_med {
  -webkit-animation: dragon2fireFlicker .4s infinite;
  animation: dragon2fireFlicker .4s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

#dragon2_fire1_small {
  -webkit-animation: dragon2fireFlicker .2s infinite;
  animation: dragon2fireFlicker .2s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#dragon2_fire2_container {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: dragon2firefadeOut 3s;
  animation: dragon2firefadeOut 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

@-webkit-keyframes dragon2firefadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes dragon2firefadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
#dragon2_fire2_container img {
  position: absolute;
  top: -20px;
  left: -40px;
  width: 80px;
  height: auto; }

#dragon2_fire2_large {
  -webkit-animation: dragon2fireFlicker .4s infinite;
  animation: dragon2fireFlicker .4s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

#dragon2_fire2_med {
  -webkit-animation: dragon2fireFlicker .4s infinite;
  animation: dragon2fireFlicker .4s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

#dragon2_fire2_small {
  -webkit-animation: dragon2fireFlicker .2s infinite;
  animation: dragon2fireFlicker .2s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes dragon2fireFlicker {
  0% {
    opacity: 0.2; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0.2; } }

@keyframes dragon2fireFlicker {
  0% {
    opacity: 0.2; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0.2; } }
#dragon2_shadow {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 23px;
  width: 100%;
  max-width: 120px;
  height: 40px;
  border-radius: 100%;
  background-color: #333;
  -webkit-box-shadow: 0px 0px 40px rgba(34, 34, 34, 0.6);
  box-shadow: 0px 0px 40px rgba(34, 34, 34, 0.6);
  -webkit-animation: dragon2shadow 14s ease-in;
  animation: dragon2shadow 14s ease-in;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes dragon2shadow {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2); }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }

  100% {
    opacity: 0.7;
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

@keyframes dragon2shadow {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2); }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }

  100% {
    opacity: 0.7;
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }
#marsLandingPad {
  position: absolute;
  margin: auto;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 400px;
  height: auto; }

#marsLandingPad img {
  max-width: 100%; }

.landingLightRed, #landingLightRed1, #landingLightRed2 {
  position: absolute;
  border-radius: 100%;
  border: 10px;
  -webkit-animation: lightBlinkRed 2s infinite;
  animation: lightBlinkRed 2s infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#landingLightRed1 {
  bottom: 33px;
  left: 20px;
  height: 5px;
  width: 7px; }

#landingLightRed2 {
  top: 8px;
  right: 90px;
  height: 3px;
  width: 7px; }

@-webkit-keyframes lightBlinkRed {
  0% {
    background-color: #FC1501; }

  50% {
    background-color: transparent; }

  100% {
    background-color: #FC1501; } }

@keyframes lightBlinkRed {
  0% {
    background-color: #FC1501; }

  50% {
    background-color: transparent; }

  100% {
    background-color: #FC1501; } }
.landingLightGreen, #landingLightGreen1, #landingLightGreen2 {
  position: absolute;
  border-radius: 100%;
  border: 10px;
  -webkit-animation: lightBlinkGreen 2s infinite;
  animation: lightBlinkGreen 2s infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#landingLightGreen1 {
  bottom: 33px;
  right: 20px;
  height: 5px;
  width: 7px; }

#landingLightGreen2 {
  top: 8px;
  left: 90px;
  height: 3px;
  width: 7px; }

@-webkit-keyframes lightBlinkGreen {
  0% {
    background-color: #7CFC00; }

  50% {
    background-color: transparent; }

  100% {
    background-color: #7CFC00; } }

@keyframes lightBlinkGreen {
  0% {
    background-color: #7CFC00; }

  50% {
    background-color: transparent; }

  100% {
    background-color: #7CFC00; } }
#marsSmokeLeft {
  position: absolute;
  top: -22px;
  left: 150px;
  height: auto;
  width: 150px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-filter: FlipH;
  filter: FlipH;
  opacity: 0;
  -webkit-animation: landingSmokeLeft 8s;
  animation: landingSmokeLeft 8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

@-webkit-keyframes landingSmokeLeft {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(-0.1) scaleY(0.1);
    transform: scaleX(-0.1) scaleY(0.1); }

  50% {
    opacity: 1;
    -webkit-transform: scaleX(-1) scaleY(1) rotate(-10deg);
    transform: scaleX(-1) scaleY(1) rotate(-10deg); }

  100% {
    opacity: 0;
    -webkit-transform: scaleX(-1) scaleY(1) rotate(-10deg);
    transform: scaleX(-1) scaleY(1) rotate(-10deg); } }

@keyframes landingSmokeLeft {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(-0.1) scaleY(0.1);
    transform: scaleX(-0.1) scaleY(0.1); }

  50% {
    opacity: 1;
    -webkit-transform: scaleX(-1) scaleY(1) rotate(-10deg);
    transform: scaleX(-1) scaleY(1) rotate(-10deg); }

  100% {
    opacity: 0;
    -webkit-transform: scaleX(-1) scaleY(1) rotate(-10deg);
    transform: scaleX(-1) scaleY(1) rotate(-10deg); } }
#marsSmokeRight {
  position: absolute;
  top: -22px;
  right: 0px;
  height: auto;
  width: 150px;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  opacity: 0;
  -webkit-animation: landingSmokeRight 8s;
  animation: landingSmokeRight 8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

@-webkit-keyframes landingSmokeRight {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0.1) scaleY(0.1);
    transform: scaleX(0.1) scaleY(0.1); }

  50% {
    opacity: 1;
    -webkit-transform: scaleX(1) scaleY(1) rotate(-10deg);
    transform: scaleX(1) scaleY(1) rotate(-10deg); }

  100% {
    opacity: 0;
    -webkit-transform: scaleX(1) scaleY(1) rotate(-10deg);
    transform: scaleX(1) scaleY(1) rotate(-10deg); } }

@keyframes landingSmokeRight {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0.1) scaleY(0.1);
    transform: scaleX(0.1) scaleY(0.1); }

  50% {
    opacity: 1;
    -webkit-transform: scaleX(1) scaleY(1) rotate(-10deg);
    transform: scaleX(1) scaleY(1) rotate(-10deg); }

  100% {
    opacity: 0;
    -webkit-transform: scaleX(1) scaleY(1) rotate(-10deg);
    transform: scaleX(1) scaleY(1) rotate(-10deg); } }
#marsOrbiter {
  position: absolute;
  top: 5%;
  left: -110px;
  width: 100px;
  height: auto;
  -webkit-animation: marsOrbiterMove 30s linear infinite;
  animation: marsOrbiterMove 30s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

@-webkit-keyframes marsOrbiterMove {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 200%; } }

@keyframes marsOrbiterMove {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 200%; } }
/* END MARS SKY --------------------------------- */
