
/* MARS ------------------------------- */
#marsPlanet_container
{

}

#mars
{
  position: absolute;
  top: 10%;
  right: 20%;
  height: 20px;
  width: auto;
  cursor: pointer; 

  // animation: marsPulse 3s ease-in-out infinite;
  // animation-fill-mode: forwards;
  // animation-delay: 25s;

  // animation: marsExpand 30s ease-in-out;
  // animation-fill-mode: forwards;
  // animation-delay: 25s;
}

// @keyframes marsExpand
// { 
//   0% { opacity: 0; }
//   65% { transform: scale(1); opacity: 1;}
//   85% { transform: scale(200); opacity: 1; }
//   100% { opacity: 0; }
// }

@keyframes marsPulse
{ 
  0% { transform: scale(1); }
  50% { transform: scale(2); }
  100% { transform: scale(1); }
}

.marsHuge
{
  transform: scale(200);
  transition: 20s;
}

/* END MARS ------------------------------- */


/* MARS SKY --------------------------------- */

#mars_container
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#marsGround
{
  position: absolute;
  bottom: 0px; left: 0;
  width: 100%;
  height: 150px;
  opacity: 1;

  animation: marsLanding 5s ease-out;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

// @keyframes marsLanding
// {
//   0% { opacity: 1; bottom: -200px; }
//   100% { opacity: 1; bottom: 0px; }
// }

#marsSky
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFCC99;

  animation: marsSkyChange 6s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  //cc6633
}

// @keyframes marsSkyChange
// {
//   0% { background-color: #cc6633; }
//   25% { background-color: #cc6633; }
//   100% { background-color: #ffcc99; }
// }



#marsMountains
{
  position: absolute;
  bottom: 60%; left: 0;
  width: 100%;
  height: 100px;
  opacity: 0.7;
  font-smoothing: antialiased;
}

#marsForeground
{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  font-smoothing: antialiased;
}

#dragon2_descent_container
{
  position: absolute;
  top: 0;
  left: 0; right: 0;
  margin: auto;
  height: 100%;
  width: 30%;
  max-width: 100px;
  border: 1px solid red;
}

#dragon2_container
{
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: auto;

  animation: dragon2moveY 14s ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes dragon2moveY
{
  0% { bottom: 110%; }
  50% { bottom: 50%; }
  100% { bottom: 50px; }
}


#dragon2_fire3_container
{
  position: absolute;
  top: 60%; left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid green;
  z-index: 1;

  animation: dragon2firefadeOut 3s;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}

#dragon2_fire3_container img
{
  position: absolute;
  top: -20px; left: 70px;
  width: 70px;
  height: auto;
}

#dragon2_fire3_large
{
  animation: dragon2fireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}

#dragon2_fire3_med
{
  animation: dragon2fireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}

#dragon2_fire3_small
{
  animation: dragon2fireFlicker .2s infinite;
  animation-fill-mode: forwards;
}

#dragon2
{
  width: 100%;
  height: auto;
  z-index: 3;
}

#dragon2_fire1_container
{
  position: absolute;
  top: 60%; left: 0;
  width: 100%;
  height: 100%;

  animation: dragon2firefadeOut 3s;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}

#dragon2_fire1_container img
{
  position: absolute;
  top: 0; left: -6px;
  width: 160px;
  height: auto;
}

#dragon2_fire1_large
{
  animation: dragon2fireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}

#dragon2_fire1_med
{
  animation: dragon2fireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}

#dragon2_fire1_small
{
  animation: dragon2fireFlicker .2s infinite;
  animation-fill-mode: forwards;
}


#dragon2_fire2_container
{
  position: absolute;
  top: 60%; left: 0;
  width: 100%;
  height: 100%;

  animation: dragon2firefadeOut 3s;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}

@keyframes dragon2firefadeOut
{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#dragon2_fire2_container img
{
  position: absolute;
  top: -20px; left: -40px;
  width: 80px;
  height: auto;
}

#dragon2_fire2_large
{
  animation: dragon2fireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}

#dragon2_fire2_med
{
  animation: dragon2fireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}

#dragon2_fire2_small
{
  animation: dragon2fireFlicker .2s infinite;
  animation-fill-mode: forwards;
}



@keyframes dragon2fireFlicker
{
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

#dragon2_shadow
{
  position: absolute;
  margin: auto;
  left: 0; right: 0;
  bottom: 23px;
  width: 100%;
  max-width: 120px;
  height: 40px;
  border-radius: 100%;
  background-color: #333;
  box-shadow: 0px 0px 40px rgba(34,34,34,0.6);

  animation: dragon2shadow 14s ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes dragon2shadow
{
  0% { opacity: 0; transform: scale(2); }
  50% { transform: scale(1.3); }
  100% { opacity: 0.7; transform: scale(0.9); }
}

#marsLandingPad
{
  position: absolute;
  margin: auto;
  bottom: 20px;
  left: 0; right: 0;
  width: 90%;
  max-width: 400px;
  height: auto;
}

#marsLandingPad img
{
  max-width: 100%;
}

.landingLightRed
{
  position: absolute;
  border-radius: 100%;
  border: 10px;

  animation: lightBlinkRed 2s infinite ;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

#landingLightRed1
{
  @extend .landingLightRed;
  bottom: 33px; left: 20px;
  height: 5px; width: 7px;
}

#landingLightRed2
{
  @extend .landingLightRed;
  top: 8px; right: 90px;
  height: 3px; width: 7px;
}

@keyframes lightBlinkRed
{
  0% { background-color: #FC1501; }
  50% { background-color: transparent; }
  100% { background-color: #FC1501; }
}

.landingLightGreen
{
  position: absolute;
  border-radius: 100%;
  border: 10px;

  animation: lightBlinkGreen 2s infinite ;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#landingLightGreen1
{
  @extend .landingLightGreen;
  bottom: 33px; right: 20px;
  height: 5px; width: 7px;
}

#landingLightGreen2
{
  @extend .landingLightGreen;
  top: 8px; left: 90px;
  height: 3px; width: 7px;
}

@keyframes lightBlinkGreen
{
  0% { background-color: #7CFC00; }
  50% { background-color: transparent; }
  100% { background-color: #7CFC00; }
}


#marsSmokeLeft
{
  position: absolute;
  top: -22px; left: 150px;
  height: auto;
  width: 150px;
  transform: scaleX(-1);
  transform-origin: 0% 50%;
  filter: FlipH;
  opacity: 0;

  animation: landingSmokeLeft 8s;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}

@keyframes landingSmokeLeft
{
  0% { opacity: 0; transform: scaleX(-0.1) scaleY(0.1); }
  50% { opacity: 1; transform: scaleX(-1) scaleY(1) rotate(-10deg); }
  100% { opacity: 0; transform: scaleX(-1) scaleY(1) rotate(-10deg); }
}

#marsSmokeRight
{
  position: absolute;
  top: -22px; right: 0px;
  height: auto;
  width: 150px;
  transform: rotate(-10deg);
  transform-origin: 0% 50%;
  opacity: 0;

  animation: landingSmokeRight 8s;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}

@keyframes landingSmokeRight
{
  0% { opacity: 0; transform: scaleX(0.1) scaleY(0.1); }
  50% { opacity: 1; transform: scaleX(1) scaleY(1) rotate(-10deg); }
  100% { opacity: 0; transform: scaleX(1) scaleY(1) rotate(-10deg); }
}

#marsOrbiter
{
  position:  absolute;
  top: 5%; left: -110px;
  width: 100px;
  height: auto;

  animation: marsOrbiterMove 30s linear infinite;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes marsOrbiterMove
{ 
  0% { margin-left: -100%; }
  100% { margin-left: 200%; }
}

/* END MARS SKY --------------------------------- */
