/* MARS ------------------------------- */
#mars {
  position: absolute;
  top: 10%;
  right: 20%;
  height: 20px;
  width: auto;
  cursor: pointer; }

@-webkit-keyframes marsPulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(2);
    transform: scale(2); }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes marsPulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(2);
    transform: scale(2); }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.marsHuge {
  -webkit-transform: scale(200);
  -ms-transform: scale(200);
  transform: scale(200);
  -webkit-transition: 20s;
  transition: 20s; }

/* END MARS ------------------------------- */
/* MARS SKY --------------------------------- */
#mars_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#marsGround {
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 150px;
  -webkit-animation: marsLanding 5s ease-out;
  animation: marsLanding 5s ease-out;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes marsLanding {
  0% {
    bottom: -200px; }

  100% {
    bottom: 0px; } }

@keyframes marsLanding {
  0% {
    bottom: -200px; }

  100% {
    bottom: 0px; } }
#marsSky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: marsSkyChange 6s;
  animation: marsSkyChange 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

@-webkit-keyframes marsSkyChange {
  0% {
    background-color: #cc6633; }

  25% {
    background-color: #cc6633; }

  100% {
    background-color: #ffcc99; } }

@keyframes marsSkyChange {
  0% {
    background-color: #cc6633; }

  25% {
    background-color: #cc6633; }

  100% {
    background-color: #ffcc99; } }
#grass {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../media/grass.jpg");
  -webkit-background-size: 200px 200px;
  background-size: 200px 200px;
  background-repeat: repeat;
  opacity: 0.3;
  border-radius: 90% / 5%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

#marsMountains {
  position: absolute;
  bottom: 60%;
  left: 0;
  width: 100%;
  height: 100px;
  opacity: 0.7;
  font-smoothing: antialiased; }

#marsForeground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-smoothing: antialiased; }

#dragon2_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 30%;
  max-width: 100px; }

#dragon2 {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-animation: dragon2moveY 14s ease-out;
  animation: dragon2moveY 14s ease-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#dragon2_shadow {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 16%;
  width: 100%;
  max-width: 100px;
  height: 50px;
  border-radius: 100%;
  background-color: #999;
  -webkit-box-shadow: 0px 0px 40px rgba(34, 34, 34, 0.6);
  box-shadow: 0px 0px 40px rgba(34, 34, 34, 0.6);
  -webkit-animation: dragon2shadow 14s ease-in;
  animation: dragon2shadow 14s ease-in;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#marsLandingPad {
  position: absolute;
  margin: auto;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 1px solid red; }

#marsLandingPad img {
  max-width: 100%; }

@-webkit-keyframes dragon2shadow {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2); }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    opacity: 0.7;
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

@keyframes dragon2shadow {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2); }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    opacity: 0.7;
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }
@-webkit-keyframes dragon2moveY {
  0% {
    bottom: 110%; }

  50% {
    bottom: 50%; }

  100% {
    bottom: 5%; } }
@keyframes dragon2moveY {
  0% {
    bottom: 110%; }

  50% {
    bottom: 50%; }

  100% {
    bottom: 5%; } }
.landingLightRed, #landingLightRed1, #landingLightRed2 {
  position: absolute;
  border-radius: 100%;
  border: 10px;
  -webkit-animation: lightBlinkRed 2s infinite;
  animation: lightBlinkRed 2s infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#landingLightRed1 {
  bottom: 21px;
  left: 20px;
  height: 5px;
  width: 7px; }

#landingLightRed2 {
  top: 5px;
  right: 90px;
  height: 3px;
  width: 7px; }

@-webkit-keyframes lightBlinkRed {
  0% {
    background-color: #FC1501; }

  50% {
    background-color: transparent; }

  100% {
    background-color: #FC1501; } }

@keyframes lightBlinkRed {
  0% {
    background-color: #FC1501; }

  50% {
    background-color: transparent; }

  100% {
    background-color: #FC1501; } }
.landingLightGreen, #landingLightGreen1, #landingLightGreen2 {
  position: absolute;
  border-radius: 100%;
  border: 10px;
  -webkit-animation: lightBlinkGreen 2s infinite;
  animation: lightBlinkGreen 2s infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#landingLightGreen1 {
  bottom: 21px;
  right: 20px;
  height: 5px;
  width: 7px; }

#landingLightGreen2 {
  top: 5px;
  left: 90px;
  height: 3px;
  width: 7px; }

@-webkit-keyframes lightBlinkGreen {
  0% {
    background-color: #7CFC00; }

  50% {
    background-color: transparent; }

  100% {
    background-color: #7CFC00; } }

@keyframes lightBlinkGreen {
  0% {
    background-color: #7CFC00; }

  50% {
    background-color: transparent; }

  100% {
    background-color: #7CFC00; } }
#marsSmokeRight {
  position: absolute;
  top: -20px;
  right: 5px;
  height: auto;
  width: 150px;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  border: 1px solid red;
  opacity: 0;
  -webkit-animation: marsSmokeRightMove 4s;
  animation: marsSmokeRightMove 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

@-webkit-keyframes marsSmokeRightMove {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2); }

  50% {
    opacity: 0.6;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

@keyframes marsSmokeRightMove {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2); }

  50% {
    opacity: 0.6;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }
#marsSmokeLeft {
  position: absolute;
  top: -20px;
  left: 5px;
  height: auto;
  width: 150px;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  border: 1px solid red;
  opacity: 0;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-filter: FlipH;
  filter: FlipH;
  -webkit-animation: marsSmokeLeftMove 4s;
  animation: marsSmokeLeftMove 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

@-webkit-keyframes marsSmokeLeftMove {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2); }

  50% {
    opacity: 0.6;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

@keyframes marsSmokeLeftMove {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2); }

  50% {
    opacity: 0.6;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }
#marsOrbiter {
  position: absolute;
  top: 5%;
  left: -110px;
  width: 100px;
  height: auto;
  -webkit-animation: marsOrbiterMove 30s linear infinite;
  animation: marsOrbiterMove 30s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

@-webkit-keyframes marsOrbiterMove {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 200%; } }

@keyframes marsOrbiterMove {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 200%; } }
#marsMessage {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 200px; }

#marsMessage p {
  color: #FFF;
  font-family: sans-serif;
  font-size: 3em;
  text-align: center; }

/* END MARS SKY --------------------------------- */
