$liftoff_delay: 5s;


/* ROCKET --------------------------------- */
#rocket_container
{
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0;
  width: 100px;
  height: 100%;
  // z-index: 2;
}

#rocket_assembly
{
  position: absolute;
  margin: auto;
  left: 0; right: 0;
  bottom: 100px;

  animation: upDown 10s ease-in-out;
  animation-delay: $liftoff_delay;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
}

#stage2
{
  position: relative;
  margin: auto;
  left: 0; right: 0;
  top: 57px;
  width: 100px;

  animation: stage2separation 5s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 18s;
}

#stage2_rocket
{
  position: relative;
  margin: auto;
  height: 139px;
  left: 0; right: 0;
}

#stage2_rocket img
{
  position: absolute;
  margin: auto;
  height: 139px;
  width: auto;
  left: 0; right: 0;
  // z-index: 3;
}

#stage2_fire
{
  position: relative;
  width: 100%;
  height: 21px;
}

#stage2_fire img
{
  position: absolute;
  margin: auto;
  left: 0; right: 0;
}

#stage2_fire_center
{
  animation: stage2FireFlicker .2s infinite;
  animation-fill-mode: forwards;
}

#stage2_fire_left
{
  animation: stage2FireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}

#stage2_fire_right
{
  animation: stage2FireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}

#stage1
{
  position: relative;
  margin: auto;
  left: 0; right: 0;
  top: 0px;
  // z-index: 4;
  width: 100px;

  animation: stage1separation 5s linear;
  animation-delay: 18s;
  animation-fill-mode: forwards;
}

#stage1_rocket
{
  position: relative;
  margin: auto;
  height: 303px;
  left: 0; right: 0;
}

#stage1_rocket img
{
  position: absolute;
  margin: auto;
  height: 303px;
  width: auto;
  left: 0; right: 0;
}

#stage1_fire
{
  position: relative;
  margin: auto;
  width: 100%;
}

#stage1_big_fire
{
  position: absolute;
  width: 100%;
  height: 338px;
  top: 240px;
  opacity: 0;
  transform: scaleY(0.7); 

  animation: bigFireFadeInOut 19s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#stage1_big_fire img
{
  position: absolute;
  margin: auto;
  left: 0; right: 0;

  transform: scaleX(0.7);
}

#stage1_big_fire_center
{
  animation: stage1fireFlicker .2s infinite;
  animation-fill-mode: forwards;
}

#stage1_big_fire_left
{
  animation: stage1fireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}

#stage1_big_fire_right
{
  animation: stage1fireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}


#stage1_small_fire
{
  position: absolute;
  width: 100%;
  height: 21px;
  top: 300px;
  animation: stage1SmallFireFadeInOut 5s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

#stage1_small_fire img
{
  position: absolute;
  margin: auto;
  left: 0; right: 0;
  transform: scale(1.2);
}

#stage1_small_fire_center
{
  animation: stage1fireFlicker .2s infinite;
  animation-fill-mode: forwards;
}

#stage1_small_fire_left
{
  animation: stage1fireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}

#stage1_small_fire_right
{
  animation: stage1fireFlicker .4s infinite;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}

/* END ROCKET --------------------------------- */


/* DRAGON ------------------------------------- */

#dragon
{
  position: absolute;
  top: 30%;
  height: 100px;
  width: auto;
  margin-left: -100%;
  transform: rotate(30deg);

  animation: dragonMoveX 25s linear;
  animation-iteration-count: 1;
  animation-delay: 15s;
  animation-fill-mode: forwards;
}

/* END DRAGON --------------------------------- */


/* KEYFRAMES ---------------------------------- */

@keyframes upDown
{
  0% { transform: translateY(0)}
  50% { transform: translateY(-50%)}
  100% { transform: translateY(0%)}
}

@keyframes stage2separation
{
  0% { transform: translateY(0); }
  100% { transform: translateY(-1000%); }
}

@keyframes stage2FireFlicker
{
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

@keyframes stage1separation
{
  0% { transform: translateY(0%) rotate(0deg);}
  80% { transform: translateY(200%) rotate(30deg);}
  99% { opacity: 1;}
  100% { transform: translateY(200%) rotate(30deg); opacity: 0;}
}

@keyframes bigFireFadeInOut
{
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes stage1SmallFireFadeInOut
{
  0% { opacity: 0;}
  25% { opacity: 1; }
  75% { transform: scaleX(1); opacity: 1; }
  100% { opacity: 0; transform: scaleX(0.2);}
}

@keyframes stage1fireFlicker
{
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}
/* END KEYFRAMES ---------------------------------- */

