/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END CSS RESET */
#site_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

/* EARTH --------------------------------- */
#sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #CCFFFF;
  -webkit-animation: skyChange 10s;
  animation: skyChange 10s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

#ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #99CC99;
  border-top-radius: 10000%;
  -webkit-animation: groundDrop 2s ease-in;
  animation: groundDrop 2s ease-in;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/* END EARTH --------------------------------- */
/* ROCKET --------------------------------- */
#rocket_container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100%; }

#rocket_full {
  position: absolute;
  margin: auto;
  bottom: 100px;
  left: 0;
  right: 0;
  height: 350px;
  width: auto;
  -webkit-animation: upDown 5s ease-in-out infinite;
  animation: upDown 5s ease-in-out infinite;
  -webkit-animation-delay: 5s;
  animation-delay: 5s; }

/* END ROCKET --------------------------------- */
/* SUPPORT --------------------------------- */
#support_container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100%; }

#support {
  position: absolute;
  margin: auto;
  bottom: 100px;
  height: 350px;
  width: auto;
  left: -30px;
  -webkit-animation: supportPivot 5s ease-in-out;
  animation: supportPivot 5s ease-in-out;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/* END SUPPORT --------------------------------- */
/* TOWERS --------------------------------- */
#tower_container {
  position: relative;
  width: 45%;
  margin: auto;
  height: 300px; }

.frontTowers, #tower1, #tower2 {
  height: 400px;
  width: auto;
  position: absolute;
  bottom: 150px;
  -webkit-animation: frontTowerDrop 7s ease-in;
  animation: frontTowerDrop 7s ease-in;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

#tower1 {
  left: 5%; }

#tower2 {
  right: 5%; }

.rearTowers, #tower3, #tower4 {
  height: 300px;
  width: auto;
  position: absolute;
  bottom: 240px;
  opacity: 0.7;
  -webkit-animation: rearTowerDrop 7s ease-in;
  animation: rearTowerDrop 7s ease-in;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

#tower3 {
  left: 15%; }

#tower4 {
  right: 15%; }

@media (max-width: 600px) {
  #tower_container {
    width: 100%; } }
/* END TOWERS --------------------------------- */
/* TREES --------------------------------- */
.trees, #tree_container_left #tree1, #tree_container_left #tree2, #tree_container_left #tree3, #tree_container_left #tree4, #tree_container_left #tree5, #tree_container_right #tree6, #tree_container_right #tree7, #tree_container_right #tree8, #tree_container_right #tree9, #tree_container_right #tree10 {
  position: absolute;
  width: auto; }

#tree_container_left {
  position: relative;
  float: left;
  width: 27%;
  height: 300px; }
  #tree_container_left #tree1 {
    top: -60px;
    left: 3%;
    height: 80px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_left #tree2 {
    top: -50px;
    left: 20%;
    height: 60px;
    opacity: 0.8; }
  #tree_container_left #tree3 {
    top: -50px;
    left: 30%;
    height: 85px; }
  #tree_container_left #tree4 {
    top: -80px;
    left: 70%;
    height: 100px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_left #tree5 {
    top: -60px;
    left: 90%;
    height: 70px;
    opacity: 0.8; }

#tree_container_right {
  position: relative;
  float: right;
  width: 27%;
  height: 300px; }
  #tree_container_right #tree6 {
    top: -60px;
    right: 3%;
    height: 100px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_right #tree7 {
    top: -50px;
    right: 20%;
    height: 70px;
    opacity: 0.8; }
  #tree_container_right #tree8 {
    top: -40px;
    right: 35%;
    height: 90px; }
  #tree_container_right #tree9 {
    top: -60px;
    right: 50%;
    height: 100px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_right #tree10 {
    top: -40px;
    right: 70%;
    height: 60px;
    opacity: 0.8; }

@media (max-width: 600px) {
  #tree_container_left, #tree_container_right {
    display: none; } }
/* END TREES --------------------------------- */
/* CLOUDS ------------------------------------ */
.clouds, #cloud1, #cloud2, #cloud3, #cloud4, #cloud5, #cloud6, #cloud7, #cloud8, #cloud9 {
  position: absolute;
  width: auto;
  -webkit-animation: cloudMove1 3s linear infinite;
  animation: cloudMove1 3s linear infinite; }

#cloud_container1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: cloudDrop1 3s ease-in;
  animation: cloudDrop1 3s ease-in;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

#cloud1 {
  top: 5%;
  left: -5%;
  height: 70px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#cloud2 {
  top: 20%;
  left: -25%;
  height: 60px; }

#cloud3 {
  top: 15%;
  left: 10%;
  height: 65px; }

#cloud4 {
  top: -3%;
  left: 25%;
  height: 70px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#cloud5 {
  top: 2%;
  left: 35%;
  height: 60px; }

#cloud6 {
  top: 33%;
  left: 50%;
  height: 65px; }

#cloud7 {
  top: 40%;
  left: 70%;
  height: 60px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#cloud8 {
  top: 10%;
  right: 0%;
  height: 70px; }

#cloud9 {
  top: 5%;
  right: -5%;
  height: 60px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

@-webkit-keyframes cloudMove1 {
  0% {
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%); }

  100% {
    -webkit-transform: translateX(500%);
    transform: translateX(500%); } }

@keyframes cloudMove1 {
  0% {
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%); }

  100% {
    -webkit-transform: translateX(500%);
    transform: translateX(500%); } }
/* END CLOUDS ------------------------------------ */
