/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END CSS RESET */
#site_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

/* SKY --------------------------------- */
#sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #CCFFFF;
  -webkit-animation: skyChange 20s;
  animation: skyChange 20s;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes skyChange {
  0% {
    background-color: #CCFFFF; }

  75% {
    background-color: #000033; }

  100% {
    background-color: #000000; } }

@keyframes skyChange {
  0% {
    background-color: #CCFFFF; }

  75% {
    background-color: #000033; }

  100% {
    background-color: #000000; } }
/* END SKY --------------------------------- */
/* CLOUDS ------------------------------------ */
.clouds1, #cloud1, #cloud2, #cloud3, #cloud4, #cloud5, #cloud6, #cloud7, #cloud8, #cloud9, #cloud10 {
  position: absolute;
  width: auto;
  -webkit-animation: cloudMove1 3s linear infinite;
  animation: cloudMove1 3s linear infinite; }

#cloud_container1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  -webkit-animation: cloudDrop1 3s ease-in;
  animation: cloudDrop1 3s ease-in;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#cloud1 {
  top: 5%;
  left: -5%;
  height: 70px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#cloud2 {
  top: 20%;
  left: -25%;
  height: 60px; }

#cloud3 {
  top: 15%;
  left: 10%;
  height: 65px; }

#cloud4 {
  top: -3%;
  left: 25%;
  height: 70px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#cloud5 {
  top: 2%;
  left: 35%;
  height: 60px; }

#cloud6 {
  top: 33%;
  left: 50%;
  height: 65px; }

#cloud7 {
  top: 40%;
  left: 70%;
  height: 60px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#cloud8 {
  top: 10%;
  right: 0%;
  height: 70px; }

#cloud9 {
  top: 5%;
  right: -5%;
  height: 60px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#cloud10 {
  top: 5%;
  left: -5%;
  height: 70px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

.clouds2, #cloud11, #cloud12, #cloud13, #cloud14, #cloud15, #cloud16, #cloud17, #cloud18, #cloud19, #cloud10 {
  position: absolute;
  width: auto;
  -webkit-animation: cloudMove2 2.5s linear infinite;
  animation: cloudMove2 2.5s linear infinite;
  tranform: scale(0.3, 0.3); }

#cloud_container2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: cloudDrop2 2s ease-in;
  animation: cloudDrop2 2s ease-in;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#cloud11 {
  top: 20%;
  left: -25%;
  height: 60px; }

#cloud12 {
  top: 15%;
  left: 10%;
  height: 65px; }

#cloud13 {
  top: -3%;
  left: 25%;
  height: 70px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#cloud14 {
  top: 2%;
  left: 35%;
  height: 60px; }

#cloud15 {
  top: 33%;
  left: 50%;
  height: 65px; }

#cloud16 {
  top: 40%;
  left: 70%;
  height: 60px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#cloud17 {
  top: 10%;
  right: 0%;
  height: 70px; }

#cloud18 {
  top: 5%;
  right: -5%;
  height: 60px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#cloud19 {
  top: 5%;
  left: -5%;
  height: 70px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#cloud10 {
  top: 5%;
  left: -5%;
  height: 70px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

/* END CLOUDS ------------------------------------ */
/* STARS ---------------------------------------- */
.star {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  -webkit-animation: starFadeIn 20s;
  animation: starFadeIn 20s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.twinkle, #star_container #star1, #star_container #star4, #star_container #star7, #star_container #star10, #star_container #star13, #star_container #star16, #star_container #star19, #star_container #star22, #star_container #star25, #star_container #star28 {
  -webkit-animation: twinkle 5s infinite alternate;
  animation: twinkle 5s infinite alternate; }

#star_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  #star_container #star1 {
    top: 5%;
    left: 10%;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s; }
  #star_container #star2 {
    top: 30%;
    left: 15%; }
  #star_container #star3 {
    top: 10%;
    left: 20%; }
  #star_container #star4 {
    top: 40%;
    left: 25%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  #star_container #star5 {
    top: 35%;
    left: 95%; }
  #star_container #star6 {
    top: 20%;
    left: 35%; }
  #star_container #star7 {
    top: 5%;
    left: 40%;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s; }
  #star_container #star8 {
    top: 25%;
    left: 45%; }
  #star_container #star9 {
    top: 30%;
    left: 90%; }
  #star_container #star10 {
    top: 50%;
    left: 55%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  #star_container #star11 {
    top: 10%;
    left: 60%; }
  #star_container #star12 {
    top: 45%;
    left: 65%; }
  #star_container #star13 {
    top: 40%;
    left: 70%;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s; }
  #star_container #star14 {
    top: 5%;
    left: 75%; }
  #star_container #star15 {
    top: 15%;
    left: 80%; }
  #star_container #star16 {
    top: 95%;
    left: 85%;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  #star_container #star17 {
    top: 75%;
    left: 90%; }
  #star_container #star18 {
    top: 80%;
    left: 95%; }
  #star_container #star19 {
    top: 55%;
    left: 5%;
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s; }
  #star_container #star20 {
    top: 60%;
    left: 10%; }
  #star_container #star21 {
    top: 70%;
    left: 20%; }
  #star_container #star22 {
    top: 55%;
    left: 30%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  #star_container #star23 {
    top: 90%;
    left: 40%; }
  #star_container #star24 {
    top: 80%;
    left: 50%; }
  #star_container #star25 {
    top: 50%;
    left: 60%;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s; }
  #star_container #star26 {
    top: 95%;
    left: 70%; }
  #star_container #star27 {
    top: 80%;
    left: 80%; }
  #star_container #star28 {
    top: 65%;
    left: 90%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  #star_container #star29 {
    top: 90%;
    left: 95%; }
  #star_container #star30 {
    top: 70%;
    left: 5%; }

/* END STARS --------------------------------- */
/* ROCKET --------------------------------- */
#rocket_container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100%;
  z-index: 2; }

#rocket_assembly {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -300px;
  -webkit-animation: upDown 15s;
  animation: upDown 15s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes upDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
#stage2 {
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  width: 100px;
  -webkit-animation: stage2separation 5s ease-in;
  animation: stage2separation 5s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 18s;
  animation-delay: 18s; }

@-webkit-keyframes stage2separation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(-1000%);
    transform: translateY(-1000%); } }

@keyframes stage2separation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(-1000%);
    transform: translateY(-1000%); } }
#stage2_rocket {
  position: relative;
  margin: auto;
  height: 139px;
  left: 0;
  right: 0; }

#stage2_rocket img {
  position: absolute;
  margin: auto;
  height: 139px;
  width: auto;
  left: 0;
  right: 0;
  z-index: 3; }

#stage2_fire {
  position: relative;
  width: 100%;
  height: 21px; }

#stage2_fire img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0; }

#stage2_fire_center {
  -webkit-animation: fireFlicker .2s infinite;
  animation: fireFlicker .2s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#stage2_fire_left {
  -webkit-animation: fireFlicker .4s infinite;
  animation: fireFlicker .4s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

#stage2_fire_right {
  -webkit-animation: fireFlicker .4s infinite;
  animation: fireFlicker .4s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

@-webkit-keyframes fireFlicker {
  0% {
    opacity: 0.2; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0.2; } }

@keyframes fireFlicker {
  0% {
    opacity: 0.2; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0.2; } }
#stage1 {
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: -57px;
  z-index: 4;
  width: 100px;
  -webkit-animation: stage1separation 5s linear;
  animation: stage1separation 5s linear;
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes stage1separation {
  0% {
    -webkit-transform: translateY(0%) rotate(0deg);
    transform: translateY(0%) rotate(0deg); }

  80% {
    -webkit-transform: translateY(100%) rotate(30deg);
    transform: translateY(100%) rotate(30deg); }

  99% {
    opacity: 1; }

  100% {
    -webkit-transform: translateY(100%) rotate(30deg);
    transform: translateY(100%) rotate(30deg);
    opacity: 0; } }

@keyframes stage1separation {
  0% {
    -webkit-transform: translateY(0%) rotate(0deg);
    transform: translateY(0%) rotate(0deg); }

  80% {
    -webkit-transform: translateY(100%) rotate(30deg);
    transform: translateY(100%) rotate(30deg); }

  99% {
    opacity: 1; }

  100% {
    -webkit-transform: translateY(100%) rotate(30deg);
    transform: translateY(100%) rotate(30deg);
    opacity: 0; } }
#stage1_rocket {
  position: relative;
  margin: auto;
  height: 303px;
  left: 0;
  right: 0; }

#stage1_rocket img {
  position: absolute;
  margin: auto;
  height: 303px;
  width: auto;
  left: 0;
  right: 0;
  z-index: 4; }

#stage1_fire {
  position: relative;
  width: 100%;
  height: 338px;
  top: -10px;
  -webkit-animation: fireFadeIn 1s;
  animation: fireFadeIn 1s; }

@-webkit-keyframes fireFadeIn {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fireFadeIn {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
#stage1_fire img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0.7);
  -ms-transform: scaleX(0.7);
  transform: scaleX(0.7); }

#stage1_fire_center {
  -webkit-animation: fireFlicker .2s infinite;
  animation: fireFlicker .2s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#stage1_fire_left {
  -webkit-animation: fireFlicker .4s infinite;
  animation: fireFlicker .4s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

#stage1_fire_right {
  -webkit-animation: fireFlicker .4s infinite;
  animation: fireFlicker .4s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

/* END ROCKET --------------------------------- */
/* GROUND -------------------------------- */
#ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #99CC99;
  -webkit-animation: groundDrop 2s ease-in;
  animation: groundDrop 2s ease-in;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#ground::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: 1px solid red;
  background-color: red; }

@-webkit-keyframes groundDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px); } }

@keyframes groundDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px); } }
/* END GROUND ---------------------------- */
/* STATION -------------------------------- */
#station {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 800px;
  height: 100%; }

#launchpad {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 70px;
  width: 202px;
  height: 48px;
  z-index: 1; }

#smoke_container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 70px;
  z-index: 10;
  opacity: 0;
  -webkit-animation: liftOffSmoke 5s ease-out;
  animation: liftOffSmoke 5s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

@-webkit-keyframes liftOffSmoke {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1); }

  50% {
    opacity: 0.8; }

  100% {
    opacity: 0.7;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes liftOffSmoke {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1); }

  50% {
    opacity: 0.8; }

  100% {
    opacity: 0.7;
    -webkit-transform: scale(1);
    transform: scale(1); } }
#smoke_left {
  top: -60px;
  left: 3%;
  height: auto;
  width: 49.5%;
  -webkit-transform: scaleX(-1) rotate(-10deg);
  -ms-transform: scaleX(-1) rotate(-10deg);
  transform: scaleX(-1) rotate(-10deg);
  -webkit-filter: FlipH;
  filter: FlipH; }

#smoke_right {
  top: -60px;
  left: 3%;
  height: auto;
  width: 49.5%;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg); }

#building1 {
  position: absolute;
  top: 75px;
  left: 75px; }

#building2 {
  position: absolute;
  top: 50px;
  right: 175px;
  -webkit-transform: scaleX(-1) scale(0.8);
  -ms-transform: scaleX(-1) scale(0.8);
  transform: scaleX(-1) scale(0.8);
  -webkit-filter: FlipH;
  filter: FlipH; }

@media (max-width: 800px) {
  #building1, #building2 {
    display: none; } }
#support_container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100%; }

#support {
  position: absolute;
  margin: auto;
  bottom: 100px;
  height: 400px;
  z-index: 3;
  width: auto;
  left: -40px;
  -webkit-animation: supportPivot 5s ease-in-out;
  animation: supportPivot 5s ease-in-out;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes supportPivot {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg); } }

@keyframes supportPivot {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg); } }
#tower_container {
  position: relative;
  width: 100%;
  margin: auto;
  height: 300px; }

.frontTowers, #tower1, #tower2 {
  height: 500px;
  width: auto;
  position: absolute;
  bottom: 150px;
  -webkit-animation: frontTowerDrop 2s ease-in;
  animation: frontTowerDrop 2s ease-in;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#tower1 {
  left: 5%;
  z-index: 2; }

#tower2 {
  right: 5%;
  z-index: 2; }

@-webkit-keyframes frontTowerDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@keyframes frontTowerDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
.rearTowers, #tower3, #tower4 {
  height: 350px;
  width: auto;
  position: absolute;
  bottom: 240px;
  opacity: 0.7;
  -webkit-animation: rearTowerDrop 3s ease-in;
  animation: rearTowerDrop 3s ease-in;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#tower3 {
  left: 15%; }

#tower4 {
  right: 15%; }

@-webkit-keyframes rearTowerDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@keyframes rearTowerDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
/* END STATION --------------------------------- */
/* TREES --------------------------------- */
.trees, #tree_container_left #tree1, #tree_container_left #tree2, #tree_container_left #tree3, #tree_container_left #tree4, #tree_container_left #tree5, #tree_container_right #tree6, #tree_container_right #tree7, #tree_container_right #tree8, #tree_container_right #tree9, #tree_container_right #tree10 {
  position: absolute;
  width: auto;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

#tree_container_left {
  position: relative;
  float: left;
  width: 30%;
  height: 300px; }
  #tree_container_left #tree1 {
    top: -60px;
    left: 3%;
    height: 80px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_left #tree2 {
    top: -50px;
    left: 20%;
    height: 60px;
    opacity: 0.8; }
  #tree_container_left #tree3 {
    top: -50px;
    left: 30%;
    height: 85px; }
  #tree_container_left #tree4 {
    top: -80px;
    left: 70%;
    height: 100px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_left #tree5 {
    top: -60px;
    left: 90%;
    height: 70px;
    opacity: 0.8; }

#tree_container_right {
  position: relative;
  float: right;
  width: 30%;
  height: 300px; }
  #tree_container_right #tree6 {
    top: -60px;
    right: 3%;
    height: 100px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_right #tree7 {
    top: -50px;
    right: 20%;
    height: 70px;
    opacity: 0.8; }
  #tree_container_right #tree8 {
    top: -40px;
    right: 35%;
    height: 90px; }
  #tree_container_right #tree9 {
    top: -60px;
    right: 50%;
    height: 100px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_right #tree10 {
    top: -40px;
    right: 70%;
    height: 60px;
    opacity: 0.8; }

@media (max-width: 800px) {
  #tree_container_left, #tree_container_right {
    opacity: 0.8;
    -webkit-transform: scale(0.8) translateY(-30px);
    -ms-transform: scale(0.8) translateY(-30px);
    transform: scale(0.8) translateY(-30px); } }
/* END TREES --------------------------------- */
