/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS RESET */

#site_container
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

$liftOffDelay: 3s;

#sky
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #CCFFFF;

  animation: skyChange 10s;
  animation-delay: $liftOffDelay;
}

// @keyframes skyChange
// {
//   0% {background-color: #CCFFFF;}
//   100% {background-color: #000000;}
// }

#ground
{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 200px;
  background-color: #99CC99;
  border-top-radius: 10000%;

  animation: groundDrop 3s ease-in;
  animation-delay: $liftOffDelay;
  animation-fill-mode: forwards;
}

// @keyframes groundDrop
// {
//   0% { transform: translateY(0)}
//   100% { transform: translateY(300%)}
// }


#rocket_container
{
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0;
  border: 1px dotted #000;
  width: 100px;
  height: 100%;
}

$rocketSupportBottomDistance: 100px;

#rocket_full
{
  position: absolute;
  margin: auto;
  bottom: $rocketSupportBottomDistance;
  left: 0; right: 0;
  height: 350px;
  width: auto;

  animation: upDown 5s ease-in-out infinite;
  animation-delay: 5s
}

// @keyframes upDown
// {
//   0% { transform: translateY(0px)}
//   50% { transform: translateY(-50%)}
//   100% { transform: translateY(0px)}
// }

#support
{
  position: absolute;
  margin: auto;
  bottom: $rocketSupportBottomDistance;
  left: 40%;

  animation: supportPivot 5s ease-in-out;
  transform-origin: 10% 120%;
  animation-fill-mode: forwards;
}

// @keyframes supportPivot
// {
//   0% { transform: translateX(0) rotate(0deg)}
//   100% { transform: translateX(40px) rotate(-20deg)}
// }



#tower_container
{
  position: relative;
  width: 38%;
  margin: auto;
  height: 300px;
  border: 1px solid blue;
}

$towerFrontBottomDistance: 80px;
$towerFrontHeight: 500px;

$towerRearBottomDistance: 160px;
$towerRearHeight: 400px;

.frontTowers
{
  height: $towerFrontHeight;
  width: auto;
  position: absolute;
  bottom: $towerFrontBottomDistance;

  animation: frontTowerDrop 7s ease-in;
  animation-delay: $liftOffDelay;
}

#tower1
{
  left: 25%;
  @extend .frontTowers;
}

#tower2
{
  right: 30%;
  @extend .frontTowers;
}

// @keyframes frontTowerDrop
// {
//   0% { transform: translateY(0)}
//   100% { transform: translateY(300%)}
// }

.rearTowers
{
  height: $towerRearHeight;
  width: auto;
  position: absolute;
  bottom: $towerRearBottomDistance; 

  animation: rearTowerDrop 6s ease-in;
  animation-delay: $liftOffDelay;
}

#tower3
{
  left: 35%;
  @extend .rearTowers;
}

#tower4
{
  right: 25%;
  @extend .rearTowers;
}

// @keyframes rearTowerDrop
// {
//   0% { transform: translateY(0)}
//   100% { transform: translateY(300%)}
// }

#tree_container_left
{
  position: relative;
  float: left;
  width: 30%;
  border: 1px solid red;
  height: 300px;
}

#tree_container_right
{
  position: relative;
  float: right;
  width: 30%;
  border: 1px solid red;
  height: 300px;
}

.trees
{
  position: absolute;
  width: auto;
}

#tree1
{
  bottom: 180px; left: 8%;
  height: 80px;
  @extend .trees;
  transform: scaleX(-1);
  filter: FlipH;
}

#tree2
{
  bottom: 190px; left: 13%;
  height: 60px;
  @extend .trees;
  transform: scaleX(-1);
  filter: FlipH;
}

#tree3
{
  bottom: 180px; left: 18%;
  height: 85px;
  @extend .trees;
}

#tree4
{
  bottom: 80px; left: 40%;
  height: 100px;
  @extend .trees;
}

#tree5
{
  bottom: 80px; right: 10%;
  height: 100px;
  @extend .trees;
}

#tree6
{
  bottom: 80px; right: 20%;
  height: 100px;
  @extend .trees;
}

#tree7
{
  bottom: 80px; right: 30%;
  height: 100px;
  @extend .trees;
}

#tree8
{
  bottom: 80px; right: 40%;
  height: 100px;
  @extend .trees;
}

@media (max-width: 600px)
{
  #tree_container_left, #tree_container_right
  {
    display: none;
  }

  #tower_container
  {
    width: 100%;
  }
}
