/* CSS RESET ------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END CSS RESET -------------------------- */
#site_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#earth_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#mars_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* SKY --------------------------------- */
#sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #BFEFFF;
  -webkit-animation: skyChange 20s;
  animation: skyChange 20s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/* END SKY --------------------------------- */
/* REAR CLOUDS ------------------------------------ */
#rearCloud_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: cloudMoveY 28s ease-in;
  animation: cloudMoveY 28s ease-in;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.rearClouds, #rearCloud1, #rearCloud2, #rearCloud3, #rearCloud4, #rearCloud5, #rearCloud6, #rearCloud7, #rearCloud8, #rearCloud9, #rearCloud10, #rearCloud11, #rearCloud12, #rearCloud13, #rearCloud14, #rearCloud15 {
  position: absolute;
  width: auto; }

#rearCloud1 {
  top: 23%;
  left: 8%;
  height: 30px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#rearCloud2 {
  top: 17%;
  right: 20%;
  height: 35px; }

#rearCloud3 {
  top: 12%;
  left: -10%;
  height: 40px; }

#rearCloud4 {
  top: 12%;
  right: 25%;
  height: 45px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#rearCloud5 {
  top: 17%;
  left: 30%;
  height: 50px; }

#rearCloud6 {
  top: 23%;
  right: 50%;
  height: 45px; }

#rearCloud7 {
  top: 27%;
  left: 20%;
  height: 40px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#rearCloud8 {
  top: 23%;
  right: 0%;
  height: 35px; }

#rearCloud9 {
  top: 22%;
  left: 15%;
  height: 30px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#rearCloud10 {
  top: 19%;
  right: 18%;
  height: 35px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#rearCloud11 {
  top: 21%;
  left: 56%;
  height: 40px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#rearCloud12 {
  top: 18%;
  right: 4%;
  height: 45px; }

#rearCloud13 {
  top: 11%;
  left: 25%;
  height: 50px; }

#rearCloud14 {
  top: 15%;
  right: 35%;
  height: 40px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#rearCloud15 {
  top: 15%;
  left: 15%;
  height: 35px; }

@media (max-width: 600px) {
  #rearCloud8, #rearCloud9, #rearCloud10, #rearCloud11, #rearCloud12, #rearCloud13, #rearCloud14, #rearCloud15 {
    display: none; }

  #middleCloud6, #middleCloud7, #middleCloud8, #middleCloud9, #middleCloud10 {
    display: none; }

  #frontCloud12, #frontCloud13, #frontCloud14, #frontCloud15 {
    display: none; } }
/* REAR CLOUDS ---------------------------- */
/* MIDDLE CLOUDS ---------------------------- */
#middleCloud_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: cloudMoveY 26s ease-in;
  animation: cloudMoveY 26s ease-in;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.middleClouds, #middleCloud1, #middleCloud2, #middleCloud3, #middleCloud4, #middleCloud5, #middleCloud6, #middleCloud7, #middleCloud8, #middleCloud9, #middleCloud10 {
  position: absolute;
  width: auto; }

#middleCloud1 {
  top: 5%;
  left: -5%;
  height: 80px; }

#middleCloud2 {
  top: 10%;
  right: 20%;
  height: 65px; }

#middleCloud3 {
  top: 15%;
  left: 5%;
  height: 70px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#middleCloud4 {
  top: 20%;
  right: -5%;
  height: 80px; }

#middleCloud5 {
  top: 25%;
  left: 34%;
  height: 65px; }

#middleCloud6 {
  top: 13%;
  right: 27%;
  height: 80px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#middleCloud7 {
  top: 5%;
  left: 20%;
  height: 70px; }

#middleCloud8 {
  top: 10%;
  right: -15%;
  height: 80px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#middleCloud9 {
  top: 20%;
  left: -6%;
  height: 70px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#middleCloud10 {
  top: 5%;
  right: -5%;
  height: 70px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

/* FRONT CLOUDS ------------------------------- */
#frontCloud_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: cloudMoveY 14s ease-in;
  animation: cloudMoveY 14s ease-in;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.frontClouds, #frontCloud1, #frontCloud2, #frontCloud3, #frontCloud4, #frontCloud5, #frontCloud6, #frontCloud7, #frontCloud8, #frontCloud9, #frontCloud10, #frontCloud11, #frontCloud12, #frontCloud13, #frontCloud14, #frontCloud15 {
  position: absolute;
  width: auto; }

#frontCloud1 {
  top: -10%;
  left: 5%;
  height: 120px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#frontCloud2 {
  top: -20%;
  right: -15%;
  height: 110px; }

#frontCloud3 {
  top: -30%;
  left: 20%;
  height: 115px; }

#frontCloud4 {
  top: -40%;
  right: 45%;
  height: 140px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#frontCloud5 {
  top: -50%;
  left: 48%;
  height: 130px; }

#frontCloud6 {
  top: -60%;
  right: 77%;
  height: 145px; }

#frontCloud7 {
  top: -70%;
  left: 20%;
  height: 140px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#frontCloud8 {
  top: -80%;
  right: -18%;
  height: 130px; }

#frontCloud9 {
  top: -100%;
  left: 8%;
  height: 120px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#frontCloud10 {
  top: -100%;
  right: -5%;
  height: 130px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#frontCloud11 {
  top: -110%;
  left: 5%;
  height: 120px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#frontCloud12 {
  top: -120%;
  right: 7%;
  height: 110px; }

#frontCloud13 {
  top: -130%;
  left: -10%;
  height: 115px; }

#frontCloud14 {
  top: -140%;
  right: 45%;
  height: 140px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

#frontCloud15 {
  top: -150%;
  left: 77%;
  height: 130px; }

/* END FRONT CLOUDS  ---------------------------------------- */
/* STARS ---------------------------------------- */
#star_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-animation: starFadeIn 20s;
  animation: starFadeIn 20s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
  animation-delay: 5s; }

.star {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background-color: #FFF; }

.twinkle, #star1, #star4, #star7, #star10, #star13, #star16, #star19, #star22, #star25, #star28 {
  -webkit-animation: twinkle 5s infinite alternate;
  animation: twinkle 5s infinite alternate;
  -webkit-animation-delay: 20s;
  animation-delay: 20s; }

#star1 {
  top: 5%;
  left: 10%;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

#star2 {
  top: 30%;
  left: 15%; }

#star3 {
  top: 10%;
  left: 20%; }

#star4 {
  top: 40%;
  left: 25%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

#star5 {
  top: 35%;
  left: 95%; }

#star6 {
  top: 20%;
  left: 35%; }

#star7 {
  top: 5%;
  left: 40%;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s; }

#star8 {
  top: 25%;
  left: 45%; }

#star9 {
  top: 30%;
  left: 90%; }

#star10 {
  top: 50%;
  left: 55%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

#star11 {
  top: 10%;
  left: 60%; }

#star12 {
  top: 45%;
  left: 65%; }

#star13 {
  top: 40%;
  left: 70%;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s; }

#star14 {
  top: 5%;
  left: 75%; }

#star15 {
  top: 15%;
  left: 80%; }

#star16 {
  top: 95%;
  left: 85%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

#star17 {
  top: 75%;
  left: 90%; }

#star18 {
  top: 80%;
  left: 17%; }

#star19 {
  top: 55%;
  left: 5%;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s; }

#star20 {
  top: 60%;
  left: 10%; }

#star21 {
  top: 70%;
  left: 20%; }

#star22 {
  top: 55%;
  left: 30%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

#star23 {
  top: 90%;
  left: 40%; }

#star24 {
  top: 80%;
  left: 50%; }

#star25 {
  top: 50%;
  left: 60%;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

#star26 {
  top: 95%;
  left: 70%; }

#star27 {
  top: 80%;
  left: 80%; }

#star28 {
  top: 65%;
  left: 90%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

#star29 {
  top: 90%;
  left: 95%; }

#star30 {
  top: 70%;
  left: 5%; }

/* END STARS --------------------------------- */
/* GROUND ---------------------------- */
#earth {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  -webkit-animation: groundDrop 5s ease-in;
  animation: groundDrop 5s ease-in;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#ground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #99CC99;
  border-radius: 90% / 5%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

#grass {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../media/grass.jpg");
  -webkit-background-size: 200px 200px;
  background-size: 200px 200px;
  background-repeat: repeat;
  opacity: 0.3;
  border-radius: 90% / 5%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

#mountains {
  position: absolute;
  bottom: 95%;
  left: 0;
  width: 100%;
  height: 50px;
  opacity: 0.7;
  font-smoothing: antialiased; }

/* END GROUND ---------------------------- */
/* TREES --------------------------------- */
.trees, #tree_container_left #tree1, #tree_container_left #tree2, #tree_container_left #tree3, #tree_container_left #tree4, #tree_container_left #tree5, #tree_container_right #tree6, #tree_container_right #tree7, #tree_container_right #tree8, #tree_container_right #tree9, #tree_container_right #tree10 {
  position: absolute;
  width: auto;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

#tree_container_left {
  position: relative;
  float: left;
  width: 30%;
  height: 300px; }
  #tree_container_left #tree1 {
    top: -40px;
    left: 3%;
    height: 60px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_left #tree2 {
    top: -30px;
    left: 20%;
    height: 40px;
    opacity: 0.8; }
  #tree_container_left #tree3 {
    top: -50px;
    left: 30%;
    height: 65px; }
  #tree_container_left #tree4 {
    top: -60px;
    left: 70%;
    height: 80px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_left #tree5 {
    top: -40px;
    left: 90%;
    height: 50px;
    opacity: 0.8; }

#tree_container_right {
  position: relative;
  float: right;
  width: 30%;
  height: 300px; }
  #tree_container_right #tree6 {
    top: -60px;
    right: 3%;
    height: 80px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_right #tree7 {
    top: -30px;
    right: 20%;
    height: 50px;
    opacity: 0.8; }
  #tree_container_right #tree8 {
    top: -50px;
    right: 35%;
    height: 70px; }
  #tree_container_right #tree9 {
    top: -60px;
    right: 50%;
    height: 80px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH; }
  #tree_container_right #tree10 {
    top: -30px;
    right: 70%;
    height: 40px;
    opacity: 0.8; }

@media (max-width: 800px) {
  #tree_container_left, #tree_container_right {
    opacity: 0.8;
    -webkit-transform: scale(0.8) translateY(-30px);
    -ms-transform: scale(0.8) translateY(-30px);
    transform: scale(0.8) translateY(-30px); } }
/* END TREES --------------------------------- */
/* COWS ------------------------------------ */
#cow_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.cow, #cow1, #cow2, #cow3, #cow4 {
  position: absolute;
  width: auto;
  opacity: 0.7;
  -webkit-animation: cowMove 5s;
  animation: cowMove 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

@-webkit-keyframes cowMove {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }

  100% {
    -webkit-transform: translate(-110%, -10%);
    transform: translate(-110%, -10%); } }

@keyframes cowMove {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }

  100% {
    -webkit-transform: translate(-110%, -10%);
    transform: translate(-110%, -10%); } }
#cow1 {
  top: 30px;
  left: 30px;
  height: 15px; }

#cow2 {
  top: 50px;
  left: 40px;
  height: 13px; }

#cow3 {
  top: 30px;
  left: 80px;
  height: 17px; }

#cow4 {
  top: 30px;
  left: 80px;
  height: 27px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH; }

/* END COWS ------------------------------------ */
/* STATION -------------------------------- */
#station {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 800px;
  height: 100%; }

#launchpad {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 65px;
  width: 202px;
  height: 48px;
  -webkit-filter: drop-shadow(0px -20px 25px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px -20px 25px rgba(0, 0, 0, 0.2)); }

#smoke_container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 70px;
  opacity: 0;
  -webkit-animation: liftOffSmoke 5s ease-out;
  animation: liftOffSmoke 5s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

#smoke_left {
  top: -60px;
  left: 3%;
  height: auto;
  width: 49.5%;
  -webkit-transform: scaleX(-1) rotate(-10deg);
  -ms-transform: scaleX(-1) rotate(-10deg);
  transform: scaleX(-1) rotate(-10deg);
  -webkit-filter: FlipH;
  filter: FlipH; }

#smoke_right {
  top: -60px;
  left: 3%;
  height: auto;
  width: 49.5%;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg); }

#building1 {
  position: absolute;
  top: 75px;
  left: 75px;
  -webkit-filter: drop-shadow(0px -10px 25px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px -10px 25px rgba(0, 0, 0, 0.2)); }

#building2 {
  position: absolute;
  top: 50px;
  right: 175px;
  -webkit-transform: scaleX(-1) scale(0.8);
  -ms-transform: scaleX(-1) scale(0.8);
  transform: scaleX(-1) scale(0.8);
  -webkit-filter: FlipH;
  filter: FlipH;
  -webkit-filter: drop-shadow(0px -10px 25px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px -10px 25px rgba(0, 0, 0, 0.2)); }

@media (max-width: 800px) {
  #building1, #building2 {
    display: none; } }
#support_container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100%; }

#support {
  position: absolute;
  margin: auto;
  bottom: 100px;
  height: 400px;
  width: auto;
  left: -40px;
  -webkit-animation: supportPivot 4s ease-in-out;
  animation: supportPivot 4s ease-in-out;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

#tower_container {
  position: relative;
  width: 100%;
  margin: auto;
  height: 300px; }

.frontTowers, #tower1, #tower2 {
  height: 600px;
  width: auto;
  position: absolute;
  bottom: 125px;
  -webkit-animation: frontTowerDrop 2s ease-in;
  animation: frontTowerDrop 2s ease-in;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#tower1 {
  left: 3%; }

#tower2 {
  right: 3%; }

.rearTowers, #tower3, #tower4 {
  height: 350px;
  width: auto;
  position: absolute;
  bottom: 240px;
  opacity: 0.7;
  -webkit-animation: rearTowerDrop 4s ease-in;
  animation: rearTowerDrop 4s ease-in;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#tower3 {
  left: 20%; }

#tower4 {
  right: 20%; }

@media (max-width: 800px) {
  #tower_container {
    width: 100%; } }
/* END STATION --------------------------------- */
/* PLANET -------------------------------------- */
#planet {
  position: absolute;
  width: 200%;
  height: 80%;
  bottom: -90%;
  left: -50%;
  border-radius: 100%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  background: -webkit-radial-gradient(#003366 60%, white);
  background: radial-gradient(#003366 60%, white);
  -webkit-animation: planetRise 10s ease-out;
  animation: planetRise 10s ease-out;
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/* END PLANET -------------------------------------- */
/* SHOOTING STAR -------------------------------- */
#shootingstar {
  position: absolute;
  top: -1%;
  left: -1%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #FFF;
  -webkit-animation: shootingStar 1s linear;
  animation: shootingStar 1s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 23s;
  animation-delay: 23s; }

/* END SHOOTING STAR -------------------------------- */
/* SPACESHIPTWO --------------------------------- */
#spaceshiptwo {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100px;
  height: auto;
  margin-left: -100%;
  opacity: 0.7;
  -webkit-animation: spaceshiptwoMove 4s linear;
  animation: spaceshiptwoMove 4s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 11s;
  animation-delay: 11s; }

/* SPACESHIPTWO --------------------------------- */
/* KEYFRAMES ------------------------------------- */
@-webkit-keyframes spaceshiptwoMove {
  0% {
    margin-left: -100%;
    margin-bottom: 30%; }

  100% {
    margin-left: 100%;
    margin-bottom: 0%; } }
@keyframes spaceshiptwoMove {
  0% {
    margin-left: -100%;
    margin-bottom: 30%; }

  100% {
    margin-left: 100%;
    margin-bottom: 0%; } }
@-webkit-keyframes shootingStar {
  0% {
    margin-left: -5%;
    margin-top: 30%; }

  100% {
    margin-left: 105%;
    margin-top: 130%; } }
@keyframes shootingStar {
  0% {
    margin-left: -5%;
    margin-top: 30%; }

  100% {
    margin-left: 105%;
    margin-top: 130%; } }
@-webkit-keyframes skyChange {
  0% {
    background-color: #BFEFFF; }

  60% {
    background-color: #000033; }

  100% {
    background-color: #000000; } }
@keyframes skyChange {
  0% {
    background-color: #BFEFFF; }

  60% {
    background-color: #000033; }

  100% {
    background-color: #000000; } }
@-webkit-keyframes cloudMoveX {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 100%; } }
@keyframes cloudMoveX {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 100%; } }
@-webkit-keyframes cloudMoveY {
  0% {
    margin-top: 0%; }

  100% {
    margin-top: 1000%; } }
@keyframes cloudMoveY {
  0% {
    margin-top: 0%; }

  100% {
    margin-top: 1000%; } }
@-webkit-keyframes starFadeIn {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes starFadeIn {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes twinkle {
  0% {
    opacity: 1; }

  25% {
    opacity: 1; }

  50% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1); }

  75% {
    opacity: 1; }

  100% {
    opacity: 1; } }
@keyframes twinkle {
  0% {
    opacity: 1; }

  25% {
    opacity: 1; }

  50% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1); }

  75% {
    opacity: 1; }

  100% {
    opacity: 1; } }
@-webkit-keyframes groundDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px); } }
@keyframes groundDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px); } }
@-webkit-keyframes liftOffSmoke {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1); }

  50% {
    opacity: 0.9; }

  100% {
    opacity: 0.6;
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes liftOffSmoke {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1); }

  50% {
    opacity: 0.9; }

  100% {
    opacity: 0.6;
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes supportPivot {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg); } }
@keyframes supportPivot {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg); } }
@-webkit-keyframes frontTowerDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@keyframes frontTowerDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes rearTowerDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@keyframes rearTowerDrop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes dragonMoveX {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 100%; } }
@keyframes dragonMoveX {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 100%; } }
@-webkit-keyframes messageFadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes messageFadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes planetRise {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }

  100% {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%); } }
@keyframes planetRise {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }

  100% {
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%); } }
/* END KEYFRAMES ---------------------------------- */
/* Z-INDICES ------------------------------

  SKY
  STARS
  MOUNTAINS
  TREES
  COWS
  REAR TOWERS
  BUILDINGS/LAUNCHPAD/SUPPORT
  SPACESHIPTWO
  ROCKET
  FRONT TOWERS

  auroras
  galaxy
  u-2     70,000 ft
  sr-71   85,069 ft
  felix   120,000 ft
  ss2     361,000 ft
  ISS     1,082,400 ft
------------------------------------------ */
