/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS RESET */

#site_container
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* EARTH --------------------------------- */

$liftOffDelay: 3s;
$groundHeight: 200px;

#sky
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #CCFFFF;

  animation: skyChange 10s;
  animation-delay: $liftOffDelay;
}

// @keyframes skyChange
// {
//   0% {background-color: #CCFFFF;}
//   100% {background-color: #000000;}
// }

#ground
{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: $groundHeight;
  background-color: #99CC99;
  border-top-radius: 10000%;

  animation: groundDrop 2s ease-in;
  animation-delay: $liftOffDelay;
  animation-fill-mode: forwards;
}

@keyframes groundDrop
{
  0% { transform: translateY(0)}
  100% { transform: translateY(1000px)}
}
/* END EARTH --------------------------------- */



/* ROCKET --------------------------------- */
#rocket_container
{
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0;
  width: 100px;
  height: 100%;
}

$rocketSupportBottomDistance: 100px;

#rocket_full
{
  position: absolute;
  margin: auto;
  bottom: $rocketSupportBottomDistance;
  left: 0; right: 0;
  height: 350px;
  width: auto;

  animation: upDown 5s ease-in-out infinite;
  animation-delay: 5s
}

// @keyframes upDown
// {
//   0% { transform: translateY(0px)}
//   50% { transform: translateY(-50%)}
//   100% { transform: translateY(0px)}
// }
/* END ROCKET --------------------------------- */


/* SUPPORT --------------------------------- */
#support_container
{
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0;
  width: 100px;
  height: 100%;
}

#support
{
  position: absolute;
  margin: auto;
  bottom: $rocketSupportBottomDistance;
  height: 350px;
  width: auto;
  left: -30px;

  animation: supportPivot 5s ease-in-out;
  transform-origin: 50% 100%;
  animation-fill-mode: forwards;
}

@keyframes supportPivot
{
  0% { transform: rotate(0deg)}
  100% { transform: rotate(-35deg)}
}
/* END SUPPORT --------------------------------- */



/* TOWERS --------------------------------- */
#tower_container
{
  position: relative;
  width: 45%;
  margin: auto;
  height: 300px;
}

$towerFrontBottomDistance: 150px;
$towerRearBottomDistance: 240px;

$towerFrontHeight: 400px;
$towerRearHeight: 300px;

.frontTowers
{
  height: $towerFrontHeight;
  width: auto;
  position: absolute;
  bottom: $towerFrontBottomDistance;

  animation: frontTowerDrop 7s ease-in;
  animation-delay: $liftOffDelay;
}

#tower1
{
  left: 5%;
  @extend .frontTowers;
}

#tower2
{
  right: 5%;
  @extend .frontTowers;
}

// @keyframes frontTowerDrop
// {
//   0% { transform: translateY(0)}
//   100% { transform: translateY(300%)}
// }

.rearTowers
{
  height: $towerRearHeight;
  width: auto;
  position: absolute;
  bottom: $towerRearBottomDistance; 
  opacity: 0.7;

  animation: rearTowerDrop 7s ease-in;
  animation-delay: $liftOffDelay;
}

#tower3
{
  left: 15%;
  @extend .rearTowers;
}

#tower4
{
  right: 15%;
  @extend .rearTowers;
}

// @keyframes rearTowerDrop
// {
//   0% { transform: translateY(0)}
//   100% { transform: translateY(300%)}
// }

@media (max-width: 600px)
{
  #tower_container
  {
    width: 100%;
  }
}
/* END TOWERS --------------------------------- */




/* TREES --------------------------------- */
.trees
{
  position: absolute;
  width: auto;
}

#tree_container_left
{
  position: relative;
  float: left;
  width: 27%;
  height: 300px;

      #tree1
      {
        top: -60px; left: 3%;
        height: 80px;
        @extend .trees;
        transform: scaleX(-1);
        filter: FlipH;
      }

      #tree2
      {
        top: -50px; left: 20%;
        height: 60px;
        @extend .trees;
        opacity: 0.8;
      }

      #tree3
      {
        top: -50px; left: 30%;
        height: 85px;
        @extend .trees;
      }

      #tree4
      {
        top: -80px; left: 70%;
        height: 100px;
        @extend .trees;
        transform: scaleX(-1);
        filter: FlipH;
      }

      #tree5
      {
        top: -60px; left: 90%;
        height: 70px;
        @extend .trees;
        opacity: 0.8;
      }

}
#tree_container_right
{
  position: relative;
  float: right;
  width: 27%;
  height: 300px;

      #tree6
      {
        top: -60px; right: 3%;
        height: 100px;
        @extend .trees;
        transform: scaleX(-1);
        filter: FlipH;
      }

      #tree7
      {
        top: -50px; right: 20%;
        height: 70px;
        @extend .trees;
        opacity: 0.8;
      }

      #tree8
      {
        top: -40px; right: 35%;
        height: 90px;
        @extend .trees;
      }

      #tree9
      {
        top: -60px; right: 50%;
        height: 100px;
        @extend .trees;
        transform: scaleX(-1);
        filter: FlipH;
      }

      #tree10
      {
        top: -40px; right: 70%;
        height: 60px;
        @extend .trees;
        opacity: 0.8;
      }

}

@media (max-width: 600px)
{
  #tree_container_left, #tree_container_right
  {
    display: none;
  }
}
/* END TREES --------------------------------- */



/* CLOUDS ------------------------------------ */
.clouds
{
  position: absolute;
  width: auto;
  animation: cloudMove1 75s linear;
}

#cloud_container1
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;

  animation: cloudDrop1 10s ease-in;
}

#cloud1
{
  top: 15%; left: -5%;
  height: 60px;
  @extend .clouds;
  transform: scaleX(-1);
  filter: FlipH;
}


#cloud2
{
  top: 30%; left: 20%;
  height: 50px;
  @extend .clouds;

}

#cloud3
{
  top: 20%; left: 10%;
  height: 55px;
  @extend .clouds;
}

#cloud4
{
  top: 10%; left: 40%;
  height: 60px;
  @extend .clouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#cloud5
{
  top: 10%; left: 50%;
  height: 50px;
  @extend .clouds;
}

#cloud6
{
  top: 10%; left: 60%;
  height: 55px;
  @extend .clouds;
}

#cloud7
{
  top: 10%; left: 70%;
  height: 50px;
  @extend .clouds;
  transform: scaleX(-1);
  filter: FlipH;

}

#cloud8
{
  top: 10%; left: 80%;
  height: 60px;
  @extend .clouds;
}

#cloud9
{
  top: 10%; left: 90%;
  height: 50px;
  @extend .clouds;
  transform: scaleX(-1);
  filter: FlipH;
}

@keyframes cloudMove1
{
  0% { transform: translateX(0%)}
  100% { transform: translateX(1000%)}
}


@keyframes cloudDrop1
{
  0% { transform: translateY(0%) }
  100% { transform: translateY(100%) }
}

/* END CLOUDS ------------------------------------ */




