/* CSS RESET ------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END CSS RESET -------------------------- */

#site_container
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #cc6633;
}

#earth_container
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

#mars_container
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

$liftoff_delay: 5s;

/* SKY --------------------------------- */
#sky
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #BFEFFF;

  animation: skyChange 20s;
  animation-delay: $liftoff_delay;
  animation-fill-mode: forwards;
}

/* END SKY --------------------------------- */

#grass
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  background-image: url('../media/grass.jpg');
  background-size: 200px 200px;
  background-repeat: repeat;
  opacity: 0.3;
  border-radius: 90% / 5%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* REAR CLOUDS ------------------------------------ */
#rearCloud_container
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;

  animation: cloudMoveY 28s ease-in;
  animation-delay: $liftoff_delay;
  animation-fill-mode: forwards;
}

.rearClouds
{
  position: absolute;
  width: auto;
}

#rearCloud1
{
  top: 23%; left: 8%;
  height: 30px;
  @extend .rearClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#rearCloud2
{
  top: 17%; right: 20%;
  height: 35px;
  @extend .rearClouds;
}

#rearCloud3
{
  top: 12%; left: -10%;
  height: 40px;
  @extend .rearClouds;
}

#rearCloud4
{
  top: 12%; right: 25%;
  height: 45px;
  @extend .rearClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#rearCloud5
{
  top: 17%; left: 30%;
  height: 50px;
  @extend .rearClouds;
}

#rearCloud6
{
  top: 23%; right: 50%;
  height: 45px;
  @extend .rearClouds;
}

#rearCloud7
{
  top: 27%; left: 20%;
  height: 40px;
  @extend .rearClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#rearCloud8
{
  top: 23%; right: 0%;
  height: 35px;
  @extend .rearClouds;
}

#rearCloud9
{
  top: 22%; left: 15%;
  height: 30px;
  @extend .rearClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#rearCloud10
{
  top: 19%; right: 18%;
  height: 35px;
  @extend .rearClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#rearCloud11
{
  top: 21%; left: 56%;
  height: 40px;
  @extend .rearClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#rearCloud12
{
  top: 18%; right: 4%;
  height: 45px;
  @extend .rearClouds;
}

#rearCloud13
{
  top: 11%; left: 25%;
  height: 50px;
  @extend .rearClouds;
}

#rearCloud14
{
  top: 15%; right: 35%;
  height: 40px;
  @extend .rearClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#rearCloud15
{
  top: 15%; left: 15%;
  height: 35px;
  @extend .rearClouds;
}

@media (max-width: 600px)
{
  #rearCloud8, #rearCloud9, #rearCloud10, #rearCloud11, #rearCloud12, #rearCloud13, #rearCloud14, #rearCloud15
  {
    display: none;
  }

  #middleCloud6, #middleCloud7, #middleCloud8, #middleCloud9, #middleCloud10
  {
    display: none;
  }
  #frontCloud12, #frontCloud13, #frontCloud14, #frontCloud15
  {
    display: none;
  }

}
/* REAR CLOUDS ---------------------------- */


/* MIDDLE CLOUDS ---------------------------- */
#middleCloud_container
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;

  animation: cloudMoveY 26s ease-in;
  animation-delay: $liftoff_delay;
  animation-fill-mode: forwards;
}

.middleClouds
{
  position: absolute;
  width: auto;
}

#middleCloud1
{
  top: 5%; left: -5%;
  height: 80px;
  @extend .middleClouds;
}

#middleCloud2
{
  top: 10%; right: 20%;
  height: 65px;
  @extend .middleClouds;
}

#middleCloud3
{
  top: 15%; left: 5%;
  height: 70px;
  @extend .middleClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#middleCloud4
{
  top: 20%; right: -5%;
  height: 80px;
  @extend .middleClouds;
}

#middleCloud5
{
  top: 25%; left: 34%;
  height: 65px;
  @extend .middleClouds;
}

#middleCloud6
{
  top: 13%; right: 27%;
  height: 80px;
  @extend .middleClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#middleCloud7
{
  top: 5%; left: 20%;
  height: 70px;
  @extend .middleClouds;
}

#middleCloud8
{
  top: 10%; right: -15%;
  height: 80px;
  @extend .middleClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#middleCloud9
{
  top: 20%; left: -6%;
  height: 70px;
  @extend .middleClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#middleCloud10
{
  top: 5%; right: -5%;
  height: 70px;
  @extend .middleClouds;
  transform: scaleX(-1);
  filter: FlipH;
}
// /* END MIDDLE CLOUDS ---------------------------- */


/* FRONT CLOUDS ------------------------------- */
#frontCloud_container
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;

  animation: cloudMoveY 14s ease-in;
  animation-delay: $liftoff_delay;
  animation-fill-mode: forwards;
}

.frontClouds
{
  position: absolute;
  width: auto;
}

#frontCloud1
{
  top: -10%; left: 5%;
  height: 120px;
  @extend .frontClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#frontCloud2
{
  top: -20%; right: -15%;
  height: 110px;
  @extend .frontClouds;
}

#frontCloud3
{
  top: -30%; left: 20%;
  height: 115px;
  @extend .frontClouds;
}

#frontCloud4
{
  top: -40%; right: 45%;
  height: 140px;
  @extend .frontClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#frontCloud5
{
  top: -50%; left: 48%;
  height: 130px;
  @extend .frontClouds;
}

#frontCloud6
{
  top: -60%; right: 77%;
  height: 145px;
  @extend .frontClouds;
}

#frontCloud7
{
  top: -70%; left: 20%;
  height: 140px;
  @extend .frontClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#frontCloud8
{
  top: -80%; right: -18%;
  height: 130px;
  @extend .frontClouds;
}

#frontCloud9
{
  top: -100%; left: 8%;
  height: 120px;
  @extend .frontClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#frontCloud10
{
  top: -100%; right: -5%;
  height: 130px;
  @extend .frontClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#frontCloud11
{
  top: -110%; left: 5%;
  height: 120px;
  @extend .frontClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#frontCloud12
{
  top: -120%; right: 7%;
  height: 110px;
  @extend .frontClouds;
}

#frontCloud13
{
  top: -130%; left: -10%;
  height: 115px;
  @extend .frontClouds;
}

#frontCloud14
{
  top: -140%; right: 45%;
  height: 140px;
  @extend .frontClouds;
  transform: scaleX(-1);
  filter: FlipH;
}

#frontCloud15
{
  top: -150%; left: 77%;
  height: 130px;
  @extend .frontClouds;
}
/* END FRONT CLOUDS  ---------------------------------------- */



/* STARS ---------------------------------------- */
#star_container
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  opacity: 0;

  animation: starFadeIn 20s;
  animation-fill-mode: forwards;
  animation-delay: $liftoff_delay;
}
.star
{
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: #FFF;

}

.twinkle
{
  animation: twinkle 5s infinite alternate;
  animation-delay: 20s;
}

#star1 { top: 5%; left: 10%; @extend .twinkle; animation-delay: 0.25s;}
#star2 { top: 30%; left: 15%;}
#star3 { top: 10%; left: 20%;}
#star4 { top: 40%; left: 25%; @extend .twinkle; animation-delay: 0.5s;}
#star5 { top: 35%; left: 95%;}
#star6 { top: 20%; left: 35%;}
#star7 { top: 5%; left: 40%; @extend .twinkle; animation-delay: 0.75s;}
#star8 { top: 25%; left: 45%;}
#star9 { top: 30%; left: 90%;}
#star10 { top: 50%; left: 55%; @extend .twinkle; animation-delay: 1s;}
#star11 { top: 10%; left: 60%;}
#star12 { top: 45%; left: 65%;}
#star13 { top: 40%; left: 70%; @extend .twinkle; animation-delay: 1.25s;}
#star14 { top: 5%; left: 75%;}
#star15 { top: 15%; left: 80%;}
#star16 { top: 95%; left: 85%; @extend .twinkle; animation-delay: 1.5s;}
#star17 { top: 75%; left: 90%;}
#star18 { top: 80%; left: 17%;}
#star19 { top: 55%; left: 5%; @extend .twinkle; animation-delay: 1.75s;}
#star20 { top: 60%; left: 10%;}
#star21 { top: 70%; left: 20%;}
#star22 { top: 55%; left: 30%; @extend .twinkle; animation-delay: 1s;}
#star23 { top: 90%; left: 40%;}
#star24 { top: 80%; left: 50%;}
#star25 { top: 50%; left: 60%; @extend .twinkle; animation-delay: 0.25s;}
#star26 { top: 95%; left: 70%;}
#star27 { top: 80%; left: 80%;}
#star28 { top: 65%; left: 90%; @extend .twinkle; animation-delay: 0.5s;}
#star29 { top: 90%; left: 95%;}
#star30 { top: 70%; left: 5%;}

/* END STARS --------------------------------- */


/* GROUND ---------------------------- */
#earth
{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 200px;

  animation: groundDrop 5s ease-in;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

#ground
{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #99CC99;
  border-radius: 90% / 5%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#grass
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  background-image: url('../media/grass.jpg');
  background-size: 200px 200px;
  background-repeat: repeat;
  opacity: 0.3;
  border-radius: 90% / 5%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#mountains
{
  position: absolute;
  bottom: 95%; left: 0;
  width: 100%;
  height: 50px;
  opacity: 0.7;
  font-smoothing: antialiased;

}

/* END GROUND ---------------------------- */


/* TREES --------------------------------- */
.trees
{
  position: absolute;
  width: auto;
  transform: scale(0.8);
}

#tree_container_left
{
  position: relative;
  float: left;
  width: 30%;
  height: 300px;

      #tree1
      {
        top: -40px; left: 3%;
        height: 60px;
        @extend .trees;
        transform: scaleX(-1);
        filter: FlipH;
      }

      #tree2
      {
        top: -30px; left: 20%;
        height: 40px;
        @extend .trees;
        opacity: 0.8;
      }

      #tree3
      {
        top: -50px; left: 30%;
        height: 65px;
        @extend .trees;
      }

      #tree4
      {
        top: -60px; left: 70%;
        height: 80px;
        @extend .trees;
        transform: scaleX(-1);
        filter: FlipH;
      }

      #tree5
      {
        top: -40px; left: 90%;
        height: 50px;
        @extend .trees;
        opacity: 0.8;
      }

}
#tree_container_right
{
  position: relative;
  float: right;
  width: 30%;
  height: 300px;

      #tree6
      {
        top: -60px; right: 3%;
        height: 80px;
        @extend .trees;
        transform: scaleX(-1);
        filter: FlipH;
      }

      #tree7
      {
        top: -30px; right: 20%;
        height: 50px;
        @extend .trees;
        opacity: 0.8;
      }

      #tree8
      {
        top: -50px; right: 35%;
        height: 70px;
        @extend .trees;
      }

      #tree9
      {
        top: -60px; right: 50%;
        height: 80px;
        @extend .trees;
        transform: scaleX(-1);
        filter: FlipH;
      }

      #tree10
      {
        top: -30px; right: 70%;
        height: 40px;
        @extend .trees;
        opacity: 0.8;
      }

}

@media (max-width: 800px)
{
  #tree_container_left, #tree_container_right
  {
    opacity: 0.8;
    transform: scale(0.8) translateY(-30px);
  }
}

/* END TREES --------------------------------- */



/* COWS ------------------------------------ */
#cow_container
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // border: 1px solid red;
}

.cow
{
  position: absolute;
  width: auto;
  opacity: 0.7;

  animation: cowMove 5s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes cowMove
{
  0% { transform: translate(0%,0%); }
  100% { transform: translate(-110%,-10%); }
}

#cow1
{
  top: 30px; 
  left: 30px;
  height: 15px;
  @extend .cow;
}

#cow2
{
  top: 50px; 
  left: 40px;
  height: 13px;
  @extend .cow;
}

#cow3
{
  top: 30px; 
  left: 80px;
  height: 17px;
  @extend .cow;
}

#cow4
{
  top: 30px; 
  left: 80px;
  height: 27px;
  @extend .cow;
  transform: scaleX(-1);
  filter: FlipH;
}

/* END COWS ------------------------------------ */



/* STATION -------------------------------- */
#station
{
  position: absolute;
  margin: auto;
  bottom: 0; left: 0; right: 0;
  width: 100%;
  max-width: 800px;
  height: 100%;
}

#launchpad
{
  position: absolute;
  margin: auto;
  left: 0; right: 0;
  bottom: 65px;
  width: 202px;
  height: 48px;
  filter: drop-shadow(0px -20px 25px rgba(0,0,0,.2));
    
}

#smoke_container
{
  position: absolute;
  margin: auto;
  left: 0; right: 0;
  bottom: 70px;
  // width: 100%;
  // max-width: 555px;
  opacity: 0;

  animation: liftOffSmoke 5s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  transform-origin: 50% 100%;
}

#smoke_left
{
  top: -60px; left: 3%;
  height: auto;
  width: 49.5%;
  transform: scaleX(-1) rotate(-10deg);
  filter: FlipH;
}

#smoke_right
{
  top: -60px; left: 3%;
  height: auto;
  width: 49.5%;
  transform: rotate(-10deg);
}

#building1
{
  position: absolute;
  top: 75px; left: 75px;
  filter: drop-shadow(0px -10px 25px rgba(0,0,0,.2));
}

#building2
{
  position: absolute;
  top: 50px; right: 175px;
  transform: scaleX(-1) scale(0.8);
  filter: FlipH;
  filter: drop-shadow(0px -10px 25px rgba(0,0,0,.2));

}

@media (max-width: 800px)
{
  #building1, #building2
  {
    display: none;
  }
}

$rocketSupportBottomDistance: 100px;

#support_container
{
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0;
  width: 100px;
  height: 100%;
}

#support
{
  position: absolute;
  margin: auto;
  bottom: $rocketSupportBottomDistance;
  height: 400px;
  width: auto;
  left: -40px;

  animation: supportPivot 4s ease-in-out;
  transform-origin: 50% 100%;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#tower_container
{
  position: relative;
  width: 100%;
  margin: auto;
  height: 300px;
}

$towerFrontBottomDistance: 125px;
$towerRearBottomDistance: 240px;

$towerFrontHeight: 600px;
$towerRearHeight: 350px;

.frontTowers
{
  height: $towerFrontHeight;
  width: auto;
  position: absolute;
  bottom: $towerFrontBottomDistance;

  animation: frontTowerDrop 2s ease-in;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

#tower1
{
  left: 3%;
  @extend .frontTowers;
}

#tower2
{
  right: 3%;
  @extend .frontTowers;
}

.rearTowers
{
  height: $towerRearHeight;
  width: auto;
  position: absolute;
  bottom: $towerRearBottomDistance; 
  opacity: 0.7;

  animation: rearTowerDrop 4s ease-in;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

#tower3
{
  left: 20%;
  @extend .rearTowers;
}

#tower4
{
  right: 20%;
  @extend .rearTowers;
}


@media (max-width: 800px)
{
  #tower_container
  {
    width: 100%;
  }
}
/* END STATION --------------------------------- */


/* PLANET -------------------------------------- */
#planet
{
  position: absolute;
  width: 200%;
  height: 80%;
  bottom: -90%;
  left: -50%;
  border-radius: 100%;
  transform-origin: 50% 0%;
  background: radial-gradient( #003366 60%, #FFF );

  animation: planetRise 10s ease-out;
  animation-delay: 20s;
  animation-fill-mode: forwards;
}

@keyframes planetRise
{
  0% { transform: translateY(0%); }
  100% { transform: translateY(-20%); }
}
/* END PLANET -------------------------------------- */


/* SHOOTING STAR -------------------------------- */
#shootingstar
{
  position: absolute;
  top: -1%;
  left: -1%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #FFF;

  animation: shootingStar 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 23s;
}
/* END SHOOTING STAR -------------------------------- */


/* SPACESHIPTWO --------------------------------- */
#spaceshiptwo
{
  position: absolute;
  bottom: 10%; left: 0;
  width: 100px;
  height: auto;
  margin-left: -100%;
  opacity: 0.7;

  animation: spaceshiptwoMove 4s linear;
  animation-fill-mode: forwards;
  animation-delay: 11s;
}
/* SPACESHIPTWO --------------------------------- */

/* MARS ------------------------------- */
#marsPlanet_container
{

}

#mars
{
  position: absolute;
  top: 10%;
  right: 20%;
  height: 20px;
  width: auto;
  cursor: pointer; 

  // animation: marsPulse 3s ease-in-out infinite;
  // animation-fill-mode: forwards;
  // animation-delay: 25s;

  // animation: marsExpand 30s ease-in-out;
  // animation-fill-mode: forwards;
  // animation-delay: 25s;
}

// @keyframes marsExpand
// { 
//   0% { opacity: 0; }
//   65% { transform: scale(1); opacity: 1;}
//   85% { transform: scale(200); opacity: 1; }
//   100% { opacity: 0; }
// }

@keyframes marsPulse
{ 
  0% { transform: scale(1); }
  50% { transform: scale(2); }
  100% { transform: scale(1); }
}

.marsHuge
{
  transform: scale(200);
  transition: 20s;
}

/* END MARS ------------------------------- */



/* KEYFRAMES ------------------------------------- */

@keyframes spaceshiptwoMove
{ 
  0% { margin-left: -100%; margin-bottom: 30%;}
  100% { margin-left: 100%; margin-bottom: 0%;  }
}

@keyframes shootingStar
{
  0% { margin-left: -5%; margin-top: 30%; }
  100% { margin-left: 105%; margin-top: 130%; }
}

@keyframes skyChange
{
  0% {background-color: #BFEFFF;}
  60% { background-color: #000033;}
  100% {background-color: #000000;}
}

@keyframes cloudMoveX
{
  0% {margin-left: -100%;}
  100% {margin-left: 100%;}
}

@keyframes cloudMoveY
{
  0% { margin-top: 0%; }
  100% { margin-top: 1000%; }
}

@keyframes starFadeIn
{
  0% { opacity: 0;}
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes twinkle
{
  0% { opacity: 1; }
  25% { opacity: 1; }
  50% { opacity: 0; transform: scale(0.1);}
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes groundDrop
{
  0% { transform: translateY(0)}
  100% { transform: translateY(1000px)}
}

@keyframes liftOffSmoke
{
  0% { opacity: 0; transform: scale(0.1); }
  50% { opacity: 0.9; }
  100% { opacity: 0.6; transform: scale(1); }
}

@keyframes supportPivot
{
  0% { transform: rotate(0deg)}
  100% { transform: rotate(-35deg)}
}

@keyframes frontTowerDrop
{
  0% { transform: translateY(0)}
  100% { transform: translateY(100%)}
}

@keyframes rearTowerDrop
{
  0% { transform: translateY(0)}
  100% { transform: translateY(100%)}
}




/* END KEYFRAMES ---------------------------------- */

/* Z-INDICES ------------------------------

  SKY
  STARS
  MOUNTAINS
  TREES
  COWS
  REAR TOWERS
  BUILDINGS/LAUNCHPAD/SUPPORT
  SPACESHIPTWO
  ROCKET
  FRONT TOWERS

  auroras
  galaxy
  u-2     70,000 ft
  sr-71   85,069 ft
  felix   120,000 ft
  ss2     361,000 ft
  ISS     1,082,400 ft
------------------------------------------ */

