$borderCheck: 0px;

/* CSS Reset ----------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
	font-weight: 400;
}

/* BORDER BOX RESET ------------------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* DEBUG ------------------------------------------ */
.borderCheck {
	border: $borderCheck solid red;
}

div, span, p, a, section, h1, h2, h3, header, footer, img, nav, ul, iframe {
	@extend .borderCheck;	
}

/* NAMING ----------------------------------------- */
// prj = project
// addPrj = additional project
// btn = button
// tmb = thumbnail
// img = image
// dsc = description
// box = container
// txt = text


/* GLOBAL VARIABLES ------------------------------- */
$desktopWidth: 1200px;
$mobileWidth: 800px;
$transition: 0.3s;

$grey0: #333333; // darkest grey
$grey1: #555555;
$grey2: #999999;
$grey3: #d1d1d1; 
$grey4: #f2f2f2; // lightest grey
$white: #ffffff;

$prjTmb: 180px;
$addPrjTmb: 96px;

body, p, span, button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	max-width: 100vw;
	color: $grey1;
}

p, span, ul {
	line-height: 1.6em;
}

h1 {
	font-size: 2.4em;
	font-weight: 300;
	text-align: center;
	line-height: 1.2em;
}

h2 {
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.2em;
}

h3 {

}

h4 {
	font-size: 1em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

section {
	width: 100%;
	display: flex;
}

.dotted {
	padding: 2.25em 1.6875em;
	background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.15), rgba(0,0,0,.15) 1px, transparent 1px, transparent 100%);
	background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.15), rgba(0,0,0,.15) 1px, transparent 1px, transparent 100%);
	background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.15), rgba(0,0,0,.15) 1px, transparent 1px, transparent 100%);
	background-image: repeating-radial-gradient(center center, rgba(0,0,0,.15), rgba(0,0,0,.15) 1px, transparent 1px, transparent 100%);
	-webkit-background-size: 8px 8px;
	-moz-background-size: 8px 8px;
	background-size: 8px 8px;
}

.sectionDivider {
	width: 100%;
	height: 8px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 40px auto 64px auto;
	@extend .dotted;
}

.flexboxCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	@extend .flexboxCenter;
	flex-flow: row;
	background-color: $white;
	border: 1px solid $grey1;
	color: $grey1;
	height: 64px;
	padding: 0 32px;
	border-radius: 40px;
	cursor: pointer;
	transition: $transition;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;

	span {
		color: $grey1;
		font-weight: 400;
		font-size: 1em;
		transition: $transition;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&:hover {
		transform: scale(1.05);
	}
}

.siteBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px;
	display: flex;
	justify-content: flex-start;
	flex-flow: column;
	align-items: center;
}

@media (max-width: $mobileWidth) {

	.btn {
		&:hover {
			transform: none;
		}
	}

	.siteBox {
		margin-top: 40px;
		padding: 24px;
	}
}

/* ----------------------------------------------------------- */
/* NAVIGATION ------------------------------------------------ */
/* ----------------------------------------------------------- */

nav {
	width: 100%;
	max-width: $desktopWidth;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 24px;
	margin-top: 24px;
	border-bottom: 1px solid $grey2;

	#navLeft {

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row;

			&:hover img {
	       		transform: rotate(180deg);
			   	-webkit-transform: rotate(180deg);
			}

 			#logo {
 				width: 40px;
 				height: 40px;
 				margin-right: 24px;
	         	transition: transform $transition ease-in-out;
	            -webkit-transition: -webkit-transform $transition ease-in-out;
 			}

			#navNameDsc {
				display: flex;
				flex-flow: column;

				#navName {
					font-size: 1.5em;
					font-weight: 400;
					line-height: 1.4em;
				}

				#navDsc {
					font-size: 0.8em;
					font-style: italic;
				}
			}
		}
	}

	#navRight {
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;

		a {
			.navBtn {
				display: flex;
				flex-flow: row;
				justify-content: center;
				align-items: center;

				img {
					transition: $transition;
					opacity: 0.4;
					max-height: 16px;
					max-width: 16px;
					width: auto;
					height: 100%;
					margin-right: 12px;
				}

				span {
					transition: $transition;
					opacity: 0.4;
					font-size: 1.2em;
				}

				&:hover {
					img {
						transition: $transition;
						opacity: 1.0;
					}

					span {
						transition: $transition;
						opacity: 1.0;
					}
				}
			}

			.navBtnSelected {
				img {
					opacity: 1.0;
				}

				span {
					opacity: 1.0;
				}
			}
		}

		#navBtnDivider {
			margin: 0 16px;
		}
	}
}


@media (max-width: $mobileWidth) {


	nav {
		flex-flow: column;
		margin-top: 0px;

		#navLeft {


			a {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 64px;
				flex-flow: column;

				&:hover img {
		       		transform: none;
				   	-webkit-transform: none;
				}

	 			#logo {
	 				margin-right: 0;
	 				margin-bottom: 8px;
		  		}

				#navNameDsc {
					justify-content: center;
					align-items: center;

					#navName {
					}

					#navDsc {
					}
				}
			}
		}

		#navRight {
			margin-bottom: 32px;

			a {
				.navBtn {

					img {
						max-height: 24px;
						max-width: 24px;
					}

					span {
						font-size: 1.3em;
					}

					&:hover {
						img {

						}

						span {

						}
					}
				}

				.navBtnSelected {
					img {
					}

					span {
					}
				}
			}

			#navBtnDivider {
				margin: 0 32px;
			}
		}
	}
}
/* ----------------------------------------------------------- */
/* WORK ------------------------------------------------------ */
/* ----------------------------------------------------------- */

#work {
	max-width: $desktopWidth;
	margin-top: 80px;
	padding-bottom: 80px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	#prjBox {
		display: flex;
		flex-flow: row;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		flex-wrap: wrap;

		a {
			max-width: 320px;
			margin: 0 32px;

			.prj {
				display: flex;
				flex-flow: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 64px;

				.prjTmb {
					min-width: $prjTmb;
					width: $prjTmb;
					height: $prjTmb;
					border-radius: 50%;
					transition: $transition;
					background-color: $grey1;
					background-size: $prjTmb;
					background-repeat: no-repeat;
					margin-bottom: 16px;
					border: 1px solid $grey4;
				}

				#tmbSpacex {
					background-image: url('../media/thumbnails/tmbSpaceX1.gif');
					background-position: 53% 100%;
					background-size: 180%;
				}

				#tmbZwerpy {
					background-image: url('../media/thumbnails/tmbZwerpy1.gif');
					background-position: 50% 50%;
					background-size: 200%;
				}

				#tmbConsulting {
					background-image: url('../media/thumbnails/tmbConsulting.png');
					background-position: 50% 50%;
					background-size: 100%;
 				}

				// #tmbImgur {
				// 	background-image: url('../media/tmbImgur.png');
				// 	background-size: 300%;
				// 	background-position: 50% 50%;
				// }

				#tmbCircles {
					background-image: url('../media/thumbnails/tmbCircles.jpg');
					background-size: 300%;
					background-position: 50% 50%;
				}

				#tmbKaran {
					background-image: url('../media/thumbnails/tmbKaran.jpg');
					background-size: 300%;
					background-position: 50% 50%;
				}

				.prjDsc {
					display: flex;
					flex-flow: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					width: 100%;

					h2 {
						text-align: center;
						margin-bottom: 8px;
						margin-top: 8px;
						transition: $transition;

					}

					p {
						font-style: italic;
					}
				}
			}

			&:hover {
				.prj > .prjTmb {
					transform: scale(1.05);
					transition: $transition;
					box-shadow: 0px 3px 8px #dedede;
				}
			}
		}

		.sectionDivider {
			display: none;
		}
	}

	.addPrjToggleBtn {
		width: 100%;
		max-width: 320px;

		img {
			max-width: 14px;
			height: auto;
			margin-right: 16px;
		}

		span {
			font-size: 0.8em;
			display: inline;
		}
	}

	#addPrjCollapseBtn {
		margin-top: 40px;
	}

	#addPrjExpandBtn {

	}

	#firstSectionDivider {
		margin-top: 0px;
	}

	#addPrjBox {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 960px;

		.addPrjTypeBox {
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			align-items: flex-start;
			flex-wrap: wrap;

			h2 {
				text-align: center;
				font-weight: 300;
				margin-bottom: 40px;
				width: 100%;
			}

			.addPrjTmbBox {
				display: flex;
				flex-flow: row;
				flex-wrap: wrap;
				justify-content: center;

				a {
					margin: 0 8px 32px 8px;

					.addPrj {
						display: flex;
						flex-flow: column;
						justify-content: flex-start;
						align-items: center;
						min-width: 136px;
						transition: $transition;

						#tmbArchitecture {
							background-image: url('../media/thumbnails/tmbArchitecture.jpg');
							background-size: 100%;
							background-position: 50% 50%;
						}

						#tmbAtrio {
							background-image: url('../media/thumbnails/tmbAtrio.jpg');
							background-size: 300%;
							background-position: 50% 50%;
						}

						#tmbCircles {
							background-image: url('../media/thumbnails/tmbCircles.jpg');
							background-size: 300%;
							background-position: 50% 50%;
						}

						#tmbHydratile {
							background-image: url('../media/thumbnails/tmbHydratile.jpg');
							background-size: 300%;
							background-position: 50% 50%;
						}

						#tmbImgur {
							background-image: url('../media/thumbnails/tmbImgur.jpg');
							background-size: 300%;
							background-position: 50% 50%;
						}

						#tmbKaran {
							background-image: url('../media/thumbnails/tmbKaran.jpg');
							background-size: 300%;
							background-position: 50% 50%;
						}

						#tmbKenkyo {
							background-image: url('../media/thumbnails/tmbKenkyo.jpg');
							background-size: 300%;
							background-position: 50% 50%;
						}

						#tmbLPK {
							background-image: url('../media/thumbnails/tmbLPK.jpg');
							background-size: 300%;
							background-position: 50% 50%;
						}

						#tmbMichelles {
							background-image: url('../media/thumbnails/tmbMichelles.png');
							background-size: 100%;
							background-position: 100% 31%;
						}

						#tmbNature {
							background-image: url('../media/thumbnails/tmbNature.jpg');
							background-size: 100%;
							background-position: 90% 10%;
						}

						#tmbPeople {
							background-image: url('../media/thumbnails/tmbPeople.jpg');
							background-size: 300%;
							background-position: 40% 50%;
						}

		 				#tmbPierog {
							background-image: url('../media/thumbnails/tmbPierog.jpg');
							background-size: 230%;
							background-position: 90% 10%;
						}

		 				#tmbPinnacle {
							background-image: url('../media/thumbnails/tmbPinnacle.png');
							background-size: 100%;
							background-position: 60% 10%;
						}

		 				#tmbRaynatype {
							background-image: url('../media/thumbnails/tmbRaynatype.png');
							background-size: 100%;
							background-position: 40% 30%;
						}

						#tmbSeigaiha {
							background-image: url('../media/thumbnails/tmbSeigaiha.jpg');
							background-size: 300%;
							background-position: 50% 50%;
						}

						// #tmbSpacex {
						// 	background-image: url('../media/thumbnails/tmb_spacex.png');
						// 	background-size: 200%;
						// 	background-position: 53% 18%;
						// }

						#tmbTexture {
							background-image: url('../media/thumbnails/tmbTexture.jpg');
							background-size: 100%;
							background-position: 20% 20%;
						}

						#tmbThings {
							background-image: url('../media/thumbnails/tmbThings.jpg');
							background-size: 100%;
							background-position: 50% 50%;
						}

						#tmbWavebar {
							background-image: url('../media/thumbnails/tmbWavebar.jpg');
							background-size: 300%;
							background-position: 50% 50%;
						}

						#tmbZennII {
							background-image: url('../media/thumbnails/tmbZennII.jpg');
							background-size: 300%;
							background-position: 50% 50%;
						}

						.addPrjTmb {
							width: $addPrjTmb;
							height: $addPrjTmb;
							background-color: $grey1;
							border-radius: 50%;
							margin-bottom: 8px;
							background-repeat: no-repeat;
							transition: $transition;
							border: 1px solid $grey4;
						}

						.addPrjDsc {
							text-align: center;
							line-height: 1.5em;
							transition: $transition;
							font-weight: 300;
						}

						&:hover {
							.addPrjTmb {
								transform: scale(1.05);
								transition: $transition;
								box-shadow: 0px 3px 8px #dedede;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: $desktopWidth) {

	#work {
		margin-top: 80px;
		padding-bottom: 80px;

		#prjBox {

			a {

				margin-left: 8px;
				margin-right: 8px;

				&:hover {
					.prj > .prjTmb {
						transform: scale(1);
						box-shadow: none;
					}
				}

			}
		}


		#addPrjBox {
			.addPrjTypeBox {
				h2 {}
				.addPrjTmbBox {
					a {
						.addPrj {
							&:hover {
								.addPrjTmb {
									transform: scale(1);
									box-shadow: none;
								}
							}
						}

					}	
				}
			}
		}
	}
}


/* ----------------------------------------------------------- */
/* INFO ------------------------------------------------------ */
/* ----------------------------------------------------------- */

#infoBox {
	width: 100%;
	max-width: 800px;
	margin: 80px 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	h2 {
		margin-bottom: 8px;
	}

	#selfIllustrationTxt {
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: flex-start;
		text-align: left;

		img {
			width: 180px;
			height: auto;
			margin-right: 40px;
		}

		#selfTxt {
			min-width: 128px;
		}
	}

	#infoSectionDivider {
		margin: 104px auto;
	}

	#listBox {
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: flex-start;
		text-align: center;

		.list {
			min-width: 188px;
			margin-bottom: 40px;

			a {
				// font-weight: 600;
				text-decoration: underline;
			}

			li {
				display: flex;
				flex-flow: row;
				justify-content: center;
			}

			img {
				max-width: 20px;
				max-width: 20px;
				height: 20px;
				margin-bottom: 8px;
			}

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 16px;
				flex-flow: row;

				em {
					font-size: 1.2em;
				}
			}
		}
	}
}

@media (max-width: $mobileWidth) {

	#infoBox {
		margin: 80px 0;

		#selfIllustrationTxt {
			flex-flow: column;
			align-items: center;
			text-align: center;

			img {
				margin-right: 0;
				margin-bottom: 40px;
			}
		}

		#infoSectionDivider {
			margin: 64px auto;
		}

		#listBox {
			align-items: flex-start;
			text-align: center;
			flex-wrap: wrap;

			.list {

				img {
					margin-bottom: 0px;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}


/* CONTACT --------------------- */

#contact {
	max-width: $desktopWidth;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid $grey2;
	padding-top: 40px;

	#footerTxt {
		display: flex;
		order: 1;
		font-size: 0.8em;
		text-align: center;
		height: 100%;
		margin-bottom: 16px;
	}

	#contactBox {
		@extend .flexboxCenter;
		flex-flow: row;
		order: 2;

		a {
			margin-right: 16px;

			.contactBtn {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				border: 1px solid $grey1;
				width: 40px;
				height: 40px;
				color: $grey1;
				transition: $transition;

				img {
					max-width: 16px;
					width: 100%;
					height: auto;
				}
			}

			&:last-child {
				margin-right: 0px;
			}

			&:hover {
				.contactBtn {
					transform: scale(1.2);
					transition: $transition;
				}
			}
		}
	}
}

@media (max-width: $mobileWidth) {

	#contact {
		display: flex;
		flex-flow: column;
		padding-top: 64px;

		#footerTxt {
			margin: 40px 0;
			order: 2;
			margin-bottom: 64px;
		}

		#contactBox {
			flex-flow: row;
			order: 1;

			a {
				&:hover {
					.contactBtn {
						transform: scale(1);
						transition: $transition;
					}
				}
			}
		}
	}
}


/* ----------------------------------------------------------- */
/* PROJECT --------------------------------------------------- */
/* ----------------------------------------------------------- */

#prjSiteBox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	padding: 40px;

	.btnBox {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row;

		a {
			color: #111;
			display: flex;
			flex-flow: row;
		}

		.btn {
			display: flex;
			flex-flow: row;
			font-size: 0.9em;

			img {
				width: 100%;
				max-width: 20px;
				height: auto;
				margin-right: 12px;
			}
		}
	}

	.prjIntro {
		width: 100%;
		max-width: $desktopWidth;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		padding: 120px;
		margin-top: 80px;
		// background-color: $grey4;
		@extend .dotted;

		.prjIntroHeader {
			text-align: center;
			font-size: 4em;
			width: 100%;
			max-width: 800px;
		}

		.prjIntroDsc {
			text-align: center;
			font-size: 1.4em;
			font-weight: 400;

			a {
				position: relative;
				display: inline;
				font-weight: 600;
				text-decoration: underline;
			}
		}

		.btnBox {
			margin-top: 40px;

			.introBtn {
				margin: 8px 8px;
			}

		}
	}

	.sectionDivider {
		margin: 80px 0;
		max-width: $mobileWidth;
	}

	.title {
		font-size: 3em;
		margin-bottom: 80px;
	}

	.prjContentBox {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		width: 100%;
		max-width: 800px;

		.prjContentImg {
			width: 100%;
			border: 1px solid $grey3;
			border-radius: 8px;
			box-shadow: 3px 3px 8px #dedede;
			margin-bottom: 32px;
		}

		iframe {
			width: 100%;
			height: 400px;
		}

		.prjContentTitle {
			font-size: 1.2em;
			font-weight: 400;
			margin-bottom: 8px;
			text-align: left;
			width: 100%;
		}

		.prjContentDsc {
			text-align: left;
			width: 100%;

			a {
				text-decoration: underline;
			}
		}

		.btn {
			margin-top: 40px;
		}
	}

	.prjContentPhoto {
		.prjContentImg {
			border: none;
			box-shadow: none;
			border-radius: 0;
		}
	}

	.footerBtnBox {
		width: 100%;
		max-width: $mobileWidth;
		margin-bottom: 80px;

		.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			span {
				text-align: center;
			}
		}

		a {
			width: 100%;
			margin: 0 8px;
		}
	}
}

@media (max-width: $mobileWidth) {

	#prjSiteBox {
		padding: 0 16px;
		margin-top: 64px;

		.btnBox {
			width: 100%;
			flex-flow: column;

			a {
				width: 100%;

				.btn {
					width: 100%;
					font-size: 0.9em;

					img {
					}
				}
			}
		}

		.prjIntro {
			padding: 16px 24px 32px 24px;
			margin-top: 64px;

			.prjIntroHeader {
				font-size: 3em;
			}

			.prjIntroDsc {
				font-size: 1.2em;
			}
		}

		.sectionDivider {
			margin: 40px 0;
		}

		.title {
			font-size: 2em;
			margin-bottom: 40px;
		}

		.prjContentBox {

			.prjContentImg {
			}

			.prjContentTitle {
				text-align: center;
			}

			.prjContentDsc {
				text-align: center;
				font-size: 0.9em;
			}

			.btn {
				margin-top: 24px;
			}
		}

		.footerBtnBox {

			margin-bottom: 64px;

			a {
				margin-bottom: 24px;

				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
}