body
{
    background-color: #333;
    height: 100%;
    width: 90%;
    border-radius: 3px;
    transform: scale(0.25);
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

#container
{
	margin: auto;
    width: 500px;
    height: 500px;
    position: absolute;

    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:jump;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;
    -webkit-transform-origin:50% 100%;

    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:jump;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
    -moz-transform-origin:50% 100%;
}

@-webkit-keyframes jump { 
from { -webkit-transform:translate(0px,-400px) } 
to { -webkit-transform:translate(0px,500px) } 
}

@-moz-keyframes jump { 
from { -moz-transform:translate(0px,-400px) } 
to { -moz-transform:translate(0px,500px) } 
}

#head
{
    width:120px;
    height:160px;
    border-radius: 100%;
    position:absolute;
    background-color: #FFF;
    left:15px;
    top:-160px;
    z-index:2;

    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:headbob;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;
    -webkit-transform-origin:50% 100%;

    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:headbob;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
    -moz-transform-origin:50% 100%;
}

@-webkit-keyframes headbob { 
from { -webkit-transform:rotate(50deg) } 
to { -webkit-transform:rotate(-50deg) } 
}

@-moz-keyframes headbob { 
from { -moz-transform:rotate(50deg) } 
to { -moz-transform:rotate(-50deg) } 
}


#body
{
	width:150px;
	height:225px;
    border-radius:40%;
	position:absolute;
	top: -160px; left: 0; bottom: 0; right: 0;	
	margin:auto;
	background-color: #FFF;
	z-index: 2;

	-webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:hip;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;
    -webkit-transform-origin:50% 50%;

    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:hip;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
    -moz-transform-origin:50% 50%;
}

#hip
{
	width:150px;
	height:75px;
    border-radius:40%;
	position:absolute;
	background-color: #FFF;
	left:0px;
	top:225px;
	z-index: -1;

	-webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:hip;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;
    -webkit-transform-origin:50% 50%;

    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:hip;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
    -moz-transform-origin:50% 50%;
}

@-webkit-keyframes hip { 
from { -webkit-transform:rotate(-20deg) } 
to { -webkit-transform:rotate(20deg) } 
}

@-moz-keyframes hip { 
from { -moz-transform:rotate(-20deg) } 
to { -moz-transform:rotate(20deg) } 
}

.upperarm
{
    width:200px;
    height:30px;
    border-radius: 40%;
    position:absolute;
}

#upperarmright
{
    top:0px; 
    left:150px;
    background-color: #FFF;

    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:upperarmright;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;
    -webkit-transform-origin:0% 50%;

    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:upperarmright;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
    -moz-transform-origin:0% 50%;
}

@-webkit-keyframes upperarmright { 
from { -webkit-transform:rotate(-30deg) } 
to { -webkit-transform:rotate(60deg) } 
}

@-moz-keyframes upperarmright { 
from { -moz-transform:rotate(-30deg) } 
to { -moz-transform:rotate(60deg) } 
}

#upperarmleft
{
    top:0px; 
    left:-200px;
    background-color: #FFF;

    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:upperarmleft;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;
    -webkit-transform-origin:100% 50%;

    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:upperarmleft;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
    -moz-transform-origin:100% 50%;  
}

@-webkit-keyframes upperarmleft { 
from { -webkit-transform:rotate(90deg) } 
to { -webkit-transform:rotate(-30deg) } 
}

@-moz-keyframes upperarmleft { 
from { -moz-transform:rotate(90deg) } 
to { -moz-transform:rotate(-30deg) } 
}

.forearm
{
    width:150px;
    height:30px;
    border-radius: 40%;
    position:absolute;
}

#forearmright
{
    top:0px;
    left:200px;
    background-color: #FFF;

    -webkit-transform-origin:0% 50%;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:forearmright;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;

    -moz-transform-origin:0% 50%;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:forearmright;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
}

@-webkit-keyframes forearmright { 
from { -webkit-transform:rotate(-100deg) } 
to { -webkit-transform:rotate(180deg) } 
}

@-moz-keyframes forearmright { 
from { -moz-transform:rotate(-100deg) } 
to { -moz-transform:rotate(180deg) } 
}


#forearmleft
{
    top:0px;
    left:0px;
    background-color: #FFF;

    -webkit-transform-origin:0% 50%;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:forearmleft;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;

    -moz-transform-origin:0% 50%;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:forearmleft;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
}

@-webkit-keyframes forearmleft { 
from { -webkit-transform:rotate(180deg) } 
to { -webkit-transform:rotate(690deg) } 
}

@-moz-keyframes forearmleft { 
from { -moz-transform:rotate(180deg) } 
to { -moz-transform:rotate(690deg) } 
}

.hand
{
    width:60px;
    height:40px;
    border-radius: 40%;
    position:absolute;
}

@-webkit-keyframes hand { 
from { -webkit-transform:rotate(-50deg) } 
to { -webkit-transform:rotate(0deg) } 
}

@-moz-keyframes hand { 
from { -moz-transform:rotate(-50deg) } 
to { -moz-transform:rotate(0deg) } 
}


#handright
{
    top:0px; 
    left:150px;
    background-color: #FFF;

    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:hand;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;
    -webkit-transform-origin:0% 50%;

    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:hand;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
    -moz-transform-origin:0% 50%;
}

#handleft
{
    top:0px; 
    left:150px;
    background-color: #FFF;

    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:hand;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;
    -webkit-transform-origin:0% 50%;

    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:hand;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
    -moz-transform-origin:0% 50%;
}

.upperleg {
    width:50px;
    height:200px;
    position:absolute;
    border-radius:40%;
}

#upperlegleft
{
	top:75px;
	left:0px;
    background-color: #FFF;

	-webkit-transform-origin:50% 0%;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:upperlegleft;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;

    -moz-transform-origin:50% 0%;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:upperlegleft;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
}

@-webkit-keyframes upperlegleft { 
from { -webkit-transform:rotate(160deg) } 
to { -webkit-transform:rotate(-10deg) } 
}

@-moz-keyframes upperlegleft { 
from { -moz-transform:rotate(160deg) } 
to { -moz-transform:rotate(-10deg) } 
}

#upperlegright
{
	top:75px;
	left:100px;
    background-color: #FFF;

	-webkit-transform-origin:50% 0%;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:upperlegright;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;

    -moz-transform-origin:50% 0%;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:upperlegright;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
}

@-webkit-keyframes upperlegright { 
from { -webkit-transform:rotate(40deg) } 
to { -webkit-transform:rotate(-150deg) } 
}

@-moz-keyframes upperlegright { 
from { -moz-transform:rotate(40deg) } 
to { -moz-transform:rotate(-150deg) } 
}

.lowerleg
{
	width:50px;
	height:200px;
	position:absolute;
    border-radius:40%;
}

#lowerlegright
{
	top:200px;
	left:0px;
    background-color: #FFF;

	-webkit-transform-origin:50% 0%;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:lowerlegright;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;

    -moz-transform-origin:50% 0%;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:lowerlegright;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
}

@-webkit-keyframes lowerlegright { 
from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(150deg) } 
}

@-moz-keyframes lowerlegright { 
from { -moz-transform:rotate(0deg) } 
to { -moz-transform:rotate(150deg) } 
}

#lowerlegleft {
	top:200px;
	left:0px;
    background-color: #FFF;

    -webkit-transform-origin:50% 0%;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:lowerlegleft;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;

    -moz-transform-origin:50% 0%;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:lowerlegleft;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
}

@-webkit-keyframes lowerlegleft { 
from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(-140deg) } 
}

@-moz-keyframes lowerlegleft { 
from { -moz-transform:rotate(0deg) } 
to { -moz-transform:rotate(-140deg) } 
}

.foot {
    width:80px;
    height:40px;
    position:absolute;
    border-radius:40%;
}

#footleft {
    top:200px;
    left:40px;
    background-color: #FFF;

    -webkit-transform-origin:0% 0%;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:footleft;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;

    -moz-transform-origin:0% 0%;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:footleft;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
}

@-webkit-keyframes footleft { 
from { -webkit-transform:rotate(90deg) } 
to { -webkit-transform:rotate(180deg) } 
}

@-moz-keyframes footleft { 
from { -moz-transform:rotate(90deg) } 
to { -moz-transform:rotate(180deg) } 
}


#footright {
    top:180px;
    left:25px;
    background-color: #FFF;

    -webkit-transform-origin:0% 50%;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-name:footright;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-duration:0.7s;

    -moz-transform-origin:0% 50%;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
    -moz-animation-name:footright;
    -moz-animation-direction:alternate-reverse;
    -moz-animation-duration:0.7s;
}

@-webkit-keyframes footright { 
from { -webkit-transform:rotate(90deg) } 
to { -webkit-transform:rotate(-40deg) } 
}

@-moz-keyframes footright { 
from { -moz-transform:rotate(90deg) } 
to { -moz-transform:rotate(-40deg) } 
}

