/* CSS Reset ------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Border Box Reset -----------------------
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


// PAGE SETUP ----------------------------- 
$transitionSpeed: 0.5s;
$angerBg: #ee737c;	

* {
	transition: $transitionSpeed;
}

#siteContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;

	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;

	#txtContainer {
		width: 30%;
		height: 100%;

		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;

		.btn {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 320px;
			height: 80px;
			margin: 24px 16px;
			background-color: #fff;
			border-radius: 20px;
			border: 3px solid #777;
			cursor: pointer;
			user-select: none;
			transition: $transitionSpeed;

			&:hover {
				background-color: #999;
			}

			span {
				font-family: sans-serif;
				font-size: 1.5em;
				color: #777;
				text-align: center;
			}
		}

		.active {
			background-color: red;
		}
	}

	/* FACE STRUCTURE ----------------------------- */
	#faceContainer {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		// PROPORTIONAL FACIAL FEATURE SIZING
		$faceWidth: 600px;
		$faceHeight: $faceWidth * 1.2;
		$hairWidth: $faceWidth;
		$hairHeight: $faceWidth * 0.3;
		$eyebrowHeight: $faceWidth * 0.03;
		$eyebrowWidth: $faceWidth * 0.25;
		$eyeWidth: $faceWidth * 0.175;
		$eyeHeight: $faceWidth * 0.15;
		$irisWidth: $faceWidth * 0.075;
		$irisHeight: $faceWidth * 0.075;
		$noseWidth: $faceWidth * 0.15;
		$noseHeight: $faceWidth * 0.25;

		// COLORS
		$skinColor1: #98FB98;
		$skinColor2: #90EE90;
		$hairColor: #999;
		$eyeColor: #666;
		$lipsColor: #c98276;

		// human skin tones
		// #8d5524
		// #c68642
		// #e0ac69
		// #f1c27d
		// #ffdbac

		// human lips tones
		// #eec1ad
		// #dbac98
		// #d29985
		// #c98276
		// #e35d6a

		// alien skin tones
		// #98FB98 green
		// #90EE90 darker green


		#base {
			width: $faceWidth;
			height: $faceHeight;
			border-radius: 50%;
			background-color: $skinColor1;
			display: flex;
			flex-flow: column;
			align-items: center;

			#hair {
				margin-top: -$faceWidth * 0.3;
				width: $hairWidth;
				height: $hairHeight;
				background-color: $hairColor;
			}

			#eyebrows {
				margin-top: $faceWidth * 0.35;
				width: 100%;
				display: flex;
				justify-content: space-between;

				.eyebrow {
					width: $eyebrowWidth;
					height: $eyebrowHeight;
					background-color: $skinColor2;  
				}

				#eyebrowL {
					margin-left: $faceWidth * .15;
				}

				#eyebrowR {
					margin-right: $faceWidth * .15;
				}
			}

			#eyes {
				margin-top: $faceWidth * 0.05;
				width: 100%;
				min-height: $faceWidth * 0.2;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.eyeContainer {
					width: $eyeWidth;
					height: $eyeHeight;
					position: relative;

					.eye {
						width: 100%;
						height: 100%;
						background-color: #fff;
						display: flex;
						justify-content: center;
						align-items: center;

						.iris {
							width: $irisWidth;
							height: $irisHeight;
							background-color: $eyeColor;
							border-radius: 50%;
						}
					}

					@keyframes blink {

						0%		{ }
						2%		{ height: 0px; }
						2.5%	{ height: $eyeHeight; }
						3%		{ height: 0px; }
						52%		{ height: 0px; }
						52.5%	{ height: $eyeHeight; }
						53%		{ height: 0px; }
						62%		{ height: 0px; }
						62.5%	{ height: $eyeHeight; }
						63%		{ height: 0px; }
						100%	{ }
					}

					.eyelid {
						position: absolute;
						top: 0; left: 0;
						width: 100%;
						height: 0;
						background-color: $skinColor2;

						animation-name: blink;
					    animation-duration: 20s;
					    animation-timing-function: ease-out;
					    animation-delay: 0s;
					    animation-iteration-count: infinite;
					    animation-direction: normal;
					}
				}

				#eyeContainerL {
					margin-left: $faceWidth * 0.175;

					#eyeL { }
					#eyelidL { }
				}

				#eyeContainerR {
					margin-right: $faceWidth * 0.175;

					#eyeR { }
					.eyelid { }
				}
			}


			#nose {
				margin-top: -$faceWidth * 0.1;

				width: $noseWidth;
				height: $noseHeight;
				background-color: $skinColor1;
				border: 8px solid $skinColor2;
				border-top: none;
			}

			#mouthContainer {
				margin-top: $faceWidth * 0.1;
				border-color: 1px solid red;
				width: $faceWidth * 0.4;
				height: $faceWidth * 0.1;

				.lip {
					background-color: $lipsColor;
				}

				#upperLip {

				}

				#teeth {

				}

				#lowerLip {

				}

			}

		}



		// EYE / EYEBROW ANIMATIONS --------------------------------------------

		.enlarge {
			transform: scale(1.2);
			transition: $transitionSpeed;
		}

		.shrink {
			transform: scale(0.8);
			transition: $transitionSpeed;
		}

		.raise {
			transform: translateY(-20px);
			transition: $transitionSpeed;
		}

		.lower {
			transform: translateY(20px);
			transition: $transitionSpeed;
		}

		.tiltCCW {
			transform: rotate(-7.5deg);
			transition: $transitionSpeed;
		}

		.tiltCW {
			transform: rotate(7.5deg);
			transition: $transitionSpeed;
		}

		.raiseTiltCCW {
			transform: translateY(-20px) rotate(-7.5deg);
			transition: $transitionSpeed;
		}

		.raiseTiltCW {
			transform: translateY(-20px) rotate(7.5deg);
			transition: $transitionSpeed;
		}

		.lowerTiltCCW {
			transform: translateY(20px) rotate(-7.5deg);
			transition: $transitionSpeed;
		}

		.lowerTiltCW {
			transform: translateY(20px) rotate(7.5deg);
			transition: $transitionSpeed;
		}


		// IRIS ANIMATIONS ----------------------------------------------

		.irisDown {
			transform: translateY(12px);
			transition: $transitionSpeed;
		}

		.irisUp  {
			transform: translateY(-12px);
			transition: $transitionSpeed;
		}

		.irisLeft {
			transform: translateX(-12px);
			transition: $transitionSpeed;
		}

		.irisRight {
			transform: translateX(-12px);
			transition: $transitionSpeed;
		}

		.irisUpRight {
			transform: translateX(12px) translateY(-12px);
			transition: $transitionSpeed;
		}

		.irisDownRight {
			transform: translateX(12px) translateY(12px);
			transition: $transitionSpeed;
		}

		.irisDownLeft {
			transform: translateX(-12px) translateY(12px);
			transition: $transitionSpeed;
		}

		.irisUpLeft {
			transform: translateX(-12px) translateY(-12px);
			transition: $transitionSpeed;
		}

		.noseBunch {
			transform: translateY(-8px) scaleX(1.1) scaleY(0.9);
			transition: $transitionSpeed;
		}

		.crosseyedL {
			transform: translateY(8px) translateX(12px);
			transition: $transitionSpeed;
		}

		.crosseyedR {
			transform: translateY(8px) translateX(-12px);
			transition: $transitionSpeed;
		}


		// BACKGROUND ANIMATIONS ----------------------------------------------
		.eyesRed {
			background-color: #ffe1e6;
		}

		.angerBg {
			background-color: $angerBg;
			transition: $transitionSpeed;
		}
	}
}










