/* CSS Reset ------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  transition: 0.5s; }

#siteContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  /* FACE STRUCTURE ----------------------------- */ }
  #siteContainer #txtContainer {
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    #siteContainer #txtContainer .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 320px;
      height: 80px;
      margin: 24px 16px;
      background-color: #fff;
      border-radius: 20px;
      border: 3px solid #777;
      cursor: pointer;
      user-select: none;
      transition: 0.5s; }
      #siteContainer #txtContainer .btn:hover {
        background-color: #999; }
      #siteContainer #txtContainer .btn span {
        font-family: sans-serif;
        font-size: 1.5em;
        color: #777;
        text-align: center; }
    #siteContainer #txtContainer .active {
      background-color: red; }
  #siteContainer #faceContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #siteContainer #faceContainer #base {
      width: 600px;
      height: 780px;
      border-radius: 50%;
      background-color: #ffdbac;
      display: flex;
      flex-flow: column;
      align-items: center; }
      #siteContainer #faceContainer #base #hair {
        margin-top: -180px;
        width: 600px;
        height: 180px;
        background-color: #8d5524; }
      #siteContainer #faceContainer #base #eyebrows {
        margin-top: 210px;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        #siteContainer #faceContainer #base #eyebrows .eyebrow {
          width: 150px;
          height: 18px;
          background-color: #8d5524; }
        #siteContainer #faceContainer #base #eyebrows #eyebrowL {
          margin-left: 90px; }
        #siteContainer #faceContainer #base #eyebrows #eyebrowR {
          margin-right: 90px; }
      #siteContainer #faceContainer #base #eyes {
        margin-top: 30px;
        width: 100%;
        min-height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #siteContainer #faceContainer #base #eyes .eyeContainer {
          width: 105px;
          height: 60px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center; }
          #siteContainer #faceContainer #base #eyes .eyeContainer .eye {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center; }
          #siteContainer #faceContainer #base #eyes .eyeContainer .iris {
            position: absolute;
            width: 54px;
            height: 54px;
            background-color: #7B3F00;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            #siteContainer #faceContainer #base #eyes .eyeContainer .iris .pupil {
              width: 50%;
              height: 50%;
              background-color: #000;
              border-radius: 50%; }
              #siteContainer #faceContainer #base #eyes .eyeContainer .iris .pupil .highlight {
                width: 30%;
                height: 30%;
                background-color: #fff;
                border-radius: 50%; }
          #siteContainer #faceContainer #base #eyes .eyeContainer .eyelid {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: #f1c27d;
            border-radius: 50%; }
        #siteContainer #faceContainer #base #eyes #eyeContainerL {
          margin-left: 105px; }
        #siteContainer #faceContainer #base #eyes #eyeContainerR {
          margin-right: 105px; }
      #siteContainer #faceContainer #base #nose {
        margin-top: -60px;
        width: 90px;
        height: 150px;
        background-color: #ffdbac;
        border: 8px solid #f1c27d;
        border-top: none; }
      #siteContainer #faceContainer #base #mouthContainer {
        margin-top: 60px;
        border-color: 1px solid red;
        width: 240px;
        height: 60px; }
        #siteContainer #faceContainer #base #mouthContainer .lip {
          background-color: #c98276; }
    #siteContainer #faceContainer .eyeShrinkY {
      transform: scaleY(0.8); }
    #siteContainer #faceContainer .eyeGrowY {
      transform: scaleY(1.4); }
    #siteContainer #faceContainer .eyebrowTiltCCW {
      transform: rotate(-7.5deg); }
    #siteContainer #faceContainer .eyebrowTiltCW {
      transform: rotate(7.5deg); }
    #siteContainer #faceContainer .eyebrowRaiseTiltCCW {
      transform: translateY(-30px) rotate(-15deg);
      transition: 0.5s; }
    #siteContainer #faceContainer .eyebrowRaiseTiltCW {
      transform: translateY(-30px) rotate(15deg);
      transition: 0.5s; }
    #siteContainer #faceContainer .pupilGrow {
      width: 75%;
      height: 75%; }
    #siteContainer #faceContainer .enlarge {
      transform: scale(1.2);
      transition: 0.5s; }
    #siteContainer #faceContainer .shrink {
      transform: scale(0.8);
      transition: 0.5s; }
    #siteContainer #faceContainer .enlargeY {
      transform: scaleY(2);
      transition: 0.5s; }
    #siteContainer #faceContainer .shrinkY {
      transform: scaleY(0.5);
      transition: 0.5s; }
    #siteContainer #faceContainer .squint {
      transform: scaleY(0.3);
      transition: 0.5s; }
    #siteContainer #faceContainer .raise {
      transform: translateY(-120%);
      transition: 0.5s; }
    #siteContainer #faceContainer .lower {
      transform: translateY(20%);
      transition: 0.5s; }
    #siteContainer #faceContainer .tiltCCW {
      transform: rotate(-20deg);
      transition: 0.5s; }
    #siteContainer #faceContainer .tiltCW {
      transform: rotate(20deg);
      transition: 0.5s; }
    #siteContainer #faceContainer .lowerTiltCCW {
      transform: translateY(20px) rotate(-20deg);
      transition: 0.5s; }
    #siteContainer #faceContainer .lowerTiltCW {
      transform: translateY(20px) rotate(20deg);
      transition: 0.5s; }
    #siteContainer #faceContainer .irisDown {
      transform: translateY(20%);
      transition: 0.5s; }
    #siteContainer #faceContainer .irisUp {
      transform: translateY(-20%);
      transition: 0.5s; }
    #siteContainer #faceContainer .irisLeft {
      transform: translateX(-20%);
      transition: 0.5s; }
    #siteContainer #faceContainer .irisRight {
      transform: translateX(-20%);
      transition: 0.5s; }
    #siteContainer #faceContainer .irisUpRight {
      transform: translateX(20%) translateY(-20%);
      transition: 0.5s; }
    #siteContainer #faceContainer .irisDownRight {
      transform: translateX(20%) translateY(20%);
      transition: 0.5s; }
    #siteContainer #faceContainer .irisDownLeft {
      transform: translateX(-20%) translateY(20%);
      transition: 0.5s; }
    #siteContainer #faceContainer .irisUpLeft {
      transform: translateX(-20%) translateY(-20%);
      transition: 0.5s; }
    #siteContainer #faceContainer .noseBunch {
      transform: translateY(-20%) scaleX(1.1) scaleY(0.9);
      transition: 0.5s; }
    #siteContainer #faceContainer .crosseyedL {
      transform: translateY(20%) translateX(20%);
      transition: 0.5s; }
    #siteContainer #faceContainer .crosseyedR {
      transform: translateY(20%) translateX(-20%);
      transition: 0.5s; }
    #siteContainer #faceContainer .eyesRed {
      background-color: #ffe1e6; }
    #siteContainer #faceContainer .angerBg {
      background-color: #ee737c;
      transition: 0.5s; }
