/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	padding: 0;
	margin: 0;
	background-color: #DEDEDE;
	font-family: helvetica, arial, sans-serif;
	color: #FFF;
}

#site_container {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	min-height: 100%;
}

$navbarHeight: 100px;

#navbar {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: $navbarHeight;
}

#filter_container {
	position: absolute;
	margin: auto;
	left: 0; right: 0; bottom: 0;
	text-align: center;
}

#filter_container span:hover {
	color: #66cc33;
}

.filter {
	color: #FFF;
	cursor: pointer;
}

#projects_container {
	position: absolute;
	top: $navbarHeight;
	margin: auto;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	width: 100%;
}

.project {
	position: relative;
	display: inline-block;
	height: 400px;
	width: 400px;
	box-sizing: border-box;
	padding: 10px;
	transition: 500ms;
	background-color: #66cc33;
	easing: ease-in-out;
	margin-top: 5px;
	cursor: pointer;
}

.project_min {
	min-height: 0px;
	height: 0px;
	padding: 0;
	transition: 500ms;
	easing: ease-in-out;
	z-index: 1;
}

.project_max {
	min-height: 300px;
	height: 300px;
	transition: 500ms;
	easing: ease-in-out;
	z-index: 2;
}

.projectDeselected {
	opacity: 0.3;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

.projectInfoContainer {
	border: 1px dotted red;
	float: left;
	width: 400px;
	height: 100%;
}

.projectTitle {
	font-size: 3em;
	color: #66cc33;
}

.projectDescription {

}

.projectImage {
	position: relative;
	float: right;
	vertical-align: middle;
}

.projectImage img {
	width: 200px;
	height: 200px;
}