/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END CSS RESET-------------------*/

/* GLOBAL -------------------*/

body
{
	font-family: 'Lato', arial, sans-serif;
	overflow-y:auto;
	overflow-x:hidden;
}

a, a:visited, a:active
{
	text-decoration: none;
	font-style:none;
	color:#FFF;
}

a:hover
{
	color:#3399FF;
}

#sitecontainer
{
	position:relative;
}

.section
{
	border: 1px solid black;
	text-align:center;
}

.section_container
{
	background-color: red;
	text-align: center;
	width:70%;
	margin:auto;
}

.headertext
{
	font-size:4em;
	font-weight: 600;
	text-align:center;
	line-height: 1.25em;
}


/* HOMEPAGE ----------------------*/
#homepage
{
	width:100%;
	height:100vh;
	position: relative;
	top:0;
	left:0;
	margin:auto;
}

#homepage_textbox
{
	display:table;
	position:absolute;
	margin:auto;
	top:0; bottom:0;
	left:0; right:0;
	width:70%;
}

#homepage_textbox p
{
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;
	color:#FFF;
}

#homepage_textbox img
{
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;
	color:#FFF;
	width:100%;
	height:auto;
}

/* END HOMEPAGE --------------------- */


/* BIGVIDEOS --------------------- */
#big-video-wrap {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

#big-video-vid, #big-video-image {
    position: relative;
}

#big-video-control-container {
    position: fixed;
    bottom: 20px;
    padding:  0 20px;
    width: 100%;
    
  -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

#big-video-control {
    width: 100%;
    height: 16px;
    position: relative;
}

#big-video-control-middle {
    margin:  0 56px 0 24px;
}

#big-video-control-bar {
    width: 100%;
    height: 16px;
    position: relative;
    cursor: pointer;
}

#big-video-control-progress {
    position: absolute;
    top: 7px;
    height: 3px;
    width: 0%;
    background: #fff;
}

#big-video-control-track {
    position: absolute;
    top: 8px;
    height: 1px;
    width: 100%;
    background: #fff;
}

#big-video-control-bound-left {
    left: 0;
}

#big-video-control-bound-right {
    right: -1px;
}
#big-video-control-track .ui-slider-handle  {
    opacity: 0;
}

#big-video-control-playhead {
    left: 30%;
}

#big-video-control-play {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-image: url('bigvideo.png');
}

#big-video-control-timer {
    position: absolute;
    top: 1px;
    right: 0;
    color: #fff;
    font-size: 11px;
}

#big-video-control-playhead, #big-video-control-bound-left, #big-video-control-bound-right {
    position: absolute;
    top: 0;
    height: 16px;
    width: 1px;
    background: #fff;
}

#big-video-control .ui-slider-handle {
    border-left: solid 1px #fff;
     width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
}

.transparent {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.vjs-big-play-button {
    display: none !important;
}

/* END BIGVIDEOS --------------------- */

/* WHAT WE DO ------------------------- */
#whatwedo
{
	width:100%;
	background-color: #FFF;
	position: relative;
}

.videodescription_container
{
	width:100%;
	height:400px;
	background-color: #333;
	border: 1px solid green;
}

.video
{
	width:500px;
	height:300px;
	background-color: #888;
	display:inline-block;
	float:left;
}

.description
{
	font-style:italic;
	font-size:1em;
	display:inline-block;
	background-color: red;
}



/* END WHAT WE DO ------------------------- */


#howwedoit
{
	width:100%;
	background-color: #FFF;
	height:500px;
	position: relative;
}




/* NAVBAR ------------------ */

#navbar
{
	width:100%;
	height:60px;
	background-color: #222;
	position: fixed;
	top:0; left:0;
	z-index: 5;
}

#navbar li
{
	display:inline;
	padding-left: 20px;
	padding-right:20px;
	line-height: 60px;
	float:left;
	color:#FFF;
}

#navbar li:hover
{
	color:#3399FF;
}

#navbar img
{
	height:40px;
	width:auto;
	z-index: 6;
	padding-top:10px;
}

#navbarcontainer
{
	width:100%;
	margin:auto;
	right:0;
}

#navbarspacer
{
	width:100%;
	height:60px;
	background-color: #999;
	position: relative;
	top:0; left:0;
}

/* END NAVBAR --------------------*/