body
{
	padding: 0;
	margin: 0;
}

#site_container
{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
}

#bigCircle
{
	position: absolute;
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 0;

	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 3px dotted #DEDEDE;
	background-color: #FCFCFC;
}

.circleContainer
{
	position: absolute;
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 0;

	width: 200px;
	height: 200px;
	border-radius: 100%;
}

.smallCircle
{
	position: absolute;
	left: 0; right: 0;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: #999;
	margin: auto;
	animation: move 1s ease-in-out infinite alternate;
}

@keyframes move
{
	0% 		{ margin-top: 0; }
	100%	{ margin-top: calc( 100% - 15px); }
}

#oneContainer
{ transform: rotate(0); }

#twoContainer
{ transform: rotate(22.5deg); }

#threeContainer
{ transform: rotate(45deg); }

#fourContainer
{ transform: rotate(67.5deg); }

#fiveContainer
{ transform: rotate(90deg); }

#sixContainer
{ transform: rotate(112.5deg); }

#sevenContainer
{ transform: rotate(135deg); }

#eightContainer
{ transform: rotate(157.5deg); }


//TWO ROTATING SQUARES
// #one
// { animation-delay: 0s; }

// #two
// { animation-delay: 875ms; }

// #three
// { animation-delay: 1750ms; }

// #four
// { animation-delay: 2625ms; }

// #five
// { animation-delay: 3500ms; }

// #six
// { animation-delay: 4375ms; }

// #seven
// { animation-delay: 5250ms; }

// #eight
// { animation-delay: 6125ms; }


//TWO ROTATING SQUARES
// #one
// { animation-delay: 0s; }

// #two
// { animation-delay: 1125ms; }

// #three
// { animation-delay: 2250ms; }

// #four
// { animation-delay: 3375ms; }

// #five
// { animation-delay: 4500ms; }

// #six
// { animation-delay: 5625ms; }

// #seven
// { animation-delay: 6750ms; }

// #eight
// { animation-delay: 7875ms; }


//CIRCLE !!!!!!!!
// #one
// { animation-delay: 0s; }

// #two
// { animation-delay: 125ms; }

// #three
// { animation-delay: 250ms; }

// #four
// { animation-delay: 375ms; }

// #five
// { animation-delay: 500ms; }

// #six
// { animation-delay: 625ms; }

// #seven
// { animation-delay: 750ms; }

// #eight
// { animation-delay: 875ms; }

//OPENING CIRCLE
// #one
// { animation-delay: 0s; }

// #two
// { animation-delay: 100ms; }

// #three
// { animation-delay: 200ms; }

// #four
// { animation-delay: 300ms; }

// #five
// { animation-delay: 400ms; }

// #six
// { animation-delay: 500ms; }

// #seven
// { animation-delay: 600ms; }

// #eight
// { animation-delay: 700ms; }


// CLOVER
// #one
// { animation-delay: 0s; }

// #two
// { animation-delay: 250ms; }

// #three
// { animation-delay: 500ms; }

// #four
// { animation-delay: 750ms; }

// #five
// { animation-delay: 1000ms; }

// #six
// { animation-delay: 1250ms; }

// #seven
// { animation-delay: 1500ms; }

// #eight
// { animation-delay: 1750ms; }


//BOUNCING AND POP CENTER
// #one
// { animation-delay: 0s; }

// #two
// { animation-delay: 500ms; }

// #three
// { animation-delay: 1000ms; }

// #four
// { animation-delay: 1500ms; }

// #five
// { animation-delay: 2000ms; }

// #six
// { animation-delay: 2500ms; }

// #seven
// { animation-delay: 3000ms; }

// #eight
// { animation-delay: 3500ms; }


// //SLOPPY CIRCLE
// #one
// { animation-delay: 0s; }

// #two
// { animation-delay: 187.5ms; }

// #three
// { animation-delay: 375ms; }

// #four
// { animation-delay: 562.5ms; }

// #five
// { animation-delay: 625ms; }

// #six
// { animation-delay: 750ms; }

// #seven
// { animation-delay: 937.5ms; }

// #eight
// { animation-delay: 1125ms; }

//QUICK CURL
// #one
// { animation-delay: 62.5ms; }

// #two
// { animation-delay: 125ms; }

// #three
// { animation-delay: 187.5ms; }

// #four
// { animation-delay: 250ms; }

// #five
// { animation-delay: 312.5ms; }

// #six
// { animation-delay: 375ms; }

// #seven
// { animation-delay: 437.5ms; }

// #eight
// { animation-delay: 500ms; }


// DEFLATED CIRCLE
// #one
// { animation-delay: 187.5ms; }

// #two
// { animation-delay: 375ms; }

// #three
// { animation-delay: 562.5ms; }

// #four
// { animation-delay: 750ms; }

// #five
// { animation-delay: 937.5ms; }

// #six
// { animation-delay: 1125ms; }

// #seven
// { animation-delay: 1312.5ms; }

// #eight
// { animation-delay: 1500ms; }

