/* CSS RESET ------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.noSelect, h1, #fullContentBox nav #navLeft span, #fullContentBox nav #navRight .navBox .navBtn span, #fullContentBox nav #mobileNav #mobileHeader, #fullContentBox nav #mobileNav #mobileHeader span, #fullContentBox nav #mobileNav #mobileBtnBox .mobileBtn, #fullContentBox nav #mobileNav #mobileBtnBox .mobileBtn span, #interfaceBox .pg .controlNavBox .arrowBox, #interfaceBox .pg .controlNavBox .controlTypeName, #interfaceBox .btn span, #alienBox #faceBodyBgBox img, #footer span {
  webkit-user-select: none;
  /* Chrome all / Safari all */
  moz-user-select: none;
  /* Firefox all */
  ms-user-select: none;
  /* IE 10+ */
  user-select: none; }

.flexboxCenter, #fullContentBox #siteBox, #fullContentBox #siteBox .section, #fullContentBox nav, #fullContentBox nav #navRight .navBox, #fullContentBox nav #navRight .navBox .navBtn, #fullContentBox nav #mobileNav, #fullContentBox nav #mobileNav #mobileHeader, #fullContentBox nav #mobileNav #mobileBtnBox, #interfaceBox, #interfaceBox .pg, #interfaceBox .pg .controlNavBox, #interfaceBox .pg .controlNavBox .arrowBox, #interfaceBox .pg .controlNavBox .controlDotBox, #interfaceBox .pg .pgCenterBox, #interfaceBox .pg .pgCenterBox .btnBox, #interfaceBox .btn, #alienBox #faceBodyBgBox {
  display: flex;
  justify-content: center;
  align-items: center; }

html {
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: #ccccff; }

h1 {
  font-size: 1.4em;
  line-height: 1.6em; }

h2 {
  font-size: 1em;
  line-height: 1.4em; }

@media (max-width: 640px) {
  h1 {
    font-size: 1em; }
  h2 {
    font-size: 0.8em; } }

#fullContentBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow-y: none; }
  #fullContentBox #siteBox {
    width: 100%;
    height: 100%;
    flex-flow: column; }
    #fullContentBox #siteBox .section {
      flex-flow: column;
      width: 100%;
      text-align: center;
      color: #ffffff; }
  #fullContentBox nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 24px;
    justify-content: space-between;
    align-items: flex-start; }
    #fullContentBox nav #navLeft {
      padding-left: 24px; }
      #fullContentBox nav #navLeft span {
        cursor: pointer;
        color: #55557f;
        font-size: 2em; }
    @media (max-width: 640px) {
      #fullContentBox nav #navLeft {
        display: none; } }
    #fullContentBox nav #navRight {
      display: none;
      position: relative;
      padding-right: 24px; }
      #fullContentBox nav #navRight .navBox {
        position: relative;
        flex-flow: row; }
        #fullContentBox nav #navRight .navBox .navBtn {
          height: 48px;
          padding: 0 16px;
          cursor: pointer;
          border-radius: 24px;
          background-color: none;
          color: #fff;
          transition: 0.2s; }
          #fullContentBox nav #navRight .navBox .navBtn span {
            font-style: italic;
            color: #55557f;
            text-align: center; }
        #fullContentBox nav #navRight .navBox .navBtn:nth-Child(2) {
          margin: 0 8px; }
        #fullContentBox nav #navRight .navBox .navBtnSelected {
          background-color: #444466; }
          #fullContentBox nav #navRight .navBox .navBtnSelected span {
            color: #fff; }
    @media (max-width: 640px) {
      #fullContentBox nav #navRight {
        display: none; } }
    #fullContentBox nav #mobileMenuBtn {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 24px;
      margin-left: 24px; }
      #fullContentBox nav #mobileMenuBtn img {
        cursor: pointer;
        width: 32px;
        height: 24px; }
    #fullContentBox nav #mobileNav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      flex-flow: column; }
      #fullContentBox nav #mobileNav #mobileOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #444466;
        opacity: 0.95;
        z-index: 4; }
      #fullContentBox nav #mobileNav #mobileMenuExitBtn {
        position: absolute;
        top: 24px;
        left: 24px;
        z-index: 5;
        width: 32px;
        height: 24px;
        display: flex;
        justify-content: center; }
        #fullContentBox nav #mobileNav #mobileMenuExitBtn img {
          width: 24px;
          height: 24px;
          z-index: 5;
          opacity: 1; }
      #fullContentBox nav #mobileNav #mobileHeader {
        position: relative;
        margin-bottom: 64px;
        font-weight: 100;
        z-index: 5; }
        #fullContentBox nav #mobileNav #mobileHeader span {
          cursor: pointer;
          color: #fff;
          font-size: 2em;
          padding: 24px 24px 0px 24px; }
      #fullContentBox nav #mobileNav #mobileBtnBox {
        z-index: 5;
        flex-flow: column; }
        #fullContentBox nav #mobileNav #mobileBtnBox .mobileBtn {
          z-index: 5;
          color: #fff;
          font-size: 2.5em;
          margin: 8px 0px;
          cursor: pointer;
          padding: 16px 32px; }
        #fullContentBox nav #mobileNav #mobileBtnBox .mobileBtnSelected {
          border: 1px solid #fff;
          border-radius: 48px; }
      #fullContentBox nav #mobileNav #mobileFooter {
        position: relative;
        margin-top: 64px;
        z-index: 5;
        text-align: center; }
        #fullContentBox nav #mobileNav #mobileFooter a {
          margin-top: 16px;
          color: #fff; }
        #fullContentBox nav #mobileNav #mobileFooter span {
          font-size: 0.5em;
          width: 100%;
          color: #fff;
          margin-top: 16px; }
  @media (max-width: 640px) {
    #fullContentBox nav #navLeft {
      display: none; }
    #fullContentBox nav #navRight {
      display: none; }
    #fullContentBox nav #mobileMenu {
      display: flex; } }

#interfaceBox {
  height: 50%;
  background-color: #33334c; }
  #interfaceBox .pg {
    position: relative;
    padding: 0 24px;
    width: 100%;
    height: 100%;
    flex-flow: column; }
    #interfaceBox .pg .controlNavBox {
      position: absolute;
      top: 24px;
      left: 0;
      right: 0;
      margin: 0 auto;
      flex-flow: row;
      margin-bottom: 64px;
      z-index: 2; }
      #interfaceBox .pg .controlNavBox .arrowBox {
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 50%;
        transition: 0.2s; }
      #interfaceBox .pg .controlNavBox #leftArrowBox img {
        margin-right: 2px;
        transform: rotate(-90deg); }
      #interfaceBox .pg .controlNavBox #rightArrowBox img {
        margin-left: 2px;
        transform: rotate(90deg); }
      #interfaceBox .pg .controlNavBox .controlTypeName {
        font-size: 1.5em;
        width: 200px; }
      #interfaceBox .pg .controlNavBox .controlDotBox {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 40px;
        flex-flow: row; }
        #interfaceBox .pg .controlNavBox .controlDotBox .controlDot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #666699;
          margin: 0 4px;
          cursor: pointer;
          transition: 0.2s; }
        #interfaceBox .pg .controlNavBox .controlDotBox .controlDotSelected {
          width: 16px;
          height: 16px;
          background-color: #fff; }
    #interfaceBox .pg .pgCenterBox {
      position: relative;
      max-width: 800px;
      flex-wrap: wrap;
      flex-flow: column; }
      #interfaceBox .pg .pgCenterBox .msgBox {
        margin-bottom: 32px;
        padding: 0 24px; }
      #interfaceBox .pg .pgCenterBox .btnBox {
        position: relative;
        flex-flow: row;
        flex-wrap: wrap; }
  @media (max-width: 640px) {
    #interfaceBox #controlsPg {
      padding: 0px; }
      #interfaceBox #controlsPg .controlNavBox {
        top: 24px;
        justify-content: space-between; }
        #interfaceBox #controlsPg .controlNavBox .arrowBox {
          width: 32px;
          height: 32px; }
        #interfaceBox #controlsPg .controlNavBox #leftArrowBox {
          margin-left: 24px; }
        #interfaceBox #controlsPg .controlNavBox #rightArrowBox {
          margin-right: 24px; }
        #interfaceBox #controlsPg .controlNavBox .controlDotBox {
          display: none; }
      #interfaceBox #controlsPg .pgCenterBox {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
        margin-top: 32px;
        padding: 0 16px; }
        #interfaceBox #controlsPg .pgCenterBox .controlTypeName {
          position: absolute;
          top: 24px;
          font-size: 1.2em;
          margin-bottom: 24px;
          width: 100%; }
        #interfaceBox #controlsPg .pgCenterBox .msgBox {
          margin-bottom: 16px; } }
  #interfaceBox .btn {
    transition: 0.2s;
    flex-wrap: wrap;
    cursor: pointer; }
  #interfaceBox .introPg .btn {
    height: 64px;
    border-radius: 32px;
    padding: 24px 24px;
    margin: 8px;
    font-weight: 400;
    font-size: 1.2em; }
  #interfaceBox #emotionsPg .btn {
    height: 72px;
    border-radius: 36px;
    margin: 8px 8px;
    padding: 0px 24px;
    font-size: 1.2em;
    font-weight: 400; }
  #interfaceBox #controlsPg .btn {
    height: 48px;
    border-radius: 24px;
    padding: 8px 24px;
    margin: 8px;
    font-weight: 400;
    font-size: 1em; }
  #interfaceBox .speechBtn span {
    font-style: italic;
    font-size: 1.2em; }
  #interfaceBox .primaryBtn {
    background-color: #e3e3ff;
    color: #33334c; }
  #interfaceBox .secondaryBtn {
    background-color: #55557f;
    color: #ccccff; }
  @media (max-width: 640px) {
    #interfaceBox .btn {
      min-width: 56px;
      font-weight: 600; }
    #interfaceBox .introPg .btn {
      height: 48px;
      margin: 8px 8px;
      padding: 8px 24px;
      border-radius: 36px; }
    #interfaceBox #emotionsPg .btn {
      height: 48px;
      margin: 4px 4px;
      padding: 8px 16px;
      font-size: 0.8em; }
    #interfaceBox #controlsPg .btn {
      height: 40px;
      margin: 4px 4px;
      padding: 8px 16px;
      font-size: 0.7em; } }
  #interfaceBox #micPermissions {
    height: 140px;
    width: auto; }
  #interfaceBox #helloBtn {
    margin: 16px 0; }
  #interfaceBox #micTestPg .msgBox {
    margin-bottom: 0; }
  #interfaceBox #micDoneBtn {
    margin-left: 40px; }
  #interfaceBox #aboutPg .msgBox {
    max-width: 640px;
    margin-bottom: 0; }
  @media (max-width: 640px) {
    #interfaceBox #micPermissions {
      height: 96px; } }

#alienBox {
  height: 50%;
  background-color: #ffffff; }
  #alienBox #faceBodyBgBox {
    width: 100%;
    height: 100%;
    flex-flow: column; }
    #alienBox #faceBodyBgBox #faceBox {
      width: 32vh;
      height: 25.6vh;
      margin: 0 auto; }
      #alienBox #faceBodyBgBox #faceBox #face {
        width: 32vh;
        height: 25.6vh;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        border-radius: 50%;
        background-color: #ccccff;
        position: absolute; }
      #alienBox #faceBodyBgBox #faceBox #earBox {
        width: 32vh;
        height: 4vh solid transparent;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        position: absolute;
        margin-top: 8.5333333333vh; }
        #alienBox #faceBodyBgBox #faceBox #earBox .ear {
          width: 0;
          height: 0; }
        #alienBox #faceBodyBgBox #faceBox #earBox #earL {
          border-bottom: 4vh solid #ccccff;
          border-right: 4vh solid transparent;
          margin-left: -1.7777777778vh; }
        #alienBox #faceBodyBgBox #faceBox #earBox #earR {
          border-bottom: 4vh solid #ccccff;
          border-left: 4vh solid transparent;
          margin-right: -1.7777777778vh; }
      #alienBox #faceBodyBgBox #faceBox #eyebrowBox {
        width: 32vh;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        position: absolute;
        margin-top: 6.4vh; }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrow {
          width: 8vh;
          height: 0.5vh;
          background-color: #9999cc;
          transition: 0.3s;
          z-index: 2; }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox #eyebrowL {
          margin-left: 4vh; }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox #eyebrowR {
          margin-right: 4vh; }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowRaise {
          transform: translateY(-1.4285714286vh); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowLower {
          transform: translateY(1.4285714286vh); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowTiltCCW {
          transform: rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowTiltCW {
          transform: rotate(10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowRaiseTiltCCW {
          transform: translateY(-1.4285714286vh) rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowRaiseTiltCW {
          transform: translateY(-1.4285714286vh) rotate(10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowLowerTiltCCW {
          transform: translateY(1.4285714286vh) rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowLowerTiltCW {
          transform: translateY(1.4285714286vh) rotate(10deg); }
      #alienBox #faceBodyBgBox #faceBox #eyeBox {
        width: 32vh;
        height: 8vh;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        margin-top: 7.3142857143vh; }
        #alienBox #faceBodyBgBox #faceBox #eyeBox #eyeL {
          margin-left: 4vh; }
        #alienBox #faceBodyBgBox #faceBox #eyeBox #eyeR {
          margin-right: 4vh; }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eye {
          width: 8vh;
          height: 5.7142857143vh;
          border-radius: 50%;
          position: relative;
          transition: 0.3s;
          -moz-clip: ellipse(50% 50% at 50% 50%);
          -webkit-clip-path: ellipse(50% 50% at 50% 50%);
          clip-path: ellipse(50% 50% at 50% 50%); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye svg {
            border: 2px solid blue;
            background-color: yellow; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .eyeWhite {
            width: 8vh;
            height: 100%;
            border-radius: 50%;
            background-color: #ffffff;
            position: absolute;
            transform-origin: 50% 50%;
            -moz-clip-path: ellipse(50% 50% at 50% 50%);
            -webkit-clip-path: ellipse(50% 50% at 50% 50%);
            clip-path: ellipse(50% 50% at 50% 50%); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .iris {
            width: 4vh;
            height: 4vh;
            border-radius: 50%;
            background-color: #42C0FB;
            transition: 0.3s;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupil {
            width: 2vh;
            height: 2vh;
            border-radius: 50%;
            background-color: #000;
            transition: 0.3s;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupil .highlight {
              width: 0.4vh;
              height: 0.4vh;
              border-radius: 50%;
              background-color: #ffffff;
              top: 1vh;
              left: 2.6666666667vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilExpand {
            transform: scale(1.4); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilContract {
            transform: scale(0.6); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisUp {
            bottom: 1.1428571429vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilUp {
            bottom: 2.2222222222vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisDown {
            top: 1.1428571429vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilDown {
            top: 2.2222222222vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisLeft {
            right: 2.6666666667vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilLeft {
            right: 4vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisRight {
            left: 2.6666666667vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilRight {
            left: 4vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisUpLeft {
            bottom: 0.6666666667vh;
            right: 2vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilUpLeft {
            bottom: 2vh;
            right: 3vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisUpRight {
            bottom: 0.6666666667vh;
            left: 2vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilUpRight {
            bottom: 2vh;
            left: 3vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisDownLeft {
            top: 0.6666666667vh;
            right: 2vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilDownLeft {
            top: 2vh;
            right: 3vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisDownRight {
            top: 0.6666666667vh;
            left: 2vh; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilDownRight {
            top: 2vh;
            left: 3vh; }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeTiltCCW {
          transform: rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeTiltCW {
          transform: rotate(10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeRaise {
          transform: translateY(-1.4285714286vh); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeLower {
          transform: translateY(1.4285714286vh); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeRaiseTiltCW {
          transform: translateY(-1.4285714286vh) rotate(10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeRaiseTiltCCW {
          transform: translateY(-1.4285714286vh) rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeLowerTiltCW {
          transform: translateY(1.4285714286vh) rotate(10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeLowerTiltCCW {
          transform: translateY(1.4285714286vh) rotate(-10deg); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeOpen {
          height: 8vh; }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint1 {
          -moz-clip-path: ellipse(50% 40% at 50% 50%);
          -webkit-clip-path: ellipse(50% 40% at 50% 50%);
          clip-path: ellipse(50% 40% at 50% 50%); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint2 {
          -moz-clip: ellipse(50% 30% at 50% 50%);
          -webkit-clip-path: ellipse(50% 30% at 50% 50%);
          clip-path: ellipse(50% 30% at 50% 50%); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint3 {
          -moz-clip: ellipse(50% 20% at 50% 50%);
          -webkit-clip-path: ellipse(50% 20% at 50% 50%);
          clip-path: ellipse(50% 20% at 50% 50%); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint4 {
          -moz-clip: ellipse(50% 10% at 50% 50%);
          -webkit-clip-path: ellipse(50% 10% at 50% 50%);
          clip-path: ellipse(50% 10% at 50% 50%); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeClose {
          -moz-clip: ellipse(50% 0% at 50% 50%);
          -webkit-clip-path: ellipse(50% 0% at 50% 50%);
          clip-path: ellipse(50% 0% at 50% 50%); }
      #alienBox #faceBodyBgBox #faceBox #noseBox {
        width: 32vh;
        position: absolute;
        margin-top: 12.8vh;
        display: flex;
        justify-content: center;
        align-items: center; }
        #alienBox #faceBodyBgBox #faceBox #noseBox #nose {
          width: 4vh;
          height: 2.6666666667vh;
          background-color: #9999cc;
          border-radius: 50%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          transform-origin: 50% 50%;
          transition: 0.3s; }
          #alienBox #faceBodyBgBox #faceBox #noseBox #nose .nostril {
            width: 0.6666666667vh;
            height: 0.6666666667vh;
            background-color: #666699;
            transition: 0.3s;
            border-radius: 50%; }
        #alienBox #faceBodyBgBox #faceBox #noseBox .noseNostrilFlare {
          transform: scale(1.5); }
        #alienBox #faceBodyBgBox #faceBox #noseBox .noseSquint {
          transform: scale(0.9) translateY(-0.6666666667vh); }
      #alienBox #faceBodyBgBox #faceBox #mouthBox {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 32vh;
        margin-top: 19.6923076923vh;
        position: absolute; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox #mouth {
          background-color: #666699;
          transform-origin: 50% 50%;
          transition: 0.3s; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthDefault {
          width: 8vh;
          height: 0.8vh;
          border-radius: 50%; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthSmile {
          border-radius: 0;
          border-bottom-left-radius: 6vh;
          border-bottom-right-radius: 6vh;
          border-top-left-radius: 0.7692307692vh;
          border-top-right-radius: 0.7692307692vh;
          height: 2.56vh;
          width: 6.4vh; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthBigSmile {
          border-radius: 0;
          border-bottom-left-radius: 4vh;
          border-bottom-right-radius: 4vh;
          border-top-left-radius: 0.8333333333vh;
          border-top-right-radius: 0.8333333333vh;
          height: 4.2666666667vh;
          width: 10.6666666667vh; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthOpen {
          border-radius: 0;
          border-bottom-right-radius: 3vh;
          border-bottom-left-radius: 3vh;
          border-top-left-radius: 3vh;
          border-top-right-radius: 3vh;
          height: 2.1333333333vh;
          width: 8vh; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthOpenWide {
          border-radius: 0;
          border-bottom-left-radius: 3vh;
          border-bottom-right-radius: 3vh;
          border-top-left-radius: 3vh;
          border-top-right-radius: 3vh;
          height: 4.2666666667vh;
          width: 8vh; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthFrown {
          border-radius: 0;
          border-top-left-radius: 3vh;
          border-top-right-radius: 3vh;
          border-bottom-left-radius: 0.7692307692vh;
          border-bottom-right-radius: 0.7692307692vh;
          height: 2.1333333333vh;
          width: 8vh; }
        #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthStiff {
          border-radius: 0;
          border-bottom-right-radius: 0.25vh;
          border-bottom-left-radius: 0.25vh;
          border-top-left-radius: 0.25vh;
          border-top-right-radius: 0.25vh;
          height: 0.8vh;
          width: 8vh; }
    #alienBox #faceBodyBgBox img {
      height: 80px;
      margin-top: -20px; }
  @media (max-width: 640px) {
    #alienBox #faceBodyBgBox {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column; }
      #alienBox #faceBodyBgBox #faceBox {
        width: 200px;
        height: 160px;
        margin: 0 auto; }
        #alienBox #faceBodyBgBox #faceBox #face {
          width: 200px;
          height: 160px;
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          border-radius: 50%;
          background-color: #ccccff;
          position: absolute; }
        #alienBox #faceBodyBgBox #faceBox #earBox {
          width: 200px;
          height: 25px solid transparent;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          position: absolute;
          margin-top: 53.3px; }
          #alienBox #faceBodyBgBox #faceBox #earBox .ear {
            width: 0px;
            height: 0px; }
          #alienBox #faceBodyBgBox #faceBox #earBox #earL {
            border-bottom: 25px solid #ccccff;
            border-right: 25px solid transparent;
            margin-left: -11.1px; }
          #alienBox #faceBodyBgBox #faceBox #earBox #earR {
            border-bottom: 25px solid #ccccff;
            border-left: 25px solid transparent;
            margin-right: -11.1px; }
        #alienBox #faceBodyBgBox #faceBox #eyebrowBox {
          width: 200px;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          position: absolute;
          margin-top: 40px; }
          #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrow {
            width: 50px;
            height: 3.125px;
            background-color: #9999cc;
            transition: 0.3s;
            z-index: 2; }
          #alienBox #faceBodyBgBox #faceBox #eyebrowBox #eyebrowL {
            margin-left: 25px; }
          #alienBox #faceBodyBgBox #faceBox #eyebrowBox #eyebrowR {
            margin-right: 25px; }
          #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowTiltCCW {
            transform: rotate(-10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowTiltCW {
            transform: rotate(10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowRaiseTiltCCW {
            transform: translateY(-6.25px) rotate(-10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowRaiseTiltCW {
            transform: translateY(-6.25px) rotate(10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowLowerTiltCCW {
            transform: translateY(6.25px) rotate(-10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowLowerTiltCW {
            transform: translateY(6.25px) rotate(10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowRaise {
            transform: translateY(-6.25px); }
          #alienBox #faceBodyBgBox #faceBox #eyebrowBox .eyebrowLower {
            transform: translateY(6.25px); }
        #alienBox #faceBodyBgBox #faceBox #eyeBox {
          width: 200px;
          height: 50px;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          margin-top: 45.7px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox #eyeL {
            margin-left: 25px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox #eyeR {
            margin-right: 25px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eye {
            width: 50px;
            height: 35.7px;
            border-radius: 50%;
            position: relative;
            transition: 0.3s;
            -moz-clip: ellipse(50% 50% at 50% 50%);
            -webkit-clip-path: ellipse(50% 50% at 50% 50%);
            clip-path: ellipse(50% 50% at 50% 50%); }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye svg {
              border: 2px solid blue;
              background-color: yellow; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .eyeWhite {
              width: 50px;
              height: 100%;
              border-radius: 50%;
              background-color: #ffffff;
              position: absolute;
              transform-origin: 50% 50%;
              -moz-clip-path: ellipse(50% 50% at 50% 50%);
              -webkit-clip-path: ellipse(50% 50% at 50% 50%);
              clip-path: ellipse(50% 50% at 50% 50%); }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .iris {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              background-color: #42C0FB;
              transition: 0.3s;
              position: absolute;
              margin: auto;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupil {
              width: 12.5px;
              height: 12.5px;
              border-radius: 50%;
              background-color: #000;
              transition: 0.3s;
              position: absolute;
              margin: auto;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0; }
              #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupil .highlight {
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: #ffffff;
                top: 10px;
                left: 10px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilExpand {
              transform: scale(1.4); }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilContract {
              transform: scale(0.6); }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisUp {
              bottom: 7.1px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilUp {
              bottom: 15px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisDown {
              top: 7.1px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilDown {
              top: 13.9px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisLeft {
              right: 16.7px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilLeft {
              right: 25px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisRight {
              left: 16.7px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilRight {
              left: 25px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisUpLeft {
              bottom: 4.2px;
              right: 12.5px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilUpLeft {
              bottom: 12.5px;
              right: 18.8px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisUpRight {
              bottom: 4.2px;
              left: 12.5px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilUpRight {
              bottom: 12.5px;
              left: 18.8px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisDownLeft {
              top: 4.2px;
              right: 12.5px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilDownLeft {
              top: 12.5px;
              right: 18.8px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .irisDownRight {
              top: 4.2px;
              left: 12.5px; }
            #alienBox #faceBodyBgBox #faceBox #eyeBox .eye .pupilDownRight {
              top: 12.5px;
              left: 18.8px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeTiltCCW {
            transform: rotate(-10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeTiltCW {
            transform: rotate(10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeRaise {
            transform: translateY(-6.3px); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeLower {
            transform: translateY(6.3px); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeRaiseTiltCW {
            transform: translateY(-6.3px) rotate(10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeRaiseTiltCCW {
            transform: translateY(-6.3px) rotate(-10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeLowerTiltCW {
            transform: translateY(6.3px) rotate(10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeLowerTiltCCW {
            transform: translateY(6.3px) rotate(-10deg); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeOpen {
            height: 50px; }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint1 {
            -moz-clip-path: ellipse(50% 40% at 50% 50%);
            -webkit-clip-path: ellipse(50% 40% at 50% 50%);
            clip-path: ellipse(50% 40% at 50% 50%); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint2 {
            -moz-clip: ellipse(50% 30% at 50% 50%);
            -webkit-clip-path: ellipse(50% 30% at 50% 50%);
            clip-path: ellipse(50% 30% at 50% 50%); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint3 {
            -moz-clip: ellipse(50% 20% at 50% 50%);
            -webkit-clip-path: ellipse(50% 20% at 50% 50%);
            clip-path: ellipse(50% 20% at 50% 50%); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeSquint4 {
            -moz-clip: ellipse(50% 10% at 50% 50%);
            -webkit-clip-path: ellipse(50% 10% at 50% 50%);
            clip-path: ellipse(50% 10% at 50% 50%); }
          #alienBox #faceBodyBgBox #faceBox #eyeBox .eyeSizeClose {
            -moz-clip: ellipse(50% 0% at 50% 50%);
            -webkit-clip-path: ellipse(50% 0% at 50% 50%);
            clip-path: ellipse(50% 0% at 50% 50%); }
        #alienBox #faceBodyBgBox #faceBox #noseBox {
          width: 200px;
          position: absolute;
          margin-top: 80px;
          display: flex;
          justify-content: center;
          align-items: center; }
          #alienBox #faceBodyBgBox #faceBox #noseBox #nose {
            width: 25px;
            height: 16.7px;
            background-color: #9999cc;
            border-radius: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transform-origin: 50% 50%;
            transition: 0.3s; }
            #alienBox #faceBodyBgBox #faceBox #noseBox #nose .nostril {
              width: 4.2px;
              height: 4.2px;
              background-color: #666699;
              transition: 0.3s;
              border-radius: 50%; }
          #alienBox #faceBodyBgBox #faceBox #noseBox .noseNostrilFlare {
            transform: scale(1.5); }
          #alienBox #faceBodyBgBox #faceBox #noseBox .noseSquint {
            transform: scale(0.9) translateY(-4.2px); }
        #alienBox #faceBodyBgBox #faceBox #mouthBox {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          width: 200px;
          margin-top: 123px;
          position: absolute; }
          #alienBox #faceBodyBgBox #faceBox #mouthBox #mouth {
            background-color: #666699;
            transform-origin: 50% 50%;
            transition: 0.3s; }
          #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthDefault {
            width: 50px;
            height: 5px;
            border-radius: 50%; }
          #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthSmile {
            border-radius: 0;
            border-bottom-left-radius: 18.8px;
            border-bottom-right-radius: 18.8px;
            border-top-left-radius: 4.8px;
            border-top-right-radius: 4.8px;
            height: 20px;
            width: 50px; }
          #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthBigSmile {
            border-radius: 0;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-top-left-radius: 5.2px;
            border-top-right-radius: 5.2px;
            height: 26.7px;
            width: 70px; }
          #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthOpen {
            border-radius: 0;
            border-bottom-right-radius: 18.8px;
            border-bottom-left-radius: 18.8px;
            border-top-left-radius: 18.8px;
            border-top-right-radius: 18.8px;
            height: 13.3px;
            width: 50px; }
          #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthOpenWide {
            border-radius: 0;
            border-bottom-left-radius: 18.8px;
            border-bottom-right-radius: 18.8px;
            border-top-left-radius: 18.8px;
            border-top-right-radius: 18.8px;
            height: 26.7px;
            width: 50px; }
          #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthFrown {
            border-radius: 0;
            border-top-left-radius: 18.8px;
            border-top-right-radius: 18.8px;
            border-bottom-left-radius: 4.8px;
            border-bottom-right-radius: 4.8px;
            height: 13.3px;
            width: 50px; }
          #alienBox #faceBodyBgBox #faceBox #mouthBox .mouthStiff {
            border-radius: 0;
            border-bottom-right-radius: 1.6px;
            border-bottom-left-radius: 1.6px;
            border-top-left-radius: 1.6px;
            border-top-right-radius: 1.6px;
            height: 5px;
            width: 50px; }
      #alienBox #faceBodyBgBox img {
        height: 80px;
        margin-top: -20px; } }

#footer {
  position: absolute;
  width: 100%;
  bottom: 24px; }
  #footer span {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 0.6em;
    color: #ffffff; }

@media (max-width: 640px) {
  #footer {
    display: none; } }

.borderCheck, *, div, span, p {
  border: 0px solid red; }
