$borderCheck: 0px;

/* CSS Reset ----------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
	font-weight: 400;
}

/* BORDER BOX RESET ------------------------------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* DEBUG ------------------------------------------ */

.borderCheck {
	border: $borderCheck solid red;
}

div, span, p, a, section, h1, h2, h3, header, footer, img, nav, ul, iframe {
	@extend .borderCheck;	
}


/* TYPE ------------------------------- */

body, p, span, button, h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	color: #555;
}

em {
	font-style: italic;
} 

strong {
	font-weight: 500;
}

h1 {
	/* story text, project title */ 
	font-size: 32px;
}

h2 {
	/* project title subtext */ 
	font-size: 20px;
	line-height: 1.5em;
}

h3 {
	/* project section description title */ 
	font-size: 18px;
}

p, span {
	font-size: 16px;
	line-height: 1.75em;
	font-weight: 300;
}


/* NAMING ----------------------------------------- */
// prj = project
// addPrj = additional project
// btn = button
// tmb = thumbnail
// img = image
// dsc = description
// box = container
// txt = text


/* GLOBAL VARIABLES ------------------------------- */

$desktopWidth: 960px;
$mobileWidth: 400px;
$transition: 0.2s;
$contactIconColor: #666;

// $mobileWidth: 600px;
// $transition: 0.2s;
// $boxShadow: 0px 4px 8px rgba(0,0,0,0.1);

$grey1: #333; // dark grey
$grey2: #999; // mid grey
$grey3: #f7f7f7; // light grey



/* EXTENDS ------------------------------- */


.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropShadow {
	box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
}

.insideShadow {
  	box-shadow: 0px 0px 16px rgba(0,0,0,.25) inset;
}

/* GLOBAL COMPONENTS ------------------------------- */

.verticalLine {
	position: relative;
	width: 1px;
	height: 96px;
	border: 1px dashed rgba(0,0,0,0.2);
	z-index: 1;
	margin: 32px 0;
}

.bigTmb {
	position: relative;
	width: 180px;
	height: 180px;
	min-width: 180px;
	background-color: #eaeaea;
	border-radius: 50%;
	@extend .insideShadow;

}

.storyTxt {
	font-size: 1.25em;
	font-weight: 100;
	line-height: 1.5em;
	width: 100%;
	max-width: 540px;
}

.btn {
	display: flex;
	min-width: 120px;
	height: 40px;
	padding: 0 20px;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: $transition;
	margin-top: 24px;
	max-width: 200px;
	background-color: $grey3;
	color: $grey1;


	&:hover {
		transition: $transition;
		background-color: $grey2;
	}

	span {
		font-family: 'Open Sans', sans-serif;
	  -webkit-user-select: none;  /* Chrome all / Safari all */
	  -moz-user-select: none;     /* Firefox all */
	  -ms-user-select: none;      /* IE 10+ */
	  user-select: none;          /* Likely future */  
		color: #333;
		font-size: 1em;
		margin-bottom: 0px;
	}
}
 

/* NAV ------------------------------- */
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 48px;
	background-color: #fff;
	@extend .dropShadow;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	padding: 0 20px;

	#navLeft {
		position: absolute;
		top: 0;
		left: 20px;
		height: 48px;
		display: flex;
		align-items: center;

		a {

			i {
				font-size: 1.5em;
				transition: $transition;
				cursor: pointer;

				&:hover {
					color: #000;
					transition: $transition;
				}
			}
		}

		span {
			font-weight: 500;
		}
	}

	#navCenter {
		display: flex;
		flex-flow: row;
		justify-content: center;
		width: 100%;

		span {
			width: 100%;
			text-align: center;
		}
	}
}

.showNav {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
	transition: 0.2s;
}

.hideNav {
	position: fixed;
	top: -48px;
	left: 0;
	opacity: 0;
	transition: 0.2s;
}


 /* PAGE ------------------------------- */

#siteBox {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	padding: 40px;

	section {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		text-align: center;
		width: 100%;
		max-width: 880px;
	}



	#homePageBox {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;

		h1, h2 {
			text-align: center;
			font-weight: 300;
		}

		.tmbDscBtn {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			width: 100%;
			max-width: 600px;

			.tmb {
				width: 120px;
				height: 120px;
				border: 1px solid $grey3;
				min-width: 120px;
				min-height: 120px;
				border-radius: 50%;
				background-color: #ffffff;
				margin-bottom: 16px;
			}

			span {
				text-align: center;
				max-width: 400px;
			}

			.learnMoreBtn {
				display: flex;
				flex-flow: column;
				align-items: center;					
			}

			.dscBtn {
				display: flex;
				flex-flow: column;
				align-items: center;


				.showHideBtn {

				}

				.addPrjBox {
					flex-flow: row;
					justify-content: center;
					align-items: center;
					margin-top: 48px;
					width: 100%;	
					flex-wrap: wrap;
					display: none;

					a {
						margin: 0 8px;
						cursor: pointer;

						.addPrjTmbDscBox {
							display: flex;
							flex-flow: column;
							justify-content: center;
							align-items: center;
							width: 160px;
							margin-bottom: 40px;

							.addPrjTmb {
								width: 96px;
								height: 96px;
								background-color: $grey3;
								border-radius: 50%;
								border: 1px solid $grey2;
							}
							
							.addPrjDsc {
								font-size: 1em;
								margin-top: 8px;
							}
						}
					}
				}
			}
		}
	}

	#prjBox {
		position: relative;
		width: 100%;
		max-width: 1080px;
		min-height: 100%;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: flex-start;
		padding-top: 80px;

		.prjHeader {
			display: flex;
			flex-flow: column;
			justify-content: flex-start;
			width: 100%;

			h1 {
				margin-bottom: 8px;
				max-width: 520px;

			}

			h2 {
				font-weight: 300;
				line-height: 1.5em;
				max-width: 520px;

			}
		}

		.prjSection {
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			&:first-child {
				margin-right: 40px;
			}

			.dsc {
				max-width: 520px;
				width: 100%;
				text-align: left;

				h3 {
					margin-bottom: 8px;
				}
			}

			.visual {
				display: flex;
				justify-content: center;
				align-items: center;
				max-width: 520px;
				width: 100%;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.addPrjBox {
		display: flex;
		flex-flow: row;
		width: 100%;
		justify-content: center;

		a {

			.addPrj {
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				width: 120px;

				.tmb {
					width: 80px;
					height: 80px;
					border-radius: 50%;
					background-color: #eaeaea;
					margin-bottom: 8px;
				}

				.dsc {

				}
			}
		}
	}


	.line {
		position: relative;
		width: 100%;
		height: 1px;
		z-index: 1;
	}

	.line1 {
		margin: 64px 0;
		border: 1px dashed rgba(0,0,0,0.1);
	}

	.line2 {
		margin: 128px 0;
		border: 1px dashed rgba(0,0,0,0.3);
	}


	@media (max-width: 600px) {

		#prjBox {
			padding-top: 64px;

			.prjHeader {

				h1 {
					// text-align: center;
				}

				h2 {
					// text-align: center;

				}
			}

			.prjSection {
				flex-flow: column;

				&:first-child {
					margin-right: 0px;
					margin-bottom: 400px;
				}

				.dsc {
					margin-bottom: 40px;

					h3 {
						margin-bottom: 8px;
					}

					p {
						line-height: 1.5em;
					}
				}

				.visual {

					img {

					}
				}
			}
		}

		.addPrjBox {
			display: flex;
			flex-flow: column;
			width: 100%;
			justify-content: center;

			&:last-child {
				margin-bottom: 0px;
			}

			a {
				margin-bottom: 32px;

				.addPrj {
					flex-flow: row;
					justify-content: flex-start;
					align-items: center;
					width: 100%;

					.tmb {
						width: 80px;
						height: 80px;
						min-width: 80px;
						min-height: 80px;
						border-radius: 50%;
						background-color: #eaeaea;
						margin-bottom: 0px;
						margin-right: 16px;

					}

					.dsc {

					}
				}

			}
		}

		.line {

		}

		.line1 {
			margin: 32px 0;
		}

		.line2 {
			margin: 32px 0;
		}
	}



	footer {
		position: relative;
		width: 100%;
		max-width: 1080px;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 64px;

		h2 {
			font-weight: 300;
			text-align: center;
			margin-bottom: 24px;
		}

		#contactBox {
			display: flex;
			flex-flow: row;
			width: 100%;
			align-items: center;
			justify-content: center;
			margin-top: 20px;

			a {
				margin: 0 8px;

				.contactBtn {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 60px;
					height: 60px;
					border-radius: 50%;
					background-color: $grey3;
					transition: $transition;

					i {
						font-size: 1.5em;
						color: $contactIconColor;
					}

					&:hover {
						transition: $transition;
						background-color: $grey1;

						i {
							color: #fff;
						}
					}
				}
			}
		}

		#footerTxt {
			margin-top: 40px;
		}
	}






}

@media (max-width: 600px) {

	nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		height: 48px;
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: 0.5s;
		padding: 0 20px;

		#navLeft {
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items: center;
			height: 100%;

			i {
				font-size: 1.5em;
				transition: $transition;
				cursor: pointer;

				&:hover {
					color: #000;
					transition: $transition;
				}
			}

			span {
				font-weight: 500;
			}
		}

		#navRight {

		}
	}



	#siteBox {
		padding: 20px;
	}


	footer {
		position: relative;
		width: 100%;
		max-width: 1080px;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 64px;

		h2 {
			font-weight: 300;
			text-align: center;
			margin-bottom: 24px;
		}

		#contactBox {
			display: flex;
			flex-flow: row;
			width: 100%;
			align-items: center;
			justify-content: center;
			margin-top: 20px;

			a {
				margin: 0 8px;

				.contactBtn {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 60px;
					height: 60px;
					border-radius: 50%;
					background-color: $grey3;
					transition: $transition;

					i {
						font-size: 1.5em;
						color: $contactIconColor;
					}

					&:hover {
						transition: none;
						background-color: $grey3;
					}
				}
			}
		}

		#footerTxt {
			margin-top: 40px;
		}
	}
}








#selfTmb {
	background-image: url('../media/selfIllustration.png');
	background-size: 105%;
	background-position: 50% 50%;
	background-color: #fff;
}

#miscDesignTmb {
	background-image: url('../media/architecture.png');
	background-size: 80%;
	background-position: 50% 50%;
	background-color: #fff;
	background-repeat: no-repeat;
}

#selfPhotographer {
	background-image: url('../media/selfPhotographer.png');
	background-size: 105%;
	background-position: 50% 50%;
	background-color: #fff;
}

#botTmb {
	background-image: url('../media/bot3.png');
	background-size: 105%;
	background-position: 50% 50%;
	background-color: #fff;
}

#msftTeam {
	max-width: 300px;
}


/* ABOUT ------------------------------- */

#tmbJasperBot {
	background-image: url('../media/thumbnails/tmbKaran.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbArchitecture {
	background-image: url('../media/thumbnails/tmbArchitecture.jpg');
	background-size: 100%;
	background-position: 50% 50%;
}

#tmbAtrio {
	background-image: url('../media/thumbnails/tmbAtrio.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbCircles {
	background-image: url('../media/thumbnails/tmbCircles.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbHydratile {
	background-image: url('../media/thumbnails/tmbHydratile.jpg');
	background-size: 200%;
	background-position: 50% 50%;
}

#tmbImgur {
	background-image: url('../media/thumbnails/tmbImgur.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbKaran {
	background-image: url('../media/thumbnails/tmbKaran.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbKenkyo {
	background-image: url('../media/thumbnails/tmbKenkyo.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbLCC {
	background-image: url('../media/thumbnails/tmbLCC.jpg');
	background-size: 250%;
	background-position: 91% 6%;
}

#tmbLPK {
	background-image: url('../media/thumbnails/tmbLPK.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbMichelles {
	background-image: url('../media/thumbnails/tmbMichelles.png');
	background-size: 100%;
	background-position: 100% 31%;
}

#tmbNature {
	background-image: url('../media/thumbnails/tmbNature.jpg');
	background-size: 100%;
	background-position: 90% 10%;
}

#tmbPeople {
	background-image: url('../media/thumbnails/tmbPeople.jpg');
	background-size: 300%;
	background-position: 40% 50%;
}

#tmbPierog {
	background-image: url('../media/thumbnails/tmbPierog.jpg');
	background-size: 230%;
	background-position: 90% 10%;
}

#tmbPinnacle {
	background-image: url('../media/thumbnails/tmbPinnacle.png');
	background-size: 100%;
	background-position: 60% 10%;
}

#tmbRaynatype {
	background-image: url('../media/thumbnails/tmbRaynatype.png');
	background-size: 100%;
	background-position: 40% 30%;
}

#tmbSeigaiha {
	background-image: url('../media/thumbnails/tmbSeigaiha.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbSpaceX {
	background-image: url('../media/thumbnails/tmbSpaceX1.gif');
	background-size: 200%;
	background-position: 53% 18%;
}

#tmbTexture {
	background-image: url('../media/thumbnails/tmbTexture.jpg');
	background-size: 100%;
	background-position: 20% 20%;
}

#tmbThings {
	background-image: url('../media/thumbnails/tmbThings.jpg');
	background-size: 100%;
	background-position: 50% 50%;
}

#tmbWavebar {
	background-image: url('../media/thumbnails/tmbWavebar.jpg');
	background-size: 250%;
	background-position: 50% 50%;
}

#tmbZennII {
	background-image: url('../media/thumbnails/tmbZennII.jpg');
	background-size: 300%;
	background-position: 50% 50%;
}

#tmbZwerpy {
	background-image: url('../media/thumbnails/tmbZwerpy1.gif');
	background-position: 50% 50%;
	background-size: 200%;
}
