
$grey1: #f4f4f4;

.buttonNormal {
	font-family: Segoe UI, sans-serif;
	min-width: 80px;
	padding: 4px 20px 6px;
	font-size: 14px;
	font-weight: 400;
	height: 32px;
	border-radius: 4px;
	background-color: $grey1;
}