body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// overflow-x: hidden;
}

#siteContainer {
	position: absolute;
	width: 100%;
	min-height: 100%;
	background-color: #DEDEDE;
}

#logo {
	position: fixed;
	top: 30px;
	left: 30px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #000;
}

#navbar {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1024px;
	height: 50px;
	border: 1px solid black;

	ul {
		list-style-type: none;
		width: 100%;

		li {
			display: inline;
			border: 1px solid #000;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

#navbarLinks {
	height: 30px;
	border: 1px solid red;
	margin: auto;
	left: 0; right: 0;
}

.section {
	position: relative;
	width: 100%;
	min-height: 75vh;
	padding: 50px 50px 50px 50px;
	border: 1px solid blue;
	box-sizing: border-box;
}

.contents {
	position: absolute;
	margin: 50px auto 50px auto;
	left: 0; right: 0;
	top: 0; bottom: 0;
	width: 100%;
	max-width: 1024px;
	min-height: 400px;
	border: 1px solid red;
}

.image {
	
}

#sitemap {
	height: 100px;
	width: 100%;
	background-color: #CC3A2B;
}

#socialMedia {	
	float: right;
	border: 1px solid #FFF;
}

.socialMediaIcon {
	width: 50px;
	height: 50px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 100%;
	background-color: #FFF;
	display: inline-block;
	text-align: center;
	line-height: 50px;
}


// a:link,a:visited {
// 	font-weight:bold;
// 	text-align:center;
// 	padding:6px;
// 	text-decoration:italic;
// }

// a:hover,a:active {
// 	background-color:#FFF;
// }