/* CSS RESET -------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------ */

/* GLOBAL ----------------------------- */

$global_dark: #333;
$global_light: #FCFCFC;
$global_borderradius: 3px;
$global_maxwidth: 1000px;

$tmb_width: 240px;
$tmb_height: 240px;
$tmb_mobileheight: 100px;

body
{
	font-family: 'Lato', arial, sans-serif;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow-x: hidden;
}

a, a:visited, a:active
{
	text-decoration: none;
	color: inherit;
}

#site
{
	position: absolute;
	top: 40px;
	width: 100%;
	height:calc(100% - 40px);
}

.header_txt
{
	font-size: 3em;
	line-height: 1em;
	text-align: center;
}

.bold_txt
{
	font-weight: bold;
	line-height: 1.25em;
}

.italic_txt
{
	font-style: italic;
}

i
{
	color: $global_light;
}

@media (max-width: $global_maxwidth)
{
	.header_txt
	{
		font-size: 2em;
	}
}

/* END GLOBAL ------------------------- */

/* NAVBAR ----------------------------- */
#nav_container
{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #DEDEDE;
	position: fixed;
	top: 0; left: 0;
	z-index: 2;
}

nav a:hover, 
nav .current
{
    color: #66CC33;
}

nav
{
	height: 40px;
	color: #555;
	z-index: 5;

	ul
	{
		background-color: #FFF;
		display: inline-block;
		position: absolute;
		margin: 0 auto;
		left: 0; right: 0;
		text-align: center;
		line-height: 40px;

		li
		{
			display: inline-block;
			height: 40px;
			margin-left: 40px;
			margin-right: 40px;
		}

		a
		{
		  -webkit-transition: all 150ms ease-out;  
		     -moz-transition: all 150ms ease-out; 
		       -o-transition: all 150ms ease-out;  
		          transition: all 150ms ease-out;
		}

		a:hover
		{
			color: #66CC33;
		}
	}
}

#logo
{
	position: fixed;
	left: 0; right: 0; top: 0;
	margin: 0 auto;
	z-index: 5;
	height: 40px;
	width: 40px;

	img
	{
		padding-top: 5px;
		height: 30px;
		width: 30px;
	}
}
/* END NAVBAR ---------------------------- */

/* HOME ------------------------- */
#home
{
	position:relative;
	height:400px;
	background-color: $global_dark;
	background-image: url('../media/navy_bg.png');
	background-repeat: repeat;
	background-size: 700px auto;

	-webkit-box-shadow: 0px 10px 13px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 10px 13px 1px rgba(0,0,0,0.05);
	box-shadow: 0px 10px 13px 1px rgba(0,0,0,0.05);

}

#home_txt
{
	position:absolute;
	margin:auto;
	top:0; bottom:0; left:0; right:0;
	width:100%;
	max-width: $global_maxwidth;
	height:100%;	
	z-index: 1;

	p
	{
		position: absolute;
		margin:auto;
		top:0; bottom:0; left:0; right: 0;
		color:#FFF;
		height:3em;
		font-size: 3em;
		line-height: 1.25em;
		text-align: center;
		text-align: center;
	}

	span
	{
		color: #999;
		cursor: pointer;
	}
}

@media (max-width: $global_maxwidth)
{
	#home
	{
		height: 300px;
	}

	#home_txt p
	{
		font-size: 1.25em;
		width: 90%;
	}
}

.home_img
{
    background-size: cover;
	width:100%;
	height:100%;
}

#home_jasper_img
{
	background-image: url('../media/starvedrock.jpg');
    background-position: 50% 25%;
}

#home_chicago_img
{
	background-image: url('../media/chicagoskyline.jpg');
    background-position: 50% 25%;
}

/* END HOME / BANNER --------------------- */

/* WORK ---------------------------------- */
#work
{
	width:100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: $global_light;
}

#tmb_container
{
	margin: auto;
	left: 0; right: 0;
	text-align: center;
	max-width: $global_maxwidth;
}

.tmb
{
	width: $tmb_width;
	height: $tmb_height;
	border-radius: $global_borderradius;
	border: 2px solid #F3F3F3;
	margin: 2px 1px 2px 1px;
	display: inline-block;
	position: relative;
	text-align: center;
	color: $global_dark;

	-webkit-box-shadow: 0px 0px 100px -112px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 100px -112px rgba(0,0,0,1);
	box-shadow: 0px 0px 100px -112px rgba(0,0,0,1);

}

.tmb_ttl
{
	position: absolute;
	margin:0 auto;
	top:0; left: 0; right:0;
	width: $tmb_width;
	height: $tmb_height;	
	display: table;

	p
	{
		display: table-cell; 
		vertical-align: middle; 
		text-align: center;
		font-size: 2em;
	}
}

.tmb_dsc
{
	position: absolute;
	margin: 0 auto;
	left: 0; right: 0;
	bottom: 15px;
	text-align: center;
}

.tmb_img
{
	width: $tmb_width;
	height: $tmb_height;
	border-radius: $global_borderradius;
	background-size:cover;
}

@media (max-width:700px)
{
	.tmb
	{
		height: $tmb_mobileheight;
		width:100%;
		border-radius: $global_borderradius;
		display:block;
		margin-bottom:4px;
	}
	
	.tmb_ttl
	{
		height: $tmb_mobileheight;
		width: 100%;
		max-width: 8$global_maxwidth;
		text-align: center;
		font-size: 1em;
		font-weight: bold;

		p
		{
			font-size: 1.5em;
		}
	}

	.tmb_img
	{
		height: $tmb_mobileheight;
		width: 100%;
		max-width: $global_maxwidth;
		border-radius: $global_borderradius;
		display: block;
		margin: auto;
		margin-bottom: 4px;
	}

	#work
	{
		padding-top: 0px;
		padding-bottom: 0px;
	}
}		

#tmb_img_ALX
{
	background-image: url('../work/alex/tmb_alex.jpg');
 	background-position: 95% 50%;
}
#tmb_img_ATR
{
	background-image: url('../work/atrio/tmb_atrio.jpg');
 	background-position: 95% 50%;
}
#tmb_img_HYT
{
	background-image: url('../work/hydratile/tmb_ht_high.jpg');
 	background-position: center center;
}
#tmb_img_GPH
{
	background-image: url('../work/graphics/tmb_graphics.jpg');
 	background-position: center center;
}
#tmb_img_HMI
{
	background-image: url('../work/hmi/tmb_hmi.jpg');
 	background-position: center center;
}
#tmb_img_JSR
{
	background-image: url('../work/jasper/tmb_jasper.jpg');
 	background-position: 50% 50%;
}
#tmb_img_KRN
{
	background-image: url('../work/karan/tmb_karan.jpg');
 	background-position: 70% 50%;
}
#tmb_img_KKY
{
	background-image: url('../work/kenkyo/tmb_kenkyo.jpg');
 	background-position: 70% 50%;
}
#tmb_img_LCC
{
	background-image: url('../work/lcc/tmb_LCC.jpg');
 	background-position: 100% 10%;
}
#tmb_img_LPK
{
	background-image: url('../work/lpk/tmb_lpk.jpg');
 	background-position: 100% 10%;
}
#tmb_img_NST
{
	background-image: url('../work/neatseat/tmb_neatseat.jpg');
 	background-position: center center;
}
#tmb_img_PLC
{
	background-image: url('../work/places/tmb_places_300x700.jpg');
 	background-position: 65% 50%;
}
#tmb_img_PPL
{
	background-image: url('../work/people/tmb_people_300x700.jpg');
 	background-position: 20% 50%;
}
#tmb_img_SGH
{
	background-image: url('../work/seigaiha/tmb_seigaiha.jpg');
 	background-position: center center;
}
#tmb_img_TNG
{
	background-image: url('../work/things/tmb_things_300x7004.jpg');
 	background-position: center center;
}
#tmb_img_TTT
{
	background-image: url('../work/2013/tmb_2013_300x700.jpg');
 	background-position: left center;
}
#tmb_img_WVB
{
	background-image: url('../work/wavebar/tmb_wavebar.jpg');
 	background-position: 65% 50%;
}
#tmb_img_ZNN
{
	background-image: url('../work/zennii/tmb_zennii.jpg');
 	background-position: 65% 50%;
}
/* END WORK ------------------------------ */

/* PROJECT ------------------------------- */
.project_container
{
	position: absolute;
	top: 40px;
	width: 100%;
	text-align: center;
	font-weight: 300;
	background-color: $global_light;

	img
	{
		width: auto;
		height: auto;
		max-width: 90%;
		max-height: 100%;
		display: block;
		margin: auto;
		margin-bottom: 15px;
		margin-top: 15px;
	}
}

.project_caption
{
	width: 80%;
	max-width: 700px;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	margin-top: 10px;
	line-height: 1.5em;

	a
	{
		color: #66cc33;
	}
}

#project_workbutton
{
	color: #66cc33;
}

.project_exitbutton
{
	position: fixed;
	bottom: 0; left: 0; right: 0;
	margin: 0 auto;
	background-color: $global_dark;
	text-align: center;
	line-height: 30px;
	color: $global_light;
	opacity: 0.25;
	-webkit-transition: 300ms linear;
	-moz-transition: 300ms linear;
	-o-transition: 300ms linear;
	-ms-transition: 300ms linear;
	transition: 300ms linear;
}

.project_exitbutton:hover
{
	opacity: 0.5;
}

.button
{
	display:inline-block;
	width: 150px;
	height: 50px;
	margin-left:10px;
	margin-right:10px;
	line-height:50px;
	border-radius: $global_borderradius;
	background-color: #333;
	font-weight:bold;
	-webkit-transition: background-color 150ms linear;
	-moz-transition: background-color 150ms linear;
	-o-transition: background-color 150ms linear;
	-ms-transition: background-color 150ms linear;
	transition: background-color 150ms linear;
}

.button, .button:hover
{
	color:#FFF;
}

.button:hover
{
	background-color: #66cc33;
}

/* END PROJECT --------------------------- */

/* VIDEO RESPONSIVE -------------------------*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0; right: 0;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}
/* END VIDEO RESPONSIVE --------------------------*/


/* DESKTOP ONLY -------------------------- */
#karanmobile
{
	display: none;
}

@media (max-width: $global_maxwidth)
{
	#karanplaybutton
	{
		display: none;
	}
	#karanmobile
	{
		display: block;
	}
}
/* END DESKTOP ONLY ---------------------- */


/* ABOUT --------------------------------- */

#about
{
	width: 100%;
	background-color: $global_dark;
	background-image: url('../media/navy_bg.png');
	background-repeat: repeat;
	background-size: 700px auto;
	color: #FFF;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
	padding-top: 40px;
	line-height: 1.5em;
	font-size: 1em;
	text-align: center;
	-webkit-box-shadow: 0px -10px 13px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px -10px 13px 1px rgba(0,0,0,0.05);
	box-shadow: 0px -10px 13px 1px rgba(0,0,0,0.05);

	p
	{
		width: 100%;
		margin: auto;
	}
}

@media (max-width: $global_maxwidth)
{
	#about
	{
		padding-left: 10px;
		padding-right: 10px;
	}
}

.about_subsection
{
	color: $global_light;
	border-radius: $global_borderradius;
	max-width: $global_maxwidth;
	width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 0px;

	img
	{
		height: 200px;
		width: auto;
	}
}

.about_skillscontainer
{
	display:inline-block;
	width: $tmb_width;
	height: $tmb_height;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
	margin: 3px 1.5px 3px 1.5px;
    padding: 20px;
	border-radius: $global_borderradius;
	vertical-align: top;
	line-height:1.5em;
	background-color: $global_light;
	color: $global_dark;

	i
	{
		font-size: 3em;
		color: $global_dark;
	}
}

#about_resources
{
	max-width: 980px;
	width: 100%;
	background-color: $global_light;
	color: $global_dark;
	text-align: center;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
	padding: 20px;
	margin-left: auto;
	margin-right: auto;

	a
	{
		padding-left: 15px;
		padding-right: 15px;
	  -webkit-transition: all 150ms ease-out;  
	     -moz-transition: all 150ms ease-out; 
	       -o-transition: all 150ms ease-out;  
	          transition: all 150ms ease-out;
	}

	a:hover
	{
		color: #66cc33;
	}
}

@media (max-width: $global_maxwidth)
{
	#about_resources
	{
	    box-sizing:border-box;
	    -moz-box-sizing:border-box; /* Firefox */
	    -webkit-box-sizing:border-box; /* Safari */
		width: $tmb_width;
	}

	#about_resources a
	{
		display: block;
		line-height: 2em;
		padding-left: 0;
		padding-right: 0;
	}
}

#about_contact
{
	padding-bottom: 40px;

	i
	{
		width: 60px;
		height: 60px;
		border-radius: $global_borderradius;
		line-height: 2em;
		margin: 10px 10px 10px 10px;
		background-color: $global_light;
		color: $global_dark;

	  -webkit-transition: all 150ms ease-out;  
	     -moz-transition: all 150ms ease-out; 
	       -o-transition: all 150ms ease-out;  
	          transition: all 150ms ease-out;
	}

	i:hover
	{
		color: #66cc33;
	}
}

.threedots
{
	width: 100px;
	height: 10px;
	display: inline-block;
	margin: 50px auto 60px auto;
	text-align: center;
}

.dot
{
	width: 5px;
	height: 5px;
	border-radius: 100%;
	margin-left: 10px;
	margin-right: 10px;
	background-color: $global_light;
	display: inline-block;
}

/* END ABOUT ----------------------------- */

/* FOOTER -------------------------------- */
#footer
{
	line-height: 40px;
	height: 40px;
	text-align: center;
	background-color: #FFF;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    margin-bottom: 0px;
    font-size: .75em;
    font-weight: 300;

}

@media (max-width: $global_maxwidth)
{
	#footer
	{
		font-size: 0.5em;
	}
}
/* END FOOTER ---------------------------- */

/* EASTER EGG ---------------------------- */
#easteregg
{
	position: relative;
	float: right;
	width: 15px;
	height: 15px;
	border-radius: $global_borderradius;
	right: 10px;
	bottom: 27px;
	background-color: $global_dark;
  -webkit-transition: all 150ms ease-out;  
     -moz-transition: all 150ms ease-out; 
       -o-transition: all 150ms ease-out;  
          transition: all 150ms ease-out;
}

#easteregg:hover
{
	background-color: #66cc33;
}
/* END EASTER EGG ------------------------ */


