/* CSS Reset ----------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: 400; }

/* BORDER BOX RESET ------------------------------- */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* DEBUG ------------------------------------------ */
.borderCheck, div, span, p, a, section, h1, h2, h3, header, footer, img, nav, ul, iframe {
  border: 0px solid red; }

body, p, span, button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #333; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#topNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #fff;
  border-bottom: 1px solid #999;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.25em;
  color: #333; }

#siteBox {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  #siteBox #centerBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    max-width: 800px;
    padding: 24px; }
    #siteBox #centerBox img {
      width: 96px;
      height: 96px;
      margin-bottom: 16px;
      margin-top: 24px; }
    #siteBox #centerBox #imgDsc {
      margin-bottom: 64px;
      font-weight: 400; }
    #siteBox #centerBox #alertBox {
      text-align: center;
      margin-bottom: 64px; }
    #siteBox #centerBox #textBox {
      width: 100%;
      line-height: 1.5em;
      margin-bottom: 96px; }
    #siteBox #centerBox #contactBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row;
      margin-bottom: 24px; }
      #siteBox #centerBox #contactBox .contactBtn img {
        width: 24px;
        height: 24px;
        margin: 0 16px;
        transition: 300ms; }
        #siteBox #centerBox #contactBox .contactBtn img:hover {
          opacity: 0.5;
          cursor: pointer;
          transition: 300ms; }
    #siteBox #centerBox #copyrightText {
      text-align: center;
      font-size: 0.8em;
      margin-top: 24px;
      margin-bottom: 40px; }

/*# sourceMappingURL=style.css.map */